<fieldset>
	<legend>Categorías de Productos</legend>

	<p><a class="btn btn-primary btn-small" href="<?=$this->url(array('action'=>'agregar'));?>">
                <i class="icon-plus icon-white"></i> Nueva</a></p>

	<div class="row-fluid">
		<div class="span10">
			<?php if(sizeof($this->resultados) > 0): ?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
							<th>Código</th>
							<th>Nombre</th>
							<th width="240">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v): ?>
							<tr <?php echo ($v['id_'] == 0) ? 'class="warning"' : '';?>>
								<td><?=$v['id'];?></td>
								<td><?=$v['nombre_categoria'];?></td>
								<td><a class="btn btn-mini btn-primary" href="<?=$this->baseUrl();?>/stock/productoscategorias/modificar/id/<?=$v['id'];?>"><i class="icon-edit icon-white"></i> Editar</a> 
                                                                    <a class="btn btn-mini btn-danger" href="<?=$this->baseUrl();?>/stock/productoscategorias/eliminar/id/<?=$v['id'];?>"><i class="icon-remove icon-white"></i> Eliminar</a>
                                                                </td>
							</tr>
							<?php endforeach; ?>
					</tbody>
				</table>
				<?php else:?>
				<div class="alert alert-warning">No hay Categorías Cargadas</div>
				<?php endif;?>
		</div>
	</div>
</fieldset>
