<?php $this->knockout(); ?>

<style type="text/css">
    .nav-resultados { display:block; }
</style> 

<div id="test1">
    <fieldset>
        <legend>Ingrese tipo y número de documento de la persona</legend>

        <form id="form-person" data-bind="submit: search">
            <div class="input-prepend input-append">
                <select name="tipo" id="tipo">
                    <?php foreach ($this->cache_tipo_doc as $a => $b) { ?>
                        <option value="<?= $a; ?>" <?= ($a === 1) ? 'Selected' : ''; ?>><?= $b; ?></option>
                    <?php } ?>
                </select>
                <span class="add-on"><i class="icon-file"></i>Tipo y numero de documento: </span>
                <input data-bind="value: personId,valueUpdate: 'afterkeydown'" id="person-id" class="input-small" type="text" required="required" autocomplete="off" maxlength="8" />
                <button class="btn btn-primary btn-inverse" type="submit" data-loading-text="Cargando..."><i class="icon-search icon-white"></i> Buscar donante</button>
                <button data-bind="click: reset, disable: personId().length == 0" type="button" class="btn"><i class="icon-remove"></i></button>            
            </div>

        </form> 

    </fieldset>

    <!-- varias personas -->
    <div class="row-fluid varios">
        <div class="span9">
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Atención!</h4>
                <h3>M&uacute;ltiples resultados</h3>
                <p>El listado debajo muestra los multiples resultados de personas encontradas en los registros provinciales.<br>
                <ol>
                    <li>Usted debe identificar cual es la persona que busca en el mencionado listado.</li>
                    <li>Seleccionela haciendo click sobre su Apellido.</li>
                </ol>  
                <legend>El sistema se encargara automaticamente de incorporarla en los registros de banco de sangre.</legend>
                </p>
            </div>


            <table class="table table-striped table-bordered table-hover table-condense" id="varios">
                <thead>
                    <tr class="btn-info btn-small btn-inverse">
                        <th width="100">Apellido</th>
                        <th width="100">Nombre</th>
                        <th width="100">Documento</th>
                        <th width="140">Fecha nacimiento</th>
                        <th width="80">Sexo</th>
                        <th width="180">Domicilio</th>
                        <th width="100">Localidad</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- FIN varias personas -->

    <fieldset class="nav-resultados" id="estado-1" data-bind="style: { display: (estado() == 1) ? 'block' : 'none' }">

        <legend><i class="icon-user"></i> <b data-bind="text: persona().persona.fullname"></b> <span data-bind="text: personSearch"></span></legend>

        <p id="nav-opciones">
            <button class="btn btn-info btn-inverse" data-bind="click: navButton" data-href="<?= $this->baseUrl(); ?>/efector/personas/ver/"><i class="icon-user icon-white"></i> Detalle</button>
            <button class="btn btn-info btn-inverse" data-bind="click: navButton" data-href="<?= $this->baseUrl(); ?>/efector/personas/modificacion/"><i class="icon-edit icon-white"></i> Actualizar</button> 
            <button data-bind="visible : persona().crearSol" id="btn-sol-new" data-target="#new-solicitud" class="btn btn-primary btn-inverse" data-toggle="modal"><i class="icon-list icon-white"></i> Crear Solicitud</button>
            <button class="btn btn-primary btn-danger" data-bind="click: navButton" data-href="<?= $this->baseUrl();?>/efector/solicitudes/carga-rapida/"><i class="icon-fire icon-white"></i> Carga Rapida</button>


        </p>

        <div class="row-fluid" id="nav-info">
            <div class="span4">
                <dl class="dl-horizontal">
                    <dt>Fecha Nacimiento</dt>
                    <dd><span data-bind="text: change(persona().persona.FechaNacimiento)"></span> (<b data-bind="text: persona().persona.edad"></b>)&nbsp;</dd>
                    <dt>Sexo</dt>
                    <dd><span data-bind="text: persona().persona.CodSexo"></span>&nbsp;</dd>
                    <dt>Nacionalidad</dt>
                    <dd><span data-bind="text: persona().persona.paisNacimiento"></span>&nbsp;</dd>
                    <dt>Estado Civil</dt>
                    <dd><span data-bind="text: persona().persona.estado_civil"></span>&nbsp;</dd>
                    <!--dt>Obra Social</dt>
                    <dd><span data-bind="text: persona().persona.obra"></span>&nbsp;</dd-->
                </dl>
            </div>
            <div class="span4">
                <dl class="dl-horizontal">
                    <dt>Pais Residencia</dt>
                    <dd><span data-bind="text: persona().persona.CodPais"></span>&nbsp;</dd>
                    <dt>Provincia</dt>
                    <dd><span data-bind="text: persona().persona.Provincia"></span>&nbsp;</dd>
                    <dt>Localidad</dt>
                    <dd><span data-bind="text: persona().persona.localidad"></span>&nbsp;</dd>
                    <dt>Calle/Número</dt>
                    <dd><span data-bind="text: persona().persona.Calle"></span> <span data-bind="text: persona().persona.Numero"></span> <span data-bind="text: persona().persona.Piso"></span> <span data-bind="text: persona().persona.Depto"></span>&nbsp;</dd>
                    <dt>Teléfono</dt>
                    <dd><span data-bind="text: persona().persona.Telefono"></span>&nbsp;</dd>
                    <dt>Celular</dt>
                    <dd><span data-bind="text: persona().persona.Celular"></span>&nbsp;</dd>
                </dl>
            </div>
            <div class="span4">
                <div class="alert alert-info">
                    <p>Donacion Previas <span class="badge " data-bind="text: persona().donacionesPrevias">0</span></p>
                    <div data-bind="style: { display: persona().donacionesPrevias == 0 ? 'none' : 'block' }">
                        <p><b><i class="icon-info-sign"></i> Ultima Donación</b><br />
                            Días transcurridos: <b data-bind="text: persona().diasDesde"></b>
                        </p>
                        <p>
                            Días sugeridos entre donaciones: <span class="badge" id="tempsug"></span>
                        </p>
                    </div>
                    <!-- Detalle de donaciones previas -->
                    <a data-target="#dialog" href="#" data-toggle="modal">
                        <p id="anteriores">Ver detalle</p>
                    </a>
                    <div class="modal fade hide" id="dialog">
                        <div class="modal-header">
                            <legend>Donaciones previas: </legend>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-striped table-bordered table-hover table-condense" id="detalle">
                                        <thead>
                                            <tr class="btn-info btn-small btn-inverse">
                                                <th width="160">Fecha donaci&oacute;n</th>
                                                <th width="170">Efector</th>
                                                <th width="40">Perfil</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="fechas"></td>
                                                <td id="efectores"></td>
                                                <td id="perfiles"></td>																						
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>														
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn pull-right btn-danger" data-dismiss="modal">
                                <i class="icon-remove icon-white"></i> Cerrar
                            </button>										
                        </div>	
                    </div>
                    <!-- Fin detalle -->				

                </div>

            </div>
        </div>

    </fieldset><!-- ENCONTRADO -->

    <fieldset class="nav-resultados" data-bind="style: { display: (estado() == 0) ? 'block' : 'none' }">
        <legend><i class="icon-search"></i> <b>Sin Resultados en la busqueda</b> <span data-bind="text: personSearch"></span></legend>

        <p><button type="button" 
                   data-href="<?= $this->baseUrl(); ?>/efector/personas/alta/" 
                   class="btn btn-large btn-info btn-success" data-bind="click: navButton">
                <i class="icon-plus icon-white"></i> (Alta) Registrar el Donante</button></p>

    </fieldset><!-- ALTA -->

</div>

<script type="text/javascript">
    $("#detalle").css("color", "black");
    $(".varios").hide();
    $(document)
     .ajaxStart(function () {
         $('#form-person').find('[type=submit]').button('loading')
     }).ajaxStop(function () {
        $('#form-person').find('[type=submit]').button('reset')
    });

    function change(time) {
        if (time) {
            var r = time.match(/^\s*([0-9]+)\s*-\s*([0-9]+)\s*-\s*([0-9]+)(.*)$/);
            return r[3] + "-" + r[2] + "-" + r[1] + r[4];
        } else {
            return time;
        }
    }

    function AltaViewModel() {
        var self = this;
        var tipo = $("#tipo").val();
        self.navButton = function (item, event) {
            location.href = $(event.target).attr('data-href') + "tipo/" + $('#tipo option:selected').text() + "/documento/" + self.personSearch();
        };
        self.search = function () {
            $('#varios tr').not(function () {
                if ($(this).has('th').length) {
                    return true;
                }
            }).remove();
            $(".varios").hide();
            $.getJSON('<?= $this->baseUrl(); ?>/efector/personas/get/documento/' + self.personId() + '/tipo/' + $('#tipo option:selected').text(), function (d) {

                self.personSearch(self.personId());

                if (d.st == 1) {
                    self.persona(d.data);
                    if ((typeof (d.data.donacionesPrevias) === 'undefinded') || (d.data.donacionesPrevias == 0)) {
                        $('#anteriores').hide();
                    } else {
                        $('#anteriores').show();
                    }
                    if (d.data.persona.CodSexo === 'M') {
                        $("#tempsug").html('60');
                    } else {
                        $("#tempsug").html('90');
                    }
                }//TODO: revisar todo este codigo (logica)
                else if (d.st == 'varios') {
                    $(".varios").show();
                    $.each(d.personas, function (i, item) {
                        linea = "<tr>";
                        linea = linea + '<td>' + item.Apellido.link("<?= $this->baseUrl(); ?>/efector/personas/sicap-to-dni/sicap/" + item.NumeroPaciente) + '</td>';
                        linea = linea + '<td>' + item.Nombre + '</td>';
                        linea = linea + '<td>' + item.NroDocumento + '</td>';
                        linea = linea + '<td>' + item.fecha_nac + '</td>';
                        linea = linea + '<td>' + item.CodSexo
                        linea = linea + '<td>' + item.Calle + ' ' + item.Numero + '</td>';
                        linea = linea + '<td>' + item.nomloc + '</td>';
                        linea = linea + "</tr>";
                        console.log(linea);
                        $("#varios tbody").append(linea);
                    });
                }
                self.estado(d.st);
                var data1 = self.persona().fechas;
                if (!(typeof (data1) === "undefined")) {
                    if (data1.length !== 0) {
                        $.each(data1, function (i, item) {
                            var $tr = $('<tr>').append(
                             $('<td>').text(change(item))
                             ).appendTo('#fechas');
                        });
                        var data2 = self.persona().efectores;
                        $.each(data2, function (i, item) {
                            var $tr = $('<tr>').append(
                             $('<td>').text(item)
                             ).appendTo('#efectores');
                        });
                        var data3 = self.persona().usuarios;
                        $.each(data3, function (i, item) {
                            var $tr = $('<tr>').append(
                             $('<td>').text(item)
                             ).appendTo('#usuarios');
                        });
                        if (!(typeof (data4) === "undefined")) {
                            var data4 = self.persona().perfiles;
                            $.each(data4, function (i, item) {
                                var $tr = $('<tr>').append(
                                 $('<td>').text(item)
                                 ).appendTo('#perfiles');
                            });
                        }
                    }
                            }
				

                        });
                };

                self.reset = function(){
                        self.personId("").personSearch('').estado(2).persona(self.objeto);
                        $('#person-id').focus();
                };
                self.objeto = { persona : {
                                Nombre : '', Apellido : '',fecha_nac : '',fullname : '', edad :'', NroDocumento	 : 0,
                                CodSexo : '',estado_civil : '',paisNacimiento : '',Provincia : '',localidad :'', CodPais : '',
                                Telefono : '',Calle :'',Numero :'',Piso :'',Depto :'',Celular :'',observacion :'',email :''				
                        },
                        diasDesde : '', desde : '', donacionesPrevias : 0, crearSol : false
                };
                self.persona = ko.observable(self.objeto);
                self.personId = ko.observable('');
                self.personSearch = ko.observable('');
                self.estado = ko.observable(2);
                $('#person-id').focus();

        }

        var my = { AltaViewModel: new AltaViewModel() };
        ko.applyBindings(my.AltaViewModel,$('#test1')[0]);
	
        $("#tipo").css("width", "70px");
	
</script>

<?= $this->render('solicitudes/new-dialog.phtml'); ?>
