<style type="text/css">
    .nav-resultados { display:block; }
</style> 

<div id="busqueda_donante">
    <fieldset>
        <legend>Ingrese tipo y número de documento de la persona</legend>
        <form id="form-person">
            <div class="input-prepend input-append">
                <select name="tipo_documento" id="tipo_documento" class="form-comtrol input-small">
                    <?php foreach ($this->cache_tipo_doc as $a => $b) { ?>
                        <option value="<?= $a; ?>" <?= ($a === 1) ? 'Selected' : ''; ?>><?= $b; ?></option>
                    <?php } ?>
                </select>
                <span class="add-on"><i class="icon-file"></i>Tipo y numero de documento: </span>
                <input type="text" id="nro_documento" name="nro_documento" class="input-medium" required="required" autocomplete="off" maxlength="10" />
                <button type="submit" id="btn_buscar" class="btn btn-primary btn-inverse"  data-loading-text="Cargando..."><i class="icon-search icon-white"></i> Buscar donante</button>
                <button type="button" id="btn_limpiar" class="btn"><i class="icon-remove"></i></button>            
            </div>
        </form> 
    </fieldset>
    
    <?php
    $resultado = null;
    if ($rsultado = null){
        if ($resultado->cantidad_encontrada > 1){
    ?>
    <!-- Si existen varias personas con el mismo DNI en SICAP -->
    <div id="varios_registros_encontrados" class="row-fluid">
        <div class="span9">
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Atención!</h4>
                <h3>Multiples resultados</h3>
                <p>El listado debajo muestra los multiples resultados de personas encontradas en los registros provinciales.<br>
                <ol>
                    <li>Usted debe identificar cual es la persona que busca en el mencionado listado.</li>
                    <li>Seleccionela haciendo click sobre su Apellido.</li>
                </ol>  
                <legend>El sistema se encargara automaticamente de incorporarla en los registros de SIMETRA.</legend>
                </p>
            </div>

            <table class="table table-striped table-bordered table-hover table-condense" id="varios">
                <thead>
                    <tr class="btn-info btn-small btn-inverse">
                        <th width="100">Apellido</th>
                        <th width="100">Nombre</th>
                        <th width="100">Documento</th>
                        <th width="140">Fecha nacimiento</th>
                        <th width="80">Sexo</th>
                        <th width="180">Domicilio</th>
                        <th width="100">Localidad</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- FIN varias personas -->
        <?php }elseif($resultado->cantidad_encontrada === 1){?>
    <!-- Solo una Persona encontrada en SIMETRA-->
    <fieldset class="nav-resultados" id="persona_encontrada">
        <legend><i class="icon-user"></i> <b id="persona_nombrecompleto"></b> <span data-bind="text: personSearch"></span></legend>

        <p id="nav-opciones">
            <button class="btn btn-info btn-inverse" id="btn_persona_detalle"><i class="icon-user icon-white"></i> Detalle</button>
            <button class="btn btn-info btn-inverse" id="btn_actualizar_datos"><i class="icon-edit icon-white"></i> Actualizar</button> 
            <button class="btn btn-primary btn-inverse" id="btn_crear_solicitud" data-toggle="modal"><i class="icon-list icon-white"></i> Crear Solicitud</button>
            <!-- TODO: Si el usuario tiene los privilegios, podra realizar la carga rapida.-->
            <button class="btn btn-primary btn-danger" id="btn_carga_rapida"><i class="icon-fire icon-white"></i> Carga Rapida</button>
        </p>

        <div class="row-fluid" id="nav-info">
            <div class="span8">
                <dl class="dl-horizontal">
                    <dt>Edad</dt>
                    <dd><span id="persona_edad"></span></dd>
                    <dt>Sexo</dt>
                    <dd><span id="persona_sexo"></span></dd>
                    <dt>Nacionalidad</dt>
                    <dd><span id="persona_nacionalidad"></span></dd>
                    <dt>Telefono</dt><dd><span id="persona_telefono"></span></dd>
                    <dt>Telefono Movil</dt><dd><span id="persona_celular"></span></dd>
                    <dt>Email</dt><dd><span id="persona_email"></span></dd>                   
                    <dt>Domicilio</dt><dd><span id="persona_direccion"></span></dd>                   
                </dl>
            </div>
            
            <div class="span4">
                <div class="alert alert-info">
                    <p>Donacion/es Previa/s <span class="badge" id="persona_donaciones_previas">0</span></p>
                    <div>
                        <p><b><i class="icon-info-sign"></i> Ultima Donación</b><br />
                            Días transcurridos: <b id="persona_dias_desde_ultima_donacion"></b>
                        </p>
                        <p>
                            Días sugeridos entre donaciones: <span class="badge" id="dias_sugeridos_entre_donaciones"></span>
                        </p>
                    </div>
                    <!-- Detalle de donaciones previas -->
                    <a data-target="#dialog" href="#" data-toggle="modal">
                        <p id="anteriores">Ver detalle</p>
                    </a>
                    <div class="modal fade hide" id="dialog">
                        <div class="modal-header">
                            <legend>Donaciones previas: </legend>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-striped table-bordered table-hover table-condense" id="detalle">
                                        <thead>
                                            <tr class="btn-info btn-small btn-inverse">
                                                <th width="160">Fecha donaci&oacute;n</th>
                                                <th width="170">Efector</th>
                                                <th width="40">Perfil</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="fechas"></td>
                                                <td id="efectores"></td>
                                                <td id="perfiles"></td>																						
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>														
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn pull-right btn-danger" data-dismiss="modal">
                                <i class="icon-remove icon-white"></i> Cerrar
                            </button>										
                        </div>	
                    </div>
                    <!-- Fin detalle -->				

                </div>

            </div>
        </div>

    </fieldset><!-- ENCONTRADO -->
        <?php }else{?>         
        
    <!-- PERSONA NO ENCONTRADA -->
    <fieldset id="persona_no_encontrada" class="nav-resultados">
        <legend><i class="icon-search"></i> <b>Sin Resultados en la busqueda</b> <span data-bind="text: personSearch"></span></legend>

        <p><button type="button" 
                   data-href="<?= $this->baseUrl(); ?>/efector/personas/alta/" 
                   class="btn btn-large btn-info btn-success">
                <i class="icon-plus icon-white"></i> (Alta) Registrar el Donante</button></p>

    </fieldset>
    <!--FIN PERSONA NO ENCONTRADA -->
    <?php 
        }
    }
    ?>
</div>

<script type="text/javascript">
    
    //$("#detalle").css("color", "black");
    $("#varios_registros_encontrados").hide();
    //$("#persona_encontrada").hide();
    $("#persona_no_encontrada").hide();
    
//    $(document)
//     .ajaxStart(function () {
//         $('#form-person').find('[type=submit]').button('loading')
//     }).ajaxStop(function () {
//        $('#form-person').find('[type=submit]').button('reset')
//    });

 var baseUrl = "<?=$this->baseUrl();?>";
$(document).ready(function(){
    $("#btn_buscar").click(function(){
        $.get( "ajax/test.html", function( data ) {
            if(data.st === "OK"){
                
            }else{
                $("#persona_no_encontrada").show();
            }            
            
        });
    });
    
    $("#btn_carga_rapida").click(function(){
        window.document.location.assign(baseUrl + "/efector/solicitudes/carga-rapida");        
    });
    $("#btn_actualizar_datos").click(function(){
        window.document.location.assign(baseUrl + "/efector/personas/modificacion/");
    });
    $("#btn_persona_detalle").click(function(){
        window.document.location.assign(baseUrl + "/efector/personas/ver/");        
    });
    
});


    function change(time) {
        if (time) {
            var r = time.match(/^\s*([0-9]+)\s*-\s*([0-9]+)\s*-\s*([0-9]+)(.*)$/);
            return r[3] + "-" + r[2] + "-" + r[1] + r[4];
        } else {
            return time;
        }
    }
  
    function BuscarPersona(){
        var tipo_documento = $('#tipo option:selected').text();
        var nro_documento = $("#nro_documento").val();
            
        //Buscar a la Persona por su tipo y nro de documento.
        var url = baseUrl + '/efector/personas/get/tipo/' + tipo_documento + '/documento/' + nro_documento + '/';
        
        $.getJSON(url, function (d) {
        //POSIBLES ESTADOS
        /*
         * 1: Existe solo una persona en SIMETRA
         * 2: Existe una persona en SIMETRA y en SICAP
         *    -Se deben mostrar las diferencias y actualizar el SICAP y solicitar actualizacion de datos.
         *    -Se muestra la persona de SIMETRA.
         * 3: Existen varias personas con el mismo DNI, se debe seleccionar cual es la persona a la 
         *    que se deseea vincular la nueva persona en SIMETRA.
         * 4: La persona existe en SICAP y no en SIMETRA.
         *    -Muestra que ya existe la persona y se vincula solicita vinculacion a SIMETRA con actualizacion 
         *    de datos.
         */
             
            if (d.st == 1) {//Encontro solo una persona en simetra.
                //Completar los datos encontrados de la persona.
                cargar_datos_persona(d.data.persona);
                
                if ((typeof (d.data.donacionesPrevias) === 'undefinded') || (d.data.donacionesPrevias == 0)) {
                        $('#anteriores').hide();
                    } else {
                        $('#anteriores').show();
                    }
                    $("#tempsug").html(d.data.espera_recomendada);
//                    if (d.data.persona.CodSexo === 'M') {//TODO:Estos datos deben venir desde la controladora.
//                        $("#tempsug").html('60');
//                    } else {
//                        $("#tempsug").html('90');
//                    }
                }else if (d.st == 'varios') {//Encontro varias personas en SICAP.
                    $(".varios").show();
                    $.each(d.personas, function (i, item) {
                        linea = "<tr>";
                        linea = linea + '<td>' + item.Apellido.link("<?= $this->baseUrl(); ?>/efector/personas/sicap-to-dni/sicap/" + item.NumeroPaciente) + '</td>';
                        linea = linea + '<td>' + item.Nombre + '</td>';
                        linea = linea + '<td>' + item.NroDocumento + '</td>';
                        linea = linea + '<td>' + item.fecha_nac + '</td>';
                        linea = linea + '<td>' + item.CodSexo
                        linea = linea + '<td>' + item.Calle + ' ' + item.Numero + '</td>';
                        linea = linea + '<td>' + item.nomloc + '</td>';
                        linea = linea + "</tr>";                        
                        $("#varios tbody").append(linea);
                    });
                }
                self.estado(d.st);
                   
                //Armo las variables para el historico de donaciones.
                var data1 = self.persona().fechas;
                if (!(typeof (data1) === "undefined")) {
                    if (data1.length !== 0) {
                        $.each(data1, function (i, item) {
                            var $tr = $('<tr>').append(
                             $('<td>').text(change(item))
                             ).appendTo('#fechas');
                        });
                        var data2 = self.persona().efectores;
                        $.each(data2, function (i, item) {
                            var $tr = $('<tr>').append(
                             $('<td>').text(item)
                             ).appendTo('#efectores');
                        });
                        var data3 = self.persona().usuarios;
                        $.each(data3, function (i, item) {
                            var $tr = $('<tr>').append(
                             $('<td>').text(item)
                             ).appendTo('#usuarios');
                        });
                        if (!(typeof (data4) === "undefined")) {
                            var data4 = self.persona().perfiles;
                            $.each(data4, function (i, item) {
                                var $tr = $('<tr>').append(
                                 $('<td>').text(item)
                                 ).appendTo('#perfiles');
                            });
                        }
                    }
                }
            });
        };

//        self.reset = function () {
//            self.personId("").personSearch('').estado(2).persona(self.objeto);
//            $('#person-id').focus();
//        };
//        self.objeto = {persona: {
//                Nombre: '', Apellido: '', fecha_nac: '', fullname: '', edad: '', NroDocumento: 0,
//                CodSexo: '', estado_civil: '', paisNacimiento: '', Provincia: '', localidad: '', CodPais: '',
//                Telefono: '', Calle: '', Numero: '', Piso: '', Depto: '', Celular: '', observacion: '', email: ''
//            },
//            diasDesde: '', desde: '', donacionesPrevias: 0, crearSol: false
//        };
//        self.persona = ko.observable(self.objeto);
//        self.personId = ko.observable('');
//        self.personSearch = ko.observable('');
//        self.estado = ko.observable(2);
//        $('#person-id').focus();

    

//    var my = {AltaViewModel: new AltaViewModel()};
//    ko.applyBindings(my.AltaViewModel, $('#test1')[0]);

//    $("#tipo").css("width", "70px");

</script>

<?= $this->render('solicitudes/new-dialog.phtml'); ?>