<?php
$this->headLink()->appendStylesheet($this->baseUrl() . '/themes/select2/select2.css');
$this->headScript()->appendFile($this->baseUrl() . '/themes/select2/select2.min.js')
        ->appendFile($this->baseUrl() . '/themes/select2/select2_locale_es.js');
?>
<style>
    #msgbox{        
            background-color: rgba(255,255,240,1)
    }    
</style>
<div id="msgbox" >
    <span id="msgbox_titulo"></span>    
    <span id="msgbox_mensaje"></span>        
</div>

<form id="frm_cargaRapida" class="form-inline" method="post" action="">
    <fieldset>
        <legend>
            <a title="Volver al ingreso" 
               class="btn btn-medium btn-inverse" 
               href="<?= $this->baseUrl(); ?>/efector/solicitudes/alta">
                <i class="icon-chevron-left icon-white"></i>
            </a> Proceso de Carga Rapida - <?= $this->persona['tipo'] . ": " . $this->persona['documento']; ?> - <?= $this->escape($this->persona['nombreCompleto']); ?>
        </legend>
        <div class="row-fluid" style="padding-left: 30px; width: 90%;">
            <div class="span11">
                <div class="row-fluid" style="border-bottom: 1px dashed #ccc;padding-bottom: 10px;">
                    <div class="span4">

                        <table> 
                            <tr>
                                <td><label><b>Cod. de Doncación: </b></label></td>
                                <td><input type="text" class="form-control" name="nro_donacion" id="codcolecta" size="11" required="" ></td>
                            </tr>
                            <tr>
                                <td><label><b>Efector de Orígen:</b></label></td>
                                <td><select name="efe_id" id="efe_id" style="width:100%;max-width: 220px;" data-placeholder="Eleji el efector de origen...">
                                        <option value="false">Seleccione un efector...</option>                                        
                                        <?php foreach ($this->efectores as $b => $c) : ?>                                            
                                            <option value="<?= $b; ?>"><?= $c; ?></option>                                           
                                        <?php endforeach ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Fecha y Hora de Extraccción:</label></td>
                                <td>
                                    <input name="fecha_hora_extraccion" type="datetime-local" />    
                                </td>
                            </tr>
                            <tr>
                                <td><label for="dtp_id">Tipo de Extracción: </label></td>
                                <td class="controls inline">
                                    <label class="radio inline">
                                        <input type="radio"  name="dtp_id" value="1" required/>Aféresis
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio"  name="dtp_id" value="2" required/>Manual
                                    </label>
                                </td>                                
                            </tr>
                            <tr id="realizaMuestras-row">
                                <td><label for="ch_cph">Realiza muestras de: </label></td>
                                <td>

                                    <label class="checkbox inline">
                                        <input type="checkbox" class="chk_muestras" name="chk_cph" value="1"/>CPH
                                    </label>                				
                                    <label class="checkbox inline">
                                        <input type="checkbox" class="chk_muestras"  name="chk_plaquetas" value="1"/>Plaqueta
                                    </label>                				                

                                </td>                                
                            </tr>
                            <tr id="tipo_Aferesis-row">
                                <td><label for="afe_id">Tipo de Aféresis:</label></td>
                                <td>
                                    <?php foreach ($this->tipos_eferesis as $b => $c) { ?>
                                        <label class="radio">
                                            <input type="radio" name="afe_id" value="<?= $b; ?>" /><?= $c; ?>
                                        </label><br>
                                    <?php } ?>
                                </td>                                
                            </tr>
                            <tr id="tipo_Donacion-row">
                                <td><label for="tipo_donacion">Tipo de donaci&oacute;n: </label></td>
                                <td>
                                    <select name="tipo_donacion" required>
                                        <option value="false">Elija el tipo de donación...</option>
                                        <?php foreach ($this->tipos_donacion as $b) : ?>                                            
                                            <option value="<?= $b; ?>"><?= $b; ?></option>                                           
                                        <?php endforeach ?>                                
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="ocu_id">Ocupación: </label></td>
                                <td><select id="ocu_id" name="ocu_id" class="controls"  style="width:100%;max-width: 220px;">
                                        <option value="false">Seleccione una ocupación...</option>                                            
                                        <?php foreach ($this->cache_ocupaciones as $b => $c) : ?>                                            
                                            <option value="<?= $b; ?>"><?= $c; ?></option>                                           
                                        <?php endforeach ?>
                                    </select></td>                                
                            </tr>
			    <tr>
                                <td><label for="temperatura_corporal">Temp. Corporal [ºC]: </label></td>
                                <td><input type="number" class="form-control" name="temperatura_corporal" id="temperatura_corporal" size="20" 
                                     placeholder="Ingrese la temp. del donante..."></td>
                            </tr>

                            <tr>                                
                                <td><input type="hidden" class="form-control" name="codcoelcta" value="CargaRapida" id="codcolecta" size="20"  ></td>
                            </tr>
                        </table>

                    </div>        

                    <div class="span4 inline">                        
                        <table>
                            <tr>
                                <td><label for="peso">Peso del donante [Kgrs.]: </label></td>
                                <td><input type="number" class="form-control" name="peso_donante" id="peso_donante"  size="11" placeholder="Ingrese el peso del donante..."></td>
                            </tr>
                            <tr>
                                <td><label for="hb">Hemoglobina [Hb] (g/dl): </label></td>
                                <td><input type="number" class="form-control" name="hb" id="hb" size="20" placeholder="Ingrese valor de hemoglobina..."></td>
                            </tr>
		             <tr>
                                <td><label for="hb">Hemotocritos [%]: </label></td>
                                <td><input type="number" class="form-control" name="hematocritos" id="hematocritos" size="20" placeholder="Ingrese valor de hematocritos..."></td>
                            </tr>

                            <tr>
                                <td><label for="ta">Tensión arterial: </label></td>
                                <td><input type="number" class="form-control" name="ta" id="ta" size="20" placeholder="Ingrese la tension arterial..."></td>
                            </tr>
                            <tr>
                                <td><label for="pulso">Pulso: </label></td>
                                <td><input type="number" class="form-control" name="pulso" id="pulso" size="20" placeholder="Ingrese el pulso del donante..."></td>
                            </tr>                            
                            <tr>
                                <td><label for="tiempo_extraccion">Tiempo de Extracción en minutos:</label></td>
                                <td>
                                    <label class="radio">
                                        <input type="radio" id="tiempo_extraccion" name="tiempo_extraccion" value="10"/>Menor o Igual a 10'
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="tiempo_extraccion" value="12"/>Mayor a 10'
                                    </label>                                   
                                </td>                                
                            </tr>
                            <!--tr id="recepcion-row">
                                <td><label for="recepcion">Recepción: </label></td>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" class="recepcion" name="recepcion_bolsa" value="1" />Bolsa
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" class="recepcion" name="recepcion_muestra" value="1" />Muestra
                                    </label>    
                                </td>                                
                            </tr>
                            <tr-->
                                <td><label for="peso_bolsa">Peso Bolsa [Grs.]: </label></td>
                                <td><input type="number" class="form-control" name="peso_bolsa" id="peso_bolsa" min ="300" max="900" size="10" required></td>
                            </tr>
                            <tr>
                                <td><label for="temperatura">Temp. Bolsa [°C]: </label></td>
                                <td><input type="number" class="form-control" name="temperatura" id="temperatura" size="10" required></td>
                            </tr>
                        </table>
                    </div>

                    <div class="span4 inline">                        
                        <table>                            
                            <tr>
                                <td><label for="nroTubuladura">Nro. de tubuladura: </label></td>
                                <td><input type="text" class="form-control" name="nroTubuladura" id="nroTubuladura" size="20" placeholder="Ingrese nro. de tubuladura..."></td>
                            </tr>
                            <tr>
                                <td><label for="nroLote_bolsa">Nro. de lote de la bolsa: </label></td>
                                <td><input type="text" class="form-control" name="nroLote_bolsa" id="nroLote_bolsa" size="20" placeholder="Ingrese nro. de lote de bolsa..."></td>
                            </tr>
                            <tr>
                                <td><label for="tipo_bolsa">Tipo de bolsa: </label></td>
                                <td>
                                    <select name="tipo_bolsa" id="tipo_bolsa">
                                        <option value="false">Elija el tipo de bolsa...</option>
                                        <?php foreach ($this->tipo_bolsas as $b => $c) : ?>                                            
                                            <option value="<?= $c['id']; ?>"><?= $c['tipo_bolsa']; ?></option>                                           
                                        <?php endforeach ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="marca_bolsa">Marca de la bolsa: </label></td>
                                <td><select id="marca_bolsa" name="marca_bolsa" class="controls"  style="width:100%;max-width: 220px;">
                                        <option value="false">Seleccione una marca...</option>                                            
                                        <?php foreach ($this->marca_bolsas as $b) : ?>                                            
                                            <option value="<?= $b; ?>"><?= $b; ?></option>                                           
                                        <?php endforeach ?>
                                    </select></td>
                            </tr>
                            <tr id="reaccion-row">
                                <td>
                                    <span class="">Reacciones post-extracci&oacute;n: </span>   
                                </td>
                                <td>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="reaccion" id="reaccion_si" value="1" >SI
                                        </label>                            
                                        <label class="radio-inline">
                                            <input type="radio" name="reaccion" id="reaccion_no" value="0" checked>NO
                                        </label>
                                    </div> 
                                </td>
                            </tr>
                            <tr id="tipo_reaccion-row">
                                <td id=""><!--Solo se ve cuando se eligio SI en raccion.-->
                                    <label for="tipo_reaccion">Tipo de reacción: </label></td>
                                <td><input type="text" class="form-control" name="tipo_reaccion" id="tipo_reaccion" size="50" placeholder="Ingrese tipo de reaccion..." ></td>
                            </tr>
                            <tr>
                                <td><label for="pulso">Acción sobre la donación entrante: </label></td>
                                <td>
                                    <select name="estado_donacion" id="estado_donacion">
                                        <option value="1">Aceptar </option>
                                        <option value="2">Descartar parcial</option>
                                        <option value="3">Descarte definitivo </option>

                                    </select>
                                </td>
                            </tr>
                            <tr id="motivo_descarte-row">
                                <td><label for="motivo_descarte">Motivo de descarte: </label></td>
                                <td>
                                    <select name="motivo_descarte" id="motivo_descarte">
                                        <option value="false">Seleccionar...</option>
                                        <option value="4">Bajo peso</option>
                                        <option value="3">Bolsa dañada</option>
                                        <option value="2">Bolsa sobrante</option>
                                        <option value="1">Faltan tubos</option>
                                        <option value="5">Temperatura inadecuada</option>
                                    </select>
                                </td>
                            </tr>

                        </table>

                    </div>

                </div>
                <table  style="width: 100%;">
                    <tr>
                        <td>
                            <label for="observacion">Observación General: </label><br>
                            <textarea style="width: 98.5%;"
                                      rows="2" 
                                      required="required" 
                                      name="observaciones">No se observaron complicaciones.
                            </textarea>
                        </td>
                        <td>
                            <label for="obs_envio">Observación Envío: </label><br>
                            <textarea style="width: 100%;"
                                      rows="2" 
                                      required="required" 
                                      name="obs_envio">Sin observaciones.
                            </textarea>
                        </td>
                    </tr>
                </table>                
            </div>


        </div>
        <div    class="clear clearfix"></div>
        <hr style="border: 5px solid black;">

        <div class="footer" style="text-align:right;">
            <button id="btn_ingresoRapido" type="submit" data-loading-text="Procesando..." 
                    type="button"  
                    class="btn btn-success btn-medium">
                <i class="icon-ok icon-white"></i> Crear
            </button> 
            <button id="btn_cancelar" 
                    type="button" 
                    class="btn btn-danger btn-medium">
                <i class="icon-remove icon-white"></i  > Cerrar
            </button>
        </div>

    </fieldset>
</form>     


<script type="text/javascript">

    //Inicializacion del formulario
    $(document).ready(function () {
        $("#tipo_Donacion-row").hide();
        $("#tipo_Aferesis-row").hide();
        $("#realizaMuestras-row").hide();
        $('#motivo_descarte-row').hide();
        $("#motivo_descarte").attr("disabled", false);
        $("#tipo_reaccion-row").hide();
        $("#tipo_reaccion").attr("disabled", true);
        $("#efe_id").select2();
        $("#ocu_id").select2();
        $("#aferesis").hide();
    });
    //Eventos
    $("select[name=estado_donacion]").change(function () {
        var estado_donacion = $("select[name='estado_donacion']").val();
        if (estado_donacion == '2' || estado_donacion == '3') {
            $('#motivo_descarte-row').show();
            $("#motivo_descarte").attr("disabled", false);
        } else {
            $('#motivo_descarte-row').hide();
            $("#motivo_descarte").attr("disabled", true);
        }
    });
    $("input[type=radio][name=reaccion]").change(function () {
        var reaccion = $("input[type=radio][name='reaccion']:checked").val();
        if (reaccion == 0) {
            $("#tipo_reaccion-row").hide();
            $("#tipo_reaccion").attr("disabled", true);
        } else {
            $("#tipo_reaccion-row").show();
            $("#tipo_reaccion").attr("disabled", false);
        }
    });
    $("input[type=radio][name=dtp_id]").change(function () {
        var dtp_id = $("input[type=radio][name='dtp_id']:checked").val();
        Habilita(dtp_id);
    });
    
    $('#btn_cancelar').on('click', function () {
        window.location = "<?= $this->baseUrl(); ?>/efector/solicitudes/alta";
    });
    
    
    $('#btn_ingresoRapido').on('click', function () {
        $('#msgbox_titulo').html('');
        $('#msgbox_mensaje').html('');
        var isValid = validarDatos();
        if (isValid.response == true) {
            if ($('#nroTubuladura').val() == '') {
                $('#nroTubuladura').val('1');
            }
            cargaRapida();
        } else {            
            cargarMensajeDeRespuesta({
                'st': '<b>ATENCION: Mensaje de ERROR</b>',
                'mensaje': isValid.mensaje
            });
        };
    });
    $(document).on('submit', '#frm_cargaRapida', function (e) {
        e.preventDefault();
        return false;
    });
    //Funciones

    //Proceso de registro de la donacion.
    function cargaRapida() {
        $.post(
                '<?= $this->baseUrl(); ?>/efector/solicitudes/crear-carga-rapida/dni/' + '<?= $this->persona['dni']; ?>',
                $('#frm_cargaRapida').serialize(), function (response) {            
            cargarMensajeDeRespuesta(response);
        },
                'json');
    }
    ;
    //Sub proceso de donde se habilita y muestran campos segun la seleccion de dtp_id. (Aferesis o Manual)

    function cargarMensajeDeRespuesta(response) {
        $('#msgbox').css({
            'border': '1px solid black',
            'padding': '10px',
            'background-color': 'rgba(255,255,240,1)',
            'box-shadow': '0.2em 0.2em 0.4em #999',
            'margin-bottom': '10px'
        });
        $('#msgbox_titulo').html('<h4>' + response.st.toUpperCase().replace('_', ' ') + '</h4>');
        $('#msgbox_mensaje').html(response.mensaje);
        //$('#btn_ingresoRapido').attr('disabled', true);
        var timer = setTimeout(function(){
            $('#msgbox_titulo').html('');
            $('#msgbox_mensaje').html('');
            $('#msgbox').css({
            'border': '0px solid black',
            'padding': '0px',
            'background-color': 'rgba(255,255,240,1)',
            'box-shadow': '0em 0em 0em #999',
            'margin-bottom': '0px'
        });
        clearTimeout(timer);
        }, 30000);
        if (response.st == "carga_rapida_exitosa"){
            $('#btn_ingresoRapido').attr('disabled',true);
        }

    }
    ;
    function Habilita(dtp_id) {
        switch (dtp_id) {
            case '1':
                $("select[name=tipo_donacion").attr('disabled', true);
                $('.chk_muestras').attr('disabled', true);
                $("input[name='afe_id'").each(function (i) {
                    $(this).attr('disabled', false);
                });
                $("#tipo_Donacion-row").hide();
                $("#tipo_Aferesis-row").show();
                $("#realizaMuestras-row").hide();
                break;
            case '2':
                $("select[name=tipo_donacion").attr('disabled', false);
                $('.chk_muestras').attr('disabled', false);
                $("input[name='afe_id'").each(function (i) {
                    $(this).attr('disabled', true);
                });
                $("#tipo_Donacion-row").show();
                $("#tipo_Aferesis-row").hide();
                $("#realizaMuestras-row").show();
                break;
        }
    }

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    //Validaciones minimas para realizar la carga de la donacion.
    function validarDatos() {
        //TODO: Faltaria hacer que se resalten los campos mal y que se muestre un pantalla un resumen de errores.
        var datos = $('#frm_cargaRapida').serializeObject();
        var vRet = {
            'response': true,
            'mensaje': '<ul>'
        };
        if ($('input[name=dtp_id]:checked').val() == 'undefined') {
            vRet.response = false;
            vRet.mensaje += '<li>Debe ingresar un tipo de extracción.</li>';
        }
        if (($('select[name=efe_id]').val() == 'false') && ($('select[name=efe_id]').attr('disabled') != 'disabled')) {//Valida que haya seleccionado un efector.
            vRet.response = false;
            vRet.mensaje += '<li>Debe seleccionar un efector válido.</li>';
        }
        if (($('select[name=marca_bolsa]').val() == 'false') && ($('select[name=marca_bolsa]').attr('disabled') != 'disabled')) {//Valida que haya seleccionado una marca de bolsa.
            vRet.response = false;
            vRet.mensaje += '<li>Debe seleccionar una marca de bolsa</li>';
        }
        if (($('select[name=ocu_id]').val() == 'false') && ($('select[name=ocu_id]').attr('disabled') != 'disabled')) {//Valida que haya seleccionado una ocupacion.
            vRet.response = false;
            vRet.mensaje += '<li>Debe seleccionar una ocupación.</li>';
        }
        if (($('select[name=tipo_donacion]').val() == 'false') && ($('select[name=tipo_donacion]').attr('disabled') != 'disabled')) {//Valida que haya seleccionado un tipo de donacion.
            vRet.response = false;
            vRet.mensaje += '<li>Debe seleccionar un tipo de donación.</li>';
        }
        if (($('select[name=tipo_bolsa]').val() == 'false') && ($('select[name=tipo_bolsa]').attr('disabled') != 'disabled')) {//Valida que haya seleccionado un tipo de bolsa.
            vRet.response = false;
            vRet.mensaje += '<li>Debe seleccionar un tipo de bolsa.</li>';
        }

        var estado_donacion = $("select[name='estado_donacion']").val();
        if (estado_donacion == '2' || estado_donacion == '3') {
            if ($('#motivo_descarte').val() == 'false') {
                vRet.response = false;
                vRet.mensaje += '<li>Debe seleccionar un motivo de descarte.</li>';
            }
        }

        if ($('input[name=reaccion]:checked').val() == 1) {
            if ($('input[name=tipo_reaccion]').val() == "") {
                vRet.response = false;
                vRet.mensaje += '<li>Si hubo reacción debe ingresar el tipo.</li>';
            }
        }

        if ($('input[name=nro_donacion]').val() == '') {
            vRet.response = false;
            vRet.mensaje += '<li>El codigo de donación no puede estar vacío.</li>';
        }

        $.ajax({
            url: '<?= $this->baseUrl(); ?>/gestion/centralizado/validar-codigo-utilizable/codigo/' + $('input[name=nro_donacion]').val(),
            dataType: 'json',
            async: false,
            //data: myData,
            success: function (d) {
                //console.log(d);
                if (d.st == 'NOK') {
                    console.log(d);
                    vRet.response = false;
                    vRet.mensaje += '<li>' + d.mensaje + '</li>';
                }
                if (d.st == 'OK') {
                    if (d.efector != $('select[name=efe_id]').val())
                        vRet.response = false;
                    vRet.mensaje += '<li>El código de donación no pertenece al Efector.</li>';
                }
            }
        });
        

        vRet.mensaje += "</ul>";
        console.log(vRet);
        return vRet;
        
    }





</script>




