
<legend class="view-title">
    <a class="btn btn-primary btn-medium" onclick="javascript:history.back()" href="#">
        <i class="icon-chevron-left icon-white"></i> Volver
    </a> 
    <h3>Proceso de Eliminacion para una Donacion solo inicalizada</h3>
</legend>   

<form id="frm_eliminarSolicitud" name="frm_eliminarSolicitud" method="post"
      action="<?= $this->baseUrl(); ?>/efector/solicitudes/eliminarsolicitud">   

    <div class="view-panel" id="new-tratar" style="margin-bottom: 30px;" >
        <div class="modal-header">
            <div id="trata-det" class="" style="margin-bottom: 0;">
                <div class="row-fluid" style="margin-top: 10px;">
                    <div class="span4"><pre><b>Nombre:</b> <?= $this->persona['per_apellido'] . ", " . $this->persona['per_nombres']; ?></pre></div>    
                    <div class="span4"><pre><b>Tipo y Nro. documento:</b>  <?= $this->cache_tipo_doc[$this->persona['per_tipodoc']]; ?> <?= $this->persona['per_nrodoc']; ?></pre> </div>    
                    <div class="span4"><pre><b>Cód. Autogenerado:</b> <?= $this->persona['codigo_autogenerado']; ?> </pre></div>  
                </div>
            </div>
        </div>

        <div class="modal-body">

            <div class="content">
                <div class="" id="panel-examen-medico">
                    <div class="row-fluid">
                        <div class="span12"> 
                            <div class="row-fluid">
                                <div class="span6">
                                    <h5 style="border-bottom: 1px solid black;">
                                        <i class="icon-barcode"></i> Código de Donación</h5>
                                    <div class="row-fluid">                    
                                        <div class="span12">
                                            <label class="control-label" for="donacion_codigo"><b>Código de Barras:</b></label>
                                            <div class="controls">
                                                <input class="form-control" type="text" style="width:100%;"
                                                       name="donacion_codigo" id="donacion_codigo" 
                                                       value="<?= $this->donacion['don_nro']; ?>" disabled>
                                            </div>    
                                        </div>
                                    </div>
                                </div>                           
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <h5 style="border-bottom: 1px solid black;">
                                        <i class="icon-info-sign"></i> Información importante</h5>                        
                                    <div class="row-fluid">                    
                                        <div class="span12">

                                            <div class="control-group">
                                                <label class="control-label" for="ocupacion_id">
                                                    <p>Usted esta por eliminar una donación. Es importante que este seguro de realizar esta acción.<br>
                                                    Si bien el sistema controlo que esta donación pueda ser eliminada, denido a que no paso por ningun proceso que restrinja esta accion,
                                                    es importante que usted <b>verifique esto fisicamente</b> por mayor seguridad. <br><br>Si usted posee dudas sobre la accion que esta por 
                                                    realizar, solicite asesoramiento de un responsable de area o bien no realice accion alguna ya que el sistema se encargara 
                                                    de purgar este tipo de donaciones.</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">

            <button data-loading-text="Procesando..." type="submit" 
                    id="btn_aceptar" name="btn_aceptar"
                    class="btn btn-danger pull-right">
                <i class="icon-remove icon-white"></i> Eliminar Donación</button>

            <button data-loading-text="Procesando..." type="button" 
                    id="btn_cancelar" name="btn_cancelar     "
                    class="btn btn-warning pull-right">
                <i class="icon-arrow-left icon-white"></i> Cancelar y volver</button>        
        </div>

    </div>

    <input type="hidden" name="personas_id" value="<?= $this->persona['per_id']; ?>"/>
    <input type="hidden" name="solicitudes_id" value="<?= $this->solicitud['sol_id']; ?>"/>
    <input type="hidden" name="donaciones_id" value="<?= $this->donacion['don_id']; ?>"/>

</form>

<script type="text/javascript">
    
    var baseUrl = "<?= $this->baseUrl(); ?>";

    $(document).ready(function () {

        $("#btn_cancelar").click(function () {
            history.back();
        });
    });
    
    /** Submit del Form **/
    $(document).on('submit', '#frm_eliminarSolicitud', function (e) {
        e.preventDefault();
        var params = $('#frm_eliminarSolicitud').serialize();
        
        cortina(true, 'Procesando solicitud. Eliminando Donacion.');
        $.get(baseUrl + '/efector/solicitudes/eliminarsolicitud/', 
            params, function (data) {console.log(data)
                if (data.estado === 'OK') {
                    window.document.location.assign(baseUrl + "/efector/solicitudes/");
                } else {
                    cortina(false, '');
                    var errores = "";
                    for (i = 0; i < data.error.length; i++){
                        errores = errores + "\nCodigo de Error: " + d.error[i].codigo + " | " +  d.error[i].mensaje
                    }
                    alert(errores);
                }

            });
        
        
        
        //return false;
    });

</script>
