
<legend class="view-title">
    <a class="btn btn-primary btn-medium" href="<?=$this->baseUrl();?>/efector/personas/buscar-persona">
        <i class="icon-chevron-left icon-white"></i> Volver a ingreso
    </a> 
    <h3>Nuevo Proceso de Donación</h3>
</legend>   

<form id="frm_nueva_donacion" name="frm_nueva_donacion" method="post"
      action="<?= $this->baseUrl(); ?>/efector/solicitudes/grabar-nueva-donacion">   

    <div class="view-panel" id="new-tratar" style="margin-bottom: 30px;" >
        <div class="modal-header">
            <div id="trata-det" class="" style="margin-bottom: 0;">
                <div class="row-fluid" style="margin-top: 10px;">
                    <div class="span4"><pre><b>Nombre:</b> <?= $this->persona['per_apellido'] . ", " . $this->persona['per_nombres']; ?></pre></div>    
                    <div class="span4"><pre><b>Tipo y Nro. documento:</b>  <?= $this->cache_tipo_doc[$this->persona['per_tipodoc']]; ?> <?= $this->persona['per_nrodoc']; ?></pre> </div>    
                    <div class="span4"><pre><b>Cód. Autogenerado:</b> <?= $this->persona['codigo_autogenerado']; ?> </pre></div>  
                </div>
            </div>
        </div>

        <div class="modal-body">

            <div class="content">
                <div class="" id="panel-examen-medico">
                    <div class="row-fluid">
                        <div class="span12"> 
                            <div class="row-fluid">
                                <div class="span6">
                                    <h5 style="border-bottom: 1px solid black;">
                                        <i class="icon-barcode"></i> Código de Donación</h5>
                                    <div class="row-fluid">                    
                                        <div class="span12">
                                            <label class="control-label" for="donacion_codigo"><b>Código de Barras:</b></label>
                                            <div class="controls">
                                                <input class="form-control" type="text" style="width:100%;"
                                                       name="donacion_codigo" id="donacion_codigo" 
                                                       pattern="[A-Z]{3}[C|D][0-9]{2}[0-9]{6}" 
                                                       value="" required>
                                            </div>    
                                            <img src="<?= $this->baseUrl(); ?>/images/barcode-example.jpg"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <h5 style="border-bottom: 1px solid black;">
                                        <i class="icon-user"></i> Inherente al Donante</h5>

                                    <div class="row-fluid">                    
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="clasificacion_donante">Clasificacion de la persona en función de sus donaciones <b>No Relacionadas</b></label>
                                                <div class="controls">
                                                    <select id="clasificacion_donante" name="clasificacion_donante" style="width: 100%;" required>
                                                        <option value="">Defina la clasificación del donante...</option>
                                                        <?php foreach ($this->cache_clasificacion_donante as $clave => $valor) { ?>
                                                            <option value="<?= $clave; ?>"><?= $valor; ?></option>
                                                        <?php } ?>                                                    
                                                    </select>  
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="tipo_donacion">Tipo de Donacion</label>
                                                <div class="controls">  
                                                    <select id="tipo_donacion" name="tipo_donacion" style="width: 100%;" required>
                                                        <option value="">Defina el tipo de donación...</option>
                                                        <?php foreach ($this->cache_tipo_donacion as $clave => $valor) { ?>
                                                            <option value="<?= $clave; ?>"><?= $valor; ?></option>
                                                        <?php } ?>                                                    
                                                    </select>                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="span6">
                                    <h5 style="border-bottom: 1px solid black;">
                                        <i class="icon-tint"></i> Inherente a la Extraccion</h5>

                                    <div class="row-fluid">                    
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="tipo_extraccion">Tipo de Extraccion</label>
                                                <div class="controls">

                                                    <select id="tipo_extraccion" name="tipo_extraccion" style="width: 100%;" required>
                                                        <option value="">Defina el tipo de extracción a realizar...</option>
                                                        <?php foreach ($this->cache_tdo_tipos_donaciones as $clave => $valor) { ?>
                                                            <option value="<?= $clave; ?>"><?= $valor; ?></option>
                                                        <?php } ?>                                                    

                                                    </select>                                                
                                                    <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                                </div>
                                            </div>


                                            <div class="control-group" style="display:none;" id="aferesis">
                                                <label class="control-label" for="aferesis_id"><b>Tipo de Aféresis:</b></label>
                                                <div class="controls radio-group">
                                                    <select id="aferesis_id" name="aferesis_id" style="width: 100%;" required>
                                                        <option value="">Defina el tipo de aferesis...</option>
                                                        <?php foreach ($this->cache_aferesis as $clave => $valor) { ?>
                                                            <option value="<?= $clave; ?>"><?= $valor; ?></option>
                                                        <?php } ?>                                                    
                                                    </select>
                                                </div>                
                                            </div>                                        

                                            <div class="control-group">
                                                <label class="control-label" for="chk_cph"><b>Se realizaran muestras extra para:</b></label>
                                                <div class="controls checkbox-group ">

                                                    <label class="checkbox inline">
                                                        <input type="checkbox" name="chk_cph" id="chk_cph" class="form-control" > Muestra para C.P.H.  
                                                    </label>
                                                    <label class="checkbox inline">
                                                        <input type="checkbox" name="chk_plaquetas" id="chk_plaquetas" class="form-control" > Muestra para Plaqueta
                                                    </label>
                                                    <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                                </div>
                                            </div>               

                                        </div>
                                    </div>
                                </div>                            
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <h5 style="border-bottom: 1px solid black;">
                                        <i class="icon-briefcase"></i> Ocupacion del Donante</h5>                        
                                    <div class="row-fluid">                    
                                        <div class="span6">

                                            <div class="control-group">
                                                <label class="control-label" for="ocupacion_id">
                                                    <b>Seleccione el trabajo principal del donante:</b>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="span6">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <select id="ocupacion_id" name="ocupacion_id" style="width: 100%;" required>
                                                        <option value="">Defina la ocupación primaria...</option>
                                                        <?php foreach ($this->cache_ocupaciones as $clave => $valor) { ?>
                                                            <option value="<?= $clave; ?>"><?= utf8_encode($valor); ?></option>
                                                        <?php } ?>                                                    
                                                    </select>                                                    

                                                </div>
                                            </div>
                                        </div>                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">

            <button data-loading-text="Procesando..." type="submit" 
                    id="btn_aceptar" name="btn_aceptar"
                    class="btn btn-success pull-right">
                <i class="icon-ok icon-white"></i> Pasar a Entrevista Medica</button>


            <button data-loading-text="Procesando..." type="button" 
                    id="btn_cancelar" name="btn_cancelar     "
                    class="btn btn-warning pull-right">
                <i class="icon-ban-circle icon-white"></i> Cancelar</button>        

        </div>

    </div>

    <input type="hidden" name="persona_id" value="<?= $this->persona['per_id']; ?>"/>
    <input type="hidden" name="documento_tipo" value="<?= $this->persona['per_tipodoc']; ?>"/>
    <input type="hidden" name="documento_numero" value="<?= $this->persona['per_nrodoc']; ?>"/>


</form>

<script type="text/javascript">
    
    var baseUrl = "<?= $this->baseUrl(); ?>";

    $(document).ready(function () {

        $("#btn_cancelar").click(function () {
            window.location = '<?php echo $this->baseUrl(); ?>/efector/personas/buscar-persona';
        });
//      $("#btn_cancelar").click(function () {
//          window.location = '<?php echo $this->baseUrl(); ?>/efector/solicitudes/alta';
//      });

        //Si se selecciona como tipo dei extraccion aferesis. se muestra el combo de tipos de aferesis.
        $("#tipo_extraccion").change(function () {
            if ($(this).val() == 1) { //Aferesis = 1
                $("#aferesis").show('slow');
                $("#aferesis_id").attr('required', true);
            } else {
                $("#aferesis").hide('slow');
                $("#aferesis_id").removeAttr('required');
            }
        });


    });

    $(document).on('submit', '#frm_nueva_donacion', function (e) {
        e.preventDefault();
        var params = $('#frm_nueva_donacion').serialize();
        
        cortina(true, 'Procesando registros para la inicliazación del Proceso de Donacion.');
        $.get(baseUrl + '/efector/solicitudes/grabar-nueva-donacion', 
            params, function (data) {
                if (data.estado === 'OK') {
                    window.document.location.assign(baseUrl + "/efector/solicitudes/");
                } else {
                    cortina(false, '');
                    var errores = "";
                    for (i = 0; i < data.error.length; i++){
                        errores = errores + "\nCodigo de Error: " + d.error[i].codigo + " | " +  d.error[i].mensaje
                    }
                    alert(errores);
                }

            });
        
        
        
        //return false;
    });

</script>
