<?php
$this->datepicker();
//TODO: Ver como mostrar o no la funcion de "mas info" sobre diferidos.
?>
<fieldset>
    <legend>Historico de Procesos Iniciados en el Sistema</legend>

    <div class="row-fluid">
        <div class="span9" id="listado">
<?php if (sizeof($this->resultados) > 0) : ?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="130"><i class="icon-calendar icon-white"></i>&nbsp;Fecha y Hora<br><span style="font-size: .8em;font-style:italic;">( Llegada )</span></th>
                            <th width="120"><i class="icon-barcode icon-white"></i>&nbsp;Cod. de Barras<br><span style="font-size: .8em;font-style:italic;">( Donacón )</span></th>
                            <th width="220" title="Nro. de identificacion del donante + Nombre y Apellido de la Persona">
                                <i class="icon-user icon-white"></i>&nbsp;Nombre y Apellido<br><span style="font-size: .8em;font-style:italic;">( Persona )</span></th>
                            <th><i class="icon-map-marker icon-white"></i>&nbsp;Momento del Proceso de Donación<br><span style="font-size: .8em;font-style:italic;">( Estado Actual )</span></th>
                            <th width=" 120"><i class="icon-print icon-white"></i>&nbsp;Comprobantes<br><span style="font-size: .8em;font-style:italic;">( Imprimir )</span></th>    
                            <th width="80">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
    <?php foreach ($this->resultados as $i => $v): ?>
                            <tr>
                                <td>
                                    <i class="icon-calendar"></i> <?= $v['hora_llegada']; ?>hs 
                                    <a data-togle="tooltip" title="<?= $this->nicetime($v['sol_fh_ini']); ?>" class="time"><i class="icon-time"></i></a>
                                </td>
                                <td><?= $v['don_nro']; ?></td>
                                <td>
                                    <b><?= utf8_encode(ucwords(strtolower($this->escape($v['per_apellido'])))); ?>, <?= utf8_encode(ucwords(strtolower($this->escape($v['per_nombres'])))); ?></b>
                                    <br><small>(<?= $this->cache_tipo_doc[$v['per_tipodoc']] . " " . $this->escape($v['per_nrodoc']); ?>)</small></td>
        <?php if ($v['sol_estado'] == 2) { ?>
                                    <td>
                                        Estado Registro: <span class="label label-warning">
            <?= $this->estados_solicitudes[$v['sol_estado']]; ?>
                                        </span>
                                        <a  class="label label-warning" data-target="#dialog<?php echo $v['sol_cod'] ?>" href="#" data-toggle="modal">
                                            Mas info    
                                        </a>

                                        <div class="modal fade hide" id="dialog<?php echo $v['sol_cod'] ?>">
                                            <div class="modal-header">
                                                <legend>Solicitud n&uacute;mero <?php echo $v['sol_cod']; ?></legend>
                                                <div class="alert alert-info" style="margin-bottom: 0;">
                                                    <?php
                                                    $solicitudes_motivos_diferimiento = $this->resultados_motivosDiferimiento;
                                                    $solicitud = array_search($v['sol_id'], $solicitudes_motivos_diferimiento);
                                                    ?>
                                                    <h5>Motivo: <?php foreach ($this->motivos as $j => $u): ?>

                                                            <?php if ($u['mot_id'] == $solicitud['mot_id']): ?>
                                                                <?php echo $u['mot_descripcion'] ?>
                                                            <?php endif; ?>
            <?php endforeach; ?>
                                                    </h5>
                                                    <h5>D&iacute;as: <?php echo ' ' . $v['sol_diferido']; ?></h5>
                                                    <h5>Efector: <?php foreach ($this->efectores as $j => $u): ?>
                                                            <?php if ($u['id_establecimiento'] == $v['efe_id']): ?>
                                                                <?php echo $u['nomest'] ?>
                                                            <?php endif; ?>
            <?php endforeach; ?>
                                                    </h5>									
                                                    <h5>Fecha: <?php echo ' ' . $v['hora_llegada']; ?></h5>														
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                                                    <i class="icon-remove icon-white"></i> Cerrar
                                                </button>										
                                            </div>	
                                        </div>

        <?php }elseif ($v['sol_estado'] == 3) { ?>
                                    <td>
                                        <a  class="label label-inverse" data-target="#dialog<?php echo $v['sol_cod'] ?>" href="#" data-toggle="modal">
            <?= $this->estados_solicitudes[$v['sol_estado']]; ?>
                                        </a>
                                        <div class="modal fade hide" id="dialog<?php echo $v['sol_cod'] ?>">
                                            <div class="modal-header">
                                                <legend>Solicitud n&uacute;mero <?php echo $v['sol_cod']; ?></legend>
                                                <div class="alert alert-info" style="margin-bottom: 0;">
                                                    <h5>Motivo de rechazo: <?php foreach ($this->motivos as $j => $u): ?>
                                                            <?php if ($u['mot_id'] == $v['mot_id']) { ?>
                                                                <?php echo $u['mot_descripcion'] ?>
                                                            <?php } ?>
            <?php endforeach; ?>
                                                    </h5>
                                                    <h5>Efector: <?php foreach ($this->efectores as $j => $u): ?>
                                                            <?php if ($u['id_establecimiento'] == $v['efe_id']) { ?>
                                                                <?php echo $u['nomest'] ?>
                                                            <?php } ?>
            <?php endforeach; ?>
                                                    </h5>									
                                                    <h5>Fecha: <?php echo ' ' . $v['hora_llegada']; ?></h5>														
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                                                    <i class="icon-remove icon-white"></i> Cerrar
                                                </button>										
                                            </div>	
                                        </div>									

        <?php } else { ?>
                                    <td>
                                        Estado Registro: <span class="label label-info">
            <?= $this->estados_solicitudes[$v['sol_estado']]; ?>
                                        </span><br> 
                                        Estado Donacion: <span class="label label-info">
            <?= $this->estados_donaciones[$v['don_estado']]; ?>
                                        </span>

        <?php } ?>
                                </td>

                                <td><!-- PRINT CONSTANCIA Y SOLICITUD-->                                 
        <?php if ($v['sol_estado'] >= 2): ?>
                                        <a target="_blank" class="btn btn-mini"
                                           href="<?= $this->baseUrl(); ?>/efector/solicitudes/constancia/sol_id/<?= $v['sol_id']; ?>">
                                            <i class="icon-print"></i> Constancia de Donacion</a>                                                                           
        <?php else: ?>
                                        <a href="#" onclick="mensaje_modal('NOTIFICACION', 'No se puede entregar constancia de donacion. Para poder imprimir la constancia de \n\
donacion la persona debio cumplir con al menos un paso en el proceso de donacion. CUESTIONARIO - EXAMEN MEDICO - EXTRACION.')" 
                                           class="btn btn-danger btn-mini"><i class="icon-ban-circle icon-white"></i> Constancia de Donacion</a>                                  
                                    <?php endif; ?>

        <?php if ($v['sol_estado'] >= 4): ?>
                                        <a target="_blank" href="<?= $this->baseUrl(); ?>/efector/solicitudes/imprimir-solicitud/sol_id/<?= $v['sol_id']; ?>" 
                                           class="btn btn-default btn-mini"><i class="icon-print"></i> Solicitud de Donación</a>
        <?php else: ?>
                                        <a href="#" onclick="mensaje_modal('NOTIFICACION', 'No se puede generar el documento solicitado. Para poder imprimir la solicitud de donacion\n\
debera haber finalizado la extraccion.')" 
                                           class="btn btn-danger btn-mini"><i class="icon-ban-circle icon-white"></i> Planilla Solicitud de Donacion</a>                                  
        <?php endif; ?>                                    
                                </td><!-- ./PRINT CONSTANCIA Y SOLICITUD --> 
                                <td><!-- ELIMINAR -->
        <?php if ($v['sol_estado'] != 1): ?>                                    
                                        <a href="#" onclick="mensaje_modal('IMPORTANTE', 'No es posible eliminar esta solicitud. El proceso ya fue iniciado o bien tiene una cancelacion administrativa.')"
                                           class="btn btn-info btn-mini"> <i class="icon-ban-circle icon-white"></i> Eliminar</a>
        <?php else: ?> 
                                        <a data-target="#dialog<?php echo $v['sol_id'] ?>" 
                                           href="<?= $this->baseUrl() . "/efector/solicitudes/eliminar/sol_id/" . $v['sol_id'] ?>"
                                           class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> Eliminar</a> 
        <?php endif; ?>
                                </td><!-- ./ELIMINAR -->

                            </tr>
    <?php endforeach; ?>
                    </tbody>
                </table>

                <?= $this->paginador($this->paginas); ?>
            <?php elseif (sizeof($this->resultados) == 0): ?>
                <div class="alert alert-info"><b>No se han encontrado registros de Solicitudes para su bùsqueda.</b><br /> <b><?= $this->busqueda; ?></b></div>
<?php endif; ?>
        </div>

        <div class="span3">
            <div class="row-fluid">
                <h5><i class="icon-chevron-left"></i> Visualizando</h5>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-<?= ($this->dni > 0) ? 'search' : 'calendar'; ?>"></i></span>
                    <input class="input-large" type="text" disabled="disabled" 
                           value="<?php if ($this->dni > 0): ?><?php else: ?>Superior a <?php endif; ?><?= $this->busqueda; ?>" />

                </div>
            </div>
            
            <form method="post" action="<?= $this->baseUrl(); ?>/efector/solicitudes">
            <div class="row-fluid">			
                <h5><i class="icon-search"></i> Filtros</h5>
                
                    <div class="input-prepend input-append">
                        <span class="add-on">DNI</span>
                        <input name="dni" class="" type="text" pattern="\d{8}" required="required" autocomplete="off" maxlength="8" />

                        <button class="btn btn-primary btn-inverse" type="submit">
                            <i class="icon-search icon-white"></i></button>
                    </div>
            </div>
                <br>
            <div class="row-fluid">
                <div id="datepicker" class="btn-small" style="padding:0;width:230px;"></div>
                <script>
                    $(function () {
                        $("#datepicker").datepicker({
                            maxDate: 0,
                            dateFormat: 'yy-mm-dd',
                            onSelect: function (dateText, inst) {
                                location.href = '<?= $this->baseUrl(); ?>/efector/solicitudes/index/fecha/' + dateText;
                            }});
                    });
                </script>
                
            </div>
            </form>
            
            <hr>
            <!--div class="row-fluid">
                <button class="btn btn-primary btn-inverse" id="imprimir">
                    <i class="icon-print icon-white"></i> Imprimir Historial</button>
            </div-->
        </div>
    </div>
</fieldset>

<script type="text/javascript">
    $("#imprimir").click(function () {
        var url = document.URL;
        if ($("#datepicker").val() == '<?= $this->fecha ?>') {
            var fecha = $("#datepicker").val();
        } else {
            var fecha = url.substr(url.length - 10);
        }
        if (confirm("¿Imprimir Hitorico de Procesos Iniciados?")) {
            var winCod = window.open('<?= $this->baseUrl(); ?>/efector/solicitudes/imprimirpdf/fecha/' + fecha);
            winCod.focus();
        } else {
            location.reload();
        }
    });
    $(document)
            .on('submit', '.anula-sol', function () {
                var id = $(this).data('id');
                var btn = $(this).find('button[type=submit]');
                btn.button('loading');
                $.post('<?= $this->baseUrl(); ?>/efector/solicitudes/eliminarsolicitud/sol_id/' + id, null, function (d) {
                    if (d.st == 'ok') {
                        location.reload();
                    } else {
                        alert("Se ha producido un error inesperado");
                        btn.button('reset');
                    }
                }, 'json');
            });
    $(document)
            .on('submit', '.edita-sol', function () {
                var id = $(this).data('id');
                var btn = $(this).find('button[type=submit]');
                btn.button('loading');
                $.post('<?= $this->baseUrl(); ?>/efector/solicitudes/editar/sol_id/' + id, null, function (d) {
                    if (d.st == 'ok') {
                        location.reload();
                    } else {
                        alert("Se ha producido un error inesperado");
                        btn.button('reset');
                    }
                }, 'json');
            });


</script>
