<fieldset>
	<legend>Plantilla Encuesta / Cuestionario</legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->baseUrl();?>/gestion/plantillascuestionario">Categorías de Productos</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">
		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->baseUrl();?>/gestion/plantillascuestionario"><i class="icon-remove icon-white"></i> Cancelar</a></div>

		<p></p>
                
		<div class="well">
			<?=$this->form->estado->renderLabel();?>
			<?=$this->form->estado->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->estado->renderErrors();?></span>
		</div>                
   
		<div class="well">
			<?=$this->form->version->renderLabel();?>
			<?=$this->form->version->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->version->renderErrors();?></span>
		</div>                      
                
		<div class="well">
			<?=$this->form->titulo->renderLabel();?>
			<?=$this->form->titulo->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->titulo->renderErrors();?></span>
		</div>
                
		<div class="well">
			<?=$this->form->observacion->renderLabel();?>
			<?=$this->form->observacion->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->observacion->renderErrors();?></span>
		</div>                
                
	</form>
</fieldset>


