<?=$this->render('reusable.phtml');?>

<ul class="breadcrumb">
	<li><a href="<?=$this->baseUrl();?>/acceso/roles">Roles</a> <span class="divider">/</span></li>
	<li class="active">Editar Rol</li>
</ul>

<form method="post" action="<?=$this->baseUrl();?>/acceso/roles/edit/rol_id/<?=$this->rol_id;?>">
	<p><button type="submit" class="btn btn-small btn-primary btn-inverse"><i class="icon-ok icon-white"></i> Guardar</button>
		<a class="btn btn-small" href="<?=$this->baseUrl();?>/acceso/roles/index"><i class="icon-remove"></i> Cancelar</a></p>

	<?=$this->render('roles/form.phtml');?>

</form>
