<?=$this->render('reusable.phtml');?>

<ul class="breadcrumb">
    <li><a href="<?=$this->baseUrl();?>/acceso/roles">Roles</a> <span class="divider">/</span></li>
    <li class="active"><?=$this->form_title;?> Rol</li>
</ul>

<form method="post" action="<?=$this->url();?>">

    <p><button type="submit" class="btn btn-small btn-primary btn-inverse"><i class="icon-ok icon-white"></i> Guardar</button>
        <a class="btn btn-small" href="<?=$this->baseUrl();?>/acceso/roles/index"><i class="icon-remove"></i> Cancelar</a></p>

    <div class="well">
        <?=$this->form->rol_nombre->renderLabel();?>
        <?=$this->form->rol_nombre->renderViewHelper();?>
        <span class="help-inline"><?=$this->form->rol_nombre->renderErrors();?></span>

    </div>
</form>

