<?=$this->render('reusable.phtml');?>

<p><a href="<?=$this->baseUrl();?>/acceso/roles/add" class="btn btn-small btn-inverse"><i class="icon-plus icon-white"></i> Nuevo</a></p>

<?php if(!empty($this->resultados)):?>
    <div class="row-fluid">
        <div class="span6">
            <table class="table table-striped table-bordered table-hover table-condense">
                <thead>
                    <tr class="btn-info btn-small btn-inverse">
                        <th width="280">(<?=sizeof($this->resultados);?>) Roles</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->resultados as $i => $v): ?>
                        <tr>
                            <td><?=$v['rol_nombre'];?></td>
                            <td><a data-icon="icon-menu" href="<?=$this->baseurl();?>/acceso/roles/edit/rol_id/<?=$v['rol_id'];?>" class="btn btn-inverse btn-mini"><i class="icon-edit icon-white"></i> editar</a> <a href="<?=$this->baseurl();?>/acceso/roles/manage/rol_id/<?=$v['rol_id'];?>" data-icon="icon-gear" class="btn btn-mini btn-inverse"><i class="icon-wrench icon-white"></i> recursos</a></td>
                        </tr>
                        <?php endforeach;?>
                </tbody>
            </table>
            <?php else: ?>
        </div>
    </div>
    <div class="alert alert-warning">No hay Roles Cargados.</div>
    <?php endif;?>
