<?=$this->render('reusable.phtml');?>

<ul class="breadcrumb">
	<li><a href="<?=$this->baseUrl();?>/acceso/roles">Roles</a> <span class="divider">/</span></li>
	<li class="active">Administrar Rol - <b><?=$this->rol['rol_nombre'];?></b> <span class="divider">/</span></li>
	<li><b>Recursos Asignados</b></li>
</ul>

<p><a class="btn btn-small btn-inverse" href="<?=$this->baseUrl();?>/acceso/recursos/assoc/rol_id/<?=$this->rol['rol_id'];?>"><i class="icon-wrench icon-white"></i> Administrar Recursos</a></p>

<div class="row-fluid">
	<div class="span6">
		<?php if(!empty($this->resultados)): ?>
			<table class="table table-striped table-bordered table-hover table-condense">
				<thead>
					<tr class="btn-info btn-small">
						<th>Controlador</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($this->resultados as $i => $r): ?>
						<tr>
							<td colspan="2"><b><?=ucwords($i);?></b> <span class="badge pull-right">Modulo</span></td>
						</tr>
						<?php foreach($r as $ii => $v): ?>
							<tr class="<?=$i;?>">
								<td><?=$ii;?></td><td>
									<?php foreach($v as $d): ?><?=$d;?><br /><?php endforeach; ?>
								</td></tr>
							<?php endforeach; ?>

						<?php endforeach; ?>
				</tbody>
			</table>
			<?php else: ?>
			<div class="alert alert-warning">No se encuentran Recursos Asociados.</div>
            <?php endif; ?>
	</div>
</div>
