<fieldset>
	<legend>Bolsa #000x00x000x0</legend>

	<div class="row-fluid">
		<div class="span4">
			<div class="row-fluid">
				<div class="span4"><img src="<?=$this->baseUrl();?>/themes/v1/images/blood_bag_active.png" /></div>
				<div class="span8">
					<div class="input-append input-prepend">
						<span class="add-on">Peso ST</span>
						<input type="text" class="input-small text-right">
						<span class="add-on">grs</span>
					</div>
					<br />
					<button type="button" class="btn btn-primary">Guardar</button>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span4"><img src="<?=$this->baseUrl();?>/themes/v1/images/blood_bag.png" /></div>
				<div class="span8">
                    <div class="input-append input-prepend">
                        <span class="add-on">Peso SH</span>
                        <input type="text" class="input-small text-right">
                        <span class="add-on">grs</span>
                    </div>
                    <br />

                    <div class="input-append input-prepend">
                        <span class="add-on">Peso PFC</span>
                        <input type="text" class="input-small text-right">
                        <span class="add-on">grs</span>
                    </div>
                    <br />

                    <div class="input-append input-prepend">
						<span class="add-on">Peso PLT</span>
						<input type="text" class="input-small text-right">
						<span class="add-on">grs</span>
					</div>
					<br />
				</div>
			</div>

		</div>

		<div class="span4">
			<ul class="nav nav-tabs">
				<li class="active"><a><i class="icon-info-sign"></i> Serologia</a></li>
			</ul>
			<div class="alert alert-info">No existe información relacionada</div>

			<ul class="nav nav-tabs">
				<li class="active"><a><i class="icon-info-sign"></i> Inmunologia</a></li>
			</ul>
			<div class="alert alert-info">No existe información relacionada</div>

		</div>
		<div class="span4">
			<ul class="nav nav-tabs">
				<li class="active"><a><i class="icon-user"></i> Donante</a></li>
			</ul>
			<div class="alert alert-info">No existe información relacionada</div>

			<ul class="nav nav-tabs">
				<li class="active"><a><i class="icon-info-sign"></i> Auditoria</a></li>
			</ul>
			<div class="alert alert-info">No existe información relacionada</div>

		</div>
	</div>
</fieldset>