<fieldset>
	<legend><?=$this->form_title;?></legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->url(array('module' => 'gestion','controller' => $this->controller),null,true);?>"><?=$this->form_title;?></a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">
		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->url(array('module' => 'gestion','controller' =>$this->controller),null,true);?>"><i class="icon-remove icon-white"></i> Cancelar</a></div>
		<p></p>
		<div class="well">
			<?=$this->form->mot_descripcion->renderLabel();?>
			<?=$this->form->mot_descripcion->renderViewHelper();?>
			<?=$this->form->dias->renderLabel();?>
			<?=$this->form->dias->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->mot_descripcion->renderErrors();?></span>

			<?=$this->form->mot_cat->renderViewHelper();?>
		</div>
	</form>
</fieldset>
