<fieldset>
	<legend><?=$this->form_title;?></legend>

	<p><a class="btn btn-primary btn-small" href="<?=$this->url(array('action'=>'agregar'));?>"><i class="icon-plus icon-white"></i> Nueva</a></p>
	<div class="row-fluid">
		<div class="span6">
			<?php if(sizeof($this->resultados) > 0): ?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
							<th>Motivo <i class="icon-chevron-up icon-white pull-right"></i></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v): ?>
							<tr <?=($v['mot_estado'] == 0) ? 'class="warning"' : '';?>>
                                                            <td><?= utf8_encode( $v['mot_descripcion']) ;?></td>
								<td><a class="btn btn-mini btn-primary" href="<?=$this->url(array('action'=>'modificar','mot_id'=> $v['mot_id']));?>"><i class="icon-edit icon-white"></i> Editar</a> 
                                                                    <a class="btn btn-mini btn-warning" href="<?=$this->url(array('action'=>'cambiar-estado','mot_id'=> $v['mot_id'],'st'=>($v['mot_estado'] == 1) ? 0 : 1));?>"><i class="icon-pencil icon-white"></i> <?=($v['mot_estado'] == 1) ? 'Desactivar' : 'Activar';?></a></td>
							</tr>
							<?php endforeach; ?>
					</tbody>
				</table>
				<?php else:?>
				<div class="alert alert-warning">No hay Motivos Cargados</div>
				<?php endif;?>
		</div>
	</div>
</fieldset>
