<fieldset>
	<legend>Tipo de Movimiento de Stock</legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->baseUrl();?>/stock/tiposmovimientosstock">Tipos de Movimientos de Stock</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">
		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->baseUrl();?>/stock/tiposmovimientosstock"><i class="icon-remove icon-white"></i> Cancelar</a></div>

		<p></p>
		<div class="well">
			<?=$this->form->tipo_descripcion->renderLabel();?>
			<?=$this->form->tipo_descripcion->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->tipo_descripcion->renderErrors();?></span>
		</div>
          
	</form>
</fieldset>


