<fieldset>
	<legend>Hemocomponentes</legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->baseUrl();?>/gestion/hemocomponentes">Hemocomponentes</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">

		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->baseUrl();?>/gestion/hemocomponentes"><i class="icon-remove icon-white"></i> Cancelar</a></div>

		<p></p>

		<div class="well">
			<?=$this->form->hem_descripcion->renderLabel();?>
			<?=$this->form->hem_descripcion->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->hem_descripcion->renderErrors();?></span>

			<?=$this->form->hem_dias_aptitud->renderLabel();?>
			<?=$this->form->hem_dias_aptitud->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->hem_dias_aptitud->renderErrors();?></span>

			<?=$this->form->hem_temp->renderLabel();?>
			<?=$this->form->hem_temp->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->hem_temp->renderErrors();?></span>
			
			<?=$this->form->hem_peso_min->renderLabel();?>
			<?=$this->form->hem_peso_min->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->hem_peso_min->renderErrors();?></span>
			
			<?=$this->form->hem_peso_max->renderLabel();?>
			<?=$this->form->hem_peso_max->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->hem_peso_max->renderErrors();?></span>
                        
      			<?=$this->form->hem_valor_referencia->renderLabel();?>
			<?=$this->form->hem_valor_referencia->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->hem_valor_referencia->renderErrors();?></span>

		</div>

	</form>

</fieldset>
