<fieldset>
	<legend>Hemocomponentes</legend>

	<p><a class="btn btn-primary btn-small" href="<?=$this->url(array('action'=>'agregar'));?>"><i class="icon-plus icon-white"></i> Nuevo</a></p>

	<?php if(sizeof($this->resultados) > 0): ?>
		<table class="table table-striped table-bordered table-hover table-condense">
			<thead>
				<tr class="btn-info btn-small btn-inverse">
					<th>Codigo</th>
					<th>Nombre <i class="icon-chevron-up icon-white pull-right"></i></th>
					<th>Aptitud [días]</th>
					<th>Temperatura de almacenamiento [°C]</th>
					<th>Peso m&iacute;nimo [grs.]</th>
					<th>Peso m&aacute;ximo [grs.]</th>
                                        <th>Valor de Refenrecia [ml.]</th>
					<th width="150">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($this->resultados as $i => $v): ?>
					<tr <?=($v['hem_estado'] == 0) ? 'class="warning"' : '';?>>
						<td><?=$v['hem_codigo'];?></td>
                                                <td><?=  $v['hem_descripcion'];?></td>
						<td><?=$v['hem_dias_aptitud'];?> d&iacute;as</td>
						<td><?=$v['hem_temp'];?> &deg;C</td>
						<td><?=$v['hem_peso_min'];?> gramos</td>
						<td><?=$v['hem_peso_max'];?> gramos</td>
                                                <td><?=$v['hem_valor_referencia'];?></td>
						<td><a class="btn btn-mini btn-primary" href="<?=$this->baseUrl();?>/gestion/hemocomponentes/modificar/hem_id/<?=$v['hem_id'];?>"><i class="icon-edit icon-white"></i> Editar</a> 
                                                    <a class="btn btn-mini btn-warning" href="<?=$this->baseUrl();?>/gestion/hemocomponentes/cambiar-estado/hem_id/<?=$v['hem_id'];?>/st/<?=($v['hem_estado'] == 1) ? 0 : 1;?>"><i class="icon-pencil icon-white"></i> <?=($v['hem_estado'] == 1) ? 'Desactivar' : 'Activar';?></a>
                                                </td>
					</tr>
					<?php endforeach; ?>
			</tbody>
		</table>
		<?php else:?>
		<div class="alert alert-warning">No hay Hemocomponentes Cargados</div>
		<?php endif;?>
</fieldset>
