<?=$this->render('reusable.phtml');?>
<fieldset>
	<legend><a class="btn btn-small red-gradient" href="<?=$this->baseUrl();?>/acceso/usuarios/manage/usu_id/<?=$this->usu_id;?>"><i class="icon-chevron-left"></i></a> Asociar Efector</legend>

	<ul class="nav nav-tabs">
		<?php foreach($this->nodos as $i => $v): ?>
			<li class="<?=($v['id_nodo'] == $this->nod_id) ? ' active': '';?>"><a href="<?=$this->baseUrl();?>/acceso/efector/index/nod_id/<?=$v['id_nodo'];?>/usu_id/<?=$this->usu_id;?>"><i class="icon-map-marker"></i> <?=$v['nom_nodo'];?></a></li>
			<?php endforeach; ?>
	</ul>

	<?php if($this->nod_id > 0): ?>
		<?php if(sizeof($this->efectores) == 0 && !is_null($this->efectores)): ?>
			<h4>! El Sistema no registra Efectores Disponibles</h4>
			<?php else: ?>
			<div class="input-prepend input-append">
				<span class="add-on"><i class="icon-search"></i></span>
				<input autocomplete="off" data-provide="typeahead" id="search" placeholder="Buscar..." type="text" />
				<button onclick="$('#search').val('').focus();" class="btn"><i class="icon-remove"></i></button>
			</div>
			<table id="resultados" class="table table-hover table-condense">
				<tbody>
					<?php foreach($this->efectores as $i => $v): ?>
						<tr>
							<td><a class="btn btn-mini" href="<?=$this->baseUrl();?>/acceso/efector/asociar/efe_id/<?=$v['id_establecimiento'];?>/usu_id/<?=$this->usu_id;?>"><i class="icon-plus"></i></a> <?=$v['nomest'];?></td>
							<?php $efector[] = $v['nomest']; ?>
						</tr>
						<?php endforeach; ?>
				</tbody>
			</table>

			<?php endif; ?>
		<?php else: ?>
		<div class="alert alert-info">Debe seleccionar un Nodo</div>
		<?php endif; ?>
</fieldset>

<p></p>
<script type="text/javascript">
	$(document)
	.on('input keyup focus','#search',function(e){
		if($(this).val() == ''){
			$("#resultados tbody tr:hidden").show();
		}
	});
	$("#resultados tbody tr:has(td)").each(function(){
		var t = $(this).text().toLowerCase();
		$("<td class='indexColumn'></td>").hide().text(t).appendTo(this);
	});
	$('#search').typeahead({
		updater : function(v){
			var s = v.toLowerCase().split(" ");
			$("#resultados tbody tr:hidden").show();
			$.each(s, function(){$("#resultados tr:visible .indexColumn:not(:contains('"+ this + "'))").parent().hide();});
			return v;
		},
		source : ['<?=implode("','",$efector);?>']
	});

</script>
