<?php
    $this->datepicker();
    $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
    $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
    ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>

<fieldset>
    <legend>
        Gesti&oacute;n de Stock de Hemocomponentes
    </legend>
       
    <div class="row-fluid"> 
        <div class="span12" style="background-color: RGBA(0,0,0,0.2); padding: 10px;">
            <div class="span2">
                 <select name="efe_id" id="efectores" class="input-large">
                     <option value="">Todos</option>
                     <?php foreach($this->cache_efectores as $i => $v): ?>
                         <option value="<?=$i;?>"><?=$v?></option>
                     <?php endforeach;?>
                 </select>  
            </div>            
 
            <div class="span10"> 
                <a class="btn btn-default" href="<?=$this->baseUrl();?>/stock/solicitudes/">
                    Gestión de Solicitudes
                </a>
                 <a class="btn btn-default" href="<?=$this->baseUrl();?>/stock/descartes/">
                    Gestión de Descartes
                 </a>               
                <a class="btn btn-default" href="<?=$this->baseUrl();?>/stock/transferencia/">
                    Envíos Especiales (Planta Hemoderivados)
                </a>                 
           </div>    
            
        </div>
    </div>
        
     <div class="row-fluid"> 
        <div class="span12">
         </div>
    </div>   
    

    <div class="row-fluid">
        <div class="span9">

            <?php if(sizeof($this->resultados) >= 0) :?>
                <table class="table table-striped table-bordered table-hover table-condense" width="60%">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="200"> Hemocomponente </th>
                            <th width="20"> Grupo </th>   
                            <th width="20"> Factor </th>
                            <th width="30"> Irradiado </th>                            
                            <th width="20"> Stock </th>                            
                            <th width="50"> Pto. Pedido </th>                            
                            <th width="50"> Stock Min. </th>
                            <th width="60">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php //foreach($this->resultados as $i => $v): ?>
                        <tr>
                            <td>Plasma Fresco</td>
                            <td>AB</td>      
                            <td>+</td>
                            <td>SI</td>
                            <td>50</td>
                            <td>30</td>
                            <td>15</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Detalle del Stock</a></li>
                                    <li><a tabindex="-1" href="#">Histórico de Transferencias</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>
                        <tr>
                            <td>Plaquetas</td>
                            <td>A</td>      
                            <td>+</td>    
                            <td>NO</td>
                            <td>50</td>
                            <td>30</td>
                            <td>15</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Detalle del Stock</a></li>
                                    <li><a tabindex="-1" href="#">Histórico de Transferencias</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>

                        <tr>
                            <td>Concentrado Glóbulos Rojos</td>
                            <td>B</td>      
                            <td>+</td>   
                            <td>NO</td>
                            <td>50</td>
                            <td>30</td>
                            <td>15</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Detalle del Stock</a></li>
                                    <li><a tabindex="-1" href="#">Histórico de Transferencias</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>                        
   
                        <tr>
                            <td>Plasma Normal</td>
                            <td>0</td>      
                            <td>+</td>    
                            <td>NO</td>
                            <td>50</td>
                            <td>30</td>
                            <td>15</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Detalle del Stock</a></li>
                                    <li><a tabindex="-1" href="#">Histórico de Transferencias</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>                        

                        <tr>
                            <td>Crioprecipitado</td>
                            <td>A</td>      
                            <td>-</td>  
                            <td>NO</td>
                            <td>50</td>
                            <td>30</td>
                            <td>15</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Detalle del Stock</a></li>
                                    <li><a tabindex="-1" href="#">Histórico de Transferencias</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>
 
                        
                        <tr>
                            <td>Plasma Modificado</td>
                            <td>A</td>      
                            <td>+</td>
                            <td>NO</td>
                            <td>50</td>
                            <td>30</td>
                            <td>15</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Detalle del Stock</a></li>
                                    <li><a tabindex="-1" href="#">Histórico de Transferencias</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>                        
                        
                        <?php //endforeach; ?>
                    </tbody>
                    
                </table>

                <?=$this->paginador($this->paginas);?>


                <?php elseif(sizeof($resultados) == 0): ?>
                    <div class="alert alert-info"><b>No se han encontrado Hemocomoponentes para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
                <?php endif ;?>
        </div>

        
   
        
        <div class="span3">
            <div class="hero-unit">
              <h3>Gráfico</h3>
              <p>Informativo</p>
              <p>
                <a class="btn btn-primary btn-small">
                  Reportes
                </a>
              </p>
            </div>
            
        </div>
    </div>
    

    
</fieldset>




         <!-- ==================================================================================
                                               VENTANA MODAL
        ===================================================================================== -->

                                            <div class="modal fade hide" id="modal-hemocomponente" >


                                                <div class="modal-header">
                                                    <h4>Solicitud de Hemocomponentes</h4>

                                                </div>
                                                <div class="modal-body modal-recepcion">
                                                    <form id="form-<?= $v['don_id'] ?>" class="form-serlogia" onsubmit="return false;">

                                                        <div class="controls checkbox">
                                                            <input type="hidden" name="don_id" value="<?= $v['don_id'] ?>"/>

                                                            <label>Grupo</label>

                                                            <select name="grupo" class="grupo">
                                                                <option value="AB">AB</option>
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                                <option value="0">0</option>
                                                            </select>

        <?php if ($this->hemocomponentes[$i] != NULL) : ?>
                                                                <script type="text/javascript">
                                                                    $(function () {
                                                                        $("#form-<?= $v['don_id'] ?> select[name='grupo']")
                                                                                .val("<?= $this->donacion[$i]['grupo'] ?>");
                                                                    });
                                                                </script>
        <?php endif; ?>

                                                            <label>Factor</label>

                                                            <select name="factor" class="factor">
                                                                <option value="+">+</option>
                                                                <option value="-">-</option>
                                                            </select>
        <?php if ($this->donacion[$i] != NULL) : ?>
                                                                <script type="text/javascript">
                                                                    $(function () {
                                                                        $("#form-<?= $v['don_id'] ?> select[name='factor']")
                                                                                .val("<?= $this->donacion[$i]['factor'] ?>");
                                                                    });
                                                                </script>
        <?php endif; ?>													

                                                            <label>Grupo Inverso</label>
                                                            <select name="grupo_inverso" class="grupo-inverso">
                                                                <option value="AB">AB</option>
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                                <option value="0">0</option>
                                                            </select>
												
 
                                                            <label class="tit-negativo"style="display: none" >Fenotipo</label>
                                                            <input type="text" name="fenotipo" class="negativo" style="display: none" 
                                                                   <?php if ($this->donacion[$i] != NULL) : ?>
                                                                       value="<?= $this->escape($this->donacion[$i]['fenotipo']) ?>"
                                                                   <?php else: ?>
                                                                       value=""
        <?php endif; ?>
                                                                   >
                                                            </select>
                                                        </div>												
                                                    </form>
                                                </div>

                                                <div class="modal-footer">

                                                    <button data-loading-text="Procesando..." 
                                                            data-id="<?= $v['don_id'] ?>" 
                                                            type="button" 
                                                            class="btn btn-success pull-left submit-inmunologia">
                                                        <i class="icon-ok icon-white"></i> Aceptar
                                                    </button>

                                                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                                                        <i class="icon-remove  icon-white"></i> Cerrar</button>
                                                </div>


                                            </div>
         
         <!-- ==================================================================================
                                              ./ VENTANA MODAL
        ===================================================================================== -->      


<script>
    $(function(){
        $("#efectores").val('<?= $this->efe_id?>');
        $("#efectores").select2();
        $("#estado").val('<?=$this->estado?>');
        $("#datepicker").datepicker({
            maxDate : 0,
            dateFormat : 'yy-mm-dd',
        });
    });
    
    $("#multiple-buttons").hide();
    /* Script para los checkboxs */
    var j = 0;              
    var envios = []; 
    $(":checkbox").click(function() {
    	var id;
        id = $(this).attr('id');
                      
        if($(this).is(':checked')){
            $("#multiple").text(function(i,val){
                envios[j]= id;
                j=j+1;
                return val-(-1);
            });
        }
        else {
            $("#multiple").text(function(i,val){
                var remove = id;
                envios.splice($.inArray(remove, envios),1);
                j=j-1;
                return val - 1;                                 
            });
        };
        if ($("#multiple").text() != "0") {
       	    $("#multiple-buttons").show();
        }
        else {
            $("#multiple-buttons").hide();
        }
    });  
    /* fin script checkbox */

    $("#enviar").click(function() {
        var peso = $("#peso").val();
        var temp = $("#temp").val();
        if (confirm("¿Desea recibir "+(envios.length)+" envios?")) {
            $.post('<?php echo $this->baseUrl();?>/stock/solicitudes/recepcion-multiple', {envios: envios, peso : peso, temp : temp}, function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'nok'){
                    alert('Peso no permitido');
                    location.reload();
                }
                else {
                    alert('Ha ocurrido un error inesperado');
                    location.reload();
                }
            },'json');                              
        }
        else {
            location.reload();
        }
    });
    
</script>
