<?php
    $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
    $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
    ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');

?>
<div class="span3">
	<?php if($this->visualizando): ?>
		<h5><i class="icon-chevron-left"></i> Visualizando</h5>
		<?php endif; ?>

	<p><button data-toggle="modal" data-target="#upload" class="btn btn-inverse" type="button"><i class="icon-upload icon-white"></i> Importar Resultados</button></p>

	<h5><i class="icon-search"></i> Filtros</h5>
	<form method="get" action="<?=$this->baseUrl();?>/banco/inmunologia/index">
		<div class="input-prepend input-append">
			<span class="add-on"><i class="icon-calendar"></i></span>
			<input id="datepicker" name ="fecha" class="input-medium" type="text" value="<?=$this->fecha;?>" autocomplete="off" placeholder="Fecha"/>
		</div>
		<div class="input-prepend input-append">
			<span class="add-on"><i class="icon-barcode"></i></span>
			<input name="nro" class="input-medium" type="text" autocomplete="off" value="<?=$this->nro; ?>" placeholder="Cod. Donaci&oacute;n"/>
		</div>
            <label for="efector_id">Efector</label>
            <select name="efector_id" id="efectores" class="input-large">
                    <option value="">Todos</option>
                    <?php foreach($this->cache_efectores as $i => $v): ?>
                        <option value="<?=$i;?>"><?=$v?></option>
                    <?php endforeach;?>
            </select>
            <br/>
            <br/>

            <label for="estado">Estado</label>
            <select name="estado" id="estado">
                <option value="pendientes">Pendientes</option>
                <option value="todos">Todos</option>
            </select>


			<button class="btn btn-primary btn-inverse" type="submit"><i class="icon-search icon-white"></i> Buscar</button>

	</form>
</div><!-- MODULO Lateral -->

<div id="upload" class="modal hide" data-backdrop="static">
	<div class="modal-body">
		<h4>Importar Resultados</h4>
		<form enctype="multipart/form-data" method="post">
			<div class="alert alert-info">Seleccione archivo para importar resultados</div>
			<p><i class="icon-file"></i> <input type="file" name="archivo" required="required" /></p>
			<br />
			<button id="btn-upload" data-loading-text="Cargando..." class="btn btn-primary" type="submit"><i class="icon-upload icon-white"></i> Cargar</button>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn"><i class="icon-remove"></i> Close</button>
	</div>
</div>
<script>
$(function(){
    $("#datepicker").datepicker({
        maxDate : 0,
        dateFormat : 'yy-mm-dd',
    });
    $("#estado").val('<?= $this->estado;?>')
    $("#efectores").val('<?= $this->efector; ?>')
    $("#efectores").select2();
});
    
</script>

