<fieldset>
	<legend>Nuevo Env&iacute;o de Donaciones</legend>

	<div class="row-fluid">
	<div class="span2">
	<div class="btn-group">
		<a class="btn btn-danger btn-medium" href="<?=$this->baseUrl();?>/efector/envios"><i class="icon-remove icon-white"></i> Cancelar</a> 
		<?php if(sizeof($this->donaciones) > 0):?>
			<button class="btn btn-medium btn-success" id="registrar" data-loading-text="Registrando...">
				<i class="icon-ok-sign icon-white"></i> Registrar
			</button>
		<?php else: ?>
			<button class="btn btn-medium btn-success" disabled="disabled">
				<i class="icon-ok-sign icon-white"></i> Registrar
			</button>
		<?php endif; ?>
	</div>
	</div>

	<div class="span4">
	<div class="input-append">
  		<input class="san" id="filtro" type="text">
		<button id="buscar" class="btn btn-primary" type="button"><i class="icon-search icon-white"></i>Buscar</button>
	</div>
	</div>
	</div>
	<p></p>

	<div class="row-fluid">
		<div class="span6">
			<h5>Donaciones Pendientes de Despacho (<?=sizeof($this->donaciones);?>) <label class="pull-right"><input id="sel_todos_pendientes" type="checkbox"> Todos</label></h5>

			<?php if(sizeof($this->donaciones) > 0): ?>
				<div id="tabla_envio">
					<?php foreach($this->donaciones as $i => $v): ?>
						<label class="item" for="dona_<?=$v['don_id']?>">
						<input id="dona_<?=$v['don_id']?>" value="<?=$v['don_id']?>" name="donacion[]" type="checkbox" value="<?=$v['don_id']?>"> <span class="codigo"> <?=$v['don_nro'].' - '.$this->escape($v['cod_muni']);?></span>- <?=$v['don_fh_inicio'];?> <?=$this->escape($v['observaciones']);?>
						</label>
						<?php endforeach; ?>
				</div>
				<?php else: ?>
				<div class="alert alert-warning"><b>No Existen Ordenes Pendientes.</b></div>
				<?php endif ;?>

		</div>
		<div class="span6">
			<h5>Donaciones a Enviar (<span id="cant_enviar">0</span>)</h5>
			<form id="alta">
			<div id="tabla_alta">

			</div>
			<label for="observacion"><b>Observaci&oacute;n</b></label>
			<textarea class="input-xxlarge" required="required" name="observaciones" cols="100" rows="5">No se observaron complicaciones.</textarea>		
			</form>
		</div>	
	</div>
	<div id="registrando" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-body">
			<h4>Error Registrando Env&iacute;o</h4>
			<div class="alert alert-error"><b>Errores de!</b></div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-medium" data-dismiss="modal" type="button"><i class="icon-remove"></i> Cerrar</button>
		</div>
	</div>

</fieldset>
<?php if(sizeof($this->donaciones) > 0): ?>
<script>
	$(document)
	.delegate('#tabla_envio input[type=checkbox]','change',function(){
		$('#tabla_alta').empty();
		$('#cant_enviar').text($('#tabla_envio :checked').length);
		$('#tabla_envio :checked').each(function(e,v){
			$(v).parent().clone().addClass('success').show().appendTo('#tabla_alta');
		});
	}).delegate('#buscar','click',function(){
		$('#tabla_envio  span.codigo:contains("'+ $("#filtro").val() + '")').closest('.item').show().children('input[type="checkbox"]').prop('checked',true);
		$('#tabla_envio  span.codigo:not(:contains("'+ $("#filtro").val() + '"))').closest('.item').hide();
                
	}).delegate('#sel_todos_pendientes','change',function(){
		if(!$(this).is(':checked')){
			return $('#tabla_envio :checked').trigger('click');
		}
		$('#tabla_envio input[type=checkbox]').not(':checked').trigger('click');
	}).delegate('#registrar','click',function(){
		if($('#tabla_alta :input').length == 0) return; //no hay donaciones seleccionadas
		$(this).button('loading');
		$.post('<?=$this->baseUrl();?>/efector/envios/registrar',$('#alta').serialize(),function(d){
			if(d.st == 'ok'){
				location.href = d.url;
			}
		},'json');
	});
</script>
<?php endif; ?>
