<html>
	<body>
		<table>
			<tr>
				<td>Envío Nro.: <b><?=sprintf("%06d",$this->envio['env_nro']);?></b></td>
				<td><?=$this->envio['efe_nombre_origen'];?></td>
			</tr>
		</table>
		<br>
		<table border="1">
			<thead>
				<tr>
					<th>Fecha Muestra</th>
					<th>Nro Donante</th>
					<th>Donaci&oacute;n</th>
                    <th>Nro de Bolsa</th>
					<th>Tiempo Extracción</th>
					<th>Estado</th>
					<th>Observaciones</th>
					<th>Operador</th>
				</tr>
			</thead>
			
			<?php foreach($this->donaciones as $i => $v): ?>
				<tr>

					<td><?=$v['fh_muestra'];?>hs</td>
					<td><?=$v['per_dni'];?></td>
					<td><?=$v['don_nro'];?></td>
                    <td><?=$v['nro_bolsa'];?></td>
					<td><?=($v['don_tiempo_extraccion'] == 10) ? 'Menor o Igual a 10' :'Mayor a 10' ;?> minutos</b></td>					
					<td><?=$this->estados_donaciones[$v['don_estado']];?></td>
					<td><?=$this->escape($v['observaciones']);?></td>
					<td><?=$v['don_usu_extraccion'];?></td>
				</tr>
				<?php endforeach; ?>
		</table>
	</body>
</html>
