<?php $this->datepicker(); ?>

<fieldset>
    <legend>Env&iacute;os de Donaciones</legend>

    <div class="row-fluid">
        <div class="span9">
            <?php if (sizeof($this->resultados) > 0) : ?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="320">Fecha Creación del Envio <i class="icon-chevron-up icon-white pull-right"></i></th>
                            <th>C&oacute;digo de Envío</th>
                            <th>Cant. de Donaciones</th>                            
                            <th width="160">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->resultados as $i => $v): ?>
                            <tr>
                                <td><i class="icon-calendar"></i> <?= $v['fh_registro']; ?>hs <span class="time">
                                        <i class="icon-time"></i> <?= $this->nicetime($v['env_fh']); ?></span></td>
                                <td><i class="ion ion-android-send"></i><?= $v['env_nro']; ?>&nbsp;&nbsp;
                                    <a href="#" class="btn btn-default btn-mini btn-modal lupa"  
                                       data-id="<?= $v['env_id']; ?>" 
                                       data-info="ENVIO NRO. : <?= $v['env_nro']; ?>" 
                                       data-toggle="modal">
                                       <i class="icon-search"></i>
                                    </a>   
                                </td>
                                
                              
                                <td align='center'>
                                    <span class="badge pull-right btn-success"     
                                          title="Cantidad de Donaciones del Envío" >
                                       <?= $v['cantidad_donaciones']; ?>
                                    </span>
                                   
                                </td>

                                <td  style="text-align: center;">
                                    <a class="btn btn-info btn-mini" 
                                       href="<?= $this->baseUrl(); ?>/efector/envios/ver/env_id/<?= $v['env_id']; ?>">
                                       <i class="icon-info-sign icon-white"></i> Acceder</a>&nbsp;
                                    <a target="_blank" class="btn btn-mini" 
                                       href="<?= $this->baseUrl(); ?>/efector/envios/verpdf/env_id/<?= $v['env_id']; ?>/print/1">
                                        <i class="icon-print"></i> Imprimir</a></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>

                <?= $this->paginador($this->paginas); ?>
            <?php elseif (sizeof($this->resultados) == 0): ?>
                <div class="alert alert-info"><b>No se han encontrado Envios para su búsqueda.</b><br /> <b><?= $this->busqueda; ?></b></div>
            <?php endif; ?>
        </div>

        <div class="span3">
            <a class="btn btn-medium btn-success" href="<?= $this->baseUrl(); ?>/efector/envios/alta" ><i class="icon-plus icon-white"></i> Crear nuevo <b>Envío</b></a>
            <br/>
            <br/>
            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="post" action="<?= $this->baseUrl(); ?>/efector/envios">
                <label>Filtro por Cod. de Envío:</label>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-barcode"></i></span>
                    <input name="nro" class="input-medium" type="text" 
                           placeholder="Cód. de Envío"
                           autocomplete="off" value="<?= $this->nro ?>"/>
                </div>
                <label>Filtro por Fecha:</label>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input type="text" class="input-medium" id="datepicker" name="fecha" value="<?= $this->fecha; ?>">
                </div>
                <br/>
                <button class="btn btn-primary btn-small btn-inverse" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
            </form>

        </div>
    </div>
</fieldset>


<!-- *****************************************************************
     MODAL PARA DETALLE DEL ENVIO (Donaciones)
******************************************************************* -->

    <div id="ver-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="" data-keyboard="false">
        <div class="modal-header"  style="color:white;">
            
            <div class="alert alert-info" style="margin-bottom: 0;">
                <h5 id="lupa-titulo" style="color:white;"></h5>
            </div>          
            
        </div>

        <div class="modal-body" id="detalle-lupa">
        </div>

        <div class="modal-footer">      
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                <i class="icon-remove icon-white"></i> Cerrar</button>
        </div>

    </div>



<script>
    $(function () {
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });
    });
</script>


<script>
jQuery(document).ready(function() {

(function() {
        // ventana modal detalle (donaciones del envio)
	$('.lupa').click(function() {
                var envio_id = $(this).attr("data-id");
                var envio_titulo = $(this).attr("data-info");

		$.ajax({
			url: "<?= $this->baseUrl(); ?>/efector/envios/enviodetallemodal/",
			type: "POST",
                        dataType: 'html',
                        data: { env_id : envio_id },
			cache: true,
                        success: function(data, status) {
                                          // asignar HTML devuelto a la ventana modal
                                          $('#detalle-lupa').html(data);
                                          $('#ver-modal .modal-header').html(envio_titulo);
                                         // $('#detalle-lupa .navbar-inverse').remove();
                                         // $('.nav .dropdown-toggle .caret').remove();
                                          
                                          // muestra la ventana modal
                                          $("#ver-modal").modal('show');                                           
                                    } 

		});
        
	});
		

       
})();

});
</script>