<fieldset>
	<legend><a class="btn btn-primary btn-medium" 
                   href="<?=$this->baseUrl();?>/efector/envios">
                <i class="icon-chevron-left icon-white"></i> Regresar al Listado</a> Env&iacute;os: Detalle de Donaciones
        </legend>

	<div class="row-fluid">
		<div class="span9">
			<table class="table table-striped table-bordered table-hover table-condense">
				<thead>
					<tr class="btn-info btn-small btn-inverse">
						<th width="130"><i class="icon-barcode icon-white"></i> Cód. Donación <i class="icon-chevron-up icon-white pull-right"></i></th>
						<th><i class="icon-calendar icon-white"></i> Fecha Muestra</th>
						<th><i class="icon-time icon-white"></i> Tiempo Extracción</th>
						<th>Operario</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($this->donaciones as $i => $v): ?>
						<tr>
							<td width="150"><?=$v['don_nro'];?></td>
							<td><?=$v['fh_muestra'];?>hs <span class="time"><i class="icon-time"></i> <?=$this->nicetime($v['don_fh_inicio']);?></span></td>
							<td><?=($v['don_tiempo_extraccion'] == 10) ? 'Menor o Igual a 10' :'Mayor a 10' ;?> minutos</b></td>
							<td><?=$v['don_usu_extraccion'];?></td>
						</tr>
						<?php endforeach; ?>
				</tbody>
			</table>
		</div>
            <div class="span3 label label-info" style="padding: 15px;">
			<h4>Información</h4>
			<label><i class="icon-barcode"></i> Código <b><?=$this->envio['env_nro'];?></b></label>
			<label><i class="icon-star"></i> Efector <b><?=$this->envio['efe_nombre_origen'];?></b></label>
			<label><i class="icon-calendar"></i> Fecha <b><?=$this->envio['fh_registro'];?>hs</b></label>
			<label><i class="icon-tint"></i> <b><?=sizeof($this->donaciones);?></b> Donaciones</label>
			<label><i class="icon-time"></i> <?=$this->nicetime($this->envio['env_fh']);?></label>
			<br />
			<a target="_blank" href="<?=$this->baseUrl();?>/efector/envios/verpdf/env_id/<?=$this->env_id;?>/print/1" 
                           class="btn btn-medium" id="btnImprimirEnvio">
                            <i class="icon-print"></i> Imprimir</a>
		</div>
	</div>

</fieldset>
