<?php $this->datepicker(); ?>
<style>
    .detalle-donacion th{
        font-size:.8em;
        text-align: center;
        vertical-align: middle;
    }
    td{
        font-size:.7em !important;
    }
    .detalle-donacion i{
        font-size:1.4em !important;
    }
    #lst_don_hemo, #titulo_detalle_donacion{
        color:red;
    }
</style>

<fieldset>
    <legend> Gestion de Stock</legend>
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li onclick="$('#filtroHem').hide();" class="active"><a href="#stock" data-toggle="tab"><i class="icon-inbox"></i> Stock Actual</a></li>
                    <li onclick="$('#filtroHem').show();"><a href="#transferencia" data-toggle="tab"><i class="icon-circle-arrow-right"></i> Transferencias de Stock</a></li>
                    <li onclick="$('#filtroHem').show();"><a href="#descarte" data-toggle="tab"><i class="icon-fire"></i> Descarte de Hemocomponentes</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="stock">
                        <?php include_once 'index/stock.php'; ?>
                    </div>
                    <div class="tab-pane" id="transferencia">
                        <!--Transferencias-->
                        <?php include_once 'index/transferencia.php'; ?>
                    </div>
                    <div class="tab-pane" id="descarte">
                        <?php include_once 'index/descarte.php'; ?>
                    </div>
                </div>
            </div>		
        </div>
    </div>
</fieldset>

<script type="text/javascript">

    $(document).ready(function () {
        $(".list_donacion").click(function () {
            var donacion = $(this).children('td').text();
            if (donacion.length < 13) {
                $("#titulo_detalle_donacion").html(donacion);

            }

            //TODO: REALIZAR SOLICITAR A LA CONTROLADORA DE ALMCACENES EL DETALLE DE LA DONACION.
            //ESCRIBIR LA TABLA CON LOS DETALLES DE DONACION.

        });
        $(".stock_hemocomponente").click(function () {

            var hemocomponente = $(this).children('td').first().text();

            $("#lst_don_hemo").html(hemocomponente);
            //TODO: REALIZAR SOLICITAR A LA CONTROLADORA DE ALMCACENES EL DETALLE DE LA DONACION.
            //ESCRIBIR LA TABLA CON LOS DETALLES DE DONACION.

        });

    });

</script>
