<fieldset>
	<legend>Instalación - <em><?=$this->headTitle()->getContainer()->toString();?></em></legend>

	<div class="alert alert-success">
		<?=implode('<br>',$this->mensajes);?>
	</div>

</fieldset>