<fieldset>
    <legend>Inicio</legend>

    <center>
        <div class="alert alert-danger offset4 span8">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Bienvenido/a <b><?= $this->usuario->usu_nombre; ?></b></h4>
        </div>
        <br/>
    </center>
</fieldset>
