<style>
.box {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #3a87ad;
    background-color: #323131;
    border-color: #323131;
}
</style>
<div id="login" class="row-fluid">
    <div class="span5 offset2">
        <br>
        <h3 style="color:white;text-shadow:2px 2px 8px #000;"><?=$this->headTitle()->getContainer()->toString();?></h3>
        <h5 style="color:white;text-shadow:2px 2px 8px #000;">Gobierno de Santa Fe - Ministerio de Salud</h5>
    </div>
    <div class="span3">
        <div class="box lert xalert-info" style="opacity:0.8;">
            <form method="post">
                <blockquote><b style="color:white">INICIAR SESI&Oacute;N</b></blockquote>

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <?=$this->form->username->renderViewHelper();?>
                </div>

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <?=$this->form->password->renderViewHelper();?>
                </div>
                <p></p>
                <button class="btn btn-primary btn-inverse btn-medium" type="submit">Iniciar</button>
                <?=$this->form->___h->renderViewHelper();?>
            </form>
        </div>
        <?php if($this->form->username->hasErrors()): ?>
            <div class="alert alert-error"><?=$this->form->username->renderErrors(); ?></div>
            <?php endif; ?>
    </div>
</div>
<style type="text/css">
    #login { margin-top:100px;}
    body { 
       background: url('<?=$this->baseUrl();?>/images/blood.jpg') no-repeat; background-size:cover;
      /*  background-color : #FFFFFA ; */ 
    }
        

    @media (max-width: 767px) {
        #login { margin-top:0;}
    }
</style>
