<div class="alert alert-error">
	<h2>No tiene permisos para acceder a este recurso.</h2>
</div>
<p><a href="javascript:history.back();" class="btn btn-inverse"><i class="icon-chevron-left icon-white"></i> Volver</a></p>