<div class="view-panel">
    <div class="modal-header">
        <legend id="mensaje"><?= $this->message; ?></legend>
    </div>
    <div class="modal-body">
        <p id="exepcion" style="font-weight: 900;"><?= $this->exception; ?></p>
        <pre id="trace" style="background-color:rgba(255,255,255,0.8);">
            <?php print_r($this->trace); ?>
        </pre>
    </div>
    <div class="modal-footer">

        <!-- Button to trigger modal -->
        <a id="btn_modal" class="btn btn-inverse" >Reportar Incidente</a>



    </div>
</div>


<!-- Modal -->
<div id="modal_registro_falla" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_registro_fallaLabel" aria-hidden="true">
    <form class="form-horizontal" style="text-align: left;margin:0;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 style="text-align: left;" id="myModalLabel">Formulario para el reporte de fallas</h3>
        </div>
        <div class="modal-body" style="max-height: 600px;">
            <p style="text-align: left;">Usted debe completar el siguiente formulario con el mayor detalle posible para reportar la falla encontrada y esta sea atendida con la mayor celeridad posible.</p>
            <br>

            <div class="span5">
                <div class="control-group">
                    <label class="control-label" for="nombre_contacto">Nombre del Operador</label>
                    <div class="controls">
                        <input style="width:98%;" type="text" id="nombre_contacto" placeholder="Nombre completo..." >
                    </div>
                    <label class="control-label" for="email_contacto">Email de contacto</label>
                    <div class="controls">
                        <input style="width:98%;" type="email" id="email_contacto" placeholder="Email para contactarlo..." >
                    </div>
                </div>
            </div>
            <div class="span2">
                <img style="border: 1px solid black;    box-shadow: 0.1em 0.1em 0.4em #999;" id="captura_imagen" src=""/>
            </div>
            <div class="clearfix"></div>
            <h5>Cuestionario para la recoleccion de datos vinculados al fallo</h5>
            <label class="" for="inputPassword">¿Que se encontraba haciendo antes de que el error ocurra?</label>

            <textarea style="width:98%;" name="precondicion" id="precondicion" ></textarea>

            <label for="accionEsperada">¿Cual debio ser el resultado correcto o cual es el resultado que usted esperaba?</label>
            <textarea style="width:98%;" name="accionEsperada" id="accionEsperada" ></textarea>

            <label for="inputPassword">¿Desea agregar un comentario u observacion que aporte a la comprension de la falla?</label>

            <textarea style="width:95%;" name="observacion" id="observacion" ></textarea>

        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button id="btn_registrar" class="btn btn-primary">Reportar fallo</button>
        </div>
    </form>
</div>

<script src="/themes/js/html2canvas.min.js"></script>

<script>

    $('#btn_modal').click(function () {

        html2canvas(document.body, {
            onrendered(canvas) {
                var link = document.getElementById('captura_imagen');
                var image = canvas.toDataURL();
                link.src = image;
            }
        });
        //$("#imagen_captura").attr('src', $("#captura").attr('href'));
        setInterval(function () {
            $("#modal_registro_falla").modal('show');
            clearInterval(this);
        }, '1000');

    });
    $('#btn_registrar').click(function () {
        //Iniciar la cortina con text personalizado.
        cortina(true, 'Reportando incidencia...');
        
        parametros = {
            captura: $('#captura_imagen').attr('src'),
            contacto: $('#nombre_contacto').val(),
            email_contacto: $('#email_contacto').val(),
            mensaje: $('#mensaje').html(),
            exepcion: $('#exepcion').html(),
            trace: $('#trace').html(),
            predondicion: $('#precondicion').val(),
            accionEsperada: $('#accionEsperada').val(),
            observacion: $('#observacion').val(),
            url:window.location.href
        }

        $.post("<?= $this->baseUrl(); ?>/default/error/registrar-evento-de-error", parametros, function (data) {
            if (data.st == 'ok') {
                //cambiar texto a la crotina y cortarla a los 3 segundos.
                cortina(true, 'Incidencia reportada con exito.');
                setInterval(function () {
                    cortina(false, '');
                    clearInterval(this);
                }, '500');
            } else {
                cortina(true, 'No se pudo reportar la incidencia, conecta con soporte tecnico.');
                setInterval(function () {
                    cortina(false, '');
                    clearInterval(this);
                }, '500');
            }
        });
    });

</script>

