
<style type="text/css">
    .nav-resultados { display:block; }
</style> 

<div id="busqueda_donante">
    <form method="post" id="form-person">
        <fieldset>
            <legend>Ingrese tipo y número de documento de la persona</legend>

            <div class="input-prepend input-append">
                <select name="tipo_documento" id="tipo_documento" class="form-comtrol input-small">
                    <?php
                    if (empty($this->result)) {
                        foreach ($this->cache_tipo_doc as $a => $b) {
                            ?>
                            <option value="<?= $a; ?>" <?= ($a === 1) ? 'Selected' : ''; ?>><?= $b; ?></option>
                            <?php
                        }
                    } else {
                        foreach ($this->cache_tipo_doc as $a => $b) {
                            ?>
                            <option value="<?= $a; ?>" <?= ($a === (int) $this->result['buscado']['tipo_documento']) ? 'Selected' : ''; ?>><?= $b; ?></option>
                            <?php
                        }
                    }
                    ?>
                </select>
                <span class="add-on"><i class="icon-file"></i>Tipo y numero de documento: </span>
                <input type="text" id="nro_documento" value="<?= $this->result['buscado']['nro_documento']; ?>" name="nro_documento" class="input-medium" required="required" autocomplete="off" maxlength="10" />
                <button type="submit" id="btn_buscar" class="btn btn-primary btn-inverse"  data-loading-text="Cargando..."><i class="icon-search icon-white"></i> Buscar persona</button>
                <button type="button" id="btn_limpiar" class="btn"><i class="icon-remove"></i></button>            
            </div>
        </fieldset>
    </form>     
    <div id="error_box" class="alert alert-error" style="display:none;">
        <h4 style="margin-bottom: 10px;">MENSAJE DE ERROR</h4>
        <span id='error_mensaje'></span>        
        <button id="btn_error" class="btn btn-danger" style="margin-top:20px">Entendido</button>
    </div>

    <?php
    if (!empty($this->result)) {
        switch ($this->result['estado']['valor']) {
            case 0: //Estado 0:Crear todo
                ?>       
                <!-- INICIO: ALTA DE PERSONA-->
                <fieldset id="persona_no_encontrada" class="nav-resultados">
                    <legend><i class="icon-search"></i> <b>Sin Resultados en la búsqueda</b></legend>

                    <p><button type="button" 
                               id="btn_alta_persona"                               
                               class="btn btn-large btn-info btn-success">
                            <i class="icon-plus icon-white"></i> (Alta) Registrar Persona</button></p>

                </fieldset>
                <!-- FIN: ALTA DE PERSONA-->
                <?php
                break;
            case 1: //Estado 1:Ver cuantas encontro, elegir una y crear automaticamente en SIMETRA con vinculacion
            case 5: //Estado 5:Ver cuantas encontro y elegir una y crear automaticamente en vinculacion con SIMETRA
                if (count($this->result['SICAP']) > 1) {
                    ?>
                    <!-- Si existen varias personas con el mismo DNI en SICAP -->
                    <div id="varios_registros_encontrados" class="row-fluid">
                        <div class="span9">
                            <div class="alert alert-block">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <h4>Atención!</h4>
                                <h3>Multiples resultados</h3>
                                <p>El listado debajo muestra los multiples resultados de personas encontradas en los registros provinciales.<br>
                                <ol>
                                    <li>Usted debe identificar cual es la persona que busca en el menionado listado.</li>
                                    <li>Seleccione la persona haciendo click sobre su Apellido.</li>
                                </ol>  
                                <legend>El sistema se encargara automaticamente de incorporarla en los registros de SIMETRA.</legend>
                                </p>
                            </div>

                            <table class="table table-striped table-bordered table-hover table-condense" id="varios">
                                <thead>
                                    <tr class="btn-info btn-small btn-inverse">
                                        <th width="100">Apellido</th>
                                        <th width="100">Nombre</th>
                                        <th width="100">Documento</th>
                                        <th width="100">Edad</th>
                                        <th width="140">Fecha nacimiento</th>
                                        <th width="80">Sexo</th>
                                        <th width="180">Domicilio</th>
                                        <th width="100">Localidad</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- FIN varias personas -->
                <?php } else { ?>
                    <!-- Solo una Persona encontrada en SIMETRA-->                
                    <?php
                }

                break;
            case 4: //Estado 4:Crear Persona en SICAP y vincularla.
                echo "caso 4";
                ECHO "EJECUTAR METODO PARA CRACION DE PERSONA EN SICAP Y VINCULARLA.";
                //EJECUTAR METODO PARA CRACION DE PERSONA EN SICAP Y VINCULARLA.
                break;
            case 7: //Estado 7:Mostrar datos                
                $persona = $this->result['simetra']['data'];
                ?>
                <div class="row-fluid user-infos cyruxx">
                    <div class="span12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <legend><i class="icon-search"></i> <b>Resultados de la busqueda:</b></legend>
                                <!--h3 class="panel-title"></h3-->
                            </div>
                            <div class="panel-body">
                                <div class="row-fluid">
                                    <div class="span6">

                                        <table class="table table-condensed table-responsive table-user-information">
                                            <thead>
                                                <tr>
                                                    <th colspan="2" style="background-color:#000;color:white;">
                                                        <strong>Información Personal y datos de Contacto</strong>
                                                    </th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>Nombre Completo:</td><td><b><?= $persona['per_nombres'] . " " . $persona['per_apellido']; ?></b></td>
                                                </tr>
                                                <tr>
                                                    <td>Documento:</td><td><?= $this->cache_tipo_doc[$persona['per_tipodoc']] . " " . $persona['per_nrodoc']; ?></td>
                                                </tr>
                                                <tr>
                                                    <td>Sexo:</td><td><?= $persona['per_sexo'] === 'M' ? 'Masculino' : 'Femenino'; ?></td>
                                                </tr>
                                                <tr>
                                                    <td>Edad:</td><td><?php
                                                        $tiempo = strtotime($persona['per_fnac']);
                                                        $ahora = time();
                                                        $edad = ($ahora - $tiempo) / (60 * 60 * 24 * 365.25);
                                                        echo $edad = floor($edad) . " años";

                                                        if ($edad <= 18) {
                                                            echo " | <i class='icon icon-warning-sign'></i> Se debe solicitar autorizacion escrita del responsable legal del menor para que este pueda donar.";
                                                        } elseif ($edad >= 65) {
                                                            echo " | <i class='icon icon-warning-sign'></i> La persona excede el limite de edad estipulado por ley para realizar una donacion.";
                                                        }
                                                        ?>
                                                </tr>
                                                <tr>
                                                    <td>Fecha de Nacimiento:</td><td><?= DateTime::createFromFormat('Y-m-d', $persona['per_fnac'])->format('d-m-Y'); ?></td>
                                                </tr>
                                                <tr>
                                                    <td>Teléfono:</td><td><?= $persona['telefono']; ?></td>
                                                </tr>
                                                <tr>
                                                    <td>Teléfono movil:</td><td><?= $persona['celular']; ?></td>
                                                </tr>

                                                <tr>
                                                    <td>Email:</td><td><?= $persona['email']; ?></td>
                                                </tr>
                                                <tr>
                                                    <td>Domicilio</td>
                                                    <td><?= (($persona['calle'] !== 'OTRA CALLE') ? $persona['calle'] : $persona['calle_otra']) . " " . $persona['numero'] . ", "; ?>
                                                        <?= $persona['piso']; ?> <?= $persona['depto']; ?><?= (!empty($persona['piso']) || !empty($persona['depto'])) ? ", " : ""; ?> 
                                                        <?= ($persona['codProvincia'] == 82) ? $this->cache_localidades_santafe[$persona['codLocalidad']] : $persona['localidad_otra']; ?>, 
                                                        <?= ($persona['codProvincia'] !== NULL) ? $this->cache_provincias[$persona['codProvincia']] : ""; ?> - 
                                                        <?= $this->cache_paises[$persona['codPais']]; ?></td>
                                                </tr>
                                                <tr>
                                                    <td>Observaciones</td>
                                                    <td><?= $persona['observacion']; ?></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="span6">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="background-color:#000;color:white;">Acciones</th>
                                                    <th style="background-color:#000;color:white;">Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><button id="btn_iniciar_proceso_donacion" style="width:100%;" class="btn btn-primary btn-success"><i class="icon-list icon-white"></i> Nueva donación</button></td>
                                                    <td>Iniciar proceso de donación.</td>
                                                </tr>
                                                <tr>
                                                    <td><button id="btn_persona_detalle" class="btn btn-info btn-inverse" style="width:100%;" data-href="<?= $this->baseUrl(); ?>/efector/personas/ver/"><i class="icon-user icon-white"></i> Ver detalle</button></td>
                                                    <td>Ver más datos de la persona.</td>
                                                </tr>
                                                <tr>
                                                    <td><button id="btn_actualizar_persona" class="btn btn-info btn-inverse" style="width:100%;" data-href="<?= $this->baseUrl(); ?>/efector/personas/modificacion/"><i class="icon-edit icon-white"></i> Actualizar datos</button> </td>
                                                    <td>Actualizar datos de la Persona.</td>
                                                </tr>

                                                <tr>
                                                    <td><button disabled="disabled" id="btn_carga_rapida" class="btn btn-primary btn-danger" style="width:100%;" data-href="<?= $this->baseUrl(); ?>/efector/solicitudes/carga-rapida/"><i class="icon-fire icon-white"></i> Carga Rápida</button></td>
                                                    <td>Iniciar proceso de donación simplificado</td>
                                                </tr>
                                                <tr>
                                                    <td><button id="btn_historico_donaciones" class="btn btn-primary btn-primary" style="width:100%;" ><i class="icon-clock icon-white"></i> Historial de donaciones</button></td>
                                                    <td>Ver histórico de donaciones de la persona.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="panel-footer">
                            <!-- INICIO - Documentos relacionados -->
                            <div class="span12">
                                <table class="table" style="background-color: #fff;">
                                    <thead>
                                        <tr>
                                            <th colspan="3" style="background-color:#000;color:white;">Documentos Relacionados</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width:32px;"><i class="icon-file"></i></td>
                                            <td><a href="<?= $this->baseUrl(); ?>/recursos/Tiempo_entre_donacoines.pdf" target="_blank">Tiempo entre Donaciones</a></td>
                                            <td>Tabla de tiempos de diferimiento entre donaciones de distintos hemocomponentes</td>
                                        </tr>                                                
                                        <tr>
                                            <td style="width:32px;"><i class="icon-book"></i></td>
                                            <td><a href="<?= $this->baseUrl(); ?>//recursos/Normas Hemoterapia RM 79713  13914   150715.pdf" target="_blank">NORMAS ADMINISTRATIVAS Y TÉCNICAS
                                                </a></td>
                                            <td>ESPECIALIDAD HEMOTERAPIA -
                                                NORMAS ADMINISTRATIVAS Y TÉCNICAS -
                                                RM 797/13 – 139/14 – 1507/15 -
                                                Plan Nacional de Sangre -
                                                Ministerio de Salud de la Nación</td>
                                        </tr>                                                
                                    </tbody>
                                </table>
                            </div>
                            <!-- FIN - Documentos relacionados -->

                        </div>
                    </div>
                </div>
            </div>


            <?php
            break;
        case 2:
        case 3 :
        case 6:
        default:
            break;
    }
}
?>
</div>

<script type="text/javascript">

    var baseUrl = "<?= $this->baseUrl(); ?>";
    $(document).ready(function () {

        $("#btn_buscar").submit(function (e) {
            e.preventDefault();
            return false;
        });
        $("#btn_buscar").click(function () {
            if ($("#nro_documento").val() === "") {
                $("#persona_no_encontrada").show();
            }
        });

        $("#btn_iniciar_proceso_donacion").click(function () {
            cortina(true, 'Validando datos de la persona e historial');
            $.get(baseUrl + '/efector/personas/get-permiso-donacion-por-perid',
                    'persona_id=<?= $persona['per_id'] ?>', function (d) {
                        if (d.estado === 'OK') {
                            window.document.location.assign(baseUrl + "/efector/solicitudes/form-nueva-donacion/tipo_documento/<?= $persona['per_tipodoc']; ?>/nro_documento/<?= $persona['per_nrodoc']; ?>");
                        } else {
                            cortina(false, '');
                            var errores = "<ul>";
                            for (i = 0; i < d.error.length; i++) {
                                errores = errores + "<li>Codigo de Error: " + d.error[i].codigo + " | " + d.error[i].mensaje + "</li>"
                            }
                            errores = errores + "</ul>";
                            $('#error_box').show(900);
                            $('#error_mensaje').html(errores);
                        }

                    });
        });

        $("#btn_persona_detalle").click(function () {
            window.document.location.assign(baseUrl + "/efector/personas/detalle/tipo_documento/<?= $persona['per_tipodoc']; ?>/nro_documento/<?= $persona['per_nrodoc']; ?>");
        });
        $("#btn_actualizar_persona").click(function () {
            window.document.location.assign(baseUrl + "/efector/personas/modificacion/tipo_documento/<?= $persona['per_tipodoc']; ?>/nro_documento/<?= $persona['per_nrodoc']; ?>");
        });
        $("#btn_carga_rapida").click(function () {
            //window.document.location.assign(baseUrl + "/efector/solicitudes/carga-rapida/tipo_documento/<?= $persona['per_tipodoc']; ?>/nro_documento/<?= $persona['per_nrodoc']; ?>");
        });
        $("#btn_alta_persona").click(function () {
            window.document.location.assign(baseUrl + "/efector/personas/alta/tipo_documento/" + $("#tipo_documento option:selected").val() + "/nro_documento/" + $("#nro_documento").val());
        });
        $("#btn_historico_donaciones").click(function () {
            cortina(true, "Cargando Historial de donaciones de la persona...");
            window.document.location.assign(baseUrl + "/efector/personas/historico-donaciones/tipo_documento/<?= $persona['per_tipodoc']; ?>/nro_documento/<?= $persona['per_nrodoc']; ?>");
        });

        $("#btn_error").click(function () {
            $("#error_box").hide(600);
        });
    });

    function calcularEdad(fecha) {
        var hoy = new Date();
        var cumpleanos = new Date(fecha);
        var edad = hoy.getFullYear() - cumpleanos.getFullYear();
        var m = hoy.getMonth() - cumpleanos.getMonth();

        if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
            edad--;
        }

        return edad;
    }


</script>
