
<?php $this->datepicker(); ?>
<?php
if ($this->form->getValue('CodPais') == NULL) {
    $this->form->getElement('CodPais')->setValue('ARG');
    if ($this->form->getValue('CodProvincia') == NULL) {
        $this->form->getElement('CodProvincia')->setValue('82');
        if ($this->form->getValue('CodLocalidad') == NULL) {
            $this->form->getElement('CodLocalidad')->setValue('08422');
        }
    }
}

if ($this->form->getValue('CodPaisNacimiento') == NULL) {
    $this->form->getElement('CodPaisNacimiento')->setValue('ARG');
    if ($this->form->getValue('CodProvinciaNacimiento') == NULL) {
        $this->form->getElement('CodProvinciaNacimiento')->setValue('82');
        if ($this->form->getValue('CodLocalidadNacimiento') == NULL) {
            $this->form->getElement('CodLocalidadNacimiento')->setValue('08422');
        }
    }
}
?>


<div class="view-panel" id="new-tratar" style="margin-bottom: 30px; ">
    <form action="<?= $this->url(); ?>" method="post" class="form-inline" id="frm_donante" name="frm_donante">
        <div class="modal-header">
            <div id="trata-det" class="" style="margin-bottom: 0;">
                <div class="row-fluid" style="margin-top: 10px;">

                    <div class="span12">   
                        <?= utf8_decode($this->form_title); ?>
                        <div id="advertencias"></div>

                        <?php if ($this->form->getMessages()): ?>
                            <div class="alert alert-error">
                                <p class="text-error">
                                    <b>Se han detectado los siguientes errores:</b>
                                </p>
                                <?php foreach ($this->form->getMessages() as $i => $error): ?>
                                    <ul>
                                        <?php
                                        $error = array_filter($error);
                                        foreach ($error as $b => $v):
                                            ?><li><b><?= $i; ?></b> :<?= $v; ?></li><?php endforeach; ?>
                                    </ul><?php endforeach; ?>
                            </div>
                        <?php endif; ?>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal-body">

            <div class="">
                <div class="" id="panel-examen-medico" >
                    
                        <div class="row-fluid">
                            <fieldset>

                        
                        <div class="row-fluid">
                            <div class="span9">
                                <h5 style="border-bottom: 1px solid black;">
                                    <i class="icon-user"></i> Datos Personales</h5>
                            
                                               
                                        <div class="row-fluid">                    
                                            <div class="span4">
                                                <div class="control-group ">
                                                    <label class="control-label" for="CodTipoDocumento">
                                                        <?= $this->form->CodTipoDocumento->getLabel(); ?>
                                                    </label>
                                                    <div class="controls">
                                                        <?= $this->form->CodTipoDocumento->renderViewHelper(); ?>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="Documento"><?= $this->form->Documento->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->Documento->renderViewHelper(); ?>
                                                    </div>
                                                    <div class="controls">
                                                        <?= $this->form->ReDocumento->renderViewHelper(); ?>
                                                    </div>
                                                </div>                               
                                            </div>
                                            <div class="span4">
                                                <div class="control-group">
                                                    <label class="control-label" for="Apellido"><?= $this->form->Apellido->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->Apellido->renderViewHelper(); ?>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="Nombres"><?= $this->form->Nombres->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->Nombres->renderViewHelper(); ?>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="CodSexo"><?= $this->form->CodSexo->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->CodSexo->renderViewHelper(); ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span4">
                                                <div class="control-group">
                                                    <label class="control-label" for="EstadoCivil"><?= $this->form->EstadoCivil->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->EstadoCivil->renderViewHelper(); ?>
                                                    </div>
                                                </div>                
                                                <div class="control-group">
                                                    <label class="control-label" for="FechaNacimiento"><?= $this->form->FechaNacimiento->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->FechaNacimiento->renderViewHelper(); ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                            <div class="span3">
                                <h5 style="border-bottom: 1px solid black;">
                                    <i class="icon-globe"></i> Lugar de Nacimiento</h5>
                                    
                                        <div class="row-fluid">                    
                                            <div class="span12">
                                                <div class="control-group GRP_Nac_Pais">
                                                    <label class="control-label" for="CodPaisNacimiento"><?= $this->form->CodPaisNacimiento->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->CodPaisNacimiento->renderViewHelper(); ?>
                                                        <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                                    </div>
                                                </div>
                                                <div class="control-group GRP_Nac_Pais_Otro">
                                                    <label class="control-label" for="CodPaisNacimiento_Otro"><?= $this->form->CodPaisNacimiento_Otro->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->CodPaisNacimiento_Otro->renderViewHelper(); ?>
                                                        <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                                    </div>
                                                </div>
                                                <div class="control-group GRP_Nac_Provincia">
                                                    <label class="control-label" for="CodProvinciaNacimiento"><?= $this->form->CodProvinciaNacimiento->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->CodProvinciaNacimiento->renderViewHelper(); ?>
                                                        <span class="help_inline"><a data-loading-text="Cargando Localidades.." class="btn btn-link">&nbsp;</a></span>                        
                                                    </div>
                                                </div>
                                                <div class="control-group paraSF GRP_Nac_Localidad">
                                                    <label class="control-label" for="CodLocalidadNacimiento"><?= $this->form->CodLocalidadNacimiento->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->CodLocalidadNacimiento->renderViewHelper(); ?>
                                                        <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                                    </div>
                                                </div>    
                                                <div class="control-group GRP_Nac_Localidad_Otra">
                                                    <label class="control-label" for="CodLocalidadNacimiento_Otra"><?= $this->form->CodLocalidadNacimiento_Otra->getLabel(); ?></label>
                                                    <div class="controls">
                                                        <?= $this->form->CodLocalidadNacimiento_Otra->renderViewHelper(); ?>
                                                        <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                                    </div>
                                                </div>                
                                            </div>
                                        </div>
                            </div>
                        </div>
                                
                        
                        <div class="row-fluid" >
                            <div class="span9">
                                <h5 style="border-bottom: 1px solid black;">
                                    <i class="icon-globe"></i> Datos de contacto</h5>
                                <div class="row-fluid" >
                                    <div class="span4">                        
                                        <div class="control-group GRP_Pais">
                                            <label class="control-label" for="CodPais"><?= $this->form->CodPais->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->CodPais->renderViewHelper(); ?>
                                            </div>
                                        </div>
                                        <div class="control-group GRP_Pais_Otro">
                                            <label class="control-label" for="CodPais_Otro"><?= $this->form->CodPais_Otro->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->CodPais_Otro->renderViewHelper(); ?>
                                                <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                            </div>
                                        </div>
                                        <div class="control-group paraArg GRP_Provincia">
                                            <label class="control-label" for="CodProvincia"><?= $this->form->CodProvincia->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->CodProvincia->renderViewHelper(); ?>
                                                <span class="help_inline"><a data-loading-text="Cargando Localidades.." class="btn btn-link">&nbsp;</a></span>
                                            </div>
                                        </div>
                                        <div class="control-group paraArg paraSF GRP_Localidad">
                                            <label class="control-label" for="Cod_Localidad"><?= $this->form->CodLocalidad->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->CodLocalidad->renderViewHelper(); ?>
                                                <span class="help_inline"><a data-loading-text="Cargando Calles" class="btn btn-link">&nbsp;</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="control-group GRP_Localidad_Otra">
                                            <label class="control-label" for="CodLocalidad_Otra"><?= $this->form->CodLocalidad_Otra->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->CodLocalidad_Otra->renderViewHelper(); ?>
                                                <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                            </div>
                                        </div>
                                        <div class="control-group direccionCompleta GRP_Direccion_Calle">
                                            <label id="lbl_calle" class="control-label" for="Calle"><?= $this->form->Calle->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->Calle->renderViewHelper(); ?>
                                                <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                            </div>
                                        </div>
                                        <div class="control-group  direccionCompleta GRP_Direccion_Calle_Otra">
                                            <label id="lbl_calle_otra" class="control-label" for="Calle_Otra"><?= $this->form->Calle_Otra->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->Calle_Otra->renderViewHelper(); ?>
                                                <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                            </div>
                                        </div>
                                        <div class="control-group  direccionCompleta GRP_Direccion_Numeros">
                                            <label class="control-label" for="Numero"><?= $this->form->Numero->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->Numero->renderViewHelper(); ?>
                                                <?= $this->form->Piso->renderViewHelper(); ?>
                                                <?= $this->form->Depto->renderViewHelper(); ?>
                                                <span class="help-inline"><label class="checkbox" for="bis"><?= $this->form->Bis->renderViewHelper(); ?> <?= $this->form->Bis->getlabel(); ?></label></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="control-group GRP_Email">
                                            <label class="control-label" for="Email"><?= $this->form->Email->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->Email->renderViewHelper(); ?>
                                                <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                            </div>
                                        </div>
                                        <div class="control-group GRP_Telefono">
                                            <label class="control-label" for="Telefono"><?= $this->form->Telefono->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->Telefono->renderViewHelper(); ?>
                                                <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                            </div>
                                        </div>
                                        <div class="control-group GRP_Celular">
                                            <label class="control-label" for="Celular"><?= $this->form->Celular->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->Celular->renderViewHelper(); ?>
                                                <span class="help_inline"><a data-loading-text=" " class="btn btn-link">&nbsp;</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <h5 style="border-bottom: 1px solid black;">
                                    <i class="icon-comment"></i> Observaciones</h5>
                                <div class="row-fluid">                    
                                    <div class="span12">
                                        <div class="control-group GRP_Observacion">
                                            <label id="lbl_masDatos" class="control-label" for="Observacion"><?= $this->form->Observacion->getLabel(); ?></label>
                                            <div class="controls">
                                                <?= $this->form->Observacion->renderViewHelper(); ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                <?php
                                $this->CodCalle_Otra = $this->form->getValue('Calle_Otra');
                                $this->CodCalle = $this->form->getValue('Calle');
                                ?>
                                <input type="hidden" name="temp_calle" id="temp_calle" 
                                       value="<?= $this->CodCalle; ?>">
                                <input type="hidden" name="temp_calle_otra" id="temp_calle_otra" 
                                       value="<?= $this->CodCalle_Otra; ?>">
                                <input type="submit" name="enviar" id="enviar" style="display:none;"> 
                                <?= $this->form->per_id->renderViewHelper(); ?>
                                
                            </fieldset>

                        </div>
                    
                </div>               

            </div>
        </div>

        <div class="modal-footer">		

            <button data-loading-text="Procesando..." type="button" 
                    id="aceptar" name="btn_aceptar"
                    class="btn btn-success pull-right">
                <i class="icon-ok icon-white"></i> Guardar</button>               

            <button data-loading-text="Procesando..." type="button" 
                    id="btn_cancelar" name="btn_cancelar"
                    class="btn btn-danger pull-right">
                <i class="icon-ban-circle icon-white"></i> Cancelar</button>                                   

            <!--input type="hidden" name="Documento" value="<!--?= $this->Documento; ?>" /-->
            <input type="hidden" name="isNotValidTubuladuraCode" id="isNotValidTubuladuraCode" value=""/>

        </div>
    </form>
</div>















<script type="text/javascript">
    var baseUrl = "<?= $this->baseUrl(); ?>";
    var infoLocalidades;
    var calle = $("#temp_calle").val();
    var CallePosteada = false;
    //Ajuste de 4 filas en el campo observacion.    
    $("#Observacion").prop('rows', 4);
    //Activar las burbujas de ayuda con estilo.
    $("input, select, textarea").tooltip();
    //Configurar ajax para que cachee las busquedas.
    $.ajaxSetup({cache: true});
    $(document).on('ready', function () {
        $('#Email').attr('type', 'email');
        $("#FechaNacimiento").datepicker({
            maxDate: '-16Y',
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 2,
            dateFormat: 'dd/mm/yy',
            showButtonPanel: true,
            yearRange: ((new Date).getFullYear() - 80) + ":" + ((new Date).getFullYear() - 16)
        });
        $("#CodPaisNacimiento").change(function () {
            console.log('Actualiza Pais de Nacimiento');
            if (($("#CodPaisNacimiento").val() === "ARG") &&
             ($("#CodProvinciaNacimiento").val() !== "82")) {
                $('.GRP_Nac_Localidad_Otra').show();
                $(".GRP_Nac_Localidad").hide()
                 .find("#CodLocalidadNacimiento option:selected").attr("selected", "99999");
            } else if (($("#CodPaisNacimiento").val() === "ARG") &&
             ($("#CodProvinciaNacimiento").val() === "82")) {
                $('.GRP_Nac_Localidad_Otra').hide()
                 .find('.CodLocalidadNacimiento_Otra').val("");
                $(".GRP_Nac_Localidad").show()
                 .find("#CodLocalidadNacimiento").val("");
            }
            if ($("#CodPaisNacimiento").val() !== "ARG") {
                console.log('Pais Nacimiento no es Argentina');
//                $("#CodProvinciaNacimiento").val('99');
//                $(".GRP_Nac_Provincia").hide()
//                 .find("#CodProvinciaNacimiento option:selected").attr("selected", "99");
//                $("#CodProvinciaNacimiento").val('99');
//                $(".GRP_Nac_Localidad").hide()
//                 .find("#CodLocalidadNacimiento option:selected").attr("selected", "99999");
//                $("#CodLocalidadNacimiento").val('99999');
//                $('.GRP_Nac_Localidad_Otra').show();

                $('.GRP_Nac_Localidad_Otra').show();
                $(".GRP_Nac_Provincia").hide()
                 .find("#CodProvinciaNacimiento option:selected").attr("selected", "99");
                $(".GRP_Nac_Localidad").hide()
                 .find("#CodLocalidadNacimiento option:selected").attr("selected", "99999");
                $(".GRP_Nac_Localidad_Otra").hide();
                $('#CodLocalidadNacimiento').val("99999").trigger('change');
                $('.GRP_Nac_Localidad').hide();
                $('.GRP_Nac_Localidad_Otra').show()
                 .find('#CodLocalidadNacimiento_Otra').val("");
                $('.GRP_Nac_Provincia').hide()
                 .find("#CodProvinciaNacimiento").val('99');
                $('.GRP_Nac_Localidad').hide()
                 .find('#CodLocalidadNacimiento').val('99999');
                $('.GRP_Nac_Provincia_Otra').show();
                $('.GRP_Nac_Localidad_Otra').show();

            } else {
                $(".GRP_Nac_Provincia").show();
                $(".GRP_Nac_Localidad").show();
                $('.GRP_Nac_Localidad_Otra').hide()
                 .find("#CodLocalidadNacimiento_Otra").val("");
            }
        });
        $('#CodProvinciaNacimiento').change(function () {
            console.log('Actualiza Provincia de Nacimiento');
            //Consulta si la provincia selecionada es Santa Fe (82)
            if ($('#CodProvinciaNacimiento').val() !== "82") {
                //Selecciona "OTRA LOCALIDAD" como opcion.
                $('.GRP_Nac_Localidad').hide()
                 .find("#CodLocalidadNacimiento").val("99999").trigger('change');
                //Muestra y limpia el campo Localidad de Nacimiento cuando es Otra.
                $('.GRP_Nac_Localidad_Otra').show()
                 .find("#CodLocalidadNacimiento_Otra").val("");
//                //Si la localidad es no listada la calle debe ser Texto libre.
            } else {
                $('.GRP_Nac_Localidad_Otra').hide()
                 .find("#CodLocalidadNacimiento_Otra").val("");
                $('.GRP_Nac_Localidad').show()
                 .find("#CodLocalidadNacimiento").val("");
                var b = $('#CodProvinciaNacimiento').next().children('a');
                b.button('loading');
                b.button('reset');
            }
        });
        $('#CodLocalidadNacimiento').change(function () {
            console.log('Actualiza Localidad de Nacimiento');
            //Si la provincia es Santa Fe (82)
            if ($('#CodLocalidadNacimiento').val() === '99999') {
                $('.GRP_Nac_Localidad').hide();
                $('.GRP_Nac_Localidad_Otra').show();
            } else {
                $('.GRP_Nac_Localidad').show();
                $('.GRP_Nac_Lolalidad_Otra').hide()
                 .find('#CodLocalidadNacimiento_Otra').val('');
            }
        });
        $("#CodPais").change(function () {
            console.log('Actualiza Pais');
            if ($("#CodPais").val() === "ARG") {
                $('.GRP_Localidad_Otra').hide()
                 .find('#CodLocalidad_Otra').val("");
                $(".GRP_Provincia").show();
                $(".GRP_Localidad").hide();
            } else {
                $('.GRP_Localidad_Otra').show();
                $(".GRP_Provincia").hide()
                 .find("#CodProvincia option:selected").attr("selected", "99");
                $(".GRP_Localidad").hide()
                 .find("#CodLocalidad option:selected").attr("selected", "99999");
                $(".GRP_Localidad_Otra").hide();
                $('#CodLocalidad').val("99999").trigger('change');
                $('.GRP_Localidad').hide();
                $('.GRP_Localidad_Otra').show()
                 .find('#CodLocalidad_Otra').val("");
                $('.GRP_Provincia').hide()
                 .find("#CodProvincia").val('99');
                $('.GRP_Localidad').hide()
                 .find('#CodLocalidad').val('99999');
                $('.GRP_Provincia_Otra').show();
                $('.GRP_Localidad_Otra').show();
                $('.GRP_Direccion_Calle').hide();
                $('.GRP_Direccion_Calle_Otra').show();
            }
        });
        $('#CodProvincia').change(function () {
            console.log('Actualiza Provincia');
            //Consulta si la provincia selecionada es Santa Fe (82)
            if ($('#CodPais').val() === "ARG") {
                if ($('#CodProvincia').val() !== "82") {
//                    //Selecciona "OTRA LOCALIDAD" como opcion.
//                    $('#CodLocalidad').val("99999").trigger('change');
//                    //Oculta el Campo localidad.                   
                    $('.GRP_Localidad').hide()
                     .find('#CodLocalidad').val('99999');
                    //Muestra y limpia el campo Localidad cuando es Otra.
                    $('.GRP_Localidad_Otra').show();
                    // .find('#CodLocalidad_Otra').val("");
                    $('.GRP_Direccion_Calle_Otra').show();
                    $('.GRP_Direccion_Calle').hide();

                } else {
                    $('.GRP_Localidad_Otra').hide()
                     .find('#CodLocalidad_Otra').val("");
                    $('.GRP_Localidad').show();
                    $('.GRP_Direccion_Calle_Otra').hide();
                    $('.GRP_Direccion_Calle').show();
                }
            } else {
                alert('Cambio en Pais');

            }
        });
        $('#CodLocalidad').change(function () {
            console.log('Actualiza Localidad');
            if ($("#CodPais").val() === 'ARG') {
                //Si la provincia es Santa Fe (82)
                if ($('#CodLocalidad').val() !== '99999') {
                    $('.GRP_Localidad_Otra').hide()
                     .find("#CodLocalidad_Otra").val('');
                    $('#Calle').val('');
                    var b = $('#CodLocalidad').next().children('a');
                    b.button('loading');
                    $.getJSON('<?= $this->url(array('action' => 'get-calles')); ?>', {id: $('#CodLocalidad').val()}, function (d) {
                        b.button('reset');
                        var info = [];
                        $.each(d.res, function (i, v) {
                            info.push({id: v, text: v});
                            console.log(i + " : " + v);
                        });
                        info.push({id: 'OTR', text: 'OTRA CALLE'});
                        //Si info esta sin datos, ocultar Calle y mostrar 
                        //"calle no listada"
                        $('#Calle').select2({
                            data: info,
                            minimumInputLength: 1,
                            placeholder: "Seleccione la calle"
                        }).attr('disabled', (d.res.length === 0)).addClass('input-large');
                        if (info.length <= 1) {
                            $('.GRP_Direccion_Calle').hide();
                            $('.GRP_Direccion_Calle_Otra').show();
                        } else {
                            $('.GRP_Direccion_Calle').show();
                            $('.GRP_Direccion_Calle_Otra').hide()
                             .find('#Calle_Otra').val('');
                        }
                    });
                } else {
                    $('.GRP_Localidad_Otra').show();
                    $('.GRP_Direccion_Calle').hide();
                    $('.GRP_Direccion_Calle_Otra').show();
                }
            } else {
            }
        });
        $("#Calle").change(function () {
            console.log('Actualiza Calle');
            if ($('#CodPais').val() === "ARG") {
                if ($("#Calle").val() === 'OTR' || $("#Calle").val() === 'OTRA CALLE') {
                    $('.GRP_Direccion_Calle').show();
                    $('.GRP_Direccion_Calle_Otra').show();
                } else {
                    $('.GRP_Direccion_Calle').show();
                    $('.GRP_Direccion_Calle_Otra').hide();
                }
            } else {
            }

        });


        $('#aceptar').click(function (e) {
            console.log("Proceso de Validacion en Cliente...");
            
            form_ok = validar_formulario();
            console.log(form_ok);
            
            if (form_ok === true) {
                cortina(true, "Procesando datos...");
                $('form')[0].submit();
            }
        });
        
        $('form').submit(function(e){
            e.preventDefault();
            return false;            
        });
        
        $('#btn_cancelar').click(function (e) {
            cortina(true, "Cancelando operación y redireccionando...");
            <?php if ($this->tpo_accion === 'ALTA'){ ?>                
                window.document.location.assign(baseUrl + "/efector/personas/buscar-persona/");
            <?php }else{ ?>
                window.document.location.assign(baseUrl + "/efector/personas/buscar-persona/tipo_documento/" + $("#CodTipoDocumento option:selected").val() + "/nro_documento/" + $("#Documento").val() );
            <?php } ?>
            
            
        });
        
        InicializarDatosNacimiento();
        InicializarDatosDeContacto();
    });
    /* Estas funciones se ejecutan cuando termina la carga del DOM. */
    function InicializarDatosDeContacto() {
        if ($("#CodPais").val() !== "ARG") {//Si NO es Argentina
            console.log("No es Argentina");
            $(".GRP_Provincia").hide()
             .find("#CodProvincia").val("");
            $(".GRP_Localidad").hide()
             .find("#CodLocalidad").val("");
            $(".GRP_Localidad_Otra").show();
            $(".GRP_Direccion_Calle").hide()
             .find("#Calle").val("");
            $(".GRP_Direccion_Calle_Otra").show();
        } else {//Si es Argentina
            console.log("Es Argentina");
            $(".GRP_Provincia").show();
            if ($("#CodProvincia").val() !== "82") {//Si No es Santa Fe
                console.log('No es Provincia de Santa Fe');
                $(".GRP_Localidad").hide()
                 .find('#CodLocalidad').val("");
                $('.GRP_Localidad_Otra').show();
            } else {//Si es Santa Fe
                console.log('Es Provincia de Santa Fe');
                if ($('#CodLocalidad').val() !== "99999") {
                    console.log('La localidad es OTRA LOCALIDAD');
                    $(".GRP_Localidad").show();
                    $('.GRP_Localidad_Otra').hide()
                     .find('#CodLocalidad_Otra').val('');
                } else {
                    console.log('La localidad es distinta a OTRA LOCALIDAD');
                    $('.GRP_Localidad_Otra').show();
                    $(".GRP_Localidad").hide()
                     .find('#CodLocalidad').val('99999');
                }
            }
            if ($('#CodLocalidad').val() === null) {
                console.log('La localidad es NULL');
                $(".GRP_Direccion_Calle_Otra").show();
                $(".GRP_Direccion_Calle").hide()
                 .find("#Calle").val('');

            } else {//Si tiene una localidad seteada.
                console.log('La localidad no es NULL');
                $(".GRP_Direccion_Calle_Otra").hide();

                var b = $('#CodLocalidad').next().children('a');
                b.button('loading');
                $.getJSON('<?= $this->url(array('action' => 'get-calles')); ?>', {id: $('#CodLocalidad').val()}, function (d) {
                    b.button('reset');
                    var info = [];
                    $.each(d.res, function (i, v) {
                        info.push({'id': v, 'text': v});
                    });
                    info.push({id: 'OTRA CALLE', text: 'OTRA CALLE'});

                    $('#Calle').select2({
                        data: info,
                        minimumInputLength: 3,
                        placeholder: "Seleccione la calle"
                    }).attr('disabled', (d.res.length === 0)).addClass('input-large')
                    //.val(calle).trigger('change');

                    $("#Calle").val($("#temp_calle").val());
                    $("#Calle_Otra").val($("#temp_calle_otra").val());
                    if ($("#temp_calle").val() === "OTRA CALLE") {
                        $(".GRP_Direccion_Calle_Otra").show();
                    } else {
                        $(".GRP_Direccion_Calle_Otra").hide();
                    }


                });
            }
        }
    }

    function InicializarDatosNacimiento() {
        $(".GRP_Nac_Pais_Otro").hide();//TODO: Futura implementacion
        $(".GRP_Pais_Otro").hide();//TODO: Futura implementacion
        if ($("#CodPaisNacimiento").val() !== "ARG") {
            $(".GRP_Nac_Provincia").hide()
             .find("#CodProvinciaNacimiento option:selected").attr("selected", "99");
        } else {
            $(".GRP_Nac_Provincia").show();
        }

        if ($("#CodProvinciaNacimiento").val() !== "82") {
            $('.GRP_Nac_Localidad_Otra').show();
            $(".GRP_Nac_Localidad").hide()
             .find("#CodLocalidadNacimiento option:selected").attr("selected", "99999");
        } else {
            
            if($('.GRP_Nac_Localidad').find("#CodLocalidadNacimiento").val() === '99999'){
                $('.GRP_Nac_Localidad').hide();
                $('.GRP_Nac_Localidad_Otra').show();
            }else{
                $('.GRP_Nac_Localidad_Otra').hide()
             .find("#CodLocalidadNacimiento_Otra").val("");
            }
            
            
            
        }

    }

    function validar_formulario() {
        vRet = true;
        vRet = (vRet && advertencia_datos_minimos());
        vRet = (vRet && validar_Documento());
        vRet = (vRet && validar_Provincia());
        vRet = (vRet && validar_Localidad());
        vRet = (vRet && validar_Calle());
        return vRet;
    }
    function validar_Provincia() {
        if (
         ($('#CodProvincia').val() === null) &&
         ($('.GRP_Provincia').css('display') === 'block')
         ) {
            $('#CodProvincia')
             .css('border', '1px solid red')
             .attr('data-content', "Error: Debe elegir una provincia \n\
para continuar.")
             .popover('show');
            setTimeout(function () {
                $('#CodProvincia').popover('hide');
            }, 5000);
            return false;
        }
        return true;
    }
    function validar_Localidad() {
        if (
         ($('#CodLocalidad_Otra').val() === "") &&
         ($('.GRP_Localidad').css('display') === 'none')
         ) {
            $('#CodLocalidad_Otra')
             .css('border', '1px solid red')
             .attr('data-content', "Error: Debe escribir una localidad de residencia\n\
para continuar.")
             .popover('show');
            setTimeout(function () {
                $('#CodLocalidad_Otra').popover('hide');
            }, 5000);
            return false;
        }
        return true;
    }
    function validar_Calle() {
        if (
         ($('#Calle').val() === "") &&
         ($('.GRP_Direccion_Calle').css('display') !== 'none')
         ) {
            $('#lbl_calle')
             .attr('data-content', "Error: Debe seleccionar una calle.\n\
Nota: Si la calle no esta en la lista elija OTRA CALLE y aparecera un campo \n\
de texto libre para que ingrese la calle.")
             .popover('show');
            setTimeout(function () {
                $('#lbl_calle').popover('hide');
            }, 5000);
            console.log('Validando Calle: ' + false);
            return false;
        }
        if (
         (
          ($('#Calle').val() === 'OTR') ||
          ($('#Calle').val() === '')
          ) &&
         ($('#Calle_Otra').val() === "")
         ) {

            $('#Calle_Otra').css('border', '1px solid red');
            $('#lbl_calle_otra')
             .attr('data-content', "Error: Debe ingresar una calle.\n\
Nota: Si selecciono OTRA CALLE y desea revisar nuevamente el listado, cambie la localidad para \n\
refrescar el campo de calles listadas.")
             .popover('show');
            setTimeout(function () {
                $('#lbl_calle_otra').popover('hide');
            }, 5000);

            console.log('Validando Calle: ' + false);
            return false;
        }

        return true;
    }
    function validar_Documento() {
        var Documento = $('#Documento');
        var ReDocumento = $('#ReDocumento');
        if ((Documento.val() !== ReDocumento.val()) || (ReDocumento.val().trim() === "")) {

            ReDocumento.css('border', '1px solid red');
            Documento.css('border', '1px solid red')
             .attr('data-content', "Error al procesar el Documento. Verifique que coincidan los dos campos de Documento.")
             .popover('show')
             .focus();
            setTimeout(function () {
                $('#Documento').popover('hide');
            }, 5000);
            return false;
        }

        return true;
    }
    function advertencia_datos_minimos() {
        if ($("#Numero").val() === "0") {
            $("#Numero").val("");
        }

        if (
         ($('#Email').val() === "") &&
         ($('#Telefono').val() === "") &&
         ($('#Celular').val() === "")
         ) {
            var mensaje = '<br><div class="alert alert-block">' +
             '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
             '  <h4>Campos minimos de contacto!</h4>' +
             ' Usted no completo telefono, celular ni email, por favor escriba algun ' +
             ' dato de contacto para continuar. Recuerde que estos datos son fundamentales para citar ' +
             ' al donante ante una eventualidad.' +
             '</div>';
            $('#advertencias').append(mensaje);
            return false;
        } else {
            return true;
        }
    }

    function format(item) {
        return item.id;
    }
</script>
