
<legend class="view-title">
    <a class="btn btn-primary btn-medium" href="<?=$this->baseUrl();?>/efector/personas/buscar-persona">
        <i class="icon-chevron-left icon-white"></i> Volver a ingreso
    </a> 
    <h3>Histórico de donaciones por persona</h3>
</legend>   

<div class="view-panel" id="new-tratar" style="margin-bottom: 30px;" >
    <div class="modal-header">
        <div id="trata-det" class="" style="margin-bottom: 0;">
            <div class="row-fluid" style="margin-top: 10px;">
                <div class="span4"><pre><b>Nombre:</b> <?= $this->data['persona']['data']['per_apellido'] . ", " . $this->data['persona']['data']['per_nombres']; ?></pre></div>    
                <div class="span4"><pre><b>Tipo y Nro. documento:</b>  <?= $this->cache_tipo_doc[$this->data['persona']['data']['per_tipodoc']]; ?> <?= $this->data['persona']['data']['per_nrodoc']; ?></pre> </div>    
                <div class="span4"><pre><b>Cód. Autogenerado:</b> <?= $this->data['persona']['codigo_autogenerado']; ?> </pre></div>  

            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="">
            <div class="" id="panel-examen-medico">
                <div class="row-fluid">
                    <div class="span12">
                        <h5 style="border-bottom: 1px solid black;">
                            <i class="icon-flag"></i> Buscar persona</h5>
                        <div class="row-fluid">
                            <div class="span6">

                                <form name="form_person" id="form_person"><fieldset>
                                        <div class="input-prepend input-append">
                                            <select name="tipo_documento" id="tipo_documento" class="form-comtrol input-small">
                                                <?php
                                                if (empty($this->data['persona'])) {
                                                    foreach ($this->cache_tipo_doc as $a => $b) {
                                                        ?>
                                                        <option value="<?= $a; ?>" <?= ($a === 1) ? 'Selected' : ''; ?>><?= $b; ?></option>
                                                        <?php
                                                    }
                                                } else {
                                                    foreach ($this->cache_tipo_doc as $a => $b) {
                                                        ?>
                                                        <option value="<?= $a; ?>" <?= ($a === (int) $this->data['persona']['data']['per_tipodoc']) ? 'Selected' : ''; ?>><?= $b; ?></option>
                                                        <?php
                                                    }
                                                }
                                                ?>

                                            </select>
                                            <span class="add-on"><i class="icon-file"></i>Tipo y numero de documento: </span>
                                            <input type="text" id="nro_documento" name="nro_documento" value="<?= $this->data['persona']['data']['per_nrodoc']; ?>" name="nro_documento" class="input-medium" required="required" autocomplete="off" maxlength="10" />
                                            <button type="button" name="btn_buscar" id="btn_buscar" class="btn btn-primary btn-inverse"  data-loading-text="Cargando..."><i class="icon-search icon-white"></i> Buscar persona</button>
                                            <button type="button" name="btn_limpiar" id="btn_limpiar" class="btn"><i class="icon-remove"></i></button>
                                        </div>

                                    </fieldset></form>
                            </div>

                            <div class="span6">
                                <?php if ($this->sin_datos === true) { ?>
                                    <span style="font-size: 1.2em;    line-height: 30px;    border: 1px dotted;    padding: 5px;    background: lightgoldenrodyellow;">No se encontró la persona que desea buscar o no posee historial.</span>
                                <?php } ?>

                            </div>
                        </div>

                    </div>
                </div>                        

                <?php if (!empty($this->data)) { ?>
                    <div class="row-fluid">       
                        <div class="span6">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-plus"></i> Información de resumen</h5>
                            <div class="row-fluid">
                                <div class="span6">                                                                        
                                    <h5>Días transcurridos desde la ultima donación</h5>
                                    <?= $this->formText('dias_desde_ultima_donacion', $this->data['diasDesde'], array('size' => 20, 'disable' => 'disabled')); ?>                                       


                                </div>

                                <div class="span6">
                                    <h5>Total de donaciones realizadas</h5>
                                    <?= $this->formText('donaciones_previas', $this->data['donacionesPrevias']['total'], array('size' => 20, 'disable' => 'disabled')); ?>                                       
                                </div>
                            </div>
                        </div>    

                        <div class="span6">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-plus"></i> Información General</h5>    
                            <div class="row-fluid">
                                <div class="span8">
                                    <h5>Mínimo de días recomendado entre donaciones</h5>
                                    <?= $this->formText('recomendacion_dias_entre_donaciones', $this->data['dias_sugeridos_entre_donaciones'], array('size' => 20, 'disable' => 'disabled')); ?>
                                </div>                        

                                <div class="span4">                                
                                </div>
                            </div>
                        </div>
                    </div>                            

                    <div class="row-fluid">     
                        <div class="span12">

                            <table class="table table-striped table-bordered table-hover table-condense" id="detalle">
                                <thead>
                                    <tr class="btn-info btn-small btn-inverse">
                                        <th width="160">Fecha donación</th>
                                        <th width="170">Efector</th>
                                        <th width="170">Tipo de Donación</th>
                                        <th width="170">Código Donación</th>
                                        <th width="170">Código Autogenerado</th>
                                        <th>Datos Serológicos</th>
                                        <th>Datos Inmunológicos</th>
                                        <th>Estado de la Donación</th>

                                        <!--th width="40">Perfil</th-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    $donaciones = $this->data['donacionesPrevias']['donaciones'];
                                    if ($donaciones != null) {
                                        foreach ($donaciones as $donacion) {
                                            ?>
                                            <tr>
                                                <td class="fecha_donacion"><?= $donacion['don_fh_inicio']; ?></td>
                                                <td class="efector_nombre"><?= $donacion['efector_nombre'][0]['nomest']; ?></td>
                                                <td>
                                                
                                                <?= ($donacion['extendida']['tipo_extraccion'] == 1)?"Sin Determinar": $this->cache_tipo_donacion[$donacion['extendida']['tipo_extraccion']]; ?></td>
                                                <td><?= $donacion['don_nro']; ?></td>
                                                <td><?= $this->data['persona']['codigo_autogenerado']; ?></td>
                                                <td>
                                                    <?php
                                                    if ($donacion['serologia']['determinaciones'] != null) {
                                                        foreach ($donacion['serologia']['determinaciones'] as $determinacion) {
                                                            echo array_column($this->enfermedades, 'descripcion')[$determinacion->enfermedades_id];
                                                            echo ": ";
                                                            if (($determinacion->determinacion == 'REACTIVO') || ($determinacion->determinacion == "DETECTABLE")) {
                                                                echo "<span class='label label-important'>" . $determinacion->determinacion . "</span>";
                                                            } else {
                                                                echo $determinacion->determinacion;
                                                            }
                                                            echo " | ";
                                                        }
                                                    }else{
                                                        echo "Sin determiancinoes registradas.";
                                                    }
                                                    ?>
                                                </td>
                                                <td><?= $donacion['inmunologia']; ?></td>
                                                <td>
            <?php ?>
            <?= $this->estados_donaciones[$donacion['don_estado']]; ?></td>
                                            </tr>                                            
                                                <?php } ?>
                                            <?php } ?>
                                </tbody>
                            </table>


                        </div>
                    </div>   
<?php } ?>

            </div>
        </div>
    </div>



    <div class="modal-footer">		




    </div>

</div>



<script>
    var baseUrl = "<?= $this->baseUrl(); ?>";
    $(document).ready(function () {

        $("#btn_limpiar").click(function () {
            $("#tipo_documento").val(1);
            $("#nro_documento").val("");

        });

        $("#form_person").submit(function (e) {
            e.preventDefault;
            return false;
        });


        $("#btn_buscar").click(function () {
            var tipo_documento = $("#tipo_documento").val();
            var nro_documento = $("#nro_documento").val();

            cortina(true, "Cargando Historial de donaciones para " + $("#tipo_documento option:selected").text() + " " + nro_documento)
            window.document.location.assign(baseUrl + "/efector/personas/historico-donaciones/tipo_documento/" + tipo_documento + "/nro_documento/" + nro_documento);
        });


    });

</script>