<?php $this->datepicker();
	  $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
	  $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
	  ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
 ?>

<fieldset>
	<legend> Informe Inmunolog&iacute;a</legend>

	<div class="row-fluid">
            <div class="span9">
			<?php if(sizeof($this->informe) > 0) :?>
                            <table class="table table-striped table-bordered table-hover table-condense">
                                <thead>
                                    <tr class="btn-info btn-small btn-inverse">
                                        <th width="120">Numero de donacion</th>
                                        <th>Grupo</th>
                                        <th>Factor</th>
                                        <th>Rastreo</th>
                                        <th>Grupo_Inverso</th>
                                        <th>Fecha de procesamiento</th>
                                        <th>DU</th>
                                        <th>CDE</th>
                                        <th>Fenotipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php foreach($this->informe as $i => $v): ?>
                                    <tr>
                                        <td style="text-align: center;"><?=$v['don_nro'];?></td>
                                         <td style="text-align: center;"><?=$v['grupo'];?></td>
                                         <td style="text-align: center;"><?=$v['factor'];?></td>
                                         <td style="text-align: center;"><?=$v['rastreo'];?></td>
                                         <td style="text-align: center;"><?=$v['grupo_inverso'];?></td>
                                         <td style="text-align: center;"><?=date('d-m-Y', strtotime($v['timestamp']));;?></td>
                                         <td style="text-align: center;"><?=$v['du'];?></td>
                                         <td style="text-align: center;"><?=$v['cde'];?></td>
                                         <td style="text-align: center;"><?=$v['fenotipo'];?></td>                                        
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                            <?=$this->paginador($this->paginas);?>
                        <?php elseif(sizeof($informe) == 0): ?>
                            <div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?='De '.date('d-m-Y',strtotime($this->fechaDesde)).' a '.date('d-m-Y',strtotime($this->fechaHasta));?></b></div>
                        <?php endif ;?>
            </div>

            <div class="span3">
                <h5><i class="icon-search"></i> Filtros</h5>
                <form method="post" id="formulario" action="<?=$this->baseUrl();?>/banco/informes/inmunologia"><!--                    
                <!-- fecha desde hasta -->
                    <h5>Fecha</h5>
                    <div class="input-prepend input-append">
                        <h6>Desde : </h6>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        <input placeholder="Desde" class="input-medium" type="text" id="from" name="from" value="<?=date('d-m-Y',strtotime($this->fechaDesde))?>">
                        <h6>Hasta : </h6>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        <input placeholder="Hasta" class="input-medium" type="text" id="to" name="to" value="<?=date('d-m-Y',strtotime($this->fechaHasta))?>">
                    </div>
                <!-- fin desde hasta --> 			
                    <br />
                    <div class="row-fluid">
                        <button class="btn btn-primary btn-inverse" type="submit">
                            <i class="icon-search icon-white"></i> Buscar</button>
                    </div>
                </form>
                <div class="row-fluid">
                    <button id="imprimir" target="_blank" type="submit" class="btn btn-primary btn-inverse">
                        <i class="icon-print icon-white"></i> Imprimir</button>
                </div>
            </div>
        </div>
</fieldset>

<script type="text/javascript">
  $("#efectores").select2();
  $("#efectores").select2("val", "");
        
  $(function() {
    $("#imprimir").click(function() {
      var from = $("#formulario [id='from']").val();
      var to  = $("#formulario [id='to']").val();
      var estado = $("#formulario [id='estado']").val();
      var nro = $("#formulario [name='nro']").val();
      window.open('<?=$this->baseUrl();?>/banco/informes/imprimir-inmunologia'+'/from/'+from+'/to/'+to,'_blank');
    });

    $( "#from" ).datepicker({
      defaultDate: "",
      changeMonth: true,
      numberOfMonths: 2,
      dateFormat : 'dd-mm-yy',
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: "",
      changeMonth: true,
      numberOfMonths: 2,
      dateFormat : 'dd-mm-yy',
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });    
    
</script>
