<div class="ui-widget-header ui-corner-all" style="padding: 5px;margin: 5px auto;text-align:left;">
	<span class="tituloModulo">:: Recepci&oacute;n de Envios ::</span>
</div>
<div class="ui-widget ui-widget-content ui-corner-bl ui-corner-br" style="margin-bottom:10px;padding:5px;">

	<div>
		<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
			<tr>
				<td align="left">
					<table cellpadding="0" cellspacing="5" border="0" align="left">
						<tr>
							<td>
								<span class="textoCampoIng">Nro. Env&iacute;o:</span>
								<input type="text" id="nroenvio" size="10" class="campoTextoIng ui-widget-content ui-corner-all"></td>
							<td>
								<span class="textoCampoIng">Desde:</span>
								<input type="text" id="fdesde" class="campoTextoIng ui-widget-content ui-corner-all" size="10" style="text-align:center;" value="<?php echo date("d/m/Y"); ?>"></td>
							<td>
								<span class="textoCampoIng">Hasta:</span>
								<input type="text" id="fhasta" class="campoTextoIng ui-widget-content ui-corner-all" size="10" style="text-align:center;" value=""></td>
							<td>
								<span class="textoCampoIng">Efector:</span>
								<select id="efector">
									<option value="-1">Todos</option>
									<?php
										if (isset($efectores)) {
											foreach ($efectores as $efector) {
												echo '<option value="'.$efector->id.'">'.$efector->nombre.'</option>';
											}
										}
									?>
								</select>
							</td>
							<td>
								<span class="textoCampoIng">Estado:</span>
								<select id="estado">
									<option value="-1">Todas</option>
									<option value="3">Recepcionados</option>
									<option value="2">Recepcionados Parcial</option>
									<option value="1">Sin Recepcionar</option>
								</select>
							</td>
							<td align="right" colspan="2">
								<button id="btnBuscarSolicitud" style="margin-top:18px;">Buscar</button>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="tablaVisorDonaciones">
		<thead><tr>
				<th>id</th>
				<th>Efector</th>
				<th>Nro. de Env&iacute;o</th>
				<th>Fecha</th>
				<th>Estado</th>
			</tr></thead>
	</table>
</div>

</div>
<div class="ui-widget-content ui-corner-all" style="padding:4px;">
	<?php echo $botonera_vista; ?>
</div>
<div id="diagSolicitud" title="Estado de Solicitud:">
	<iframe id="iframeEstadoSolicitud" style="width:95%;height:95%;border: 0px;" src=""></iframe>
</div>
<script type="text/javascript" src="js/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript" src="js/modelo/recepcionenvios/filtroenvios.js"></script>
<script type="text/javascript">

	<?php echo $botonera_func; ?>

	$.datepicker.setDefaults( $.datepicker.regional[ "" ] );
	$("#fdesde").datepicker($.datepicker.regional[ "es" ]);
	$("#fhasta").datepicker($.datepicker.regional[ "es" ]);

	var laTabla=$("#tablaVisorDonaciones").dataTable({
		"bJQueryUI": true,
		"bProcessing": true,
		"bServerSide": true,
		"sDom":'<"H"lfrp>t<"F"i<"div_botonera_solicitudes">>',
		"bFilter": false,
		"sAjaxSource": "ctrrecepcionenvios/buscar",
		"sPaginationType": "full_numbers",
		"oLanguage": {
			"sLengthMenu": "Mostrando _MENU_ filas por página",
			"sZeroRecords": "No se encontraron registros",
			"sInfo": "Mostrando _START_ hasta _END_ de _TOTAL_ filas",
			"sInfoEmpty": "Mostrando 0 de 0 de 0 registros",
			"sInfoFiltered": "(filtrados de _MAX_ registros)",
		},
		"fnServerData": function ( sSource, aoData, fnCallback ) {
			criterioBusqueda = new filtroenvios();
			criterioBusqueda.nro=$("#nroenvio").val();
			criterioBusqueda.efector=$("#efector option:selected").val();
			criterioBusqueda.fdesde=$("#fdesde").val();
			criterioBusqueda.fhasta=$("#fhasta").val();
			criterioBusqueda.estado=$("#estado option:selected").val();
			aoData.push( { "name": "criterio", "value": JSON.stringify(criterioBusqueda) } );
			$.ajax( {
				"dataType": "json",
				"type": "POST",
				"url": sSource,
				"data": aoData,
				"success": fnCallback
			} );
		},
		"sScrollY": "250px",
		"fnDrawCallback": function() {
			filas=laTabla.fnGetNodes();
			if (filas.length>0) {
				$(filas[0]).addClass("row_selected");
			}
		},
		"aoColumns": [
		{"bVisible":false},
		null,
		null,
		null,
		null
		]
	});

	$("#btnBuscarSolicitud").button({icons: {primary: "ui-icon-search"}});
	$("#btnBuscarSolicitud").click(function() {
		laTabla.fnDraw();
	});



	$("#nroenvio").keydown(function (e) {
		if (e.which == 13) {
			if ($("#nroenvio").val()!="") {
				$("#btnBuscarSolicitud").trigger("click");
			}
		}
	});


	$("#tablaVisorDonaciones tbody").click(function(event) {
		$(laTabla.fnSettings().aoData).each(function (){
			$(this.nTr).removeClass("row_selected");
		});
		$(event.target.parentNode).addClass("row_selected");
	});


	function obtenerSeleccionados( tabla ) {
		var aReturn = new Array();
		var aTrs = tabla.fnGetNodes();
		for ( var i=0 ; i<aTrs.length ; i++ ) {
			if ( $(aTrs[i]).hasClass("row_selected") ) {
				aReturn.push( aTrs[i] );
			}
		}
		return aReturn;
	}


	/*
	function mostrarTratarSolicitud(codigo) {
	var auxlink = $("<a id=\"iframe\" href=\"ctrexamenmedico/tratarSolicitud/solicitud/" + codigo +"\">");
	refAuxlink = auxlink;
	auxlink.fancybox({
	"autoDimensions":true,
	"scrolling":"no",
	onComplete: function() {
	$("#fancybox-wrap").css("top","5px");
	}
	});
	auxlink.trigger("click");
	}
	*/

	function mostrarTratarLectura(donacion) {
		var auxlink = $("<a id=\"iframe\" href=\"ctrformularioa/tratarDonacion/donacion/" + donacion +"\">");
		refAuxlink = auxlink;
		auxlink.fancybox({
			"autoDimensions":true,
			"scrolling":"no",
			onComplete: function() {
				$("#fancybox-wrap").css("top","5px");
			}
		});
		auxlink.trigger("click");
	}

</script>
