<fieldset>
    <legend>Alta Solución Conservante para Bolsas de Donación</legend>

    <ul class="breadcrumb">
        <li><a href="<?= $this->url(array('module' => 'gestion', 'controller' => 'bolsas'), null, true); ?>">Bolsas</a> <span class="divider">/</span></li>
        <li class="active"><?= $this->form_desc; ?></li>
    </ul>

    <form name="frm_alta" method="post" action="<?= $this->url(); ?>">
        <div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
            <a class="btn btn-danger btn-small" href="<?= $this->url(array('module' => 'gestion', 'controller' => 'bolsas'), null, true); ?>"><i class="icon-remove icon-white"></i> Cancelar</a>
        </div>
        <p></p>
        <div class="well">
            <?= $this->form->tipo_bolsa->renderLabel(); ?>
            <?= $this->form->tipo_bolsa->renderViewHelper(); ?>
            <span class="help-inline"><?= $this->form->tipo_bolsa->renderErrors(); ?></span>
        </div>

        <div class="well">
            <?= $this->form->dias->renderLabel(); ?>
            <?= $this->form->dias->renderViewHelper(); ?> días
            <span class="help-inline"><?= $this->form->dias->renderErrors(); ?></span>
        </div>                
    </form>
</fieldset>