<fieldset>
	<legend>Soluciòn Conservante en Bolsas</legend>

	<p><a class="btn btn-primary btn-small" href="<?=$this->url(array('action'=>'agregar'));?>"><i class="icon-plus icon-white"></i> Nueva</a></p>
	<div class="row-fluid">
		<div class="span6">
			<?php if(sizeof($this->resultados) > 0): ?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
							<th>Solución Conservante<i class="icon-chevron-up icon-white pull-right"></i></th>
                                                        <th>Días Conservación</th>
							<th width="180"></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v): ?>
							<tr>
								<td><?=$v['tipo_bolsa'];?></td>
								<td><?=$v['dias'];?> días</td>
								<td><a class="btn btn-mini btn-primary" href="<?=$this->baseUrl();?>/gestion/bolsas/modificar/id/<?=$v['id'];?>"><i class="icon-edit icon-white"></i> Editar</a> 
                                                                    <a class="btn btn-mini btn-danger" href="<?=$this->baseUrl();?>/gestion/bolsas/eliminar/id/<?=$v['id'];?>"><i class="icon-remove icon-white"></i> Eliminar</a></td>
							</tr>
							<?php endforeach; ?>
					</tbody>
				</table>
				<?php else:?>
				<div class="alert alert-warning">No hay Soluciones conservantes Cargadas</div>
				<?php endif;?>
		</div>
	</div>
</fieldset>
