<?php $this->datepicker(); ?>

<h1>EN CONSTRUCCION....</h1>
<legend>Gestion de Boletines de Noticias</legend>

<div class="row-fluid">
    <div class="span4">
        <h5><i class="icon-bullhorn"></i> Boletin Nuevo</h5>
        <form method="post" action="<?= $this->baseUrl(); ?>/gestion/newsletters/nuevo">
            				<div class="input-prepend inpu  t-append">
                                <span class="add-on"><i class="icon-user"></i></span>
                                <select class="input-large" id="fld_para" name="fld_para">
                                    <option>Seleccione los destinatarios...</option>
                                </select>
                                
                            </div>
            <fieldset>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-info-sign"></i></span>
                    <input type="text" class="input-large" id="fld_asunto" name="fld_asunto" placeholder="Ingrese el asunto del boletin...">
                </div>
                <br/>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <textarea class="input-large" id="fld_mensaje" name="fld_mensaje" placeholder="Escriba aqui el cuerpo del mensaje..."></textarea>
                </div>
                </fieldset>
				<button class="btn btn-primary btn-small btn-inverse" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
                
			</form>

		</div>
		<div class="span8">
        <?php if (/* sizeof($this->resultados) > 0 */true) : ?>
    				<table class="table table-striped table-bordered table-hover table-condense">
    					<thead>
    						<tr class="btn-info btn-small btn-inverse">
    							<th width="120">Fecha Creacion<i class="icon-chevron-up icon-white pull-right"></i></th>
                                <th >Asunto<i class="icon-chevron-up icon-white pull-right"></i></th>
                                <th width="120">Fecha de Envio<i class="icon-chevron-up icon-white pull-right"></i></th>
                                <th width="120">Estado<i class="icon-chevron-up icon-white pull-right"></i></th>							
    						</tr>
    					</thead>
    					<tbody>
                    <?php /*foreach ($this->resultados as $i => $v): */?>
        							<tr>
        								<td><i class="icon-calendar"></i> <!--?= $v['fh_registro'];  ?-->hs <span class="time"><i class="icon-time"></i> <?= $this->nicetime($v['env_fh']); ?></span></td>
        								<td><i class="icon-barcode"></i> <!--?= $v['env_nro']; ?--></td>
        								<td><a class="btn btn-inverse btn-mini" 
                                               href="<!--?= $this->baseUrl(); ?-->/efector/envios/ver/env_id/<!--?= $v['env_id']; ?-->">
                                                <i class="icon-info-sign icon-white"></i> Acceder</a> 
                                            <a target="_blank" class="btn btn-inverse btn-mini" 
                                               href="<!--?= $this->baseUrl(); ?-->/efector/envios/verpdf/env_id/<!--?= $v['env_id']; ?-->/print/1">
                                                <i class="icon-print icon-white"></i></a></td>
        							</tr>
                    <?php /*endforeach; */?>
    					</tbody>
    				</table>

            <?= $this->paginador($this->paginas); ?>
        <?php elseif (sizeof($resultados) == 0): ?>
    				<div class="alert alert-info"><b>No se se registran boletines.</b><br /> <b><?= $this->busqueda; ?></b></div>
            <?php endif; ?>
		</div>

		
	</div>


<script>
    $(function () {
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });
    });
</script>
