<?php $this->datepicker(); ?>

<fieldset>
	<legend>Serolog&iacute;a</legend>

	<div class="row-fluid">

		<div class="span9">
			<ul class="nav nav-tabs">
				<li><a href="<?=$this->baseUrl();?>/banco/serologia"><img src="/themes/v1/images/lab.png"> Pendientes</a></li>
				<li class="active"><a href="javascript:;"><i class="icon-search"></i> Busqueda</a></li>
			</ul>

		</div>

		<?=$this->render('serologia/modulo.phtml');?>

	</div>
</fieldset>
