<legend class="view-title">
    <a class="btn btn-primary btn-medium" href="<?= $this->baseUrl(); ?>/banco/serologia">
        <i class="icon-chevron-left icon-white"></i> Regresar a Listado de Trabajo
    </a> 
    <h3>Carga Manual de Resultados Serologicos</h3>
</legend>   

<div class="view-panel" id="new-tratar" style="margin-bottom: 30px;" >
    <div class="modal-header">
        <div id="trata-det" class="" style="margin-bottom: 0;">
            <div class="row-fluid" style="margin-top: 10px;">
                <div class="span4"><pre><b>Código de Donación:</b>  <?= $this->cabecera['codigo_donacion']; ?></pre></div>    
                <div class="span4"><pre><b>Cód. Autogenerado:</b> <?= $this->cabecera['codigo_autogenerado']; ?> </pre></div>  
                <div class='span4'><pre><b>Fecha de Extracción:</b> <?= $this->cabecera['fecha_extraccion']; ?></pre></div>    
            </div>
        </div>
    </div>
    <form id="form-serologia-manual" name="form-serologia-manual" method="post" action="" style="margin-bottom: 0px;">
        <div class="modal-body">
            <div class="">
                <div id="panel-examen-medico">
                    <div class="row-fluid">       
                        <div class="span6">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="ion ion-erlenmeyer-flask"></i> Listado de Analisis a Determinar sobre la muestra</h5>

                            <!--Cabecera de Tabla-->
                            <div class="row-fluid">
                                <div class="span2"><h5>Analisis</h5></div>
                                <div class="span5"><h5>Enfermedades Vinculadas</h5></div>
                                <div class="span4"><h5>Resultado de analisis</h5></div>
                                <div class="span1"><h5>Acciones</h5></div>
                            </div>
                            <!--INICIO - Iteracion de Datos de tabla-->
                            <div id="listado-analisis-ralizados"></div>
                            <!--FIN - Iteracion de Datos de tabla-->

                            <div class="row-fluid" style="background-color: #00000033; padding:10px;padding-right: 0px;">
                                <div class="span12">
                                    <button data-loading-text="Procesando..." type="button" style="margin-right:20px;"
                                            class="btn btn-success btn-large pull-right " id="btn_aceptar2">
                                        <i class="icon-ok icon-white"></i> Regsitrar</button>
                                    <button data-loading-text="Procesando..." type="button"  style="margin-right:20px;"
                                            id="btn_limpiar_lista" onclick="limpiarLista()" 
                                            class="btn btn-warning btn-large pull-right">
                                        <i class="icon-ban-circle icon-white"></i> Limpiar</button>        
                                </div>
                            </div>

                        </div>
                        <div class="span6">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="ion ion-erlenmeyer-flask"></i> Analisis Disponibles</h5>

                            <!--Cabecera de Tabla-->
                            <div class="row-fluid" style="background-color: teal;">
                                <div class="span2 text-center"><h5 style="color:white;">Código de Analisis</h5></div>
                                <div class="span4 text-center"><h5 style="color:white;">Enfermedades Vinculadas</h5></div>
                                <div class="span4 text-center"><h5 style="color:white;">Descripcion</h5></div>
                                <div class="span2 text-center"><h5 style="color:white;">Acciones</h5></div>
                            </div>
                            <!--INICIO - Iteracion de Datos de tabla-->
                            <?php foreach ($this->analisis as $analisis) { ?>
                                <div class="row-fluid" style="border-bottom: 1px solid #999;padding-top: 10px;padding-bottom:5px;">
                                    <div class="span2" style="padding-left: 20px;">                                    
                                        <span class="label label-inverse" style="font-size: 1.2em;"><?= $analisis['cod']; ?></span>
                                    </div>
                                    <div class="span4">                                    
                                        <?php
                                        $enfermedad_id = $analisis['enf_id'];
                                        foreach ($this->enfermedades as $enfermedad) {
                                            if ($enfermedad->enf_id == $enfermedad_id) {
                                                $enfermedad_descripcion = trim($enfermedad->descripcion);
                                                break;
                                            }
                                        }
                                        if ($analisis['cod'] == '2506') {
                                            $enfermedad_descripcion = "Hepatitis B, Hepatitis C, HIV";
                                        } else {
                                            $enfermedad_descripcion = strtoupper($enfermedad_descripcion);
                                        }
                                        echo $enfermedad_descripcion;
                                        ?>
                                    </div>
                                    <div class="span4">
                                        <?php echo $analisis['descripcion']; ?>
                                    </div>
                                    <div class="span2">
                                        <button type="button" class="btn btn-primary btn-small btn_agregar_analisis"
                                                data-ana_id='<?= $analisis['ana_id']; ?>'
                                                data-codigo_analisis='<?= $analisis['cod']; ?>'
                                                data-enfermedades='<?= $enfermedad_descripcion; ?>'
                                                >Agregar Análisis</button>
                                    </div>
                                </div>
                            <?php } ?>
                            <!--FIN - Iteracion de Datos de tabla-->
                        </div>
                    </div>                            
                </div>

                
               
            </div>   
        </div>


        <div class="modal-footer">		
            <button data-loading-text="Procesando..." type="submit" 
                    id="btn_aceptar" name="btn_aceptar"
                    class="btn btn-success pull-right">
                <i class="icon-ok icon-white"></i> Regsitrar</button>
            <button data-loading-text="Procesando..." type="button"  
                    id="btn_panel_descartar" onclick="nav_volver()"
                    class="btn btn-danger pull-right">
                <i class="icon-ban-circle icon-white"></i> Cancelar</button>        
        </div>
        <input type="hidden" name="don_id" id="don_id" value="<?= $this->donacion->don_id; ?>" >
    </form>
</div>

<div class="view-panel" id="panel-historico-determinaciones" style="margin-bottom: 30px;" >
    <div class="modal-header">
        <div id="trata-det" class="" style="margin-bottom: 0;">
            <div class="row-fluid" style="margin-top: 10px;">
                <div class="span12">
                    <h4 style="color: white;">
                            <i class="icon-comment icon-white"></i> Historio de Determianciones para la donacion <label class="label label-inverse" ><?= $this->cabecera['codigo_donacion']; ?></label>
                        </h4>
                </div>    
            </div>
        </div>
    </div>
        <div class="modal-body" id="listado-historico-determinaciones">
            <div class="">
                
                <div class="row-fluid"> 
                    <div class="span12">
                        <?php foreach ($this->donacion_determinaciones as $determinacion) { ?>
                            <div class="row-fluid"
                            <?php if ($determinacion->resultado == 'REACTIVO' || $determinacion->resultado == 'DETECTABLE') { ?>
                                     style="background-color:red;margin-bottom:10px;"
                                 <?php } elseif ($determinacion->resultado == 'INDETERMINADO' || $determinacion->resultado == 'NO REALIZADO') { ?>
                                     style="background-color:yellow;margin-bottom:10px;"
                                 <?php } elseif ($determinacion->resultado == 'NO REACTIVO' || $determinacion->resultado == 'NO DETECTABLE') { ?>
                                     style="background-color:green;margin-bottom:10px;"
                                 <?php } ?>>                                    
                                <div class="span4 offset1"  style="background-color: #ffffffdd;font-family: monospace;
                                     border:1px solid graytext;padding:10px;font-size: .8em; margin: 0px;">                                
                                    <b>Codigo del Analisis:</b> <?= $determinacion->cod_ana; ?> (<?php
                                    $cod_ana = $determinacion->cod_ana;
                                    foreach ($this->analisis as $analisis) {
                                        if ($cod_ana == $analisis['cod']) {
                                            $vRet = $analisis['descripcion'];
                                            break;
                                        } else {
                                            $vRet = 'Sin Descripcion';
                                        }
                                    }
                                    echo $vRet;
                                    ?>)
                                </div>
                                <div class="span2" style="background-color: #ffffffdd;font-family: monospace;border:1px solid graytext;padding:10px;font-size: .8em; margin: 0px;">
                                    <b>Modo:</b> <?= $determinacion->tipo_ingreso; ?>
                                </div>
                                
                                <div class="span2"  style="background-color: #ffffffdd;font-family: monospace;border:1px solid graytext;padding:10px;font-size: .8em; margin: 0px;">
                                    <b>Fecha Registro:</b> <?= $determinacion->fecha_imp; ?>
                                </div>
                                <div class="span3"  style="background-color: white;font-family: monospace;border:1px solid graytext;padding:10px;font-size: .8em;    margin: 0px;">
                                    <b>Resultado (determinación):</b> 
                                    <span
                                    <?php if ($determinacion->resultado == 'REACTIVO' || $determinacion->resultado == 'DETECTABLE') { ?>
                                            class="label label-important"
                                        <?php } elseif ($determinacion->resultado == 'INDETERMINADO' || $determinacion->resultado == 'NO REALIZADO') { ?>
                                            class="label label-warning"
                                        <?php } elseif ($determinacion->resultado == 'NO REACTIVO' || $determinacion->resultado == 'NO DETECTABLE') { ?>
                                            class="label label-success"
                                        <?php } ?>>
                                            <?= $determinacion->resultado; ?>
                                    </span>                                        
                                </div>
                                
                                
                            </div>                  
                        <?php } ?>
                    </div>
                </div>
            </div>   
        </div>


        <div class="modal-footer">		
            <button type="button"  onclick="verHistorico(true)"
                    id="btn_historico_mostrar"
                    class="btn btn-primary pull-right">
                <i class="icon-arrow-down icon-white"></i> Mostrar</button>
            <button type="button"  onclick="verHistorico(false)"
                    id="btn_historico_ocultar"
                    class="btn btn-primary pull-right">
                <i class="icon-arrow-up icon-white"></i> Ocultar</button>        
        </div>
        
    
</div>





<script type="text/javascript">
    $('#btn_limpiar_lista').hide();
    $('#btn_aceptar2, #btn_aceptar').hide();
    
    var base_url = '<?= $this->baseUrl(); ?>';

    $(document).on('click', "#btn_eliminar_fila", function () {
        $(this).closest('.row-fluid').remove();
        ajustarBotones();
    });

    $(document).ready(function () {

        $(".btn_agregar_analisis").click(function () {
            var analisis_id = $(this).attr('data-ana_id');
            var codigo_analisis = $(this).attr('data-codigo_analisis');
            if (existeAnalisisEnLista(codigo_analisis) == false) {
                var codigo_analisis = $(this).attr('data-codigo_analisis');
                var enfermedades = $(this).attr('data-enfermedades');
                var fila_nueva = '';

                fila_nueva = '<div class="row-fluid" data-id="' + analisis_id + '">' +
                        '<div class="span2 fld-codigo_analisis">' +
                        '<pre>' + codigo_analisis + '</pre>' +
                        '</div>' +
                        '<div class="span5">' +
                        '<pre>' + enfermedades + '</pre>' +
                        '</div>' +
                        '<div class="span4 fld-determinacion">' +
                        '<select id="row-' + analisis_id + '" class="input-large" style="width: 90%;height:41px;"' +
                        'required="required">' +
                        '<option value="">Seleccione un tipo de resultado...</option>';

                if (codigo_analisis == "2506") {
                    fila_nueva += '<option value="INDETERMINADO">INDETERMINADO</option>' +
                            '<option value="NO DETECTABLE">NO DETECTABLE</option>' +
                            '<option value="DETECTABLE">DETECTABLE</option>';

                } else {
                    fila_nueva += '<option value="INDETERMINADO">INDETERMINADO</option>' +
                            '<option value="NO REACTIVO">NO REACTIVO</option>' +
                            '<option value="REACTIVO">REACTIVO</option>';

                }

                fila_nueva += '</select>' +
                        '<br>' +
                        '</div>' +
                        '<div class="span1">' +
                        '<button id="btn_eliminar_fila" type="button" class="btn btn-danger" style="height:41px;">Quitar</button>' +
                        '</div>' +
                        '</div>';

                $('#listado-analisis-ralizados').append(fila_nueva);
                ajustarBotones();
            } else {
                alert('Ya existe el analisis que desea agregar.')
            }
        });

        $("#btn_aceptar2").click(function () {
            $("#btn_aceptar").click();
        });


    });//Fin Document.ready


    /** SUBMIT FORMULARIO EXTRACCION**/
    $(document).on('submit', 'form#form-serologia-manual', function (e) {
        e.preventDefault();
        //cortina(true,'Registrando las determinaciones Cargadas...');

        var form = $('form#form-serologia-manual')[0];
        var don_id = $('#don_id').val();
        if (form.checkValidity() == true) {

            var params = new Array();
            $("#listado-analisis-ralizados .row-fluid").each(function (index, item) {
                console.log(params);
                params.push({
                    'analisis-id': $(item).attr('data-id'),
                    'codigo-analisis': $(item).children('div.fld-codigo_analisis').children('pre').text(),
                    'determinacion': $(item).children('div.fld-determinacion').children('select').val()
                });
            });

            $.post(base_url + '/banco/serologia/registrar', {params, don_id}, function (d) {
                console.log(d);
                if (d.st === 'ok') {
                    window.document.location.assign(base_url + '/banco/serologia');
                } else {
                    cortina(false, "");
                    alert(d.mensaje);
                }
            }, 'json');
        } else {
            alert("Todos los campos deben estar completos.")
        }



    });

    function validarDatos() {
        return true;
    }

    function existeAnalisisEnLista(aguja) {
        var vRet = false;
        $('#listado-analisis-ralizados').children('.row-fluid').children('div').children('pre').each(function (indx, value) {
            if (aguja == $(value).text()) {
                vRet = true;
            }
        });
        return vRet;
    }

    function nav_volver() {
        window.location.href = base_url + "/banco/serologia";

    }

    function limpiarLista() {
        $('#listado-analisis-ralizados').html('');
        ajustarBotones()
    }
    
    function ajustarBotones(){
        if ($('#listado-analisis-ralizados div.row-fluid').length == 0){
            $('#btn_limpiar_lista').hide();
            $('#btn_aceptar2, #btn_aceptar').hide();
        }else{
            $('#btn_limpiar_lista').show();
            $('#btn_aceptar2, #btn_aceptar').show();
        }
    }
     //Inicializacion de Variables
    $("#btn_historico_mostrar").hide();
    $("#btn_historico_ocultar").show();
            
    function verHistorico(estado){
        if (estado == true){
            $("#btn_historico_mostrar").hide();
            $("#btn_historico_ocultar").show();
            $("#listado-historico-determinaciones").show();
        }else{
            $("#btn_historico_mostrar").show();
            $("#btn_historico_ocultar").hide();
            $("#listado-historico-determinaciones").hide();
        }
    }
</script>
