<div class="ui-widget-header ui-corner-all" style="padding: 5px;margin: 5px auto;text-align:left;">
    <span class="tituloModulo">:: Importar Resultados de Laboratorio ::</span>
</div>
<div class="ui-widget ui-widget-header ui-corner-tl ui-corner-tr" style="height:20px;text-align:center;padding-top:6px;padding-left:5px;">
    Importar Resultados de Laboratorios:
</div>
<div class="ui-widget ui-widget-content ui-corner-bl ui-corner-br" style="margin-bottom:10px;padding:5px;">
    <div>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
        <tr>
        <td align="left">
        <table cellpadding="0" cellspacing="8" border="0" align="center">
            <tr>
                <td>
                    <input style="margin:0 auto;" type="file" id="archivo">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <button id="btnExportar" style="margin-top:10px;">Importar</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="diagInfo" title="">
    <table border="0" width="100%">
        <tr>
            <td><img src="css/imagenes/cargando1.gif"><td>
            <td><span id="textoAccion"></span></td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="js/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript" src="js/modelo/preproduccion/filtropreproduccion.js"></script>
<script type="text/javascript">
    $("#btnExportar").button({icons: {primary: "ui-icon-circle-arrow-e"}});

    $("#btnExportar").click(function() {
        if ($.trim($("#fdesde").val())=='' && $.trim($("#fhasta").val())=='' ) {
            alert("Se debe seleccionar al menos un fecha!");
            return;
        }

        $("#diagInfo").dialog("option","title","Exportando An&aacute;lisis:");
        exportacion = {
            "efector": $("#efectores option:selected").val() ,
            "fdesde": $("#fdesde").val(),
            "fhasta": $("#fhasta").val()
        };
        cadena = JSON.stringify(exportacion);

        //Mostrar el cuadro de espera
        $("#diagInfo").dialog("open");
        //Hacer post
        $.post("ctrserologia/exportar",
        {
            exportacion: cadena
        }
        );
    });
    $("#diagInfo").dialog({
        modal: true,
        autoOpen: false,
        width: 200
    });
    $.datepicker.setDefaults( $.datepicker.regional[ "" ] );
    $("#fdesde").datepicker($.datepicker.regional[ "es" ]);
    $("#fhasta").datepicker($.datepicker.regional[ "es" ]);
</script>
