<?php $this->datepicker(); ?>
<?php
$this->headLink()->appendStylesheet($this->baseUrl() . '/themes/select2/select2.css');
$this->headScript()->appendFile($this->baseUrl() . '/themes/select2/select2.min.js')
        ->appendFile($this->baseUrl() . '/themes/select2/select2_locale_es.js');
?>

<fieldset>
    <legend>Informe Serología y validaciones</legend>
    <button class="btn btn-mini btn-inverse pull-right" style="margin-top:-50px;" id="ocultar">OCULTAR FILTROS</button>
    <button class="btn btn-mini btn-inverse pull-right" style="display:none;margin-top:-50px;" id="mostrar">MOSTRAR FILTROS</button>
    
    <div class="row-fluid">
        <div class="span10" id="frame_content">
            <?php if (sizeof($this->resultados) > 0) : ?>
                <table class="table table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th style="text-align: center;">Codigo de Donaci&oacute;n</th>
                            <?php foreach ($this->enfermedades as $enf) : ?>
                                <th style="text-align: center;"><?= $enf['descripcion']; ?></th>
                            <?php endforeach ?>
                            <th width="150" style="text-align: center;">Acciones</th>
                            <th style="text-align: center;">Validar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->resultados as $row): ?>
                            <tr>
                                <td style="text-align: center;"><span style="font-size:1.2em;" class="label label-inverse"><?= $row['don_nro']; ?></span></td>

                                <?php 
                                        
                                foreach ($row['determinacion'] as $enf): ?> 
                                    <td style="text-align: center;">
                                        <span 
                                            title="<?= "DETALLE DETERMINACINOES: " . json_encode($row['determinaciones_detalle']);?>"
                                            class="label 
                                        <?php
                                        switch ($enf['determinacion']) {
                                            case 'REACTIVO':
                                            case 'DETECTABLE':
                                            case 'INDETERMINADO':
                                            case 'NO REALIZADO':
                                                echo "label-important";
                                                break;
                                            case 'NO REACTIVO':
                                            case 'NO DETECTABLE':
                                                echo "label-success";
                                                break;
                                            case 'SIN ANALIZAR':
                                                echo "label-default";
                                                break;
                                            default:
                                                echo "label-default";
                                        }
                                        ?>">
                                                  <?= $enf['determinacion'] ?>
                                        </span>
                                    </td>
                                <?php endforeach ?>
                                <td style="text-align: center;">
                                    <?php 
                                $validado_en_produccion = $row['bloquear_serologia'];
                                    
                                    if ($validado_en_produccion != true){?>
                                    <a href="<?= $this->baseUrl() . "/banco/serologia/formulario-ingreso-manual/don_id/" . $row['don_id'] ?>"
                                       class="btn btn-danger" ><!--data-toggle="modal"-->
                                        <i class="icon-edit icon-white"></i> Editar Registro
                                    </a>
                                    <?php }else{ ?>
                                    <a href="#" role="button" class="btn"><i class="icon-ban-circle"></i></a>
                                    <?php } ?>
                                    

                                </td>
                                <td style="text-align: center;">
                                    <?php if ($row['validado']): ?>
                                        <i class="icon-check"></i>
                                    <?php else : ?>
                                        <label class=""><input name="<?= $row['id'] ?>" type="checkbox"> </label>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>

                <?= $this->paginador($this->paginas); ?>
            <?php elseif (sizeof($resultados) == 0): ?>
                <div class="alert alert-info"><b>No se han encontrado registros para su búsqueda.</b><br /> <b><?= $this->busqueda; ?></b></div>
            <?php endif; ?>
        </div>

        <div class="span2" id="frame_filtros">
            <?php if ($this->visualizando): ?>
                <h5><i class="icon-chevron-left"></i> Visualizando</h5>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-<?= ($this->dni > 0) ? 'search' : 'calendar'; ?>"></i></span>
                    <input class="input-medium" type="text" disabled="disabled" value="<?= $this->busqueda; ?>" />
                </div>
            <?php endif; ?>

            <h5 style="border-bottom:1px solid white;color:white;"><i class="icon-search icon-white"></i> Filtros</h5>
            <form method="get" action="<?= $this->baseUrl(); ?>/banco/serologia/informe">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input id="datepicker" name ="fecha" class="input-large" type="text" value="<?= $this->fecha; ?>" autocomplete="off" placeholder="Fecha"/>
                </div><br><br>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-barcode"></i></span>
                    <input name="nro" class="input-large" type="text" autocomplete="off" placeholder="Cod. Donaci&oacute;n" value="<?= $this->nro ?>"/>
                </div><br><br>
                <label for="efector_id">Efector</label>
                <select name="efector_id" id="efectores" class="input-large" style="width:100%;">
                    <option value="">Todos</option>
                    <?php foreach ($this->cache_efectores as $i => $v): ?>
                        <option value="<?= $i; ?>"><?= $v ?></option>
                    <?php endforeach; ?>
                </select>
                <br/>
                <br/>

                <label for="estado">Estado</label>
                <select name="estado" class="input-large" style="width:100%;" id="estado">
                    <option value="pendientes">Pendientes</option>
                    <option value="todos">Todos</option>
                </select>
                <link rel="stylesheet" type="text/css" href="<?= $this->baseUrl(); ?>/themes/v1/css/print.css" media="print">
                <br>
                <button class="btn btn-primary btn-inverse" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
            </form>

            <div class="row-fluid">
                <h5><i class="icon-check"></i> Seleccionados:</h5>
                <span class="badge badge-info btn-inverse" id="multiple">0</span>
            </div>
            <div class="row-fluid">
                <br />
                <button class="btn btn-primary btn-large" id="multiple-button"> Validar Seleccionados</button>
            </div>

        </div><!-- MODULO Lateral -->
    </div>
</fieldset>

<script type="text/javascript">
    $('#ocultar').click(function () {
        $('#frame_filtros').hide();
        $('#frame_content').removeClass('span10');
        $('#frame_content').addClass('span12');
        $(this).hide();
        $("#mostrar").show();
    });

    $("#mostrar").click(function () {
        $('#frame_content').removeClass('span12');
        $('#frame_content').addClass('span10');
        $("#frame_filtros").show();
        $('#ocultar').show();
        $(this).hide();
        
    });

    $(".analisis").val("");
    $(".enfermedades").val("");
    $(".ana-enf").hide();
    $("#multiple-button").hide();

    $(".enfermedades").change(function () {
        $(".ana-enf").hide();
        $(".analisis").val("");
        $(".enf-" + $(this).val()).show();
    });

    $(function () {
        $(".submit-serologia").on('click', function () {
            $(this).button('loading');
            var form = $('#form-' + $(this).data('id'));
            $.post('<?= $this->baseUrl(); ?>/banco/serologia/registrar', form.serialize(), function (d) {
                if (d.st == 'ok') {
                    location.reload();
                }
            }, 'json');
        });

    });

    $(function () {
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });
        $("#estado").val('<?= $this->estado; ?>');
        $("#efectores").val('<?= $this->efector; ?>');
        $("#efectores").select2();
    });


    /* Script para los checkboxs */
    var m = 0;
    var hemo = [];
    $(":checkbox").click(function () {
        var id;
        id = $(this).attr('name');

        if ($(this).is(':checked')) {
            $("#multiple").text(function (i, val) {
                hemo[m] = id;
                console.debug(hemo);
                m = m + 1;
                return val - (-1);
            });
        } else {
            $("#multiple").text(function (i, val) {
                var remove = id;
                hemo.splice($.inArray(remove, hemo), 1);
                m = m - 1;
                console.debug(hemo);
                return val - 1;
            });
        }
        ;
        if ($("#multiple").text() != "0") {
            $("#multiple-button").show();
        } else {
            $("#multiple-button").hide();
        }
    });
    /* fin script checkbox */

    $("#multiple-button").click(function () {
        $(this).button('loading');
        $.post('<?= $this->baseUrl(); ?>/banco/serologia/validar', {hemo: hemo}, function (d) {
            if (d.st == 'ok') {
                location.reload();
            } else {
                alert("Ha ocurrido un error inesperado");
                location.reload();
            }
        }, 'json');
    });

</script>
