<?php $this->datepicker(); ?>
<?php ?>
<fieldset>
    <legend>Visualizador de determinaciones cargadas al sistema - Area Serología</legend>
    <div class="row-fluid">
        <div class="span10">
            <?php if ($this->resultados != null) : ?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th><div class="text-center">ID</div></th>
                            <th><div class="text-center">Nro Donación</div></th>
                            <th><div class="text-center">Código determinación</div></th>
                            <th>Nombre</th>
                            <th><div class="text-center">Fecha exportación</div></th>
                            <th><div class="text-center">Fecha ingreso</div></th>
                            <th><div class="text-center">Medio de Carga</div></th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->resultados as $i): ?>
                            <?php
                            $v = (object) $i;
                            ?>
                            <tr>
                                <td><div class="text-center"><?= $v->don_id; ?></div></td>
                                <td style="text-align: center;"><label class="label label-inverse"><?= $v->nro_don ?></label></td>
                                <td><div class="text-center"><?= $v->cod_ana ?></div></td>
                                <td><?php
                                    if ($this->analisis[$v->cod_ana] == '')
                                        echo "Análisis no reconocido";
                                    else
                                        echo $this->analisis[$v->cod_ana];
                                    ?>
                                </td>
                                <td><?php
                                    if ($v->fecha_exp){
                                        echo '<div class="text-center">' . date('d-m-Y H:i:s', strtotime($v->fecha_exp)) . '</div>';
                                    }else{
                                        if($v->tipo_ingreso == 'MANUAL'){
                                            echo '<div class="text-center">   N/A </div> ';
                                        }else{
                                            echo '<div class="text-center">   ----- </div> ';
                                        }
                                        
                                    }
                                        ?>
                                </td>
                                <td><?php
                                    if ($v->fecha_imp)
                                        echo '<div class="text-center">' . date('d-m-Y H:i:s', strtotime($v->fecha_imp)) . '</div>';
                                    else
                                        echo '<div class="text-center">  ----- </div>'
                                        ?>
                                </td>
                                <td>
                                    <?php if (($v->resultado == "NO REACTIVO") || ($v->resultado == "NO DETECTABLE")) : ?>
                                        <div class="text-center"><span class="label label-success"><?= $v->resultado; ?></span></div>
                                    <?php elseif (($v->resultado == "REACTIVO") || ($v->resultado == "DETECTABLE")
                                            || ($v->resultado == "INDETERMINADO") || ($v->resultado == "NO REALIZADO")) : ?>
                                        <div class="text-center"><span class="label label-important"><?= $v->resultado; ?></span></div>                                      
                                    <?php else : ?>
                                        <div class="text-center"><span class="label label-info"><?php echo $v->resultado ?></span></div>
                                    <?php endif; ?>							
                                </td>
                                <td><?=$v->tipo_ingreso;?></td>
                            </tr>


                        <?php endforeach; ?>
                    </tbody>
                </table>	

                <?= $this->paginador($this->paginas); ?>
            <?php elseif ($this->resultados == null) : ?>
                <div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?= $this->busqueda; ?></b></div>
            <?php endif; ?>
        </div>
        <div class="span2">
            <h5 style="border-bottom: 1px solid white;color:white;"><i class="icon-search icon-white"></i> Filtros</h5>
            <form method="post" action="<?= $this->baseUrl(); ?>/banco/serologia/visualizador">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input id="datepicker" class="input-medium" name="fecha" type="text" value="<?= $this->fecha; ?>" autocomplete="off" placeholder="Fecha"/>
                </div><br><br>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-barcode"></i></span>
                    <input name="nro" class="input-medium" type="text" autocomplete="off" placeholder="Cod. Donaci&oacute;n" value="<?= $this->nro ?>"/>
                </div>

                <br />
                <div class="row-fluid" id="divestado">
                    <label for="estado">Estado</label>
                    <select name="estado" id="estado">
                        <option value="1">Pendientes</option>
                        <option value="0">Todos</option>
                        <option value="3">Descartados</option>
                        <option value="2">Producidos</option>
                    </select>
                </div><br>
                <div class="row-fluid">
                    <button class="btn btn-primary btn-inverse" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
                </div>
            </form>
        </div>

    </div>
</fieldset>

<script type="text/javascript">
    $("#divestado").hide();
    $(function () {
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });
        $("#estado").val('<?= $this->estado ?>');
    });
</script>
