<?php
	$this->datepicker();
	$this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
	$this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
	->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>
<fieldset>

	<div class="row-fluid">
		<div class="span9">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#enviar" data-toggle="tab">Env&iacute;os</a></li>
                    <li><a href="#cordoba" data-toggle="tab">C&oacute;rdoba</a></li>
                </ul>
				<div class="tab-content">
					<div class="tab-pane active" id="enviar">
					<?php if(sizeof($this->resultados) > 0) :?>
						<table class="table table-striped table-bordered table-hover table-condense" id="tabla_envio">
							<thead>
								<tr class="btn-info btn-small btn-inverse">
									<th></th>
									<th>Cod. Donaci&oacute;n</th>
									<th>Hemocomponente</th>
									<th>Peso</th>
									<th>Inmunolog&iacute;a</th>
									<th>Irradiado</th>
									<th>Extracci&oacute;n</th>
									<th>Vencimiento</th>
									<th>Detalle</th>
								</tr>
							</thead>
							<tbody>
								<?php foreach($this->resultados as $i => $v): ?>
		                            <form id="form-<?=$v['id']?>" data-id="<?=$v['id']?>" 
		                                  class="form-submit"
		                                  action="<?=$this->baseUrl();?>/banco/produccion/envios" 
		                                  method="post">
		                            <input type="hidden" name="id" value="<?=$v['id']?>"/>
									<tr>
										<td>
											<?php if ($v['estado'] == 2) : ?>
											<label class="pull-left"><input class="checkbox" id="<?=$v['id']?>" type="checkbox"> </label>	
											<?php endif;?>
										</td>
										<td><?=$v['don_nro']?></td>
                                                                                <td><?= utf8_encode($v['hem_descripcion'])?></td>
										<td>
											<input type="number" name="peso"  style="width: 40px" disabled="disabled" value="<?=$v['peso']?>">
										</td>	
										<td>
											<span class="badge"><?=$this->inmuno[$v['don_id']]->grupo.' '.$this->inmuno[$v['don_id']]->factor ?> </span>
										</td>							
										<td>
											<?php if($v['irradiado']): ?>
                                            <span class="label label-warning">S&iacute;</span>
                                            <?php else : ?>
                                            <span class="label label-info">No</span>
                                            <?php endif;?>
										</td>
										<td>
											<?=$this->nicetime($v['fh_extraccion']) ?>
										</td>
										<td>
											<?=$this->nicetime(date('Y-m-d', strtotime($v['ffin_prod'] . ' + '.$v['hem_dias_aptitud'].' days')))?>
										</td>
										<td>
								                   <a data-target="#dialog<?=$v['id'] ?>" href="#" role="button" 
                                                                                      class="btn btn-info" data-toggle="modal">
										     <i class="icon-search icon-white"></i>
										    </a>
										</td>
									</tr>
		                            </form>
									<div class="modal fade hide" aria-hidden="true" id="dialog<?=$v['id'] ?>" >
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4>Donaci&oacute;n: <?=$v['don_nro']?></h4>
												</div>
												<div class="modal-body" id="modaldetail">
													<h5>ID Producci&oacute;n: <?=$v['id']?></h5>
                                                                                                        <p>Hemocomponente: <?= utf8_encode($v['hem_descripcion'])?></p>
													<p>Fecha de extracci&oacute;n: <?=date('d-m-Y',strtotime($v['fh_extraccion'])).'  -  '.$this->nicetime($v['fh_extraccion']) ?></p>
													<p>Grupo: <strong><?=$this->inmuno[$v['don_id']]->grupo ?></strong></p>
													<p>Factor: <strong><?=$this->inmuno[$v['don_id']]->factor ?></strong></p>
													<p>Peso: <?=$v['peso']?> gramos</p>
													<p>Temperatura: <?=$v['hem_temp']?> &deg;C</p>
													<p>Detalle : <?=$v['detalle']?></p>
													<p>Fecha de vencimiento: 
														<?=date('d-m-Y H:m:s',strtotime($v['ffin_prod'] .' + '.$v['hem_dias_aptitud'].' days')); ?>
													</p>
													
													<?php if (!is_null($this->serologia[$v['don_id']])) : ?>
													<h5>Serolog&iacute;a</h5>
													<ul>
														<?php foreach (($this->serologia[$v['don_id']]) as $i => $j ): ?>
																<li class="<?=$i ?>"><?=$this->cache_serologia[$i].' : '.$j ;?></li>
														<?php endforeach; ?>
													</ul>
													<?php endif ; ?>
													
													<?php if (!is_null($this->datos_env[$v['don_id']])) : ?>
													<h5>Detalle env&iacute;o</h5>
													<ul>
														<?php foreach (($this->datos_env[$v['don_id']]) as $i => $j ): ?>
															<?php if ($i == 'efe_origen' || $i == 'efe_destino') : ?>
															<li><?=$this->cache_env_prod[$i].' : '.$this->cache_efectores[$j] ?></li>
															<?php elseif ($i == 'estado') : ?>
															<li><?=$this->cache_env_prod[$i].' : '.$this->cache_est_env_prod[$j] ?></li>
															<?php else : ?>
															<li><?=$this->cache_env_prod[$i].' : '.$j ?></li>
															<?php endif; ?>
														<?php endforeach; ?>
													</ul>
													<?php endif ; ?>
												</div>
												<div class="modal-footer">
													<?php if (!is_null($this->datos_env[$v['don_id']])) : ?>
													<a class="btn pull-left" target="_blank" 
                                                                                                           href="<?=$this->baseUrl();?>/banco/produccion/pdf-envio/id/<?=$v['env_prod_id'];?>">
                                                                                                            <i class="icon-print icon-white"></i> Imprimir</a>
													<?php endif; ?>
													<button type="button" class="btn btn-danger pull-rigth" data-dismiss="modal" >
														<i class="icon-remove icon-white"></i> Cerrar</button>
												</div>
											</div>
										</div>
									</div>
									<?php endforeach; ?>
									
							</tbody>
						</table>
		
						<?=$this->paginador($this->paginas);?>
						<?php elseif(sizeof($resultados) == 0): ?>
						<div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
						<?php endif ;?>
                        </div>
                        <div class="tab-pane" id="cordoba">
                            <div class="accordion" id="serologia">
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#serologia" href="#serologiaEnvio">
                                            Control serol&oacute;gico de origen de unidades de plasma enviadas para fraccionamiento
                                        </a>
                                    </div> 
                                    <div class="accordion-body collapse" id="serologiaEnvio">
                                        <div class="accordion-inner">
                                            campos 
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                </div>
            </div>
		</div>
		<div class="span3">
			<div>
				<h5><i class="icon-search"></i> Filtros</h5>
				<form method="post" action="<?=$this->baseUrl();?>/banco/produccion/envios">
	    			<div class="input-prepend input-append">
		    			<span class="add-on"><i class="icon-calendar"></i></span>
			    		<input id="datepicker" class="input-medium" name="fecha" type="text" value="<?=$this->fecha?>" autocomplete="off" placeholder="Fecha"/>
	    			</div>
					<div class="input-prepend input-append">
						<span class="add-on"><i class="icon-barcode"></i></span>
						<input name="nro" class="input-medium" type="text" autocomplete="off" placeholder="Cod. Donaci&oacute;n" value="<?= $this->nro?>"/>
					</div>
	
					<br />
					<div> 
						<label for="estado">Estado</label>
						<select name="estado" id="estado">
							<option value="4">Enviados</option>
							<option value="0">Todos</option>
							<option value="2" selected>Pendientes</option>
						</select>
                        <br />
                        <label for="hem_id">Hemocomponente</label>
                        <select name="hem_id" id="hem_id">
                                <option value="">Todos</option>
                        <?php foreach ($this->cache_hemo as $h => $desc): ?>
                            <?php if ($h == $this->hem_id) : ?>
                                <option value="<?=$h?>" selected><?=$desc ?></option>
                            <?php else : ?>
                                <option value="<?=$h?>" ><?=$desc ?></option>
                            <?php endif; ?>
                        <?php endforeach; ?>
                        </select>
					</div>
					<button class="btn btn-primary btn-inverse" type="submit" id="aceptar"><i class="icon-search icon-white"></i> Buscar</button>
				</form>
			</div>

			<div class="row-fluid counter">
				<h5><i class="icon-check"></i> Seleccionados:</h5>
				<span class="badge badge-info" id="multiple">0</span>
			</div>
			<div class="row-fluid">
				<div class="btn-group" data-toggle="buttons-radio" id="selenv">
				  <button type="button" class="btn btn-info btn-inverse" id="efector"> Efector</button>
				  <button type="button" class="btn btn-primary btn-inverse" id="otro"> Otro</button>
				</div>
                <div id="efe">
	                <h5>Efector</h5>
	                <select name="efe_id" id="efectores" class="input-large">
	                    <?php foreach($this->cache_efectores_reducido as $i => $v): ?>
	                        <option value="<?=$i?>"><?=$v?></option>
	                    <?php endforeach;?>
	                </select>			
	            </div>
	            <div class="row-fluid" id="otr">
					<h5>Otro</h5>
					<?=$this->formText('envotro', null, array('size' => 60, 'required' => true)) ; ?>
	            </div>
	            <div class="row-fluid">
					<h5>Observaciones</h5>
					<?=$this->formTextarea('obs', null, array('rows' => '4', 'size' => 100)) ; ?>
	            </div>
				<br />
				<button class="btn btn-inverse" id="todos"> Todos</button>
				<button class="btn btn-success" id="multiple-button"> Enviar</button>			
			</div>
	</div>
</fieldset>

<script type="text/javascript">
	$(".usuario_id").hide();
	$(".counter").hide();
	$("#efe").hide();
	$("#otr").hide();	
	$("#efectores").select2();
	
    $(function () {
        $("#datepicker").datepicker({
		    maxDate : 0,
			dateFormat : 'yy-mm-dd',
        });

        $("#estado").val("2");

        $(".informe").click(function () {
            var id = $(this).attr('id');
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/banco/produccion/verpdf',{id : id},function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
            },'json');
        }); 
        
        
		/* Script para los checkboxs */
		var j = 0;		
		var bolsas = [];
		$(":checkbox").click(function() {
			var id;
			id = $(this).attr('id');
			
			if($(this).is(':checked')){
				$("#multiple").text(function(i,val){
					bolsas[j]= id;
					j=j+1;
					return val-(-1);
				});
			}
			else {
				$("#multiple").text(function(i,val){
					var remove = id;
					bolsas.splice($.inArray(remove, bolsas),1);
					j=j-1;
					return val - 1;					
				});
			};
			if ($("#multiple").text() != "0") {
				$("#multiple-button").show();
			}
			else {
				$("#multiple-button").hide();
			}
		});  
		/* fin script checkbox */               
        $("#multiple-button").click(function () {
            $(this).button('loading');
            var obs = $("#obs").val();
            if (ef_selected) {
				var efector = $("#efectores").val();
				$.post('<?=$this->baseUrl();?>/banco/produccion/enviar',{bolsas : bolsas, efector : efector, obs : obs},function(d){
	                if(d.st == 'ok'){
                        var win = window.open('<?=$this->baseUrl();?>/banco/produccion/pdf-envio/id/'+d.id, '_blank');
                        if(win) {
                            location.reload();
                            win.focus();
                        }
                        else {
                            alert('Habilite las ventanas emergentes');
                        }
	                }
	                else if (d.st == 'vacio') {
						alert("No ha seleccionado ninguna bolsa");
						location.reload();
					}
	                else {
						alert("Ha ocurrido un error inesperado");
						location.reload();
					}
	            },'json');
			}
			else {
				var otro = $("#envotro").val();
				if (otro == '') {
					alert("Debe ingresar un destinatario");
					$(this).button('reset');
				}
				else {
					$.post('<?=$this->baseUrl();?>/banco/produccion/enviar',{bolsas : bolsas, otro : otro, obs : obs},function(d){
		                if(d.st == 'ok'){
                            var win = window.open('<?=$this->baseUrl();?>/banco/produccion/pdf-envio/id/'+d.id,'_blank');
                            if(win){
                                location.reload();   
                                win.focus();
                            }
                            else{
                                alert('Habilite las ventanas emergentes');
                            }
		                }
		                else if (d.st == 'vacio') {
							alert("No ha seleccionado ninguna bolsa");
							location.reload();
						}
		                else {
							alert("Ha ocurrido un error inesperado");
							location.reload();
						}
		            },'json');
				}
			}
        });
		/* Seleccionar todos los checkboxs */
		$("#todos").click(function(){
			if(!$(this).is(':checked'))
				return $(':checkbox').trigger('click');
		});
		
		/* enviar a efector u otro */
		var ef_selected = 0;
		$("#efector").click(function(){
			$("#efe").show();
			$("#otr").hide();
			ef_selected = 1;
		});
     
		$("#otro").click(function(){
			$("#efe").hide();
			$("#otr").show();
			ef_selected = 0;
		});     
     
    });
</script>
