<?php $this->datepicker(); ?>
<style>.table th{text-align: center;font-size: 1.2em;}</style>

<div class="row-fluid">
    <div class="span5">
        <legend><i class="icon-plus icon-white"></i> Carga manual de Hemocomponentes a produccion</legend>
        <form class="agregar" onsubmit="return false;">
            <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-barcode"></i></span>
                <input name="cod" class="input-medium filter" type="text" autocomplete="off" placeholder="Cod. Donaci&oacute;n" value="<?= $this->nro ?>"/>
            </div>
            <div class="input-prepend input-append">
                <span class="add-on"><i class=" icon-tint"></i></span>
                <select name="hemo" id="hemo">
                    <?php foreach ($this->catalogo_hemocomponentes as $hemocomponente): ?>
                        <option value="<?= $hemocomponente->hem_id; ?>"><?= $hemocomponente->hem_descripcion; ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
            <button class="btn btn-success" type="submit">
                <i class="icon-plus icon-white"></i> Agregar Hemocomponente al listado</button>
        </form>
    </div>    
    <div class="span7">

        <legend><i class="icon-search icon-white"></i> Filtros de busqueda</legend>            

        <form method="post" action="<?= $this->baseUrl(); ?>/banco/produccion/index">

            <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-calendar"></i></span>
                <input id="datepicker" class="input-medium filter" name="fecha" type="text" value="<?= $this->fecha; ?>" autocomplete="off" placeholder="Fecha"/>
            </div>

            <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-barcode"></i></span>
                <input name="nro" class="input-medium filter" type="text" autocomplete="off" placeholder="Cod. Donaci&oacute;n" value="<?= $this->nro ?>"/>
            </div>

            <div class="input-prepend input-append">
                <span class="add-on"> Estado</span>
                <select name="estado" id="estado">
                    <option value="1">Pendientes</option>
                    <option value="0">Todos</option>
                    <option value="3">Descartados</option>
                    <option value="2">Producidos</option>
                </select>
            </div>

            <div class="input-prepend input-append">
                <span class="add-on"><i class=" icon-tint"></i></span>
                <select name="hem_id" id="hem_id">
                    <option value="">Todos</option>
                    <?php foreach ($this->catalogo_hemocomponentes as $hemocomponente): ?>
                        <?php if ($hemocomponente->hem_id == $this->hem_id) : ?>
                            <option value="<?= $hemocomponente->hem_id ?>" selected><?= $hemocomponente->hem_descripcion ?></option>
                        <?php else : ?>
                            <option value="<?= $hemocomponente->hem_id ?>" ><?= $hemocomponente->hem_descripcion ?></option>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </select>
            </div>

            <button class="btn btn-primary btn-inverse" type="submit">
                <i class="icon-search icon-white"></i> Buscar</button>    
        </form>
    </div>
</div>
<br>

<div class="row-fluid">
    <div class="span12">
        <legend> Listado de trabajo en Producción</legend>
        <?php if (sizeof($this->resultados) > 0) : ?>            
            <table class="table table-striped table-bordered table-hover table-condense">
                <thead>
                    <tr class="btn-info btn-small btn-inverse table-striped">
                        <th width="120">Cod. Donaci&oacute;n</th>
                        <th>Hemocomponente</th>
                        <th style="width:200px;">Resultado</th>
                        <th style="width:100px;">Valor [ml]</th>
                        <th>Observaciones</th>
                        <th style="width: 100px;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->resultados as $i => $v): ?>
                    <form id="form-<?= $v['id'] ?>" data-id="<?= $v['id'] ?>" 
                          class="form-submit"
                          action="<?= $this->baseUrl(); ?>/banco/produccion/index" 
                          method="post">
                        <input type="hidden" name="id" value="<?= $v['id'] ?>"/>
                        <input type="hidden" name="don_nro" value="<?= $v['don_nro'] ?>"/>
                        <input type="hidden" name="hemocomponente_id" value="<?= $v['idhemocomponente'] ?>"/>
                        <tr>    
                            <td><pre><?= $v['don_nro']; ?></pre></td>
                            <td style="vertical-align: middle;"><span style="font-size:1.4em;"><?= $v['hem_descripcion']; ?></span></td>
                            <td>
                                <?php if ($v['estado'] == 2) : ?>
                                    <span class="label label-success">Producido</span>
                                <?php elseif ($v['estado'] == 3) : ?>
                                    <span class="label label-important">Descartado</span>
                                <?php else : ?>
                                    <select name="estado" style="width: 95%;">
                                        <option value="2">Producido</option>
                                        <option value="3">Descartado</option>
                                    </select>
                                <?php endif; ?>
                            </td>
                            <td>
                                <input type="number" name="peso" min="0" value="<?= $v['hem_valor_referencia']; ?>" style="width: 85%;" 
                                <?php if ($v['estado'] != 1) : ?>
                                           disabled="disabled"
                                       <?php endif; ?>
                                       value="<?= $v['peso'] ?>">
                            </td>								
                            <td>
                                <input type="text" name="detalle" maxlength="30" style="width: 95%;" 
                                <?php if ($v['estado'] != 1) : ?>
                                           disabled="disabled"
                                       <?php endif; ?>
                                       value="<?= $this->escape($v['detalle']); ?>" id="detalle">
                            </td>
                            <td>
                                <?php if ($v['estado'] == 1) : ?>
                                    <button type="button" class="btn btn-success submit" 
                                            title="Grabar"
                                            data-loading-text="Procesando..." data-id="<?= $v['id'] ?>">
                                        <i class="icon-ok icon-white"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger eliminar-row" 

                                            title="Eliminar"                                            
                                            data-loading-text="Procesando..." data-id="<?= $v['id'] ?>">
                                        <i class="icon-remove icon-white"></i></button>
                                <?php endif; ?>
                            </td>
                        </tr>
                    </form>
                <?php endforeach; ?>

                </tbody>
            </table>

            <?= $this->paginador($this->paginas); ?>
        <?php elseif (sizeof($this->resultados) == 0): ?>
            <div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?= $this->busqueda; ?></b></div>
            <?php endif; ?>
    </div>
</div>


<script type="text/javascript">
    $("#estado").val('<?= $this->estado ?>');
    $("#hem_id").val('<?= $this->hem ?>');

    $(".agregar").submit(function () {
        if ($("input[name='cod']").val() !== "") {
            $(this).find('button[type=submit]');
            cortina(true, "Cargando Hemocomponente al plan de producción.")
            $.post('<?= $this->baseUrl(); ?>/banco/produccion/agregar-hemo', $(this).serialize(), function (d) {
                if (d.st == 'ok') {
                    cortina(false, "");
                    alert('Hemocomponente agregado correctamente.');
                    location.reload();
                } else if (d.st == 'noesta') {
                    cortina(false, "");
                    alert('Hemocomponente no disponible');
                    //location.reload();
                } else if (d.st == 'nodon') {
                    alert('Donacion inexistente');
                    location.reload();
                } else if (d.st == 'nohay') {
                    cortina(false, "");
                    alert('No existen hemocomponentes disponibles para esa donacion');
                    //location.reload();
                } else {
                    alert('Ha ocurrido un error inesperado');
                    location.reload();
                }
            }, 'json');
        }else{
            alert("Debe ingresar un Codigo de Donacion Valido para proceder"); 
        }
    });

    $(function () {
        $(':input:visible:not(input[class*=filter]):eq(1)').focus();

        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });

        $("#estado").val('<?= $this->estado ?>');

        $(".submit").click(function () {
            var id = $(this).data('id')
            var data = $('#form-' + id).serialize();
            $(this).button('loading');
            $.post('<?= $this->baseUrl(); ?>/banco/produccion/confirmar', data, function (d) {
                if (d.st == 'ok') {
                    location.reload();
                } else if (d.st == 'tempnok') {//Control Temperatura deprecado.
                    alert('Temperatura fuera del rango permitido. Debe descartar el hemocomponente.');
                    location.reload();
                } else if (d.st == 'pesonok') {
                    alert('Peso fuera del rango permitido');
                    location.reload();
                }
            }, 'json');
        });

        $(".eliminar-row").click(function () {
            var id = $(this).data('id')
            var data = $('#form-' + id).serialize();
            cortina(true, 'Eliminando Hemocomponente del plan de producción');
            $.post('<?= $this->baseUrl(); ?>/banco/produccion/eliminar-row', data, function (d) {
                if (d.st == 'ok') {
                    location.reload();
                } else if (d.st == 'nok') {
                    cortina(false, "");
                    alert('No se puedo eliminar el registro.\nMensaje:' + d.mensaje);
                }
            }, 'json');
        });
    });
</script>
