<?php $this->datepicker(); ?>

<legend> Informe de Producci&oacute;n y habilitación</legend>

<div class="row-fluid">
    <div class="span10">
        <?php if ($this->resultados != null) : ?>
            <table class="table table-striped table-bordered table-hover table-condense">
                <thead>
                    <tr class="btn-info btn-small btn-inverse">
                        <th>Cod. donaci&oacute;n</th>
                        <th>Hemocomponente</th>
                        <th>Valor [ml]</th>
                        <th>Serolog&iacute;a</th>
                        <th>Inmunolog&iacute;a</th>
                        <th>Observaciones</th>
                        <th>Extracci&oacute;n</th>
                        <th>Vencimiento</th>
                        <th>Detalle</th>
                        <th>Habilitar</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->resultados as $row): ?>

                    <form id="form-<?= $row['detalle_produccion_id'] ?>" data-id="<?= $row['detalle_produccion_id'] ?>" 
                          class="form-submit"
                          action="<?= $this->baseUrl(); ?>/banco/produccion/informe" 
                          method="post">
                        <input type="hidden" name="id" value="<?= $row['detalle_produccion_id'] ?>"/>
                        <tr>
                            <td><?= $row['don_nro']; ?></td>
                            <td><?= utf8_encode($row['hem_descripcion']); ?></td>
                            <td><pre><?= $row['peso']; ?></pre></td>	
                            <td>                            
                                <?php
                                $conformidad_serologica = $row['serologia'] && ($row['serologia_validado'] == true);

                                if ($conformidad_serologica == true) :
                                    ?>

                                    <span class="label label-success">APROBADA</span>

                                <?php else : ?>

                                    <span class="label label-important">NO APROBADA</span>
                                <?php endif; ?>
                            </td>
                            <td>
                                <?php if (!is_null($row['inmunologia'])) : ?> 
                                    <span class="label label-success">
                                        <?=
                                        $row['inmunologia']['grupo'] . ' '
                                        . $row['inmunologia']['factor']
                                        ?>
                                    </span>
                                <?php else : ?>
                                    <span class="label label-important">NO ANALIZADA</span>
                                <?php endif; ?>
                            </td>							
                            <td>
                                <input type="text" name="detalle"  style="width: 200px" disabled="disabled" value="<?= $row['detalle'] ?>" id="detalle">
                            </td>
                            <td>
                                <?php echo date('d-m-Y', strtotime($row['fh_extraccion'])) ?>
                            </td>
                            <td>
                                <?php
                                echo date('d-m-Y', strtotime($row['ffin_prod'] . ' + ' . $row['hem_dias_aptitud'] . ' days'));
                                ?>
                            </td>
                            <td>
                                <?php if ($row['validado']) : ?>

                                    <a data-target="#dialog<?php echo $row['detalle_produccion_id'] ?>" href="#" 
                                       role="button" class="btn btn-info" data-toggle="modal">
                                        <i class="icon-search"></i> Detalle Rapido
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-success" target="_blank" 
                                           href="<?= $this->baseUrl(); ?>/banco/produccion/verpdf/id/<?= $row['detalle_produccion_id']; ?>">
                                            <i class="icon icon-barcode"> </i>  Imprimir Etiquetón</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-danger btn_descartar" data-hemo_id='<?=$row['detalle_produccion_id'];?>'><i class="icon icon-fire"></i> Descartar producto</button>
                                    <?php
                                elseif (($conformidad_serologica == true) && !is_null($row['inmunologia'])):
                                    ?>
                                    <button class="btn btn-danger btn_descartar" data-hemo_id='<?=$row['detalle_produccion_id'];?>'><i class="icon icon-fire"></i> Descartar producto</button>
                                <?php else : ?>
                                    <a data-target="#dialog<?php echo $row['detalle_produccion_id'] ?>" href="#" 
                                       role="button" class="btn btn-info" data-toggle="modal">
                                        <i class="icon-search"></i> Detalle Rapido
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-danger btn_descartar" data-hemo_id='<?=$row['detalle_produccion_id'];?>'><i class="icon icon-fire"></i> Descartar producto</button>
                                <?php endif; ?>

                            </td>
                            <td>
                                <?php if ($row['validado']) : ?>
                                    <i class="icon-ok"></i>
                                    <?php
                                elseif (($conformidad_serologica == true) && (!is_null($row['don_id'])) && (!is_null($row['inmunologia']))):
                                    ?>
                                    <label class="pull-left"><input class="checkbox" id="<?php echo $row['detalle_produccion_id'] ?>" type="checkbox"> </label>	
                                <?php else : ?>
                                    <label class="label label-important"><i class="icon-remove icon-white"> </i> NO CONFORME</label>
                                <?php endif; ?>
                            </td>
                        </tr>
                    </form>
                    <!-- ===========================================================================
                                       VENTANA MODAL
                    ============================================================================== -->
                    <div class="modal fade hide" aria-hidden="true" id="dialog<?= $row['detalle_produccion_id'] ?>" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header alert-info">
                                    <h4 style="color:white">Donaci&oacute;n: <?= $row['don_nro'] ?></h4>
                                </div>
                                <div class="modal-body" id="modaldetail">
                                    <h5>ID Producci&oacute;n: <?= $row['detalle_produccion_id'] ?></h5>
                                    <p>Hemocomponente: <?= utf8_encode($row['hem_descripcion']); ?></p>
                                    <p>Fecha de extracci&oacute;n: <?= date('d-m-Y', strtotime($row['fh_extraccion'])) . '  -  ' . $this->nicetime($row['fh_extraccion']) ?></p>
                                    <p>ABO: <strong><?= $row['inmunologia']['grupo'] ?></strong></p>
                                    <p>Rh: <strong><?= $row['inmunologia']['factor'] ?></strong></p>
                                    <p>Peso: <?php echo $row['peso'] ?> gramos</p>
                                    <p>Temperatura: <?php echo $row['hem_temp'] ?> &deg;C</p>
                                    <p>Detalle : <?php echo $row['detalle'] ?></p>
                                    <p>Fecha de vencimiento: 
                                        <?= date('d-m-Y H:m:s', strtotime($row['ffin_prod'] . ' + ' . $row['hem_dias_aptitud'] . ' days')); ?>
                                    </p>

                                    <?php if (!is_null($row['serologia'])) : ?>
                                        <h5>Serolog&iacute;a</h5>
                                        <ul>
                                            <?php foreach ($row['serologia_detalle'] as $i => $j): ?>

                                                <li class="<?= $i ?>">
                                                    <?php
                                                    echo $this->enfermedades[$j->enfermedades_id] . ' : ';
                                                    if (($j->determinacion == 'REACTIVO') || ($j->determinacion == 'DETECTABLE') || ($j->determinacion == 'INDETERMINADO') || ($j->determinacion == 'NO REALIZADO')) {
                                                        echo "<span class='label label-important'>" . $j->determinacion . "</span>";
                                                    } else {
                                                        echo "<span class='label label-default'>" . $j->determinacion . "</span>";
                                                    }
                                                    ?></li>
                                                <?php endforeach; ?>
                                        </ul>
                                        <?php endif; ?>
                                </div>
                                <div class="modal-footer">                                    
        <?php if ($row['validado']) : ?>
                                        <a class="btn btn-info pull-left" target="_blank" 
                                           href="<?= $this->baseUrl(); ?>/banco/produccion/verpdf/id/<?= $row['detalle_produccion_id']; ?>">
                                            <i class="icon-print icon-white"></i> Imprimir Etiqueta</a>
        <?php endif; ?>
                                    <button type="button" class="btn btn-danger pull-rigth" data-dismiss="modal" >
                                        <i class="icon-remove icon-white"></i> Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
    <?php endforeach;
    ?>

                </tbody>
            </table>

    <?= $this->paginador($this->paginas); ?>
        <?php elseif ($this->resultados == NULL): ?>
            <div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?= $this->busqueda; ?></b></div>
        <?php endif; ?>
    </div>

    <div class="span2">
        <div class="row-fluid">
            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="post" action="<?= $this->baseUrl(); ?>/banco/produccion/informe">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input id="datepicker" class="input-medium" name="fecha" type="text" value="<?= $this->fecha; ?>" autocomplete="off" placeholder="Fecha"/>
                </div>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-barcode"></i></span>
                    <input name="nro" class="input-medium" type="text" autocomplete="off" placeholder="Cod. Donaci&oacute;n" value="<?= $this->nro ?>"/>
                </div>

                <br />
                <div style="display: none;"> 
                    <label for="estado">Estado</label>
                    <select name="estado" id="estado">
                        <option value="1">Pendientes</option>
                        <option value="0">Todos</option>
                        <option value="3">Descartados</option>
                        <option value="2" selected>Producidos</option>
                    </select>
                </div>
                <br />
                <label for="hem_id">Hemocomponente</label>
                <select name="hem_id" id="hem_id" class="input-medium">
                    <option value="">Todos</option>
<?php foreach ($this->cache_hemo as $h => $desc): ?>
                        <?php if ($h == $this->hem_id) : ?>
                            <option value="<?= $h ?>" selected><?= $desc ?></option>
                        <?php else : ?>
                            <option value="<?= $h ?>" ><?= $desc ?></option>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </select>
                <br />
                <button class="btn btn-primary btn-inverse" type="submit" id="aceptar"><i class="icon-search icon-white"></i> Buscar</button>
            </form>
        </div>
        <div class="row-fluid">
            <h5><i class="icon-check"></i> Seleccionados:</h5>
            <span class="badge badge-info btn-inverse" id="multiple">0</span>
        </div>
        <div class="row-fluid">
            <br />
            <button class="btn btn-inverse" id="multiple-button"> Habilitar</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(this).closest('.span10').find('input[type=number]').focus();
    });

    $(".usuario_id").hide();
    $("#multiple-button").hide();
    $(".validado").hide();
    $(".usu_id_valida").hide();
    $("#hem_id").val('<?= $this->hem ?>');

    $(function () {
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });

        $("#estado").val("2");
        $(".submit").click(function () {
            var id = $(this).data('id')
            var data = $('#form-' + id).serialize();
            $(this).button('loading');
            $.post('<?= $this->baseUrl(); ?>/banco/produccion/confirmar', data, function (d) {
                if (d.st == 'ok') {
                    location.reload();
                } else if (d.st == 'tempnok') {
                    alert('Temperatura fuera del rango permitido');
                    location.reload();
                } else if (d.st == 'pesonok') {
                    alert('Peso fuera del rango permitido');
                    location.reload();
                }
            }, 'json');
        });
        $(".informe").click(function () {
            var id = $(this).attr('id');
            $(this).button('loading');
            $.post('<?= $this->baseUrl(); ?>/banco/produccion/verpdf', {id: id}, function (d) {
                if (d.st == 'ok') {
                    location.reload();
                }
            }, 'json');
        });

        /* Script para los checkboxs */
        var j = 0;
        var hemo = [];
        $(":checkbox").click(function () {
            var id;
            id = $(this).attr('id');

            if ($(this).is(':checked')) {
                $("#multiple").text(function (i, val) {
                    hemo[j] = id;
                    console.debug(hemo);
                    j = j + 1;
                    return val - (-1);
                });
            } else {
                $("#multiple").text(function (i, val) {
                    var remove = id;
                    hemo.splice($.inArray(remove, hemo), 1);
                    j = j - 1;
                    console.debug(hemo);
                    return val - 1;
                });
            }
            ;
            if ($("#multiple").text() != "0") {
                $("#multiple-button").show();
            } else {
                $("#multiple-button").hide();
            }
        });
        /* fin script checkbox */
        $("#multiple-button").click(function () {
            $(this).button('loading');
            $.post('<?= $this->baseUrl(); ?>/banco/produccion/validar', {hemo: hemo}, function (d) {
                if (d.st == 'ok') {
                    location.reload();
                } else {
                    alert("Ha ocurrido un error inesperado");
                    location.reload();
                }
            }, 'json');
        });

        $(".btn_descartar").click(function (e) {
            e.preventDefault();
            cortina(true, "Procesando el descarte de la unidad.");
            var id = $(this).data('hemo_id');
            if (confirm('Usted esta a punto de descartar una unidad. ¿Confirma la acción de descarte?')) {
                $.post('<?= $this->baseUrl(); ?>/banco/produccion/descartar/id/' + id, null, function (d) {
                    if (d.st == 'ok') {
                        location.reload();
                    } else if (d.st == 'nok') {
                        cortina(false, "");
                        alert('Ha ocurrido un error inesperado');
                        location.reload();
                    }
                }, 'json');
            }else{
                        cortina(false, "");
            }
        });

    });
</script>
