<?php $this->datepicker(); ?>

<fieldset>
	<legend> Informe de Stock</legend>

	<div class="row-fluid">
		<div class="span9">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li onclick="$('#filtroHem').hide();" class="active"><a href="#stock" data-toggle="tab"><i class="icon-inbox"></i> Stock</a></li>
					<li onclick="$('#filtroHem').show();"><a href="#detalle" data-toggle="tab"><i class="icon-list"></i> Detalle</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="stock">
				        <table class="table table-striped table-bordered table-hover table-condense">
				          <thead>
				            <tr class="btn-info btn-small btn-inverse">
				              <th>Hemocomponente</th>
				              <th width="100px;">Stock Actual</th>
				            </tr>
				          </thead>
				          <tbody>
				            <?php foreach($this->hemocomponentes as $i => $v): ?>
				              <tr>
				                    <td><?php echo $v; ?></td>
				                    <td align='center'>
				                        <span class="badge badge-info pull-right btn-inverse">
				                            <?php if ($this->stock[$i] != null) :?>
				                                <?=$this->stock[$i] ?>
				                            <?php else : ?>
				                                0
				                            <?php endif; ?>
				                        </span>
				                    </td>
				              </tr>
				            <?php endforeach; ?>
				          </tbody>
				        </table>

					</div>
					<div class="tab-pane" id="detalle">
					<?php if(sizeof($this->resultados) > 0) :?>
					<table class="table table-striped table-bordered table-hover table-condense">
						<thead>
							<tr class="btn-info btn-small btn-inverse">
                                <th width="90">C&oacute;digo</th>
								<th>Hemocomponente</th>
								<th>Peso</th>
								<th>Inmunolog&iacute;a</th>
								<th>Observaciones</th>
								<th>Extracci&oacute;n</th>
								<th>Vencimiento</th>
                                <th>Irradiada</th>
								<th>Detalle</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->resultados as $i => $v): ?>
	                            <form id="form-<?=$v['id']?>" data-id="<?=$v['id']?>" 
	                                  class="form-submit"
	                                  action="<?=$this->baseUrl();?>/banco/produccion/stock" 
	                                  method="post">
	                            <input type="hidden" name="id" value="<?=$v['id']?>"/>
								<tr>
                                    <td><?=$v['don_nro'];?></td>
                                    <td><?= utf8_encode($v['hem_descripcion']);?></td>
									<td>
										<input type="number" name="peso"  style="width: 40px" disabled="disabled" value="<?=$v['peso'];?>">
									</td>	
									<td>
										<span class="badge">
                                            <?=$this->inmuno[$v['don_id']]->grupo.' '.$this->inmuno[$v['don_id']]->factor?>
                                        </span>
									</td>							
									<td>
										<input type="text" name="detalle" style="width: 200px" disabled="disabled" value="<?=$this->escape($v['detalle'])?>" id="detalle">
									</td>
									<td>
										<?=$this->nicetime($v['fh_extraccion'])?>
									</td>
									<td>
										<?=$this->nicetime(date('Y-m-d', strtotime($v['ffin_prod'] . ' + '.$v['hem_dias_aptitud'].' days')));?>
									</td>
                                    <td>
                                    <?php if ($v['irradiado'] == 1) : ?>
                                        <i class="icon-ok"></i>
                                    <?php else : ?>
                                        <label class="pull-left"><input class="checkbox" id="<?=$v['id']?>" type="checkbox"> </label> 
                                    <?php endif; ?>
                                    </td>
									<td>
                                                                              <a data-target="#dialog<?=$v['id'] ?>" href="#" role="button" 
                                                                                 class="btn btn-info" data-toggle="modal">
										<i class="icon-search icon-white"></i>
									      </a>
									</td>
								</tr>
	                            </form>
								<div class="modal fade hide" aria-hidden="true" id="dialog<?=$v['id'] ?>" >
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header alert-info">
												<h4 style="color: white">Donaci&oacute;n: <?=$v['don_nro']?></h4>
											</div>
											<div class="modal-body" id="modaldetail">
												<p>Hemocomponente: <?= utf8_encode( $v['hem_descripcion']) ;?></p>
												<p>Fecha de extracci&oacute;n: <?=date('d-m-Y',strtotime($v['fh_extraccion'])) ?></p>
                                                <p>Fecha de vencimiento: 
													<?=date('d-m-Y', strtotime($v['ffin_prod'] .' + '.$v['hem_dias_aptitud'].' days')); ?>
												</p>
												<p>Grupo: <strong><?=$this->inmuno[$v['don_id']]->grupo ?></strong></p>
												<p>Factor: <strong><?=$this->inmuno[$v['don_id']]->factor ?></strong></p>
												<p>Peso: <?=$v['peso']?> gramos</p>
												<p>Temperatura: <?=$v['hem_temp']?> &deg;C</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-danger pull-rigth" data-dismiss="modal" >
													<i class="icon-remove icon-white"></i> Cerrar</button>
											</div>
										</div>
									</div>
								</div>
								<?php endforeach; ?>
								
						</tbody>
					</table>
					
					<?=$this->paginador($this->paginas);?>
					<?php elseif(sizeof($resultados) == 0): ?>
					<div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
					<?php endif ;?>
					</div>
				</div>
			</div>		
		</div>

		<div class="span3">
			<h5><i class="icon-search"></i> Filtro</h5>
			<form id="filtro" method="post" action="<?=$this->baseUrl();?>/banco/produccion/stock">
				<label>ABO</label>
				<select name="grupo" id="grupo">
                    <option value="">Todos</option>
					<option value="AB">AB</option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="0">0</option>
					<option value="" hidden></option>													
				</select>
				<label>Rh</label>
				<select name="factor" id="factor">
                    <option value="">Todos</option>
					<option value="+">+</option>
					<option value="-">-</option>
					<option value="" hidden></option>
				</select>
                <br />
                <div class="row-fluid" id="filtroHem">
                    <label for="hem_id">Hemocomponente</label>
                    <select name="hem_id" id="hem_id" >
                    <option value="">Todos</option>
                    <?php foreach ($this->cache_hemo as $h => $desc): ?>
                        <?php if ($h == $this->hem_id) : ?>
                            <option value="<?=$h?>" selected><?=$desc ?></option>
                        <?php else : ?>
                            <option value="<?=$h?>" ><?=$desc ?></option>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    </select>
                </div>
                <br />
			    
                <div style="display: none;">
                    <input type="text" name="tab" id="tab" value="index">
                </div>
	
				<div style="display: none;"> 
					<label for="estado">Estado</label>
					<select name="estado" id="estado">
						<option value="1">Pendientes</option>
						<option value="0">Todos</option>
						<option value="3">Descartados</option>
						<option value="2" selected>Producidos</option>
					</select>
				</div>
				<div class="row-fluid">
					<button class="btn btn-primary btn-inverse" type="submit" id="aceptar"><i class="icon-search icon-white"></i> Buscar</button>
					<button class="btn btn-info btn-inverse" id="allgroups">Todos</button>
				</div>
                <div class="row-fluid">
                    <h5><i class="icon-check"></i> Seleccionados:</h5>
                    <span class="badge badge-info btn-inverse" id="multiple">0</span>
                </div>
                <div class="row-fluid">
                    <br />
                    <button class="btn btn-warning" id="multiple-button"> Irradiar Seleccionados</button>
                </div>

			</form>
		</div>
	</div>
</fieldset>

<script type="text/javascript">
    $("#multiple-button").hide();
	$(".usuario_id").hide();
    $("#filtroHem").hide(); 	
	$("#allgroups").click(function(){
		$("#factor").val('');
		$("#grupo").val('');
		$("#filtro").submit();
	});
	
    $("#grupo").val('<?= $this->grupo?>');
    $("#factor").val('<?= $this->factor?>');


    $(function () {
        $("#datepicker").datepicker({
		    maxDate : 0,
			dateFormat : 'yy-mm-dd',
        });

        $("#estado").val("2");
        $(".submit").click(function () {
            var id = $(this).data('id')
            var data = $('#form-' + id).serialize();
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/banco/produccion/confirmar',data,function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'tempnok') {
					alert('Temperatura fuera del rango permitido');
					location.reload();
				}
				else if (d.st == 'pesonok'){
					alert('Peso fuera del rango permitido');
					location.reload();
				}
            },'json');
        });    

        /* Script para los checkboxs */
        var j = 0;             
        var irrad = [];
        $(":checkbox").click(function() {
            var id;
            id = $(this).attr('id');
               
            if($(this).is(':checked')){
                $("#multiple").text(function(i,val){
                    irrad[j]= id;
                    console.debug(irrad);
                    j=j+1;
                    return val-(-1);
                });
            }
            else {
                $("#multiple").text(function(i,val){
                    var remove = id;
                    irrad.splice($.inArray(remove, irrad),1);
                    j=j-1;
                    console.debug(irrad);
                    return val - 1;                                 
                });
            };
            if ($("#multiple").text() != "0") {
                $("#multiple-button").show();
            }
            else {
                $("#multiple-button").hide();
            }
        }); 
        /* fin script checkbox */  
        $("#multiple-button").click(function () {
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/banco/produccion/irradiar/irrad/'+irrad,function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else {
                    alert("Ha ocurrido un error inesperado");
                    location.reload();
                }
            },'json');
        });
    });
</script>
