<?php $this->datepicker();
	  $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
	  $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
	  ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
 ?>

<fieldset>
	<legend> Informe donaciones</legend>

	<div class="row-fluid">
		<div class="span9">
				<?php foreach($this->resultados as $i => $v): ?>
							<div class="modal fade hide" aria-hidden="true" id="dialog<?=$v['don_nro']?>" >
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header alert-error">
											<h4>Donaci&oacute;n: <?=$v['don_nro']?></h4>
										</div>
										<div class="modal-body" id="modaldetail">
											<h5>Datos del paciente</h5>
											<p>Nombre y apellido: <?=$v['per_nombres'].' '.$v['per_apellido']?></p>
											<p>Tipo y n&uacute;mero de documento: <?=$this->tipo_doc[$this->personas[$i]->CodTipDocumento].' '.$this->personas[$i]->NroDocumento;?></p>
											<p>Fecha de nacimiento: <?=date('d-m-Y', strtotime($v['per_fnac']));?></p>
											<p>Nacionalidad: <?=$this->personas[$i]->paisNacimiento ?></p>
											<span>Provincia: <?=$this->provincias[$this->personas[$i]->CodProvincia] ?></span>
											<?php if ($this->personas[$i]->CodProvincia == 82) : ?>
											    <span>  -  Localidad: <?=$this->localidades[$this->personas[$i]->ClaveLocalidad] ?></span>
                                                <p></p>
											<?php endif; ?>
                                            
											<p>Direcci&oacute;n: <?=$this->personas[$i]->Calle.' '.$this->personas[$i]->Numero?></p>
											<p>Correo electr&oacute;nico: <?=$this->personas[$i]->email?></p>
                                            <span>Tel&eacute;fono: <?=$this->personas[$i]->Telefono?></span>
                                            <span> --  Celular: <?=$this->personas[$i]->celular?> </span>
                                            <p></p>
                                            <p>Serolog&iacute;a: 
                                            <?php if ((!is_null($this->serologia[$v['don_id']]))) : ?>
                                                <?php if (in_array("Reactivo", $this->serologia[$v['don_id']]->toArray())) : ?>
                                                    <span class="label label-important">Reactiva</span>
                                                <?php elseif (in_array("Sin Determinar", $this->serologia[$v['don_id']]->toArray())) : ?>
                                                    <span class="label label-warning">Sin Determinar</span>
                                                <?php elseif ($this->serologia[$v['don_id']]['validado'] == 0) : ?>
                                                    <span class="label label-info">No validada</span>
                                                <?php else : ?>
                                                    <span class="label label-success">No reactiva</span>
                                                <?php endif; ?>
                                            <?php else : ?>
                                                <span class="label label-warning">No analizada</span>
                                            <?php endif; ?>
                                            Inmunolog&iacute;a: 
                                            <?php if (!is_null($this->inmuno[$v['don_id']])) : ?>  
                                                <span class="label label-success"><?=$this->inmuno[$v['don_id']]->grupo.' '.$this->inmuno[$v['don_id']]->factor?></span>
                                            <?php else : ?>
                                                <span class="label label-warning">No analizada</span>
                                            <?php endif ; ?>

                                            </p>
											<h5>Hemocomponentes producidos</h5>
											<table class="table table-striped table-bordered table-hover table-condense">
												<thead>
													<tr>
														<th>Nombre</th>
														<th>Estado</th>
														<th width="65">Fecha producci&oacute;n</th>
                                                        <th>Destino</th>
                                                        <th width="65">Fecha env&iacute;o</th>
													</tr>
												</thead>
												<tbody>
												<?php foreach ($this->producidos[$i] as $p => $q) :?>
													<tr>
														<td><?=$this->cache_hemo[$q['idhemocomponente']] ?></td>
														<td><?=$this->estados_seguimiento_prod[$q['estado']] ?></td>
														<td>
                                                            <?php if ($q['ffin_prod']) : ?>
                                                                <?=date('d-m-Y', strtotime($q['ffin_prod'])) ?>
                                                            <?php else : ?>
                                                                ---
                                                            <?php endif?>
                                                        </td>
                                                        <td><?=$q['efe_destino']?></td>
                                                        <td>
                                                            <?php if ($q['fecha_env']): ?>
                                                                <?=date('d-m-Y', strtotime($q['fecha_env'])) ?>
                                                            <?php else : ?>
                                                                ---
                                                            <?php endif?>
                                                        </td>
													</tr>
												<?php endforeach; ?>	
												</tbody>
											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn pull-rigth" data-dismiss="modal" >
												<i class="icon-remove"></i> Cerrar</button>
										</div>
									</div>
								</div>
							</div>
					<?php endforeach; ?>		

			<?php if(sizeof($this->resultados) > 0) :?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
							<th width="120">Cod. Donaci&oacute;n</th>
							<th>Cod. Preimpreso</th>
							<th>Efector</th>
							<th>Fecha extracci&oacute;n</th>
							<th>Observaciones</th>
							<th>Detalle</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v): ?>
							<tr>
								<td><?=$v['don_nro'];?></td>
								<td><?=$v['cod_muni'];?></td>
								<td><?=$this->cache_efectores[$v['efe_id']];?></td>
								<td><center><?=date('d-m-Y',strtotime($v['don_fh_extraccion']));?></center></td>
								<td><?=$v['observaciones'];?></td>								
								<td>
									<a data-target="#dialog<?=$v['don_nro'] ?>" href="#" role="button" class="btn" data-toggle="modal">
									<i class="icon-edit"></i>								
								</td>
							</tr>
						<?php endforeach; ?>
					</tbody>
				</table>

				<?=$this->paginador($this->paginas);?>
				<?php elseif(sizeof($resultados) == 0): ?>
				    <div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?='De '.date('d-m-Y',strtotime($this->fechaDesde)).' a '.date('d-m-Y',strtotime($this->fechaHasta));?></b></div>
				<?php endif ;?>
		</div>

		<div class="span3">
			<h5><i class="icon-search"></i> Filtros</h5>
			<form method="post" id="formulario" action="<?=$this->baseUrl();?>/banco/informes/pacientes">

				<div class="input-prepend input-append">
					<span class="add-on"><i class="icon-barcode"></i></span>
					<input name="nro" class="input-medium" type="text" autocomplete="off" placeholder="Cod. Donaci&oacute;n" value="<?= $this->nro?>"/>
				</div>
				<div class="input-prepend input-append">
					<span class="add-on"><i class="icon-barcode"></i></span>
					<input name="doc" class="input-medium" type="text" autocomplete="off" placeholder="Documento" value="<?= $this->doc?>"/>
				</div>
    			<!-- fecha desde hasta -->
    			<h5>Fecha</h5>
    			<div class="input-prepend input-append">
                    <h6>Desde : </h6>
					<span class="add-on"><i class="icon-calendar"></i></span>
					<input placeholder="Desde" class="input-medium" type="text" id="from" name="from" value="<?=date('d-m-Y',strtotime($this->fechaDesde))?>">
                    <h6>Hasta : </h6>
					<span class="add-on"><i class="icon-calendar"></i></span>
					<input placeholder="Hasta" class="input-medium" type="text" id="to" name="to" value="<?=date('d-m-Y',strtotime($this->fechaHasta))?>">
    			</div>
       			<!-- fin desde hasta --> 			

				<br />
                <div id="efe">
	                <h5>Efector</h5>
	                <select name="efe_id" id="efectores" class="input-large">
	                    <?php foreach($this->cache_efectores_reducido as $i => $v): ?>
	                        <option value="<?=$i?>"><?=$v?></option>
	                    <?php endforeach;?>
	                </select>			
	            </div>
				<br />
				<label for="estado">Estado</label>
				<select name="estado" id="estado">
					<option value="0">Todos</option>
					<option value="1">Pendientes</option>
					<option value="3">Descartados</option>
					<option value="2">Producidos</option>
				</select>
				<div class="row-fluid">
					<button class="btn btn-primary btn-inverse" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
                </div>
			</form>
                <div class="row-fluid">
		    	    <button id="imprimir" target="_blank" type="submit" class="btn btn-primary btn-inverse"><i class="icon-print icon-white"></i> Imprimir</button>
                </div>
		</div>
	</div>
</fieldset>

<script type="text/javascript">
  $("#efectores").select2();
  $("#efectores").select2("val", "");
        
  $(function() {
    $("#imprimir").click(function() {
      var from = $("#formulario [id='from']").val();
      var to  = $("#formulario [id='to']").val();
      var estado = $("#formulario [id='estado']").val();
      var nro = $("#formulario [name='nro']").val();
      window.open('<?=$this->baseUrl();?>/banco/informes/imprimir-donaciones'+'/from/'+from+'/to/'+to+'/estado/'+estado+'/nro/'+nro,'_blank');
    });

    $( "#from" ).datepicker({
      defaultDate: "",
      changeMonth: true,
      numberOfMonths: 2,
      dateFormat : 'dd-mm-yy',
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: "",
      changeMonth: true,
      numberOfMonths: 2,
      dateFormat : 'dd-mm-yy',
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });    
    
</script>
