<?php
    $this->datepicker();
    $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
    $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
    ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>

<fieldset>
    <legend>
        Gesti&oacute;n de Pedidos de Insumos
    </legend>

    <div class="row-fluid">
        <div class="span9">

            <?php if(sizeof($this->resultados) >= 0) :?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="240">Fecha <i class="icon-chevron-up icon-white pull-right"></i></th>
                            <th> Estado</th>
                            <th> Efector </th>
                            <th> Descripción </th>
                            <th> Cant.</th>                           
                            <th width="100">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->resultados as $i => $v): ?>
                        <tr>
                            <td>
                                <i class="icon-calendar"></i> 
                                <?=$v['fecha_movimiento'];?>hs 
                                <span class="time">
                                    <i class="icon-time"></i> <?=$this->nicetime($v['tiempo_movimiento']);?>
                                </span>
                            </td>
                            <td><?=  $v['estado'];?></td>
                            <td><?= $v['efector_id']; ?></td>
                            <td><?=$v['descripcion'];?></td>                            
                            <td><?=$v['cantidad'];?></td>
                            <td>
                                <a class="btn btn-info btn-mini" href="<?=$this->baseUrl();?>/stock/insumos/ver/env_id/<?=$v['env_id'];?>/env_nro/<?=$v['env_nro'];?>">
                                    <i class="icon-info-sign icon-white"></i> Acceder
                                </a> 
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>

                <?=$this->paginador($this->paginas);?>


                <?php elseif(sizeof($resultados) == 0): ?>
                    <div class="alert alert-info"><b>No se han encontrado Insumos para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
                <?php endif ;?>
        </div>

        <div class="span3">
            <a class="btn btn-medium btn-success" href="<?= $this->baseUrl(); ?>/stock/insumos/pedido" >
                <i class="icon-plus icon-white"></i> Crear nuevo <b>Pedido</b></a>
            <br/>
            <br/>            
            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="get" action="<?=$this->baseUrl();?>/stock/insumos">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input name="fecha" id="datepicker" class="input-medium" 
                           placeholder="Fecha de Generación"
                           type="text" value="<?=$this->fecha;?>" />
                </div>
    
                <br/>

                <label for="efe_id">Efector</label>
                <select name="efe_id" id="efectores" class="input-large">
                    <option value="">Todos</option>
                    <?php foreach($this->cache_efectores as $i => $v): ?>
                        <option value="<?=$i;?>"><?=$v?></option>
                    <?php endforeach;?>
                </select>
                
                <br/> 
                <br/> 
                
                <label for="estado">Estado</label>
                <select name="estado" id="estado">
                    <option value="1">Pendientes</option>
                    <option value="0">Todos</option>
                    <option value="2">Entregados</option>                    
                </select>
                
                <button class="btn btn-primary btn-inverse" type="submit">
                    <i class="icon-search icon-white"></i> Buscar</button>
                         <br /><br />
                         
                         <a target="_blank" class="btn btn-primary btn-inverse" 
                          href="<?= $this->baseUrl() . "/stock/insumos/verpdf/print/1/fecha/".$this->parametros['fecha']."/nro/".$this->parametros['nro']."/efector_id/".$this->parametros['efector_id']."/estado/".$this->parametros['estado']?>">
                                        <i class="icon-print icon-white"></i> Imprimir</a>
         
                         <br /><br />
                
            </form>
            
        </div>
    </div>
</fieldset>

<script>
    $(function(){
        $("#efectores").val('<?= $this->efe_id?>');
        $("#efectores").select2();
        $("#estado").val('<?=$this->estado?>');
        $("#datepicker").datepicker({
            maxDate : 0,
            dateFormat : 'yy-mm-dd',
        });
    });
    
    $("#multiple-buttons").hide();
    /* Script para los checkboxs */
    var j = 0;              
    var envios = []; 
    $(":checkbox").click(function() {
    	var id;
        id = $(this).attr('id');
                      
        if($(this).is(':checked')){
            $("#multiple").text(function(i,val){
                envios[j]= id;
                j=j+1;
                return val-(-1);
            });
        }
        else {
            $("#multiple").text(function(i,val){
                var remove = id;
                envios.splice($.inArray(remove, envios),1);
                j=j-1;
                return val - 1;                                 
            });
        };
        if ($("#multiple").text() != "0") {
       	    $("#multiple-buttons").show();
        }
        else {
            $("#multiple-buttons").hide();
        }
    });  
    /* fin script checkbox */

    $("#enviar").click(function() {
        var peso = $("#peso").val();
        var temp = $("#temp").val();
        if (confirm("¿Desea recibir "+(envios.length)+" envios?")) {
            $.post('<?php echo $this->baseUrl();?>/stock/insumos/recepcion-multiple', {envios: envios, peso : peso, temp : temp}, function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'nok'){
                    alert('Peso no permitido');
                    location.reload();
                }
                else {
                    alert('Ha ocurrido un error inesperado');
                    location.reload();
                }
            },'json');                              
        }
        else {
            location.reload();
        }
    });
    
</script>
