<?php $this->datepicker(); ?>

<fieldset>
        <legend><a class="btn btn-primary btn-medium" href="/stock/insumos">
                <i class="icon-chevron-left icon-white"></i> Regresar al Listado de Pedidos</a> 
                Alta de Pedido de Insumos (<span class="label label-primary">BANCO DE SANGRE</span>)
        </legend>        
        

    <div class="row-fluid"> 
        <div class="span12">
            <div class="span3">
            <input type="date" name="fecha" id="fecha" placeholder="dd/mm/aaaa"> 
            </div>
            <div class="span3">
             <select name="tipo" id="tipo">
                 <option value="1">Insumos</option>
                 <option value="2">Material Descartable</option>
                 <option value="3">Reactivos</option>
             </select>
            </div>         
            <div class="span3">
                <a class="btn btn-medium btn-success" href="<?= $this->baseUrl(); ?>/stock/insumos/guardar" >
                    <i class="icon-check icon-white"></i> Grabar <b>Pedido</b></a>
            </div>     
         </div>
    </div>    
    
    
<!--    <div class="row-fluid">
		<div class="span9">
                    <table class="table table-bordered">
                    <tr>
                        <td><strong>Fecha Pedido: </strong><span class="label label-primary">13/10/2016</span></td>
                        <td><strong>Solicitado por: </strong> <span class="label label-primary">BANCO DE SANGRE</span></td>
                    </tr>
                    </table>
                </div>        
		<div class="span3">
                </div>        
        
    </div>-->
        
        

    
    <div class="row-fluid">

		<div class="span9">
			<?php if(sizeof($this->resultados) >= 0) :?>            
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
							<th>Categoría</th>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Observaciones</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
		<?php //foreach($this->resultados as $i => $v): ?>
                            <form id="form-<?=$v['id']?>" data-id="<?=$v['id']?>" 
                                  class="form-submit"
                                  action="<?=$this->baseUrl();?>/stock/pedidos/index" 
                                  method="post">
                            <input type="hidden" name="id" value="<?=$v['id']?>"/>
                            <input type="hidden" name="productos_id" value="<?=$v['pro_id']?>"/>
                                <tr>    
                                        <td>Insumos</td>
                                        <td>Agua Destilada</td>
                                        <td><input type="number" name="canitdad" id="cantidad" min="0" style="width: 40px"></td>
                                        <td><input type="text" name="observaciones" id="observaciones" size="70px"  maxlength="255"></td>
                                        <td>
                                    <button type="button" class="btn btn-success submit" 
                                            title="Grabar"
                                            data-loading-text="Procesando..." data-id="<?=$v['id']?>">
                                            <i class="icon-ok icon-white"></i>
                                    </button>
                                    <button class="btn btn-danger eliminar-row" 
                                            title="Eliminar"                                            
                                            data-loading-text="Procesando..." data-id="<?=$v['id']?>">
                                    <i class="icon-remove icon-white"></i></button>
					</td>
				</tr>
                                
                                
                                
                                <tr>    
                                        <td>Material Descartable</td>
                                        <td>Guantes de Latex</td>
                                        <td><input type="number" name="canitdad" id="cantidad" min="0" style="width: 40px"></td>
                                        <td><input type="text" name="observaciones" id="observaciones" size="70px"  maxlength="255"></td>
                                        <td>
                                    <button type="button" class="btn btn-success submit" 
                                            title="Grabar"
                                            data-loading-text="Procesando..." data-id="<?=$v['id']?>">
                                            <i class="icon-ok icon-white"></i>
                                    </button>
                                    <button class="btn btn-danger eliminar-row" 
                                            title="Eliminar"                                            
                                            data-loading-text="Procesando..." data-id="<?=$v['id']?>">
                                    <i class="icon-remove icon-white"></i></button>
					</td>
				</tr>    
                                
                                 <tr>    
                                        <td>Reactivos</td>
                                        <td>Sodio</td>
                                        <td><input type="number" name="canitdad" id="cantidad" min="0" style="width: 40px"></td>
                                        <td><input type="text" name="observaciones" id="observaciones" size="70px"  maxlength="255"></td>
                                        <td>
                                    <button type="button" class="btn btn-success submit" 
                                            title="Grabar"
                                            data-loading-text="Procesando..." data-id="<?=$v['id']?>">
                                            <i class="icon-ok icon-white"></i>
                                    </button>
                                    <button class="btn btn-danger eliminar-row" 
                                            title="Eliminar"                                            
                                            data-loading-text="Procesando..." data-id="<?=$v['id']?>">
                                    <i class="icon-remove icon-white"></i></button>
					</td>
				</tr>                                   
                                
                                
                            </form>
		<?php //endforeach; ?>
							
					</tbody>
				</table>

				<?=$this->paginador($this->paginas);?>
				<?php elseif(sizeof($resultados) == 0): ?>
				<div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
				<?php endif ;?>
		</div>

            
            
            
        <div class="span3">
        </div>
        
        
	</div>
</fieldset>

<script type="text/javascript">
    $("#estado").val('<?=$this->estado?>');
    $("#hem_id").val('<?=$this->hem?>');
    
	$(".agregar").submit(function(){
		$(this).find('button[type=submit]').button('loading');
		$.post('<?=$this->baseUrl();?>/stock/insumos/agregar-hemo',$(this).serialize(),function(d) {
			if (d.st == 'ok') {
				alert('Producto agregado correctamente');
				location.reload();
			}
			else if (d.st == 'noesta') {
				alert('Producto no disponible');
				location.reload();
			}
			else if (d.st == 'nodon') {
				alert('Producto inexistente');
				location.reload();
			}
			else if (d.st == 'nohay') {
				alert('No existen Producto disponibles para este pedido');
				location.reload();
			}
			else {
				alert('Ha ocurrido un error inesperado');
				location.reload();
			}
		},'json');
	});    
    
    $(function () {
        $(':input:visible:not(input[class*=filter]):eq(1)').focus();
        
        $("#datepicker").datepicker({
		    maxDate : 0,
			dateFormat : 'yy-mm-dd',
        });
        $("#estado").val('<?= $this->estado?>');
        $(".submit").click(function () {
            var id = $(this).data('id') 
            var data = $('#form-' + id).serialize();
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/stock/insumos/confirmar',data,function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'tempnok') {
					alert('Temperatura fuera del rango permitido');
					location.reload();
				}
				else if (d.st == 'pesonok'){
					alert('Peso fuera del rango permitido');
					location.reload();
				}
            },'json');
        });
        $(".remove-row").click(function () {
            var id = $(this).data('id')
            var data = $('#form-' + id).serialize();
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/stock/insumos/eliminar_row',data,function(d){
                if(d.st == 'ok'){
                    //location.reload();
                }else if (d.st == 'nok') {					
                    alert('No se puedo eliminar el registro.\nMensaje:' + d.mensaje);
					//location.reload();
				}
            },'json');
        });
    });
</script>
