<fieldset>
	<legend>Perfiles Producción</legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->url(array('module' => 'gestion','controller' => 'perfiles-produccion'),null,true);?>">Perfiles Producción</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">
		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button>
			<a class="btn btn-danger btn-small" href="<?=$this->baseUrl();?>/gestion/perfiles-produccion"><i class="icon-remove icon-white"></i> Cancelar</a></div>
		<p></p>
		<div class="well">
			<?=$this->form->ppr_descripcion->renderLabel();?>
			<?= $this->form->ppr_descripcion->renderViewHelper();?>
			<span class="help-inline"><?= $this->form->ppr_descripcion->renderErrors();?></span>

			<?=$this->form->ppr_genero->renderLabel();?>
			<div class="radio-group">
				<?=$this->form->ppr_genero->renderViewHelper();?>
			</div>
		</div>
	</form>
</fieldset>