<fieldset>
	<legend>Perfiles Producción</legend>

	<p><a class="btn btn-primary btn-small" href="<?=$this->url(array('action'=>'agregar'));?>"><i class="icon-plus icon-white"></i> Nuevo</a></p>
	<div class="row-fluid">
		<div class="span6">
			<?php if(sizeof($this->resultados) > 0): ?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
                                                    	<th>ID</th>
							<th>Nombre <i class="icon-chevron-up icon-white pull-right"></i></th>
							<th width="80">Género</th>
							<th width="180"></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v): ?>
							<tr <?=($v['ppr_estado'] == 0) ? 'class="warning"' : '';?>>
                                                                <td><?=$v['ppr_id'];?></td>
								<td><?=$v['ppr_descripcion'];?></td>
								<td><?=$this->cache_generos[$v['ppr_genero']];?></td>
								<td><a class="btn btn-mini btn-primary" href="<?=$this->baseUrl();?>/gestion/perfilesproduccion/modificar/ppr_id/<?=$v['ppr_id'];?>"><i class="icon-edit icon-white"></i> Editar</a> 
                                                                    <a class="btn btn-mini btn-warning" href="<?=$this->baseUrl();?>/gestion/perfilesproduccion/cambiar-estado/ppr_id/<?=$v['ppr_id'];?>/st/<?=($v['ppr_estado'] == 1) ? 0 : 1;?>"><i class="icon-pencil icon-white"></i> <?=($v['ppr_estado'] == 1) ? 'Desactivar' : 'Activar';?></a></td>
							</tr>
							<?php endforeach; ?>
					</tbody>
				</table>
				<?php else:?>
				<div class="alert alert-warning">No hay Perfiles-Producción Cargados</div>
				<?php endif;?>
		</div>
	</div>
</fieldset>
