<fieldset>
	<legend>Código Centralizado</legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->baseUrl();?>/soporte/centralizados">Códigos Centralizados</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">
		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->baseUrl();?>/soporte/centralizados"><i class="icon-remove icon-white"></i> Cancelar</a></div>

		<p></p>
                
                
		<div class="well">         
			<?=$this->form->nroLote->renderLabel();?>
			<?=$this->form->nroLote->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->nroLote->renderErrors();?></span>    
                        
			<?=$this->form->efe_id->renderLabel();?>
			<?=$this->form->efe_id->renderViewHelper();?>
			<span class="help-inline text-error"><?=$this->form->efe_id->renderErrors();?></span>
         
			<?=$this->form->sol_id->renderLabel();?>
			<?=$this->form->sol_id->renderViewHelper();?>
			<span class="help-inline text-error"><?=$this->form->sol_id->renderErrors();?></span>               

 			<?=$this->form->per_dni->renderLabel();?>
			<?=$this->form->per_dni->renderViewHelper();?>
			<span class="help-inline text-error"><?=$this->form->per_dni->renderErrors();?></span>            
                        
 			<?=$this->form->don_nro->renderLabel();?>
			<?=$this->form->don_nro->renderViewHelper();?>
			<span class="help-inline text-error"><?=$this->form->don_nro->renderErrors();?></span>                        
                        
  			<?=$this->form->don_fh_inicio->renderLabel();?>
			<?=$this->form->don_fh_inicio->renderViewHelper();?>
			<span class="help-inline text-error"><?=$this->form->don_fh_inicio->renderErrors();?></span>                         
    
 			<?=$this->form->usu_inicio->renderLabel();?>
			<?=$this->form->usu_inicio->renderViewHelper();?>
			<span class="help-inline text-error"><?=$this->form->usu_inicio->renderErrors();?></span>                              
                        
  			<?=$this->form->don_fh_extraccion->renderLabel();?>
			<?=$this->form->don_fh_extraccion->renderViewHelper();?>
			<span class="help-inline text-error"><?=$this->form->don_fh_extraccion->renderErrors();?></span>                         
                        
                       
			<?=$this->form->don_estado->renderLabel();?>
			<?=$this->form->don_estado->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->don_estado->renderErrors();?></span>
                        
		</div>

                
	</form>
</fieldset>


