<fieldset>
	<legend>Códigos Centralizados</legend>

	<p><a class="btn btn-primary btn-small" href="<?=$this->url(array('action'=>'agregar'));?>"><i class="icon-plus icon-white"></i> Nuevo</a></p>

	<div class="row-fluid">
		<div class="span10">
			<?php if(sizeof($this->resultados) > 0): ?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
                                                    	<th>DON. ID</th>
							<th>Nro. Lote</th>                                                        
							<th>Efector</th>
							<th>Sol. ID</th>
							<th>Don. Nro.</th> 
                                                        <th>Fecha Inicio</th>      
                                                        <th>Estado</th>      
							<th width="200">Aciones</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v):
                                                    
                                                    ?>
							<tr <?php echo ($v['don_'] == 0) ? 'class="warning"' : '';?>>
								<td><?=$v['don_id'];?></td>
                                                                <td><?=$v['nroLote'];?></td>
								<td><?=$v['efe_id'];?></td>
								<td><?=$v['sol_id'];?></td>
								<td><?=$v['don_nro'];?></td>
								<td><?=$v['don_fh_inicio'];?></td>
                                                                <td><?=$v['lote_estado'];?></td>
								<td><a class="btn btn-mini btn-primary" href="<?=$this->baseUrl();?>/soporte/centralizados/modificar/don_id/<?=$v['don_id'];?>"><i class="icon-edit icon-white"></i> Editar</a> 
                                                                    <a class="btn btn-mini btn-danger" href="<?=$this->baseUrl();?>/soporte/centralizados/eliminar/don_id/<?=$v['don_id'];?>"><i class="icon-remove icon-white"></i> Eliminar</a>
                                                                </td>
							</tr>
							<?php endforeach; ?>
					</tbody>
				</table>
				<?php else:?>
				<div class="alert alert-warning">No hay registros cargados</div>
				<?php endif;?>
		</div>
	</div>
</fieldset>
