<ul class="nav nav-tabs" style="background-color: #dddddd;">
	<li class="<?=$this->tab1;?>"><a style="color:black;" href="<?=$this->baseUrl();?>/acceso/usuarios"><i class="icon-user"></i> Usuarios</a></li>
	<li class="<?=$this->tab3;?>"><a style="color:black;" href="<?=$this->baseUrl();?>/acceso/roles"><i class="icon-tasks"></i> Roles</a></li>
	<li class="<?=$this->tab4;?>"><a style="color:black;" href="<?=$this->baseUrl();?>/acceso/recursos"><i class="icon-gift"></i> Recursos</a></li>
</ul>
