<fieldset>
	<legend>Marcas de Bolsas</legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->url(array('module' => 'gestion','controller' => 'bolsasmarcas'),null,true);?>">Marcas de Bolsas</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">
		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->url(array('module' => 'gestion','controller' => 'bolsasmarcas'),null,true);?>"><i class="icon-remove icon-white"></i> Cancelar</a></p>
		<p></p>
		<div class="well">
			<?=$this->form->marca_bolsa->renderLabel();?>
			<?=$this->form->marca_bolsa->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->marca_bolsa->renderErrors();?></span>
		</div>
                
           
	</form>
</fieldset>