.navbar, .navbar-inner, .modal, .pagination, .btn, #sp3 {
    display: none;
}

table {
    border: 1px;
}

table td {
   border-top: thin solid; 
   border-bottom: thin solid;
}

table td:first-child {
   border-left: thin solid;
}

table td:last-child {
   border-right: thin solid;
}
