.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
background-color: #f5f5f5;
}
.pagination ul>.active>a, .pagination ul>.active>span {
    cursor: default;
    background-color: black;
    color: white;
    border: 1px solid black;
    box-shadow: 0 0 1.1em black;
}

.disabled {   
    height: 1.89em;
    border-radius: 0px 5px 5px 0px;
    padding-left: 5px;
}
body { background: url('../../../images/bloodinterno.jpg') no-repeat; background-size:cover;}
.navbar .nav>li>a { padding:10px;color:black; }
ul.nav li.active{box-shadow: 0 0 0.4em black;}
 .navbar-inverse ul.nav li a:hover {color: firebrick;}
.table th, .table td { padding:5px 8px; font-size:12px;}
#ui-datepicker-div {
    font-size:12px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    margin-top:auto;
}
.ui-datepicker .ui-datepicker-title { line-height:35px;}
@media (max-width: 767px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
    .container { padding-left:6px; padding-right:6px;}
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin-left:0; margin-right:0}
}
legend{color:white;}

tr td .time {
    font-size:11px;
    visibility: hidden;
}
tr:hover td > .time {
    visibility: visible;
}
label.item { border-bottom:1px solid #ddd; background-color:#f9f9f9; line-height:24px; vertical-align: middle; padding:0 4px;}
label.item:hover { background-color:#eee; }
label.success { background-color: #dff0d8;}

.recepcion-checkbox {
    margin: 2px 0 15px 20px;
}

.alert-info {
    background-color: #535353;
    border-color: #454340;
    color: #fff;
    text-shadow: none;
}

.pagination > ul > li > a {
    color: black;
}

.modal-body-small {
    max-height: 200px;
}
.table{
    background-color: rgba(255,245,245,.8);
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {

    background-color: #f5f5ff !important;
}

.input-prepend .select2-container .select2-choice {
    font-size:14px;
    line-height:20px;
    height:20px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius: 0px 4px 4px 0px;
}
.input-prepend {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;    
}
.add-on {
    float: left;
}
[class*="span"].select2-container {
    width: 100%;
    margin-left: 0;
    float: none;
    min-width: 320px;
}

@media (max-width: 767px) {
    /* responsive styles */
}


@media (min-width: 1024px) {
    .modal{
        width:800px;
        margin-left: -400px;
    }
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
    
 
.view-panel {
    position: relative; /* fixed;*/
    /*top: 10%;
    left: 50%;
    z-index: 1050;*/
    width: 100%;
    background-color: rgba(255,255,255,0.8); /* #fff;*/
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.view-panel .modal-body{
    max-height: none;
    overflow-y: visible;
}

.view-title a{

    float: left;margin-right: 10px;/* padding-top: 6px; */line-height: 25px;
    
}
.view-title h3{

    color: white;/* position: relative; *//* padding-top: 0px; *//* padding-left: 197px; */
    
}


.modal-header, .modal-footer {
    background-color: teal;
}

h1, h2, h3, h4{
    color: white;
}