<head>
    <link rel="stylesheet" href="<?= $this->baseUrl(); ?>/themes/Sliding-Switch-jQuery-simpleToggler/css/ui-toggle.css" type="text/css" media="screen" />
    <script type="text/javascript" src="<?= $this->baseUrl(); ?>/themes/Sliding-Switch-jQuery-simpleToggler/js/jquery.toggler.js"></script>
</head>
<style>
    tr td, td div.ui-stoggle, td div.off{
        text-align: center !important;
        padding: 0 auto;
        vertical-align: middle;
    }
    table.table, table.table tr td{
        background-color:rgba(255,255,255,0);
        border:none;
    }
    
</style>

<?php $this->datepicker(); ?>

<legend class="view-title">
    <a class="btn btn-primary btn-medium" href="/paciente/ordentransfusional">
        <i class="icon-chevron-left icon-white"></i> Regresar a Ordenes Transfusionales
    </a> 
    <h3>Nuevo Registro de Orden Transfusional</h3>
</legend>   

<div class="view-panel" id="new-tratar" style="margin-bottom: 30px;" >
    <div class="modal-header">
        <div id="trata-det" class="" style="margin-bottom: 0;">
            <div class="row-fluid" style="margin-top: 10px;">
                <div class="span8"><pre><b>Nombre:</b> <span id="fld_nombre_apellido"></span> </pre></div>    
                <div class="span4"><pre><b>Fecha y Hora Actual:</b><span id="fecha_hora_actual"></span></pre> </div>    
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="">
            <form class="form-examen" onsubmit="return false;">            
                <div class="" id="panel-datos-paciente" >
                    
                    <div class="row-fluid">
                        <div class="span4">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-check"></i> Tipo de Orden Transfusional</h5>

                            <div class="span4">Interconsulta</div>
                            <div class="span1"><input id="chk_interconsulta" type="checkbox" class="checkbox"/></div>
                            <div class="clearfix"></div>
                            <div class="span4">Indicación de Práctica</div>
                            <div class="span1"><input id="chk_indicacion_de_practica" type="checkbox" class="checkbox"/></div>
                            <div class="clearfix"></div>

                            <script type="text/javascript">
                                $(function () {
                                    $('#chk_indicacion_de_practica, #chk_interconsulta').checkToggler({
                                        labelOn: 'Si',
                                        labelOff: 'No'
                                    });
                                });
                            </script>
                        </div>
                        
                        <div class="span4">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-list-alt"></i> Historia Clinica e Ingreso</h5>
                                
                                <div class="span4"> Nro. Historia Clinica:</div>
                                <div class="span7">
                                    <input type="text" name="fld_nro_historia_clinica_paciente" id="fld_nro_historia_clinica_paciente">
                                </div>
                                <div class="clearfix"></div>
                                <div class="span4"> Nro. de Ingreso: </div>
                                <div class="span7">
                                    <input type="text" name="fld_nro_ingreso_paciente" id="fld_nro_ingreso_paciente">
                                </div>
                        </div>
                        
                        <div class="span4">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-time"></i> Cronologia</h5>
                            <div class="input-append">
                                <span class="add-on">Fecha y Hora del Registro:</span>
                                <input type="datetime-local" 
                                       id="fecha_hora_inicio" name="fecha_hora_inicio" value="">
                                <input type="button" class="btn btn-primary" id="btn_hora_inicio" value="Hora Actual">
                            </div>
                        </div>
                    </div> 
                    
                    <div class="row-fluid">
                        <div class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-magnet"></i> Auto Completar datos del Paciente</h5>
                        </div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="input-prepend input-append">
                                <select name="tipo_documento" id="tipo_documento" class="form-comtrol input-small">
                                    <?php if (empty($this->result)) { ?>
                                        <?php foreach ($this->cache_tipo_doc as $a => $b) { ?>
                                                                                                                                                                                                                                                                                                                                    <option value="<?= $a; ?>" <?= ($a === 1) ? 'Selected' : ''; ?>><?= $b; ?></option>
                                        <?php } ?>
                                    <?php } else { ?>
                                        <?php foreach ($this->cache_tipo_doc as $a => $b) { ?>
                                                                                                                                                                                                                                                                                                                                    <option value="<?= $a; ?>" <?= ($a === (int) $this->result['buscado']['tipo_documento']) ? 'Selected' : ''; ?>><?= $b; ?></option>
                                        <?php } ?>
                                    <?php } ?>

                                </select>
                                <span class="add-on"><i class="icon-file"></i>Tipo y numero de documento: </span>
                                <input type="text" id="nro_documento" value="<?= $this->result['buscado']['nro_documento']; ?>" name="nro_documento" class="input-medium" required="required" autocomplete="off" maxlength="10" />
                                <button type="submit" id="btn_buscar" class="btn btn-primary btn-inverse"  data-loading-text="Cargando..."><i class="icon-search icon-white"></i> Buscar persona</button>
                                <button type="button" id="btn_limpiar" class="btn"><i class="icon-remove"></i></button>            
                            </div>
                        </div>  
                    </div>
                    
                    <!--INFORMACION PACIENTE-->
                    <div class="row-fluid">
                        <div class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-user"></i> Información del Paciente</h5>
                        </div>
                    </div>

                    <div class="row-fluid">               
                            <div class="span2">
                                <h5>Nombre</h5>
                            <?php echo $this->formText('nombre', $this->nombre, array('size' => 70)); ?>
                            </div>
                            <div class="span2">
                                <h5>Apellido</h5>
                            <?php echo $this->formText('apellido', $this->nombre, array('size' => 70)); ?>
                            </div>
                            
                            <div class="span2">                                        
                            <h5>Género</h5> 
                            <select name="sexo-list" id="sexo-list" class="input-large"
                                    required="required">
                                <?php foreach ($this->sexo as $i => $v): ?>
                                                                                                                                                                    <option value="<?= $i; ?>"><?= $v; ?></option>
                                <?php endforeach; ?>
                            </select> 
                            </div>
                            <div class="span2">
                                <h5>Tipo y nro. de Documento</h5> 
                                <div class="input-prepend input-append">
                                    <select name="tipo_documento" id="tipo_documento" class="form-comtrol input-small">
                                    <?php if (empty($this->result)) { ?>
                                        <?php foreach ($this->cache_tipo_doc as $a => $b) { ?>
                                                                                                                                                                                                                                                                                                                                        <option value="<?= $a; ?>" <?= ($a === 1) ? 'Selected' : ''; ?>><?= $b; ?></option>
                                        <?php } ?>
                                    <?php } else { ?>
                                        <?php foreach ($this->cache_tipo_doc as $a => $b) { ?>
                                                                                                                                                                                                                                                                                                                                        <option value="<?= $a; ?>" <?= ($a === (int) $this->result['buscado']['tipo_documento']) ? 'Selected' : ''; ?>><?= $b; ?></option>
                                        <?php } ?>
                                    <?php } ?>

                                    </select>
                                    <input type="text" id="nro_documento" value="<?= $this->result['buscado']['nro_documento']; ?>" name="nro_documento" class="input-medium" required="required" autocomplete="off" maxlength="10" />                       
                                </div>
                            </div>
                            <div class="span2">
                                <h5>Fecha de Nacimiento</h5>
                                <input type="text" name="fecha_nacimiento" id="fecha_nacimiento" size="20" value="" required="required">
                            </div>

                        <div class="span2">
                                <h5>Lugar de Nacimiento</h5>
                                <input type="text" name="fecha_nacimiento" id="fecha_nacimiento" size="20" value="" required="required">
                        </div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span2">
                            <h5>Obra Social</h5>
                            <?php echo $this->formText('nombre', $this->nombre, array('size' => 70)); ?>
                        </div>
                        
                        <div class="span2">                                        
                            <h5>Nro. Afiliado:</h5>
                            <input type="text" name="numero_afiliado" id="numero_afiliado" size="20" value="" required="required">
                        </div>
                                
                        <div class="span2">
                            <h5>Domicilio </h5>
                            <input type="text" name="direccion" id="hb" size="direccion" >
                        </div>
                        
                        <div class="span2">
                            <h5>Localidad</h5>
                            <input type="text" name="localidad" id="localidad" size="20" >
                        </div>

                        <div class="span2">
                            <h5>Provincia</h5>
                            <input type="text" name="provincia" id="provincia" size="20" >                            
                        </div>
                        
                        <div class="span2">
                            <h5>Teléfono</h5>
                            <input type="text" name="telefono" id="telefono" size="20" >
                        </div>                            
                    </div>  
                    <!--/INFORMACION PACIENTE-->
                    
                    <!--LOCALIZACION DEL PACIENTE-->
                    <div class="row-fluid">
                        <div class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-map-marker"></i> Localizacion del Paciente</h5>
                        </div>
                    </div>
                    <!--/LOCALIZACION DEL PACIENTE-->
                    
                    <!--TIPO DE ORDEN TRANSFUCIONAL-->
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="span2">Ambulatorio</div>
                            <div class="span2"><input id="rad_ambulatorio" type="checkbox" class="checkbox"/></div>
                            <div class="span2">Domiciliario</div>
                            <div class="span2"><input id="rad_domiciliario" type="checkbox" class="checkbox"/></div>
                            <div class="span2">Internación</div>
                            <div class="span2"><input id="rad_internacion" type="checkbox" class="checkbox"/></div>
                        </div>
                    </div>
                    <div class="row-fluid opt_internacion">    
                        <div class="span3 opt_internacion">
                            <h5>Sala</h5>
                            <input type="text" name="sala" id="sala" size="20" value="">
                        </div>                                                 
                        
                        <div class="span3 opt_internacion">
                            <h5>Habitación</h5>
                            <input type="text" name="habitacion" id="habitacion" size="20" value="">
                        </div>                                                 
                        
                        <div class="span3 opt_internacion">
                            <h5>Cama</h5>
                            <input type="text" name="cama" id="cama" size="20" value="">
                        </div>                                                 
                    </div>
                </div>

                <div class="" id="panel-datos-medicos" >

                    <div class="row-fluid">
                        <div class="span6">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-info-sign"></i> Diagnostico</h5>
                            <textarea rows="7" class="span12"></textarea>
                        </div>
                        <div class="span6">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-info-sign"></i> Motivo de la Terapia</h5>
                            <textarea rows="7" class="span12"></textarea> 
                        </div>
                        
                        
                    </div>
                    
                    
                    
                    <div class="row-fluid">    
                        <div class="span12">
                             <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-list"></i> Antecedentes</h5>
                        </div>
                    </div>
                        
                    <div class="row-fluid">    
                        <div class="span4">
                            <div class="span6">1.Transfuciones anteriores: </div>
                            <div class="span6"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                            
                            <div class="span12 ANTE01">Fecha de la ultima transfución:</div><div class="span12 ANTE01"><input></div>            
                            
                            <div class="span12 ANTE01">Lugar de la ultima transfución:</div><div class="span12 ANTE01"><input></div>            
                            
                        </div>
                        
                        <div class="span4">
                            <div style="float:left;">2.Reacciones desfavorables: </div>
                            <div class="clearfix"></div>    
                            <div class="span5">Fiebre</div>
                            <div class="span5"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox reaccciones"/></div>
                            <div class="span5">Priuruto</div>
                            <div class="span5"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox reaccciones"/></div>
                            <div class="span5">Escalofrios</div>
                            <div class="span5"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox reaccciones"/></div>
                            <div class="span5">Petequías</div>
                            <div class="span5"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox reaccciones"/></div>
                            <div class="span5">Ictericia</div>
                            <div class="span5"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox reaccciones"/></div>
                            <div class="span5">Dolor Lumbar</div>
                            <div class="span1"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox reaccciones"/></div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="span4">
                            <div class="span6">3.Antecedentes Obstétricos: </div>
                            <div class="span6"><input id="chk_antecedentes_obstetricos" type="checkbox" class="checkbox"/></div>    
                            <div class="span12 ANTE03">Numero de Gestas:</div><div class="span12 ANTE03"><input></div>            
                            <div class="span12 ANTE03">Numero de Partos:</div><div class="span12 ANTE03"><input></div>            
                            <div class="span12 ANTE03">Ictericia RN:</div><div class="span12 ANTE03"><input></div>            
                            <div class="span12 ANTE03">Observaciones:</div><div class="span12 ANTE03"><textarea></textarea></div>     
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="row-fluid">
                            <div class="span12">
                                <div>4.Laboratorio Clínico: </div>
                            </div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span3">Fecha del Laboratorio: <br><input><br><br></div>
                        <div class="span3">Hematocrito: <br><input><br><br></div>
                        <div class="span3">Hemoglobina: <br><input><br><br></div>
                        <div class="span3">Recuento de Globulos Rojos: <br><input><br><br></div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span3">Recuento de Plaquetas: <br><input><br><br></div>
                        <div class="span3">Albumina: <br><input><br><br></div>
                        <div class="span3">TP: <br><input><br><br></div>
                        <div class="span3" title="Tiempo de tromboplastina parcial activada con caolín">KPTT: <br><input><br><br></div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span3">T. Sangria: <br><input><br><br></div>
                        <div class="span3">BIL Dis: <br><input><br><br></div>
                        <div class="span3">BIL Ind: <br><input><br><br></div>
                        <div class="span3">Tensino Arterial: <br><input><br><br></div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span3">FC: <br><input><br><br></div>
                        <div class="span3">Temperatura corporal°: <br><input><br><br></div>
                        <div class="span6">Otros: <br><textarea></textarea><br></div>
                    </div>
                    
                    <div class="row-fluid">    
                        <div class="span12">
                             <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-list"></i> Caracter de la Transfusión</h5>
                        </div>
                    </div>

                    <div class="row-fluid">    
                        <div class="span12">
                            <div class="span4">1.Transfusion programada para el día. </div>
                            <div class="span2"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                            <div class="span2">Fecha y hora:</div><div class="span2"><input></div>
                        </div>
                        </div>

                    <div class="row-fluid">    
                        <div class="span12">
                            <div class="span4">2.Transfusion de rutina. (Dentro de las proximas 24hs.)</div>
                            <div class="span2"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                        </div>
                        </div>

                    <div class="row-fluid">    
                        <div class="span12">
                            <div class="span4">3.Transfusion de reserva pre-quirugica para el día. </div>
                            <div class="span2"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                            <div class="span2">Fecha y hora:</div><div class="span2"><input></div>
                        </div>
                        </div>

                    <div class="row-fluid">    
                        <div class="span12">
                            <div class="span4">4.Transfusion <span class="label label-important">Urgente</span>. (Dentro de las proximas 3hs.) </div>
                            <div class="span2"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="row-fluid">    
                        <div class="span12">
                            <div class="span4">5.Transfusion de <span class="label label-inverse">Emergencia</span>. (Compromete las pruebsa cruzadas)</div>
                            <div class="span2"><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="span12">
                            <div class="clearfix "></div>
                            <div class="span12 ANTE01">Fecha de la ultima transfución: <input></div>            
                            <div class="clearfix "></div>
                            <div class="span12 ANTE01">Lugar de la ultima transfución: <input></div>            
                            <div class="clearfix "></div>
                        </div>
                    </div>
                    
                    
                    <div class="row-fluid">    
                        <div class="span12">
                             <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-list"></i> Lugar de la Transfusiòn</h5>
                        </div>
                    </div>
                    
                    <div class="row-fluid">    
                        <div class="span12">
                            <select>
                                <option>Seleccione un lugar...</option>
                                <option>Sala General</option>
                                <option>Cirugia</option>
                                <option>Unidad de Terapia Intensiva (UTI)</option>
                                <option>Unidad de Ciudados Coronarios (UCC)</option>
                                <option>Neonatologia (NEO)</option>
                                <option>Unidad de Cuidados Intensivos Pedriatricos (UCIP)</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row-fluid">    
                        <div class="span8">
                             <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-list"></i> Se solicita</h5>
                        </div>
                        <div class="span4">
                             <table CLASS="table table-bordered" style="border-bottom:1px solid black;">
                                <tr><td style="text-align:center;font-weight: 600;">FILTRADOS</td>
                                    <td style="text-align:center;font-weight: 600;">IRRADIADOS</td>
                                    <td style="text-align:center;font-weight: 600;">LAVADOS</td>
                                    <td style="text-align:center;font-weight: 600;">HEMAFERESIS</td>
                                </tr>                                
                            </table>
                        </div>
                    </div>
                    
                    <div class="row-fluid"> 
                        <div class="span8">
                            <div class="span4">Globulos Rojos Desplasmatizados</div>
                            <div class="span2"><p><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                            <div class="span6">                                
                                <div class="controls controls-row">
                                    <div class="input-prepend input-append">
                                    <span class="add-on">Cantidad:</span>
                                    <input class="span4" id="appendedPrependedInput" type="number">
                                   <select class="add-on" style="height:30px;">    
                                        <option>Unidad/es</option>
                                        <option>Franccion [Cm&sup3;]</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <table CLASS="table table-bordered">
                                <tr><td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                </tr>                                
                            </table>
                        </div>
                    </div>
                    
                    <div class="row-fluid"> 
                        <div class="span8">
                            <div class="span4">Plasma Fresco Congelado</div>
                            <div class="span2"><p><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                            <div class="span6">                                
                                <div class="controls controls-row">
                                    <div class="input-prepend input-append">
                                    <span class="add-on">Cantidad:</span>
                                    <input class="span4" id="appendedPrependedInput" type="number">
                                   <select class="add-on" style="height:30px;">    
                                        <option>Unidad/es</option>
                                        <option>Franccion [Cm&sup3;]</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                        </div>   
                        <div class="span4">
                            <table CLASS="table table-bordered">
                                <tr><td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                </tr>                                
                            </table>
                        </div>
                    </div>
                    
                    <div class="row-fluid"> 
                        <div class="span8">
                            <div class="span4">Concentrado de Plaquetas</div>
                            <div class="span2"><p><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                            <div class="span6">                                
                                <div class="controls controls-row">
                                    <div class="input-prepend input-append">
                                    <span class="add-on">Cantidad:</span>
                                    <input class="span4" id="appendedPrependedInput" type="number">
                                   <select class="add-on" style="height:30px;">    
                                        <option>Unidad/es</option>
                                        <option>Franccion [Cm&sup3;]</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                        </div> 
                        <div class="span4">
                            <table CLASS="table table-bordered">
                                <tr><td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                </tr>                                
                            </table>
                        </div>
                    </div>
                    
                    <div class="row-fluid"> 
                        <div class="span8">
                            <div class="span4">Tipificaciòn ABO Rh</div>
                            <div class="span2"><p><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                        </div>    
                        <div class="span4"></div>
                        
                    </div>
                    
                    <div class="row-fluid"> 
                        <div class="span8">
                            <div class="span4">Otros: <input class="span9"></div>
                            <div class="span2"><p><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></div>
                            <div class="span6">                                
                                <div class="controls controls-row">
                                    <div class="input-prepend input-append">
                                        <span class="add-on">Cantidad:</span>
                                        <input class="span4" id="appendedPrependedInput" type="number">
                                        <select class="add-on" style="height:30px;">    
                                             <option>Unidad/es</option>
                                             <option>Franccion [Cm&sup3;]</option>
                                         </select>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="span4">
                            <table CLASS="table">
                                <tr><td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                    <td><input id="chk_tranfusiones_anteriores" type="checkbox" class="checkbox"/></td>
                                </tr>                                
                            </table>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>                  
            

    <div class="modal-footer">		

        <button data-loading-text="Procesando..." type="submit" 
                id="btn_aceptar"
                class="btn btn-success pull-right">
            <i class="icon-ok icon-white"></i> Aceptar</button>

        <a class="btn btn-danger pull-right" href="/paciente/ordentransfusional">
            <i class="icon-ban-circle icon-white"></i></i> Cancelar
        </a>            

    </div>
</div>


<script type="text/javascript">

    $(".opt_internacion").hide();

    $(document).ready(function () {

        $('#rad_ambulatorio, #rad_domiciliario, #rad_internacion').checkToggler({
            labelOn: 'Si',
            labelOff: 'No'
        });

        $('#chk_tranfusiones_anteriores,#chk_antecedentes_obstetricos, .reaccciones').checkToggler({
            labelOn: 'Si',
            labelOff: 'No'
        });


        $("#btn_hora_inicio").click(function () {
            var boton = $(this).attr("id");
            d = new Date();
            if (boton === "btn_hora_inicio") {
                $("#fecha_hora_inicio").val(getDateFormat(d));
            }
        });


        $("#rad_internacion").change(function () {
            if ($(this).prop('checked') == true) {
                $(".opt_internacion").show();
            } else {
                $(".opt_internacion").hide();
            }

        });

        $(".ANTE01").hide();
        $("#chk_tranfusiones_anteriores").change(function () {
            if ($(this).prop('checked') == true) {
                $(".ANTE01").show();
            } else {
                $(".ANTE01").hide();
            }

        });

        $(".ANTE03").hide();
        $("#chk_antecedentes_obstetricos").change(function () {
            if ($(this).prop('checked') == true) {
                $(".ANTE03").show();
            } else {
                $(".ANTE03").hide();
            }

        });

        /**GRABAR LA ORDEN TRANSFUSIONAL**/
        $("#btn_aceptar").click(function () {
//
//            var datos = {};
//
//            // TODO: falta conformar el array con los datos del paciente de la orden transf.
//            datos.header = {
//                fecha: $('#fecha_hora_inicio').val(),
//                pesona_id: $('#persona_id').val(),
//                don_nro: $('#don_nro').val(),
//                diagnostico: $('#diagnostico').val(),
//                motivo_terapia: $('#motivo_terapia').val(),
//                observaciones: $('#observaciones').val()
//            };
//
//            $(this).find('button[type=submit]').button('loading');
//
//            $.post("<?= $this->baseUrl(); ?>/paciente/ordentransfusional/grabar", {datos: JSON.stringify(datos)}, function (data) {
//                window.document.location.assign(baseUrl + '/');
//            });
        });

        setInterval(function () {
            $("#fecha_hora_actual").text(obtenerFechaHoraActual());
        }, 100);

    });

    /**
     * Grabar el formulario de entrevista
     */

    $(document).on('submit', '#form-ordentransfusional', function (e) {
        e.preventDefault();
        return false;
    });

    /** Convierte tipo de fecha y hora **/
    function getDateFormat(data) {

        var d = new Date(data),
                month = ('0' + (d.getMonth() + 1)).slice(-2),
                day = ('0' + d.getDate()).slice(-2),
                year = d.getFullYear();
        hour = ('0' + d.getHours()).slice(-2);
        minute = ('0' + d.getMinutes()).slice(-2);
        second = ('0' + d.getSeconds()).slice(-2);

        var data = new Date();
        data.toLocaleDateString();
        return [year, month, day].join('-') + "T" + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
    }


    function obtenerFechaHoraActual() {
        var fecha = new Date();
        var vRet = " ";
        vRet += fecha.getDate() + "/" + (fecha.getMonth() + 1) + "/" + fecha.getFullYear();
        vRet += " " + fecha.getHours() + ":" + fecha.getMinutes() + ":" + fecha.getSeconds();
        return vRet;
    }

//$("#datepicker").datepicker({
//            maxDate: 0,
//            dateFormat: 'yy-mm-dd'
//        });
//
</script>