<?php $this->datepicker(); ?>

<legend class="view-title">
    <a class="btn btn-primary btn-medium" href="/paciente/ordentransfusional">
        <i class="icon-chevron-left icon-white"></i> Regresar a Ordenes Transfusionales
    </a> 
    <h3>Reacción Adversa - Orden Transfusional</h3>
</legend>   



<div class="view-panel" id="new-tratar" style="margin-bottom: 30px;" >
    <div class="modal-header">
        <div id="trata-det" class="" style="margin-bottom: 0;">
            <div class="row-fluid" style="margin-top: 10px;">
                <div class="span4"><pre><b>Fecha:</b>  <?= $this->persona['donacion_numero']['don_nro']; ?></pre> </div>    
                <div class="span4"><pre><b>ABO / RH:</b> <?= $this->persona['codigo_autogenerado']; ?> </pre></div>  
                <div class="span4"><pre><b>Nombre:</b> <?= $this->persona['per_apellido'] . ", " . $this->persona['per_nombres']; ?> (<?= $this->cache_tipo_doc[$this->persona['per_tipodoc']]; ?>: <?= $this->persona['per_nrodoc']; ?>)</pre></div>    
            </div>
        </div>
    </div>




    <div class="modal-body">

        <div class="">
            <form class="form-examen" onsubmit="return false;">            
                <div class="" id="panel-datos-paciente" >

                    <input type="hidden" id="don_id" name="don_id" value="<?= $this->persona['don_id']; ?>" >



                    <div class="row-fluid">
                        <div class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-flag"></i> Tipo de Orden Transfusional</h5>
                            <input type="hidden" id="st" name="st" value=""> <!-- ESTADO 4 y 2 / 3 -->
                            <input type="hidden" id="sol_id" name="sol_id" value="<?= $this->persona['sol_id']; ?>" class="sol_id">

                            <?php foreach ($this->cache_perfilesprod as $clave => $valor) { ?>
                                <label class="checkbox inline">
                                    <input type="checkbox" id="inlineCheckbox1" 
                                           value="<?php echo $clave; ?>"> <?php echo utf8_encode($valor); ?>
                                </label>    
                            <?php } ?>
                        </div>
                    </div>                  


                    <div class="row-fluid">
                        <div class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-plus"></i> Información del Paciente</h5>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">                                    
                            <h5>Nombre y Apellido</h5>
                            <?php echo $this->formText('nombre', $this->nombre, array('size' => 70, 'disabled' => 'disabled')); ?>

                            <h5>Tipo de Documento</h5>
                            <select name="tipodocumento-list" id="tipodocumento-list" class="input-large"
                                    disabled="disabled">
                                        <?php
                                        foreach ($this->tipodocumento as $i => $v):
                                            ?>
                                    <option value="<?= $i; ?>"><?= $v; ?></option>
                                <?php endforeach; ?>
                            </select>                              

                            <h5>Nro. de Documento</h5>
                            <?php echo $this->formText('numerodoc', $this->numerodoc, array('size' => 70, 'disabled' => 'disabled')); ?>

                            <h5>Género</h5>
                            <select name="sexo-list" id="sexo-list" class="input-large"
                                    disabled="disabled">
                                        <?php
                                        foreach ($this->sexo as $i => $v):
                                            ?>
                                    <option value="<?= $i; ?>"><?= $v; ?></option>
                                <?php endforeach; ?>
                            </select>      
                        </div>

                        <div class="span3">
                            <h5>Domicilio </h5>
                            <input type="text" name="direccion" id="hb" size="50" disabled="disabled">
                            <h5>Localidad</h5>
                            <input type="text" name="localidad" id="localidad" size="20" disabled="disabled">


                            <h5>Provincia</h5>
                            <input type="text" name="provincia" id="provincia" size="20" disabled="disabled">                            
                            <h5>Teléfono</h5>
                            <input type="text" name="telefono" id="telefono" size="20" disabled="disabled">

                        </div>

                        <div class="span3">
                            <h5>Fecha de Nacimiento</h5>
                            <input type="text" name="fecha_nacimiento" id="fecha_nacimiento" size="20" value="" disabled="disabled">
                            <h5>Obra Social:</h5>
                            <input type="text" name="obra_social" id="obra_social" size="20" value="" disabled="disabled">
                            <h5>Nro. Afiliado:</h5>
                            <input type="text" name="numero_afiliado" id="numero_afiliado" value=""  size="20" disabled="disabled">
                        </div>

                        <div class="span3">
                            <h5>Ambulatorio</h5>
                            <input type="text" name="ambulatorio" id="ambulatorio" size="20" value="" disabled="disabled">
                            <h5>Sala</h5>
                            <input type="text" name="sala" id="sala" size="20" value="" disabled="disabled" >
                            <h5>Habitación</h5>
                            <input type="text" name="habitacion" id="habitacion" size="20" value="" disabled="disabled">
                            <h5>Cama</h5>
                            <input type="text" name="cama" id="cama" size="20" value="" disabled="disabled">
                        </div>                                                 

                    </div>

                </div>




                <div class="" id="panel-datos-medicos" >

                    <div class="row-fluid">    
                        <div class="span12">
                            <h5>Diagnóstico</h5>
                            <textarea name="diagnostico" id="diagnostico" rows="5" disabled="disabled" style="width: 98%;"></textarea>
                        </div>
                    </div>

                    <div class="row-fluid">    
                        <div class="span12">
                            <h5>Motivo de Terapia</h5>
                            <textarea name="motivo_terapia" id="motivo_terapia" rows="5" disabled="disabled" style="width: 98%;"></textarea>
                        </div>
                    </div>


                </div>                  




                <div class="row-fluid">
                    <h5 style="border-bottom: 1px solid black;">
                        <i class="icon-flag"></i> Hemoterapia</h5>

                    <div class="span3">  
                        <h5>Practicas a realizar</h5>
                        <div class="checkbox" disabled="disabled">
                            <label><input type="checkbox" value="">Practica 1</label>
                        </div>
                        <div class="checkbox" disabled="disabled">
                            <label><input type="checkbox" value="">Practica 2</label>
                        </div>
                        <div class="checkbox" disabled="disabled">
                            <label><input type="checkbox" value="">Practica 3</label>
                        </div>                             
                    </div> 


                    <div class="span3">  
                        <h5>Estudios realizados</h5>
                        <div class="">
                            <label>Estudio realizado AA1</label>
                        </div>
                        <div class="">
                            <label>Estudio realizado BBBA1</label>
                        </div>
                        <div class="">
                            <label>Estudio realizado ZZDDD</label>
                        </div>                             
                    </div>                     

                    <div class="span3">  
                        <h5>Antecedentes personales</h5>
                        <div class="">
                            <label>Hipertenso</label>
                        </div>
                        <div class="">
                            <label>Fumador</label>
                        </div>
                        <div class="">
                            <label>Algo mas...</label>
                        </div>                             
                    </div>                    

                </div>                       



                <div class="row-fluid">    
                    <div class="span12">
                        <h5>Observaciones</h5>
                        <textarea name="observaciones" id="observaciones" rows="5" style="width: 98%;"></textarea>
                    </div>
                </div>                



                <div class="" id="panel-practicas" style="display: none;">
                    <!--<form class="form-diferir-rechazar" onsubmit="return false;">-->
                    <div class="row-fluid">
                        <div class="span12">
                            <label for="dtp_id"><b>Motivos:</b></label>
                            <?= $this->formSelect('mot_id', null, array('multiple' => 'multiple', 'size' => 5, 'required' => 'required', 'style' => 'width: 100%;'), $this->cache_diferidos); ?>
                        </div>
                        <code>Para elegir más de un motivo, mantenga presionada la tecla CTRL mientras selecciona con el mouse los motivos.</code>
                    </div>    



                    <!-- </form>-->
                </div>
            </form>
        </div>
    </div>





    <div class="modal-footer">		


        <button data-loading-text="Procesando..." type="submit" 
                id="btn_aceptar"
                class="btn btn-success pull-right">
            <i class="icon-ok icon-white"></i> Aceptar</button>


        <a class="btn btn-danger pull-right" href="/paciente/ordentransfusional">
            <i class="icon-ban-circle icon-white"></i></i> Cancelar
        </a>            

    </div>

</div>







<script type="text/javascript">


    $(function () {
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });

    });


    $(document).ready(function () {
//
//        $("#btn_cancelar_ordentransfusional").click(function () {
////            $("#panel-datos-paciente").show("slow");
////            $("#btn_aceptar").show("slow");
//        });

        $("#btn_hora_inicio").click(function () {
            var boton = $(this).attr("id");
            d = new Date();
            if (boton === "btn_hora_inicio") {
                $("#fecha_hora_inicio").val(getDateFormat(d));
            }
        });



    });


    /**
     * Grabar el formulario de entrevista
     */

    $(document).on('submit', '#form-ordentransfusional', function (e) {
        e.preventDefault();
        return false;
    });



    /**
     * GRABAR LA ORDEN TRANSFUSIONAL
     */
    $("#btn_aceptar").click(function () {

//        var cantidad_preguntas = 51;
        var datos = {};

//        for (i = 1; i <= cantidad_preguntas; i++) { 
//            datos[i] = {
//                    'pregunta': $(".pregunta-" + i + " > div.pregunta-" + i + "-descripcion > label").text(),
//                    'valor': $(".pregunta-" + i + " > div.pregunta-" + i + "-valor > input[name='radio-" + i + "']:checked").val(),
//                    'observacion': $(".pregunta-" + i + " > div.pregunta-" + i + "-observacion > input").val(),
//                }   
//        }


        // TODO: falta conformar el array con los datos del paciente de la orden transf.
        datos.header = {
            fecha: $('#fecha_hora_inicio').val(),
            pesona_id: $('#persona_id').val(),
            don_nro: $('#don_nro').val(),
            diagnostico: $('#diagnostico').val(),
            motivo_terapia: $('#motivo_terapia').val(),
            observaciones: $('#observaciones').val()
        }



        $(this).find('button[type=submit]').button('loading');

        $.post("<?= $this->baseUrl(); ?>/paciente/ordentransfusional/grabar", {datos: JSON.stringify(datos)}, function (data) {
            window.document.location.assign(baseUrl + '/');
        });

    });


    /* 
     * Convierte tipo de fecha y hora
     */
    function getDateFormat(date) {
        var d = new Date(date),
                month = ('0' + (d.getMonth() + 1)).slice(-2),
                day = ('0' + d.getDate()).slice(-2),
                year = d.getFullYear();
        hour = ('0' + d.getHours()).slice(-2);
        minute = ('0' + d.getMinutes()).slice(-2);
        second = ('0' + d.getSeconds()).slice(-2);

        var date = new Date();
        date.toLocaleDateString();
        return [year, month, day].join('-') + "T" + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
    }


</script>