<?php
    $this->datepicker();
    $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
    $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
    ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>

<fieldset>
    <legend>
        Gesti&oacute;n de Ordenes Transfusionales de Pacientes
    </legend>
       
    <div class="row-fluid"> 
        <div class="span12" style="background-color: RGBA(0,0,0,0.2); padding: 10px;">
            <div class="span10">       
                <a class="btn btn-default" href="<?=$this->baseUrl();?>/paciente/ordentransfusional/reportes/">
                    Reportes
                </a>                 
           </div>    
            <div class="span2">

            </div>            
        </div>
    </div>
        
     <div class="row-fluid"> 
        <div class="span12">
         </div>
    </div>   
    

    <div class="row-fluid">
        <div class="span9">
            <?php if(true || $this->resultados != null) :?>
                <table class="table table-striped table-bordered table-hover table-condense" width="60%">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th> Nro. Orden</th>
                            <th width="120">Fecha Muestra 
                                <i class="icon-chevron-up icon-white pull-right"></i>
                            </th>
                            <th> Estado</th>
                            <th> Hemocomponente</th>
                            <th> ABO</th>
                            <th> RH</th>
                            <th> Solicita</th>
                            <th width="150"> Paciente</th>                           
                            <th> Resultado</th>                           
                            <th width="110">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php //foreach($this->resultados as $i => $v): ?>
                        <tr>
                            <td>1045</td> 
                            <td>01/02/2018</td>
                            <td>Pendiente</td>  
                            <td>Glóbulos Rojos</td>
                            <td>AB</td>
                            <td>+</td>
                            <td>Efector A</td>
                            <td>Nombre y Apellido Paciente</td>
                            <td>Resultados</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="<?=$this->baseUrl();?>/paciente/ordentransfusional/tomarmuestra">Tomar Muestra/a></li>
                                    <li><a tabindex="-1" href="<?=$this->baseUrl();?>/paciente/ordentransfusional/hemocomponentelistar">Buscar Hemocomponentes</a></li>
                                    <li><a tabindex="-1" href="<?=$this->baseUrl();?>/paciente/ordentransfusional/hemocomponentereservados">Hemocomponentes Reservados</a></li>                                    
                                    <li><a tabindex="-1" href="<?=$this->baseUrl();?>/paciente/ordentransfusional/hemocomponentecompatibilizados">Compatibilizar Hemocomp.</a></li>
                                    <li><a tabindex="-1" href="<?=$this->baseUrl();?>/paciente/ordentransfusional/resultadosinmuno">Resultados Inmuno</a></li>
                                    <li><a tabindex="-1" href="#">Imprimir Planilla</a></li>
                                    <li><a tabindex="-1" href="#">Registrar Transfusión</a></li>
                                    <li><a tabindex="-1" href="<?=$this->baseUrl();?>/paciente/ordentransfusional/reaccionadversa">Reacción Adversa</a></li>
                                    <li><a tabindex="-1" href="#">Cancelar Transfusión</a></li>
                                    <li><a tabindex="-1" href="#">Reingresar a Stock</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>
                        
                        
                   
                        
                        <?php //endforeach; ?>
                    </tbody>
                    
                </table>

                <?=$this->paginador($this->paginas);?>


                <?php elseif($resultados == null): ?>
                    <div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
                <?php endif ;?>
        </div>

        
   
        
        <div class="span3">
            <a class="btn btn-medium btn-success" 
               href="<?= $this->baseUrl(); ?>/paciente/ordentransfusional/alta" >
                <i class="icon-plus icon-white"></i> Nueva <b>Orden Transfusional</b>
            </a>          

            <br/>
            <br/>            

            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="get" action="<?= $this->baseUrl(); ?>/paciente/ordentransfusional">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input name="fecha" id="datepicker" class="input-medium" 
                           placeholder="Fecha de la Muestra"
                           type="text" 
                           value="<?= $this->fecha; ?>" />
                </div>

                <br/>
                <br/> 

               <label for="lbl_efe_id">Efector</label>
               <select name="efe_id" id="efectores" class="input-large">
                    <option value="">Todos</option>
                    <a href="formulario-ordentransfusional.phtml"></a>
                    <?php foreach ($this->cache_efectores as $i => $v): ?>
                        <option value="<?= $i; ?>"><?= $v ?></option>
                    <?php endforeach; ?>
                </select>

                <br/> 
                <br/> 

                <label for="estado">Estado</label>
                <select name="estado" id="estado" value="1">                                    
                    <option value="1">Pendientes</option>
                    <option value="2">Descatadas</option>
                    <option value="3">Cerradas</option>
                </select>
                
                <br/>   
                
                <button class="btn btn-primary btn-inverse" type="submit">
                    <i class="icon-search icon-white"></i> Buscar
                </button>

                <br/>
                <br/>

                <button class="btn btn-primary btn-inverse" id="imprimir">
                    <i class="icon-print icon-white"></i> Imprimir 
                </button>

            </form>

        </div>
        
        
    </div>
    

    
</fieldset>


    


<script>
    $(function(){
        $("#efectores").val('<?= $this->efe_id?>');
        $("#efectores").select2();
        $("#estado").val('<?=$this->estado?>');
        $("#datepicker").datepicker({
            maxDate : 0,
            dateFormat : 'yy-mm-dd',
        });
    });
    
 

    $("#enviar").click(function() {
        var peso = $("#peso").val();
        var temp = $("#temp").val();
        if (confirm("¿Desea recibir "+(envios.length)+" envios?")) {
            $.post('<?php echo $this->baseUrl();?>/stock/solicitudes/recepcion-multiple', {envios: envios, peso : peso, temp : temp}, function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'nok'){
                    alert('Peso no permitido');
                    location.reload();
                }
                else {
                    alert('Ha ocurrido un error inesperado');
                    location.reload();
                }
            },'json');                              
        }
        else {
            location.reload();
        }
    });
    
</script>
