<?php
    $this->datepicker();
    $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
    $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
    ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>

<fieldset>
     

    <legend>
        Hemocomponentes Compatibilizados - Ordenes Transfusionales
    </legend>

    <legend>
        <a class="btn btn-primary btn-medium" href="/paciente/ordentransfusional">
            <i class="icon-chevron-left icon-white"></i> Regresar a Ordenes Transfusionales</a> 
        Listado Hemocomponentes Compatibilizados ( <span style="font-weight: 500;"><?php echo $this->efector_activo['nomest']; ?></span> )</span>
    </legend>        
    
    
        
     <div class="row-fluid"> 
        <div class="span12">
         </div>
    </div>   
    

    <div class="row-fluid">
        <div class="span9">

            <?php if(1) :?>
                <table class="table table-striped table-bordered table-hover table-condense" width="60%">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th> #</th>
                            <th width="120">Fecha Vto.
                                <i class="icon-chevron-up icon-white pull-right"></i>
                            </th>
                            <th> Cod. Hemocomp.</th>
                            <th width="150">  Hemocomponente</th>
                            <th> ABO</th>
                            <th> RH</th>
                            <th> Irradiado</th>
                            <th> Resultado</th>                           
                            <th width="110">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php //foreach($this->resultados as $i => $v): ?>
                        <tr>
                            <td>32</td> 
                            <td>01/03/2018</td>
                            <td>GLOBROJ</td>  
                            <td>Glóbulos Rojos</td>
                            <td>AB</td>
                            <td>+</td>
                            <td>NO</td>
                            <td>Resultados ///</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Estudios</a></li>
                                    <li><a tabindex="-1" href="#">Aprobar</a></li>
                                    <li><a tabindex="-1" href="#">Cancelar</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>
                        
                    
                        
                        <?php //endforeach; ?>
                    </tbody>
                    
                </table>

                <?=$this->paginador($this->paginas);?>


                <?php elseif(sizeof($resultados) == 0): ?>
                    <div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
                <?php endif ;?>
        </div>

        
   
        
        <div class="span3">

            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="get" action="<?= $this->baseUrl(); ?>/paciente/ordentransfusional">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input name="fecha" id="datepicker" class="input-medium" 
                           placeholder="Fecha de la Muestra"
                           type="text" 
                           value="<?= $this->fecha; ?>" />
                </div>

                <br/>
                <br/> 

               <label for="lbl_efe_id">Efector</label>
               <select name="efe_id" id="efectores" class="input-large">
                    <option value="">Todos</option>
                    <?php foreach ($this->cache_efectores as $i => $v): ?>
                        <option value="<?= $i; ?>"><?= $v ?></option>
                    <?php endforeach; ?>
                </select>

                <br/> 
                <br/> 

                <label for="estado">ABO</label>
                <select name="estado" id="estado" value="1">    
                    <option value="">Todos</option>
                    <option value="0">0</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="AB">AB</option>
                </select>
                
                <br/>   
                
                <label for="estado">Factor</label>
                <select name="estado" id="estado" value="1">    
                    <option value="+">+</option>
                    <option value="-">-</option>
                </select>
                
                <br/>                   
                
                <button class="btn btn-primary btn-inverse" type="submit">
                    <i class="icon-search icon-white"></i> Buscar
                </button>

                <br/>
                <br/>

                <button class="btn btn-primary btn-inverse" id="imprimir">
                    <i class="icon-print icon-white"></i> Imprimir 
                </button>

            </form>

        </div>
        
        
    </div>
    

    
</fieldset>


    


<script>
    $(function(){
        $("#efectores").val('<?= $this->efe_id?>');
        $("#efectores").select2();
        $("#estado").val('<?=$this->estado?>');
        $("#datepicker").datepicker({
            maxDate : 0,
            dateFormat : 'yy-mm-dd',
        });
    });
    
 

    $("#enviar").click(function() {
        var peso = $("#peso").val();
        var temp = $("#temp").val();
        if (confirm("¿Desea recibir "+(envios.length)+" envios?")) {
            $.post('<?php echo $this->baseUrl();?>/stock/solicitudes/recepcion-multiple', {envios: envios, peso : peso, temp : temp}, function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'nok'){
                    alert('Peso no permitido');
                    location.reload();
                }
                else {
                    alert('Ha ocurrido un error inesperado');
                    location.reload();
                }
            },'json');                              
        }
        else {
            location.reload();
        }
    });
    
</script>
</script>