<?php
    $this->datepicker();
    $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
    $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
    ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>

<fieldset>
     

    <legend>
        Orden Transfusional - Resultados de Inmuno
    </legend>

    <legend>
        <a class="btn btn-primary btn-medium" href="/paciente/ordentransfusional">
            <i class="icon-chevron-left icon-white"></i> Regresar a Ordenes Transfusionales</a> 
         Resultados de Inmuno ( <span style="font-weight: 500;"><?php echo $this->efector_activo['nomest']; ?></span> )</span>
    </legend>        
    
    
        
     <div class="row-fluid"> 
        <div class="span12">
         </div>
    </div>   
    

    <div class="row-fluid">
        <div class="span9">

            <?php if(1) :?>
                <table class="table table-striped table-bordered table-hover table-condense" width="60%">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th> Nro. Orden</th>
                            <th width="120">Fecha 
                                <i class="icon-chevron-up icon-white pull-right"></i>
                            </th>
                            <th> Estado</th>
                            <th> Hemocomponente</th>
                            <th width="150"> Paciente</th>                           
                            <th> Resultado</th>                           
                            <th width="110">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php //foreach($this->resultados as $i => $v): ?>
                        <tr>
                            <td>1045</td> 
                            <td>01/02/2018</td>
                            <td>Pendiente</td>  
                            <td>Glóbulos Rojos</td>
                            <td>Nombre y Apellido Paciente</td>
                            <td>Resultados</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Cargar Resultados</a></li>
                                    <li><a tabindex="-1" href="#">Realizada</a></li>
                                    <li><a tabindex="-1" href="#">Cancelar</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>
                        
                        
                        <?php //endforeach; ?>
                    </tbody>
                    
                </table>

                <?=$this->paginador($this->paginas);?>


                <?php elseif(sizeof($resultados) == 0): ?>
                    <div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
                <?php endif ;?>
        </div>

        
   
        
        <div class="span3">
            <form method="get" action="<?= $this->baseUrl(); ?>/paciente/ordentransfusional">
                <button class="btn btn-primary btn-inverse" id="imprimir">
                    <i class="icon-print icon-white"></i> Imprimir 
                </button>
            </form>
        </div>
        
        
    </div>
    

    
</fieldset>


    


<script>
    $(function(){
        $("#efectores").val('<?= $this->efe_id?>');
        $("#efectores").select2();
        $("#estado").val('<?=$this->estado?>');
        $("#datepicker").datepicker({
            maxDate : 0,
            dateFormat : 'yy-mm-dd',
        });
    });
    
 

    $("#enviar").click(function() {
        
        if (confirm("¿Desea grabar "+(envios.length)+" envios?")) {
            $.post('<?php echo $this->baseUrl();?>/paciente/ordentransfusional/recepcion-multiple', {envios: envios, peso : peso, temp : temp}, function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'nok'){
                    alert('Error NO OK');
                    location.reload();
                }
                else {
                    alert('Ha ocurrido un error inesperado');
                    location.reload();
                }
            },'json');                              
        }
        else {
            location.reload();
        }
    });
    
</script>
</script>