<fieldset>
    <legend>Tipos de Bolsas</legend>
</fieldset>

    <div class="row" style="background-color: #dddddd99; margin-left: 0px;">
        <div class="span8" style="padding:20px;">
            <h3 style="color:black;">Mensaje de Alerta</h3>
            <p>No se puede eliminar la bolsa ya que se encuentra utilizada al menos una vez.</p>
            <p>Esta acción podria comprometer la trazabilidad de los datos sobre las donaciones.</p>
            <br>
            <button class="btn btn-primary" id="btn_regresar">Regresar al listado</button>
        </div>
    </div>


<script>

    $(document).ready(function () {
        $("#btn_regresar").click(function () {
            window.location = '<?= $this->base_url; ?>/gestion/bolsastipos';
        });
    });

</script>
