<fieldset>
	<legend>Tipos de Bolsas</legend>
</fieldset>
	<ul class="breadcrumb">
		<li><a href="<?=$this->url(array('module' => 'gestion','controller' => 'bolsastipos'),null,true);?>">Tipos de Bolsas</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form name="frm_alta" method="post">
		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->url(array('module' => 'gestion','controller' => 'bolsastipos'),null,true);?>"><i class="icon-remove icon-white"></i> Cancelar</a>
                </div>
		<p></p>
		<div class="well">
			<?=$this->form->bolsa_tipo->renderLabel();?>
			<?=$this->form->bolsa_tipo->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->bolsa_tipo->renderErrors();?></span>
		</div>
                
		<div class="well">
			<?=$this->form->peso_minimo->renderLabel();?>
			<?=$this->form->peso_minimo->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->peso_minimo->renderErrors();?></span>
		</div>              
                
		<div class="well">
			<?=$this->form->peso_maximo->renderLabel();?>
			<?=$this->form->peso_maximo->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->peso_maximo->renderErrors();?></span>
		</div>                  
                
		<div class="well">
			<?=$this->form->observaciones->renderLabel();?>
			<?=$this->form->observaciones->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->observaciones->renderErrors();?></span>
		</div>                    
                
	</form>
