<?=$this->render('reusable.phtml');?>

<ul class="breadcrumb">
	<li><a href="<?=$this->baseUrl();?>/acceso/usuarios/index">Usuarios</a> <span class="divider">/</span></li>
	<li class="active">Nuevo Usuario</li>
</ul>

<form method="post" action="<?=$this->baseUrl();?>/acceso/usuarios/add" class="form-horizontal">

	<p><button type="submit" class="btn btn-small btn-primary btn-inverse"><i class="icon-ok icon-white"></i> Guardar</button> <a href="<?=$this->baseUrl();?>/acceso/usuarios/index" class="btn btn-small"><i class="icon-remove"></i> Cancelar</a></p>

	<div class="well">
		<div class="row">
			<div class="span6">
				<h4>Información Personal</h4>
				<div class="control-group">
					<label for="usu_nombre" class="control-label"><?=$this->form->usu_nombre->getLabel();?></label>
					<div class="controls">
						<?=$this->form->usu_nombre->renderViewHelper();?>
						<span class="help-inline"><?=$this->form->usu_nombre->renderErrors();?></span>
					</div>
				</div>
				<div class="control-group">
					<label for="usu_apellido" class="control-label"><?=$this->form->usu_apellido->getLabel();?></label>
					<div class="controls">
						<?=$this->form->usu_apellido->renderViewHelper();?>
						<span class="help-inline"><?=$this->form->usu_apellido->renderErrors();?></span>
					</div>
				</div>

				<div class="control-group">
					<label for="usu_email" class="control-label"><?=$this->form->usu_email->getLabel();?></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-envelope"></i></span>
							<?=$this->form->usu_email->renderViewHelper();?>
						</div>
						<span class="help-inline"><?=$this->form->usu_email->renderErrors();?></span>
					</div>
				</div>
			</div>
			<div class="span5">
				<h4>Datos de Ingreso</h4>

				<div class="control-group">
					<label for="usu_usuario" class="control-label"><?=$this->form->usu_usuario->getLabel();?></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-user"></i></span>
							<?=$this->form->usu_usuario->renderViewHelper();?>
						</div>
						<span class="help-inline"><?=$this->form->usu_usuario->renderErrors();?></span>
					</div>
				</div>


				<div class="control-group">
					<label for="usu_clave" class="control-label"><?=$this->form->usu_clave->getLabel();?></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-lock"></i></span>
							<?=$this->form->usu_clave->renderViewHelper();?>
						</div>
						<span class="help-inline"><?=$this->form->usu_clave->renderErrors();?></span>
					</div>
				</div>

				<div class="control-group">
					<label for="usu_rclave" class="control-label"><?=$this->form->usu_rclave->getLabel();?></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-lock"></i></span>
							<?=$this->form->usu_rclave->renderViewHelper();?>
						</div>
						<span class="help-inline"><?=$this->form->usu_rclave->renderErrors();?></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<h4>Aclaracion para la definicion de una contraseña:</h4>
			<ul>
				<li>Extension
					<ul>
						<li>La contraseña debe ser igual o superior a ocho (8) caracteres.</li>
					</ul>
				<li>Complejidad
					<ul>
						<li>Utiliza un conjunto de al menos dos clases de caracteres distintas. Son clases de caracteres distintas cuando se
utilizan numeros, letras(minusculas y mayusculas) o simbolos (#,$,etc).</li>
						<li>No se corresponde con palabras de diccionarios (independientemente del idioma o jerga) ni al derecho ni al reves, ni precedida o seguida por numeros o letras.</li>
						<li>No se relaciona con informacion facilmente deducible del dueño de la cuenta (EJ. nombre, direccion, fechas de nacimiento, datos de familiares o mascotas, aliases, nicks, etc.).</li>
						<li>No se relaciona con terminos comunes utilizados en la operatoria diaria. (Ej. nombre de la organizacion, productos, nombres de computadoras o aplicativos, comandos, hardware o software, etc.).</li>
						<li>No posee patrones comunes que se puedan tipear facilmente en los teclados. (Ej. 123qwe, 1q2w3e, aaabbb, qwerty, 123321, etc.).</li>
						<li>No se corresponde con ejemplos de contraseñas utilizados en documentos publicos.</li>
					</ul>
				</li>
			</ul> 
		</div>
	</div>
</form>
