<?=$this->render('reusable.phtml');?>

<ul class="breadcrumb">
	<li><a href="<?=$this->baseUrl();?>/acceso/usuarios/index">Usuarios</a> <span class="divider">/</span></li>
	<li><a href="<?=$this->baseUrl();?>/acceso/usuarios/manage/usu_id/<?=$this->resultado['usu_id'];?>">Administrar Usuario</a> <span class="divider">/</span></li>
	<li class="active">Administrar Roles de <b><?=$this->resultado['usu_usuario'];?></b></b></li>
</ul>

<?php if(empty($this->todos)): ?><div class="alert alert-info">Todos los <a href="<?=$this->baseUrl();?>/acceso/roles"><b>roles</b></a> han sido asignados a este usuario.</div><?php endif; ?>

<div class="row">
	<div class="span6">
		<form method="post" action="<?=$this->baseUrl();?>/acceso/usuarios/quitar/usu_id/<?=$this->resultado['usu_id'];?>">
			<table class="table table-striped table-bordered table-hover table-condense">
				<thead>
					<tr class="btn-info btn-small">
						<th colspan="2" width="200">(<?=($this->perfiles != null)?sizeof($this->perfiles):"Sin Perfiles Vinculados";?>) Roles Asociados
							<?php if(!empty($this->roles)): ?>
								<span class="pull-right"><input type="checkbox" /> <button class="btn btn-mini" type="submit">Remover</button></span>
								<?php endif; ?>
						</th>
					</tr>
				</thead>
				<?php if(!empty($this->roles)): ?>
					<tbody>
						<?php foreach($this->roles as $i => $v):?>
							<tr>
								<td><label class="checkbox"><input type="checkbox" name="rol[]" value="<?=$v['rol_id'];?>" /> <?=$v['rol_nombre'];?></label></td>
							</tr>
							<?php endforeach; ?>
					</tbody>
					<?php endif; ?>
			</table>
		</form>
	</div>
	<div class="span6">

		<?php if(!empty($this->todos)): ?>
			<form method="post" action="<?=$this->baseUrl();?>/acceso/usuarios/agregar/usu_id/<?=$this->resultado['usu_id'];?>">
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small">
							<th width="200" colspan="2">(<?=sizeof($this->todos);?>) Roles Disponibles <span class="pull-right"><input type="checkbox" /> <button type="submit" class="btn btn-mini">Agregar</button></span></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->todos as $i => $v):?>
							<tr>
								<td><label class="checkbox"><input type="checkbox" name="rol[]" value="<?=$v['rol_id'];?>" /> <?=$v['rol_nombre'];?></label></td>
							</tr>
							<?php endforeach; ?>
					</tbody>
				</table>
			</form>

			<?php endif;?>
	</div>
</div>
