<style>
    label{
        color:white;
    }
</style>

<fieldset>
    <legend><a class="btn btn-primary btn-medium" href="javascript:history.back()">
            <i class="icon-chevron-left icon-white"></i> Regresar a Usuarios</a></span>
    </legend>        

    <form id="form-datos" name="form-datos" onsubmit="return false;">  
        <?php if (sizeof($this->resultados) > 0) : ?>
            <div class="row-fluid form-horizontal"> 
                
                <div class="control-group"> 
                    <label class="control-label">Nombre y apellido del Usuario</label>
                    <div class="controls">
                        <input type="text" name="fld_usuario" value="<?= $this->resultados['usu_nombre'] . ", " . $this->resultados['usu_apellido']; ?>"
                               class="form-control" disabled/>
                    </div>     
                </div>
                
                <div class="control-group"> 
                    <label class="control-label">Nombre de Usuario</label>
                    <div class="controls">
                        <input type="text" name="fld_usuario" value="<?= $this->resultados['usu_usuario']; ?>"
                               class="form-control" disabled/>
                    </div>     
                </div>           

                <div class="control-group">
                    <label class="control-label">Contraseña</label>
                    <div class="controls">
                        <input type="password" name="cambiar_password" id="cambiar_password" placeholder="Escriba su contraseña..."
                               class="form-control" 
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" 
                               title="Debe contener: al menos 1 mayúscula, 1 minúscula, 1 número y no ser menor a 7 caracteres como mínimo"
                               value=""
                               required > 
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success submit" 
                                id="btn_grabar" name="btn_grabar"
                                type="submit"
                                title="Grabar cambio de contraseña"                                            
                                data-loading-text="Procesando..." data-id="<?= $this->resultados['usu_id'] ?>">
                            <i class="icon-check icon-white"></i> Grabar <b>Contraseña</b>
                        </button>  
                    </div>
                </div>
            </div>

        <?php endif; ?> 
    </form>

</fieldset>

<script type="text/javascript">

    $(".submit").click(function () {
        var Usu_id = $(this).attr('data-id');
        var Clave = $('#cambiar_password').val();

        if (cambiar_password == '') {
            alert('VERIFIQUE: debe completar la clave, no puede quedar incompleta o vacía ');
        } else {
            
            $.post('<?php echo $this->baseUrl(); ?>/acceso/usuarios/procesocambiarpassword', {usu_id: Usu_id, clave: Clave}, function (d) {
                if (d.st == 'ok') {
                    alert('La clave se ha grabado correctamente.');
                    window.location.href = '<?= $this->baseUrl(); ?>/acceso/usuarios/';
                } else if (d.st == 'nok') {
                    alert('Error al intentar grabar la clave');
                }
            }, 'json');

        }
    });


</script>