<fieldset>
    <legend><a class="btn btn-primary btn-medium" href="<?= $this->baseUrl(); ?>">
            <i class="icon-chevron-left icon-white"></i> Volver al Inicio</a></span>
    </legend>        

  
        
    <div class="row-fluid">  

    </div>


     <form id="form-datos" name="form-datos" onsubmit="return false;">  
 <?php if (sizeof($this->resultados) > 0) : ?>

         
        <div class="row-fluid"> 
            <div class="span9">
               <div class="span2">
                   Usuario: 
               </div>
               <div class="span3">
                   <?= $this->resultados['usu_nombre'] . ", ". $this->resultados['usu_apellido']; ?>
               </div>     

           </div>           
         </div>           
   

        <div class="row-fluid"> 

            <div class="span9">
               <div class="span2">
                   Contraseña: 
               </div>
                  <div class="span3">
                   <input type="password" name="cambiar_password" id="cambiar_password" 
                        class="form-control" 
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" 
                        title="Debe contener: al menos 1 mayúscula, 1 minúscula, 1 número y no ser menor a 7 caracteres como mínimo"
                        value=""
                        required > 
               </div>
           </div>      
        </div>

        <div class="row-fluid">  
               <div class="span2">
                   
               </div>            
            <div class="span3">
                <button class="btn btn-medium btn-success submit" 
                        id="btn_grabar" name="btn_grabar"
                        type="submit"
                        title="Grabar cambio de contraseña"                                            
                        data-loading-text="Procesando..." data-id="<?= $this->resultados['usu_id'] ?>">
                    <i class="icon-check icon-white"></i> Grabar <b>Contraseña</b>
                </button>  
            </div>                  
        </div>
        

        
<?php endif; ?> 


    </form>

 
    

    
    
</fieldset>


<script type="text/javascript">

        $(".submit").click(function () {
            var Usu_id =  $(this).attr('data-id');
            var Clave = $('#cambiar_password').val();

            if( cambiar_password == ''){
		 alert('VERIFIQUE: debe completar la clave, no puede quedar incompleta o vacía ');       
             } else {              
                $.post('<?php echo $this->baseUrl(); ?>/acceso/usuarios/procesocambiarpassword', {usu_id: Usu_id, clave: Clave  }, function (d) {
                   if (d.st == 'ok') {
                       alert('La clave se ha grabado correctamente.');
                       window.location.href = '<?= $this->baseUrl(); ?>'; 
                   } else if (d.st == 'nok') {
                       alert('Error al intentar grabar la clave');
                   }
               }, 'json');                
               
            }
       });

</script>