<?=$this->render('reusable.phtml');?>

<ul class="breadcrumb">
	<li><a href="<?=$this->baseUrl();?>/acceso/usuarios/index">Usuarios</a> <span class="divider">/</span></li>
	<li class="active">Nuevo Usuario</li>
</ul>

<form method="post" action="<?=$this->baseUrl();?>/acceso/usuarios/edit/usu_id/<?=$this->usu_id;?>" class="form-horizontal">

	<p><button type="submit" class="btn btn-small btn-primary btn-inverse"><i class="icon-ok icon-white"></i> Guardar</button> <a href="<?=$this->baseUrl();?>/acceso/usuarios/index" class="btn btn-small"><i class="icon-remove"></i> Cancelar</a></p>

	<div class="well">
		<div class="row">
			<div class="span6">
				<h4 style="color:black;">Información Personal</h4>
				<div class="control-group">
					<label for="usu_nombre" class="control-label"><?=$this->form->usu_nombre->getLabel();?></label>
					<div class="controls">
						<?=$this->form->usu_nombre->renderViewHelper();?>
						<span class="help-inline"><?=$this->form->usu_nombre->renderErrors();?></span>
					</div>
				</div>
				<div class="control-group">
					<label for="usu_apellido" class="control-label"><?=$this->form->usu_apellido->getLabel();?></label>
					<div class="controls">
						<?=$this->form->usu_apellido->renderViewHelper();?>
						<span class="help-inline"><?=$this->form->usu_apellido->renderErrors();?></span>
					</div>
				</div>

				<div class="control-group">
					<label for="usu_email" class="control-label"><?=$this->form->usu_email->getLabel();?></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-envelope"></i></span>
							<?=$this->form->usu_email->renderViewHelper();?>
						</div>
						<span class="help-inline"><?=$this->form->usu_email->renderErrors();?></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
