<?=$this->render('reusable.phtml');?>

<p><a href="<?=$this->baseUrl();?>/acceso/usuarios/add" class="btn btn-small btn-inverse"><i class="icon-plus icon-white"></i> Nuevo Usuario</a><br />
	<form method="post" action="<?=$this->baseUrl();?>/acceso/usuarios/index">
		<div class="input-append">
			<input type="text" class="input-medium" value="<?=$this->q;?>" name="q" placeholder="Busqueda..." />
			<button type="submit" class="btn btn-primary btn-inverse"><i class="icon-search icon-white"></i> Buscar</button>
		</div>
	</form>
</p>
<?php if(is_null($this->resultados)):
		elseif(!empty($this->resultados)): ?>
	<table class="table table-striped table-bordered table-hover table-condense">
		<thead>
			<tr class="btn-info btn-small btn-inverse">
				<th><i class="icon-user icon-white"></i> Usuario</th>
				<th width="220">Apellido</th>
				<th width="220">Nombres</th>
				<th width="220"><i class="icon-envelope icon-white"></i> Email</th>
				<th width="110"></th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($this->resultados as $i => $v): ?>
				<tr>
					<td><i class="icon-info-sign"></i> <a href="<?=$this->baseUrl();?>/acceso/usuarios/ver/usu_id/<?=$v['usu_id'];?>"><?=$v['usu_usuario'];?></a></td>
					<td><?=$v['usu_apellido'];?></td>
					<td><?=$v['usu_nombre'];?></td>
					<td><?=$v['usu_email'];?></td>
					<td>
                                            <a class="btn btn-mini btn-inverse" href="<?=$this->baseUrl();?>/acceso/usuarios/manage/usu_id/<?=$v['usu_id'];?>">
                                                <i class="icon-wrench icon-white"></i></a> 
                                            <a class="btn btn-mini btn-inverse" href="<?=$this->baseUrl();?>/acceso/usuarios/edit/usu_id/<?=$v['usu_id'];?>">
                                                    <i class="icon-pencil icon-white"></i></a>
                                            <a class="btn btn-mini btn-info" href="<?=$this->baseUrl();?>/acceso/usuarios/cambiarpassword/usu_id/<?=$v['usu_id'];?>">
                                                    <i class="icon-lock icon-white"></i></a>        
                                        </td>
				</tr>
				<?php endforeach; ?>
		</tbody>
	</table>
	<?=$this->paginador($this->paginas);?>

	<?php elseif(empty($this->resultados)): ?>
	<div class="alert alert-warning">No se han encontrado resultados relacionados</div>
	<?php endif;?>
