<?=$this->render('reusable.phtml');?>

<ul class="breadcrumb">
    <li><a href="<?=$this->baseUrl();?>/acceso/usuarios/index">Usuarios</a> <span class="divider">/</span></li>
    <li class="active">Administrar Usuario <b><?=$this->resultado['usu_usuario'];?></b></li>
</ul>

<?php if($this->pertenece): ?>
    <!--<a class="btn btn-small" href="<?=$this->baseUrl();?>/acceso/usuarios/proyecto/usu_id/<?=$this->resultado['usu_id'];?>/st/">&laquo; Usuarios</a>-->
    <?php endif; ?>

<?php if(is_null($this->pertenece)): ?>
    <div class="alert alert-warning">Este Usuario no pertenece a este proyecto. <a class="btn btn-small btn-warning" href="<?=$this->baseUrl();?>/acceso/usuarios/assoc/usu_id/<?=$this->resultado['usu_id'];?>">Asociar</a></div>
    <?php endif;?>

<div class="row">
    <div class="span6">

        <p><a class="btn btn-small btn-primary" href="<?=$this->url(array('controller'=>'efector','action'=>'index'));?>"><i class="icon-plus icon-white"></i> A&ntilde;adir Efectores</a></p>
        <?php if(!empty($this->efectores)): ?>
            <table class="table table-striped table-bordered table-hover table-condense">
                <thead>
                    <tr class="btn-info btn-small">
                        <th width="20"></th>
                        <th width="350">(<?=sizeof($this->efectores);?>) Efectores Asociados</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->efectores as $i => $v): ?>
                        <tr>
                            <td><?=($v['efe_defecto'] == 1) ? '<i class="icon-star"></i>' : '';?></td>
                            <td><?=$v['nomest'];?></td>
                            <td><?php if($v['efe_defecto'] == 0): ?><a class="btn btn-mini btn-warning" href="<?=$this->baseUrl();?>/acceso/efector/defecto/usu_id/<?=$this->resultado['usu_id'];?>/efe_id/<?=$v['id_establecimiento'];?>"><i class="icon-star icon-white"></i></a> <?php endif; ?><a class="btn btn-mini" href="<?=$this->baseUrl();?>/acceso/efector/remover/usu_id/<?=$this->resultado['usu_id'];?>/efe_id/<?=$v['id_establecimiento'];?>"><i class="icon-remove"></i></a></td>
                        </tr>
                        <?php endforeach; ?>
                </tbody>
            </table>

            <?php else: ?>
            <div class="alert alert-warning">Este usuario no tiene efectores asociados</div>
            <?php endif; ?>

    </div>
    <div class="span6">
        <p><a href="<?=$this->baseUrl();?>/acceso/usuarios/assoc/usu_id/<?=$this->resultado['usu_id'];?>" class="btn btn-small"><i class="icon-user"></i> Roles Asociados</a></p>
        <?php if(!empty($this->roles)) : ?>
            <table class="table table-striped table-bordered table-hover table-condense">
                <thead>
                    <tr class="btn-info btn-small">
                        <th width="200">(<?=sizeof($this->roles);?>) Roles Asociados</th>
                        <th></th>
                        <th width="35"></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->roles as $i => $v) : ?>
                        <tr>
                            <td><?=$v['rol_nombre'];?>
                            <td><a href="<?=$this->baseUrl();?>/acceso/roles/manage/rol_id/<?=$v['rol_id'];?>" class="btn btn-mini btn-inverse"><i class="icon-wrench icon-white"></i></a></td>
                        </tr>
                        <?php endforeach; ?>
                </tbody>
            </table>

            <?php else: ?>
            <div class="alert alert-warning">Este usuario no tiene Roles asociados</div>
            <?php endif; ?>
    </div>
</div>
