<?= $this->render('reusable.phtml'); ?>

<ul class="breadcrumb">
    <li><a href="<?= $this->baseUrl(); ?>/acceso/usuarios/index">Usuarios</a> <span class="divider">/</span></li>
    <li class="active">Ver Usuario</li>
</ul>

<div class="btn-group"><a class="btn btn-small" href="<?= $this->baseUrl(); ?>/acceso/usuarios/edit/usu_id/<?= $this->usu_id; ?>"><i class="icon-pencil"></i> Editar</a> <a class="btn btn-small" href="<?= $this->baseUrl(); ?>/acceso/usuarios/manage/usu_id/<?= $this->usu_id; ?>"><i class="icon-wrench"></i> Administrar</a></div>

<br><br>

<div class="view-panel" id="new-tratar" style="margin-bottom: 30px; ">
    <div class="modal-body">
        <div class="row"">
            <div class="span6" >
                <h5 style="border-bottom: 1px solid black;"><i class="icon-user"></i> Información Personal</a></h5>	
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd><?= $this->resultado['usu_nombre']; ?>&nbsp;</dd>

                    <dt>Apellido</dt>
                    <dd><?= $this->resultado['usu_apellido']; ?>&nbsp;</dd>

                    <dt>Correo Electrónico</dt>
                    <dd><i class="icon-envelope"></i> <?= $this->resultado['usu_email']; ?>&nbsp;</dd>
                </dl>
            </div>
            <div class="span6">
                <h5 style="border-bottom: 1px solid black;"><i class="icon-user"></i> Datos de Ingreso</a></h5> 
                <dl class="dl-horizontal">
                    <dt>Usuario</dt>
                    <dd><?= $this->resultado['usu_usuario']; ?>&nbsp;</dd>
                    <dt>Roles</dt>
                    <dd><?= sizeof($this->roles); ?></dd>
                </dl>
            </div>
        </div>
    </div>  
</div>