<fieldset>
	<legend>Productos/Insumos</legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->baseUrl();?>/stock/productos">Productos/Insumos</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">
		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->baseUrl();?>/stock/productos"><i class="icon-remove icon-white"></i> Cancelar</a></div>

		<p></p>
                
                
		<div class="well">         
			<?=$this->form->productocategoria_id->renderLabel();?>
			<?=$this->form->productocategoria_id->renderViewHelper();?>
			<span class="help-inline text-error"><?=$this->form->productocategoria_id->renderErrors();?></span>
         
                

			<?=$this->form->codigo->renderLabel();?>
			<?=$this->form->codigo->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->codigo->renderErrors();?></span>                
                        
                        
			<?=$this->form->nombre_producto->renderLabel();?>
			<?=$this->form->nombre_producto->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->nombre_producto->renderErrors();?></span>
                        
			<?=$this->form->ultimo_costo->renderLabel();?>
			<?=$this->form->ultimo_costo->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->ultimo_costo->renderErrors();?></span>  
                        
		</div>

                
	</form>
</fieldset>


