<fieldset>
	<legend>Productos/Insumos</legend>

	<p><a class="btn btn-primary btn-small" href="<?=$this->url(array('action'=>'agregar'));?>"><i class="icon-plus icon-white"></i> Nuevo</a></p>

	<div class="row-fluid">
		<div class="span10">
			<?php if(sizeof($this->resultados) > 0): ?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
                                                    	<th>ID</th>
							<th>Categoría/Rubro</th>                                                        
							<th>Código</th>
							<th>Nombre</th>
							<th>Ultimo Costo</th>                                                        
							<th width="240">Aciones</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v):
                                                     // TODO: asignar directamente del MODELO PRODUCTO, remover el IF ()
                                                    
                                                    ?>
							<tr <?php echo ($v['pro_'] == 0) ? 'class="warning"' : '';?>>
								<td><?=$v['id'];?></td>
                                                                <td>
                                                                    <?php if ($v['productocategoria_id'] == 1): ?>
                                                                        Insumos
                                                                    <?php elseif ($v['productocategoria_id'] == 2): ?>
                                                                        Material Descartable
                                                                    <?php elseif ($v['productocategoria_id'] == 3): ?>
                                                                        Reactivos
                                                                    <?php elseif ($v['productocategoria_id'] == 4): ?>
                                                                        Ropa
                                                                    <?php elseif ($v['productocategoria_id'] == 5): ?>
                                                                        EPP    
                                                                    <?php elseif ($v['productocategoria_id'] == 6): ?>
                                                                        Máquinas
                                                                    <?php elseif ($v['productocategoria_id'] == 7): ?>
                                                                        Accesorios
                                                                    <?php elseif ($v['productocategoria_id'] == 8): ?>
                                                                        Librería      
                                                                     <?php elseif ($v['productocategoria_id'] == 9): ?>
                                                                        Tecnología                                      
                                                                     <?php elseif ($v['productocategoria_id'] == 10): ?>
                                                                        Varios                                                                             
                                                                    <?php endif; ?> 
                                                                </td>                                                                
                                                                <td><?=$v['codigo'];?></td>
								<td><?=$v['nombre_producto'];?></td>
                                                                <td><?=$v['ultimo_costo'];?></td>
								<td><a class="btn btn-mini btn-primary" href="<?=$this->baseUrl();?>/stock/productos/modificar/id/<?=$v['id'];?>"><i class="icon-edit icon-white"></i> Editar</a> 
                                                                    <a class="btn btn-mini btn-danger" href="<?=$this->baseUrl();?>/stock/productos/eliminar/id/<?=$v['id'];?>"><i class="icon-remove icon-white"></i> Eliminar</a>
                                                                </td>
							</tr>
							<?php endforeach; ?>
					</tbody>
				</table>
				<?php else:?>
				<div class="alert alert-warning">No hay Productos Cargados</div>
				<?php endif;?>
		</div>
	</div>
</fieldset>
