<fieldset>
	<legend>Determinaciones</legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->baseUrl();?>/gestion/determinaciones">Determinaciones</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">

		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->baseUrl();?>/gestion/determinaciones"><i class="icon-remove icon-white"></i> Cancelar</a></div>

		<p></p>
		<div class="well">

			<?=$this->form->cod->renderLabel();?>
			<?=$this->form->cod->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->cod->renderErrors();?></span>

			<?=$this->form->descripcion->renderLabel();?>
			<?=$this->form->descripcion->renderViewHelper();?>
			<span class="help-inline text-error"><?=$this->form->descripcion->renderErrors();?></span>

                        
			<?=$this->form->enf_id->renderLabel();?>
			<?=$this->form->enf_id->renderViewHelper();?>
			<span class="help-inline text-error"><?=$this->form->enf_id->renderErrors();?></span>


            <?=$this->form->def->renderLabel();?>
            <div class="radio-group">
                <?=$this->form->def->renderViewHelper();?>
            </div>
            <span class="help-inline text-error"><?=$this->form->def->renderErrors();?></span>
		</div>
	</form>
</fieldset>
