<fieldset>
	<legend>Determinaciones</legend>

	<p><a class="btn btn-primary btn-large" href="<?=$this->url(array('action'=>'agregar'));?>"><i class="icon-plus icon-white"></i> Nuevo Determinación</a></p>

	<div class="row-fluid">
		<div class="span10">
			<?php if(sizeof($this->resultados) > 0): ?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
							<th style="text-align:center;">Código</th>
							<th style="text-align:center;">Código Laboratorio</th>
							<th style="text-align:center;">Descripción</th>
							<th style="text-align:center;" width="140" class="text-center">Tamizaje por Defecto</th>
                                                        <th style="text-align:center;" width="140" class="text-center">Estado del Registro</th>
                                                        <th style="text-align:center;">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v): ?>
							<tr <?php echo ($v['estado'] == 0) ? 'class="warning"' : '';?>>
								<td><?=$v['enf_id'];?></td>
                                                                <td style="text-align: center;"><label class="label label-inverse"><?=$v['cod'];?></label></td>
								<td><?=$v['descripcion'];?></td>
                                                                <td style="text-align: center;"><?=($v['def']==1)?'<label class="label label-success">Sí</label>':'<label class="label label-important">NO</label>';?></td>
                                                                <td style="text-align: center;"><?=($v['estado']==1)?'<label class="label label-success">Activo</label>':'<label class="label label-important">Inactivo</label>';?></td>
                                                                <td style="text-align:center;">
                                                                    <a class="btn btn-mini btn-primary" href="<?=$this->baseUrl();?>/gestion/determinaciones/modificar/id/<?=$v['ana_id'];?>"><i class="icon-edit icon-white"></i> Editar</a> 
                                                                    <a class="btn btn-mini btn-warning" href="<?=$this->baseUrl();?>/gestion/determinaciones/cambiar-estado/ana_id/<?=$v['ana_id'];?>/st/<?=($v['estado'] == 1) ? 0 : 1;?>"><i class="icon-pencil icon-white"></i> <?=($v['estado'] == 1) ? 'Desactivar' : 'Activar';?></a> 
                                                                    <a class="btn btn-mini btn-danger" href="<?=$this->baseUrl();?>/gestion/determinaciones/eliminar/ana_id/<?=$v['ana_id'];?>"><i class="icon-remove icon-white"></i> Eliminar</a>
                                </td>
							</tr>
							<?php endforeach; ?>
					</tbody>
				</table>
				<?php else:?>
				<div class="alert alert-warning">No hay Determinaciones Cargadas</div>
				<?php endif;?>
		</div>
	</div>
</fieldset>
