<?php $this->datepicker(); ?>
<legend class="view-title">
    <a class="btn btn-primary btn-medium" href="<?=$this->baseUrl();?>/efector/extraccion">
        <i class="icon-chevron-left icon-white"></i> Regresar a Extracción
    </a> 
    <h3>Proceso de Extracción</h3>
</legend>   

<div class="view-panel" id="new-tratar" style="margin-bottom: 30px;" >
    <div class="modal-header">
        <div id="trata-det" class="" style="margin-bottom: 0;">
            <div class="row-fluid" style="margin-top: 10px;">
                <div class="span4"><pre><b>Código de Donación:</b>  <?= $this->persona['donacion_numero']['don_nro']; ?></pre> </div>    
                <div class="span4"><pre><b>Cód. Autogenerado:</b> <?= $this->persona['codigo_autogenerado']; ?> </pre></div>  
                <div class="span4"><pre><b>Nombre:</b> <?= $this->persona['per_apellido'] . ", " . $this->persona['per_nombres']; ?> (<?= $this->cache_tipo_doc[$this->persona['per_tipodoc']]; ?>: <?= $this->persona['per_nrodoc']; ?>)</pre></div>    
            </div>
        </div>
    </div>
    <form id="form-extraccion" name="form-extraccion" method="post">
        <div class="modal-body">

            <div class="">
                <div class="" id="panel-examen-medico">


                    <div class="row-fluid">
                        <div class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-flag"></i> Tiempos de Extracción</h5>
                            <div class="row-fluid">

                                <div class="span6">
                                    <div class="input-append">
                                        <span class="add-on">Inicio de la Extraccion:</span>
                                        <input type="datetime-local" 
                                               id="fecha_hora_inicio" name="fecha_hora_inicio" value="">
                                        <input type="button" class="btn btn-primary" id="btn_hora_inicio" value="Hora Actual">
                                    </div>
                                </div>

                                <div class="span6">

                                    <div class="input-append ">
                                        <span class="add-on">Fin de la Extraccion:</span>
                                        <input type="datetime-local" 
                                               id="fecha_hora_finalizacion" name="fecha_hora_finalizacion" value="">
                                        <input  type="button" class="btn btn-primary" id="btn_hora_final" value="Hora Actual">
                                    </div>                             
                                </div>
                            </div>

                        </div>
                    </div>                        

                    <div class="row-fluid">       
                        <div class="span6">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-plus"></i> Información para Extracción</h5>
                            <div class="row-fluid">
                                <div class="span6">                                    

                                    <h5>Tipo de Bolsa</h5>
                                    <select name="bolsa_tipo" id="bolsa_tipo" class="input-large" style="width: 90%;"
                                            required="required">
                                        <option value="">Seleccione un tipo de bolsa...</option>
                                        <?php
                                        foreach ($this->bolsa_tipo_list as $i => $v):
                                            ?>
                                            <option value="<?= $i; ?>"><?= $v; ?></option>
                                        <?php endforeach; ?>
                                    </select>                                        
                                    <p><span style="font-style:italic;">Seleccione el tipo de bolsa que utilizará para la extracción.</span></p>
                                    <br>

                                    <h5>Marca de Bolsa</h5>
                                    <select name="marca_bolsa" id="marca_bolsa" class="input-large" style="width: 90%;"
                                            required="required">
                                        <option value="">Seleccione una marca de la bolsa...</option>
                                        <?php
                                        foreach ($this->bolsa_marca_list as $i => $v):
                                            ?>
                                            <option value="<?= $i; ?>"><?= $v; ?></option>
                                        <?php endforeach; ?>
                                    </select>                                   
                                    <p><span style="font-style:italic;">Identifique la marca de la bolsa que esta por utilizar.</span></p>

                                    <br>

                                    <h5>Fecha de Vencimiento de la Bolsa</h5>
                                    <input type="date" id="fecha_vencimiento_bolsa" name="fecha_vencimiento_bolsa" style="width: 90%;" required>
                                    <p><span style="font-style:italic;">Ingrese la fecha de vencimiento de la bolsa, esta informacion se encuentra en el rotulado de la misma.</span></p> 
                                </div>

                                <div class="span6">
                                    <h5>Número de Tubuladura</h5>
                                    <input type="text" id="nroTubuladura" name="nroTubuladura" size="20"  style="width: 90%;" required>
                                    <p><span style="font-style:italic;">Ingrese el número identificatorio que figura en la tubuladura de la bolsa.</span></p>
                                    <br>

                                    <h5>Número de lote de la bolsa</h5>
                                    <input type="text" id="nroLoteBolsa" name="nroLoteBolsa" size="20"  style="width: 90%;" required>
                                    <p><span style="font-style:italic;">Identifique la número de lote en la bolsa que esta por utilizar. Esta información podrá encontrarla en el rotulado de la bolsa.</span></p>

                                </div>
                            </div>


                        </div>    

                        <div class="span6">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-plus"></i> Información para Extracción</h5>    
                            <div class="row-fluid">
                                <div class="span6">

                                    <h5>Solución Conservadora</h5>
                                    <select name="solucion_conservadora" id="solucion_conservadora" class="input-large" style="width: 90%;"
                                            required="required">
                                        <option value="">Seleccione una solución conservadora...</option>
                                        <?php
                                        foreach ($this->bolsa_list as $i => $v):
                                            ?>
                                            <option value="<?= $i; ?>"><?= $v; ?></option>
                                        <?php endforeach; ?>
                                    </select>                                      
                                    <p><span style="font-style:italic;">Identifique la solución conservadora utilizada en la bolsa que esta por utilizar. Esta información podrá encontrarla en el rotulado de la bolsa.</span></p>
                                    <br>

                                    <h5>Brazo Intervenido</h5>
                                    <select name="brazo_intervenido" id="brazo_intervenido" class="form-control"  style="width: 90%;" required>
                                        <option value="">Seleccione un brazo...</option>
                                        <option value="0">Brazo Izquierdo</option>
                                        <option value="1">Brazo Derecho</option>
                                        <option value="2">Ambos Brazos</option>
                                    </select>
                                    <p><span style="font-style:italic;">Defina el brazo por el cual realizo efectivamente la extraccion.</span></p>

                                </div>                        

                                <div class="span6">
                                    <h5>Reacción adversa en el donante</h5>

                                    <div class="form-inline">
                                        <?php
                                        $default = 2;
                                        echo $this->formRadio('reaccion', $default, null, array(1 => ' Si ', 2 => ' No '), " - ");
                                        ?>
                                        <p><span style="font-style:italic;">Durante la extracción, ¿tuvo alguna reacción adversa?</span></p>
                                    </div>
                                    <br>
                                    <h5 id="nomreaccion">Tipo de Reacción</h5>
                                    
                                    <select name="tiporeaccion" id="tiporeaccion" class="form-control"  style="width: 90%;">
                                        <option value="">Seleccione una reacción</option>
                                        <option value="Reacción Vasovagal">Reacción Vasovagal</option>
                                        <option value="Reacción por Venopunción">Reacción por Venopunción</option>
                                        <option value="Reacción por Toxicidad por Citrato">Reacción por Toxicidad por Citrato</option>
                                    </select>                                    
                                </div>
                            </div>
                        </div>
                    </div>                            

                    <div class="row-fluid">     
                        <div class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-comment"></i> Observaciones generales acerca de la extracción</h5>
                            <textarea style="width: 98%;" required="required" name="observaciones_extraccion" rows="5"></textarea>
                        </div>
                    </div>   


                </div>

                <div class="" id="panel-diferir-rechazar" style="display: none; margin-bottom: 30px;">
                    <div class="row-fluid">

                        <div class="span6">
                            <label for="motivo">Seleccione Motivo de Descarte</label>
                            <?= $this->formSelect('motivos_descarte', '', array('style' => 'width:95%;', 'width' => '100%', 'size' => 15, 'required' => 'required'), $this->cache_descartes); ?>
                        </div>
                        <div class="span6">
                            <label for="observaciones_descarte">Observaciones acerca del descarte</label>
                            <textarea required="required" style="width:95%;" name="observaciones_descarte" class="input-xxlarge" cols="100" rows="13"></textarea>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="modal-footer">		

            <button data-loading-text="Procesando..." type="submit" 
                    id="btn_aceptar"
                    class="btn btn-success pull-right">
                <i class="icon-ok icon-white"></i> Aceptar</button>

            <button data-loading-text="Procesando..." type="button" 
                    id="btn_panel_descartar" 
                    class="btn btn-danger pull-right">
                <i class="icon-ban-circle icon-white"></i> Descartar</button>        

            <button style="display: none;" data-loading-text="Procesando..." type="button" 
                    id="btn_confirmar_descarte" 
                    class="btn btn-warning pull-right">
                <i class="icon-ban-circle icon-white"></i> Confirmar Descarte</button>                                   

            <button style="display: none;" data-loading-text="Procesando..." type="button" 
                    id="btn_cancelar_descarte" 
                    class="btn btn-danger pull-right">
                <i class="icon-ban-circle icon-white"></i> Cancelar</button>                                   

        </div>
        <input type="hidden" name="tiempo_extraccion" id="tiempo_extraccion">
        <input type="hidden" name="don_id" id="don_id" value="<?= $this->donacion->don_id; ?>" >
        <input type="hidden" name="st" id="st" >
    </form>
</div>
<!--form action="<!?= $this->baseUrl(); ?>/efector/extraccion/descartar/don_id/<!?= $this->extraccion['don_id']; ?>" method="post"></form-->

<script type="text/javascript">
    var base_url = '<?= $this->baseUrl(); ?>';

    $(document).ready(function () {

        $("#btn_panel_descartar").click(function () {
            $("#panel-examen-medico").hide("slow");
            $("#btn_aceptar, #btn_panel_descartar").hide("slow");
            $("#panel-diferir-rechazar").show("slow");
            $("#btn_confirmar_descarte, #btn_cancelar_descarte").show("slow");
            $('#motivos_descarte').prop('required', true);
            $('#observaciones_descarte').prop('required', true);
        });

        $("#btn_cancelar_descarte").click(function () {
            $("#panel-diferir-rechazar").hide("slow");
            $("#btn_confirmar_descarte, #btn_cancelar_descarte").hide("slow");
            $("#panel-examen-medico").show("slow");
            $("#btn_aceptar, #btn_panel_descartar").show("slow");
            $('#motivos_descarte').prop('required', false);
            $('#observaciones_descarte').prop('required', false);
        });

        //ACCION ACEPTAR DONANTE Y PASARLO A EXTRACCION
        $("#btn_aceptar").click(function (e) {
            e.preventDefault();
            $("#st").val(5);//Valor 4
            if (validarDatosExamen() === true) {
                $('#mot_id').attr('required', false);
                $('form#form-extraccion').submit();
            } else {
                alert('Para completar el proceso, Ud. debe completar todos los campos indicados correctamente');
            }
        });

        $("#btn_confirmar_descarte").click(function (e) {
            e.preventDefault();
            $("#st").val(3); //Rechazar Donacion en Extraccion. 
            if (validarDatosDescarte() === true) {
                $('form#form-extraccion').submit();
            } else {
                alert('Para completar el proceso, Ud. debe completar todos los campos indicados correctamente');
            }
        });

        $("#btn_hora_inicio, #btn_hora_final").click(function () {
            var boton = $(this).attr("id");
            d = new Date();
            if (boton === "btn_hora_inicio") {
                $("#fecha_hora_inicio").val(getDateFormat(d));
            } else if (boton === "btn_hora_final") {
                $("#fecha_hora_finalizacion").val(getDateFormat(d));
            }
        });


        //CONTROLES Y VALIDACIONES SOBRE EL FORMULARIO        
        $('#form-extraccion').on("keyup keypress", function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                return false;
            }
        });

    });//Fin Document.ready

    /** SUBMIT FORMULARIO EXTRACCION**/
    $(document).on('submit', 'form#form-extraccion', function (e) {
        e.preventDefault();
        var a = new Date($('#fecha_hora_inicio').val());
        var b = new Date($('#fecha_hora_finalizacion').val());
        $('#tiempo_extraccion').val(((b.getHours() - a.getHours()) * 60) + (b.getMinutes() - a.getMinutes()) + ((b.getSeconds() - a.getSeconds()) / 60));
        $.post(base_url + '/efector/extraccion/cambiar-estado', $(this).serialize(), function (d) {
            if (d.st === 'OK') {
                window.document.location.assign(base_url + '/efector/extraccion');
            } else {
                alert(d.mensaje);
                $(':submit').button('reset');
            }
        }, 'json');
    });

    // TIPO DE REACCION
    $("[type=radio]").css("display", "inline");

    $("#tiporeaccion").prop('disabled', true);

    $("input[name=reaccion]").click(function () {
        if ($(this).val() == 1) {
            $("#tiporeaccion").val(null);
            $("#tiporeaccion").prop('disabled', false);
            $("#tiporeaccion").prop('required', true);
        } else if ($(this).val() == 2) {
            $("#tiporeaccion").prop('disabled', true);
            $("#tiporeaccion").prop('required', false);
        } else {
            $("tiporeaccion").attr('disabled', 'disabled');
            $("#tiporeaccion").val(null);
            $("#tiporeaccion").attr('disabled', 'disabled');
            $("#tiporeaccion").prop('disabled', true);
        }
    });

    //TODO: no implementar hasta no tener seguridad que los nros de tubuladura son unicos. REQUIERE: investigacion con proveedores
    function validaTubuladura() {
        vRet = true;
        nroTubuladura = $('#nroTubuladura').val();
        if (nroTubuladura != '') {
            $.ajax({
                data: {
                    'st': '0',
                    'nroTubuladura': nroTubuladura
                },
                url: '/banco/efector/examenes/cod-Tubuladura-Fue-Utilizado',
                type: 'post',
                async: false,
                beforeSend: function () {
                    console.log('Procesando...')
                },
                success: function (response) {
                    if (response.st === 'ok') {
                        vRet = false;
                    }
                }
            });

        } else {
            alert('Debe ingresar un nro de tubuladura válido.');
        }
        console.log(vRet);
        return vRet;

    }

    /** Convierte tipo de fecha y hora **/
    function getDateFormat(date) {
        var d = new Date(date),
                month = ('0' + (d.getMonth() + 1)).slice(-2),
                day = ('0' + d.getDate()).slice(-2),
                year = d.getFullYear();
        hour = ('0' + d.getHours()).slice(-2);
        minute = ('0' + d.getMinutes()).slice(-2);
        second = ('0' + d.getSeconds()).slice(-2);
        return [year, month, day].join('-') + "T" + hour + ":" + minute + ":" + second;
    }

    function validarDatosExamen() {
        vRet = true;

        if ($('#nroTubuladura').val() === '') {
            alert('NUMERO DE TUBULADURA: no puede quedar incompleto o vacío');
            vRet = false;
        }
        if ($('#nroLoteBolsa').val() === '') {
            alert('NUMERO DE LOTE DE LA BOLSA: no puede quedar incompleto o vacío');
            vRet = false;
        }

        if ($('#tiporeaccion').prop('disabled') != true) {
            if ($('#tiporeaccion').val() === '') {
                alert('TIPO DE REACCION ADEVERSA: no puede quedar incompleta o vacía');
                vRet = false;
            }
        }

        if ($('#bolsa_tipo').val() === '') {
            alert('TIPO BOLSA: no puede quedar incompleto o vacío');
            vRet = false;
        }

        if ($('#marca_bolsa').val() === '') {
            alert('MARCA DE LA BOLSA: no puede quedar incompleto o vacío');
            vRet = false;
        }

        if ($('#solucion_conservadora').val() === '') {
            alert('SOLUCION CONSERVADORA: no puede quedar incompleto o vacío');
            vRet = false;
        }

        if ($('#brazo_intervenido').val() === '') {
            alert('BRAZO INTERVENIDO: no puede quedar incompleto o vacío');
            vRet = false;
        }

        if ($("#fecha_hora_inicio").val() === '') {
            alert('FECHA Y HORA DE INICIO: no puede quedar incompleto o vacío');
            vRet = false;
        }

        if ($("#fecha_hora_finalizacion").val() === '') {
            alert('FECHA Y HORA DE FINALIZACION: no puede quedar incompleto o vacío');
            vRet = false;
        }
        
        if ($("#fecha_vencimiento_bolsa").val() === '') {
            alert('FECHA DE VENCIMIENTO: no puede quedar incompleto o vacío');
            vRet = false;
        }




        return vRet;
    }

    function validarDatosDescarte() {
        vRet = true;
        vRet = validarDatosExamen();
        if ($('#observaciones_descarte').val() === '') {
            alert('OBSERVACION DESCARTE: no puede quedar incompleta o vacía ');
            vRet = false;
        }

        if ($('#motivos_descarte').val() === null) {
            alert('MOTIVOS DESCARTE: debe seleccionar al menos un motivo para diferir');
            vRet = false;
        }

        return vRet;
    }
    ;

</script>
