<fieldset>
    <legend><a title="Volver al Listado" class="btn btn-medium btn-primary" href="<?= $this->baseUrl(); ?>/efector/extraccion">
            <i class="icon-chevron-left icon-white"></i></a> Proceso Extracción <?= $this->extraccion['don_nro']; ?> - <?= $this->escape($this->persona['per_nombres']); ?>, <?= $this->escape($this->persona['per_apellido']); ?></legend>

    <div class="row-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-finaliza" data-toggle="tab"><i class="icon-ok"></i>  Donación Finalizada Correctamente</a></li>
            <li><a href="#tab-descarte" data-toggle="tab"><i class="icon-remove"></i> Donación debe Descartarse</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab-finaliza">
                <div class="row-fluid">
                    <form method="post" action="<?= $this->baseUrl(); ?>/efector/extraccion/finalizar/don_id/<?= $this->extraccion['don_id']; ?>">
                        <div class="span4">

                            <label for="observacion"><b>Observación</b></label>
                            <textarea class="input-xlarge" style="width:400px;" required="required" name="observaciones" cols="100" rows="5">No se observaron complicaciones.</textarea>
                            <br />
                            <br />
                            <label><i class="icon-time"></i><b>Tiempo de Extracción en minutos:</b></label>
                            <button type="submit" data-href="10" class="btn btn-large btn-success"> Menos de 10 min. <i class="icon-chevron-left icon-white"></i></button>
                            <button type="submit" data-href="12" class="btn btn-large btn-primary"> Más de 10 min. <i class="icon-chevron-right icon-white"></i></button>

                            <input type="hidden" id="tiempo" name="tiempo" value="10">
                        </div>
                        <div class="row-fluid span8" style="padding: 21px;  border: 1px solid #cccccc;margin-bottom: 20px;">
                            <div class="span4">
                                <form class="extras" onsubmit="return false;">
                                    <?php echo $this->formHidden('cod', $this->extra[0]['ext_id'], array('size' => 32)); ?>  
                                    <h5>C&oacute;digo de colecta</h5>
                                    <?php echo $this->formText('codcolecta', $this->extra[0]['cod_colecta'], array('size' => 20)); ?>
                                    <h5>Tipo de donaci&oacute;n</h5>
                                    <select name="tipo">
                                        <option value="" style="color:#999;" disabled>Elija el tipo de donación...</option>
                                        <option value ="Voluntaria">Voluntaria</option>
                                        <option value="Reposicion">Reposición</option>
                                        <option value="Autologa">Autologa</option>
                                    </select>
                                    <!--?php echo $this->formText('tipo', $this->extra[0]['tipo'], array('size' => 20)) ; ?-->
                                    <h5>Peso del donante</h5>
                                    <?php echo $this->formText('peso', $this->extra[0]['peso'], array('size' => 11)); ?>
                                    <h5>Hemoglobina [HB] (g/dl) </h5>
                                    <?php echo $this->formText('hb', $this->extra[0]['hb'], array('size' => 20)); ?>
                                    <h5>Tensi&oacute;n arterial</h5>
                                    <?php echo $this->formText('ta', $this->extra[0]['ta'], array('size' => 20)); ?>
                                    <h5>Pulso</h5>
                                    <?php echo $this->formText('pulso', $this->extra[0]['pulso'], array('size' => 20)); ?>
                                    <h5>Temperatura (C°) </h5>
                                    <?php echo $this->formText('temperatura_corporal', $this->extra[0]['temperatura_corporal'], array('size' => 20)); ?>
                            
                            
                            </div>
                            
                            <div class="span4">
                                <h5>Nro. de Tubuladura</h5>
                                <?php echo $this->formText('nroTubuladura', $this->extra[0]['nroTubuladura'], array('size' => 20)); ?>
                                
                                <h5>Solución conservadora</h5>
                                <select name="tipo_bolsa">
                                    <?php foreach ($this->bolsas as $b) : ?>
                                        <?php if ($this->extra[0]['tipo_bolsa'] == $b['id']) : ?>
                                            <option value="<?= $b['id']; ?>" selected><?= $b['tipo_bolsa']; ?></option>
                                        <?php else : ?>
                                            <option value="<?= $b['id']; ?>"><?= $b['tipo_bolsa']; ?></option>
                                        <?php endif; ?>
                                    <?php endforeach ?>
                                </select>
                                
                                <h5>Nro. de lote de la bolsa</h5>
                                <?php echo $this->formText('nroLote_bolsa', $this->extra[0]['nroLote_bolsa'], array('size' => 20)); ?>
                                
                                <h5>Hematocritos (%) </h5>
                                <?php echo $this->formText('hematocritos', $this->extra[0]['hematocritos'], array('size' => 20)); ?>

                            </div>
                            <div class="span4">
                                <h5>Reacciones post-extracci&oacute;n</h5>
                                <div class="form-inline">
                                    <?php
                                    if (empty($this->extra[$i]['reaccion'])) {
                                        $default = 2;
                                    } else {
                                        $default = 1;
                                    }
                                    ?>
                                    <?php echo $this->formRadio('reaccion', $default, null, array(1 => ' Si ', 2 => ' No '), " - "); ?>
                                </div>
                                <br />

                                <h5>Marca de la bolsa</h5>
                                <?= $this->formText('marca', $this->extra[0]['marca_bolsa'], array('size' => 20)); ?>
                              
                                
                                <h5 id="nomreaccion">Tipo de reacción</h5>
                                <?php echo $this->formText('tiporeaccion', $this->extra[0]['reaccion'], array('size' => 50)); ?>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="tab-pane" id="tab-descarte">
                <form action="<?= $this->baseUrl(); ?>/efector/extraccion/descartar/don_id/<?= $this->extraccion['don_id']; ?>" method="post">
                    <div class="span3">
                        <label for="motivo">Seleccione Motivo de Descarte</label>
                        <?= $this->formSelect('motivo', '', array('size' => 15, 'required' => 'required'), $this->cache_descartes); ?>
                    </div>
                    <div class="span4">
                        <label for="observacuiones">Observacion</label>
                        <textarea required="required" name="observaciones" class="input-xxlarge" cols="100" rows="3"></textarea>
                        <div class="alert alert-error">
                            <p>¿Desea Descartar la Extracción?</p>
                            <button type="submit" class="btn btn-danger">
                                <i class="icon-ok icon-white"></i> Aceptar y Continuar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div><!-- INFORMACION SIN EXTRACCION -->

</fieldset>
<script type="text/javascript">
    $(document).delegate('#tab-finaliza button', 'click', function () {
        $('#tiempo').val($(this).attr('data-href'));
    });
    $(document).ready(function () {
        $("#tipo option").each(function () {
            if ($(this).text() === "<?= $this->extra[0]['tipo']; ?>") {
                $(this).attr('selected', 'selected');
            }
        });
    });
</script>
