<fieldset>
    <legend>
        <a title="Volver al Listado" class="btn btn-medium btn-primary" href="<?= $this->baseUrl(); ?>/efector/extraccion">
            <i class="icon-chevron-left icon-white"></i>
        </a> 
        Proceso Extracción <?= $this->extraccion['don_nro']; ?> - <?= $this->escape($this->persona['per_nombres']); ?>, 
        <?= $this->escape($this->persona['per_apellido']); ?></legend>

    <div class="row-fluid">
        <?php
        if (0) {
            //TODO: la siguiente linea deberia mejorarase para cuando cada servicio tenga impresora de codigo de barras    
            ?>
            <p><a class="btn btn-small" target="_blank" href="<?= $this->baseUrl(); ?>/efector/extraccion/tickets/id/<?= $this->extraccion['don_id']; ?>"><i class="icon-barcode"></i> Imprimir Etiquetas</a>
<?php } ?>

            <a class="btn btn-small btn-inverse" target="_blank" href="<?= $this->baseUrl(); ?>/efector/extraccion/constancia/id/<?= $this->extraccion['don_id']; ?>">
                <i class="icon-print icon-white"></i> Imprimir Constancia</a>
            <a class="btn btn-small  btn-inverse" target="_blank" href="<?= $this->baseUrl(); ?>/efector/extraccion/fes/id/<?= $this->extraccion['don_id']; ?>">
                <i class="icon-print icon-white"></i> Formulario de Autoexclusión</a>
        </p>



        <ul class="nav nav-tabs">
            <?php if ($this->extraccion['don_estado'] == 1): ?>
                <li class="active"><a><i class="icon-ok"></i> <span class="label label-success"> Donación Finalizada Correctamente</span></a></li><?php endif; ?>
<?php if ($this->extraccion['don_estado'] == 3): ?>
                <li class="active"><a><i class="icon-remove"></i><span class="label label-important"> Donación debe Descartarse</span></a></li><?php endif; ?>
        </ul>

        <p><i class="icon-calendar"></i> Extracción Finalizada: <b><?= $this->extraccion['hora_extraccion']; ?>hs</b> (<?= $this->nicetime($this->extraccion['don_fh_extraccion']); ?>)</p>
        <p><i class="icon-user"></i> Usuario a Cargo: <b><?= $this->escape($this->usuario); ?>	</b></p>
        <?php if ($this->extraccion['don_estado'] == 1): ?>
            <p><i class="icon-time"></i> Tiempo de Extracción: <b><?= ($this->extraccion['don_tiempo_extraccion'] == 10) ? 'Menor o Igual a 10' : 'Mayor a 10'; ?> minutos</b></p>
<?php endif; ?>
        <p><i class="icon-calendar"></i> Fecha de Registro: <b><?= $this->extraccion['hora_llegada']; ?>hs</b> (<?= $this->nicetime($this->extraccion['don_fh_inicio']); ?>)</p>

        <div style="display: none;">
            <?php if ($this->extraccion['don_estado'] != 3): ?>
    <?php if ($this->extraccion['pro_estado'] == ''): ?>
                    <div class="alert alert-info">
                        <p><b>El Donante considera su sangre segura?</b>:</p>
                        <a href="<?= $this->baseUrl(); ?>/efector/extraccion/form-fes/st/1/don_id/<?= $this->extraccion['don_id']; ?>" class="btn btn-small btn-info"><i class="icon-ok icon-white"></i> Si, es segura</a>
                        <a href="<?= $this->baseUrl(); ?>/efector/extraccion/form-fes/st/0/don_id/<?= $this->extraccion['don_id']; ?>" class="btn btn-small"><i class="icon-remove"></i> No, no es segura</a>
                    </div>
                <?php else: ?>
                    <p><i class="icon-align-justify"></i> Formulario de Autoexclusión: <b><?= ($this->extraccion['pro_estado'] == 0) ? 'No aceptado por el Donante' : 'Aceptado'; ?></b></p>
                <?php endif; ?>
<?php endif; ?>
        </div>

        <?php if ($this->extraccion['don_estado'] == 3): ?>
            <p><i class="icon-align-justify"></i> Motivo Rechazo: <b><?= $this->cache_descartes[$this->extraccion['mot_id']]; ?></b></p>
<?php endif; ?>
        <p><i class="icon-align-justify"></i> Observaciones: <b><?= $this->extraccion['observaciones']; ?></b></p>
    </div>

</fieldset>