<fieldset>
	<legend>Aferesis</legend>

	<p><a class="btn btn-primary btn-small" href="<?=$this->url(array('action'=>'agregar'));?>"><i class="icon-plus icon-white"></i> Nueva</a></p>
	<div class="row-fluid">
		<div class="span6">
			<?php if(sizeof($this->resultados) > 0): ?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
							<th>Tipo</th>
							<th width="180"></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v): ?>
							<tr <?=($v['afe_estado'] == 0) ? 'class="warning"' : '';?>>
                                                            <td><?= utf8_encode( $v['afe_descripcion']); ?></td>
								<td><a class="btn btn-mini btn-primary" href="<?=$this->baseUrl();?>/gestion/aferesis/modificar/afe_id/<?=$v['afe_id'];?>"><i class="icon-edit icon-white"></i> Editar</a> 
                                                                    <a class="btn btn-mini btn-warning" href="<?=$this->baseUrl();?>/gestion/aferesis/cambiar-estado/afe_id/<?=$v['afe_id'];?>/st/<?=($v['afe_estado'] == 1) ? 0 : 1;?>"><i class="icon-pencil icon-white"></i> <?=($v['afe_estado'] == 1) ? 'Desactivar' : 'Activar';?></a></td>
							</tr>
							<?php endforeach; ?>
					</tbody>
				</table>
				<?php else:?>
				<div class="alert alert-warning">No hay Tipos Cargados</div>
				<?php endif;?>
		</div>
	</div>
</fieldset>
