<?php $this->datepicker(); ?>
<fieldset>
	<legend>Inmunohematolog&iacute;a</legend>

	<div class="row-fluid">

		<div class="span9">
			<ul class="nav nav-tabs">
				<li class="active"><a href="<?=$this->baseUrl();?>/banco/inmunologia"><img src="/themes/v1/images/lab.png"> encontre</a></li>
				<li class="disabled"><a href="javascript:;"><i class="icon-search"></i> Busqueda</a></li>
			</ul>
			<p><button class="btn btn-small disabled" type="button"><i class="icon-download"></i> Exportar Seleccionados</button></p>

			<div class="alert alert-info">No hay Donaciones pendientes de..</div><!-- MODULO PENDIENTES -->


		</div>

		<?=$this->render('inmunologia/modulo.phtml');?>

	</div>
</fieldset>
