<?php $this->datepicker(); ?>
<fieldset>
    <legend>Inmunohematolog&iacute;a</legend>

    <div class="row-fluid">

        <div class="span10">

            <!--p><button class="btn btn-small active" type="button"><i class="icon-download"></i> Exportar Seleccionados</button></p-->


            <div class="row-fluid">

                <div class="span12">
                    <?php if (sizeof($this->resultados) > 0) : ?>
                        <table class="table table-striped table-bordered table-hover table-condense">
                            <thead>
                                <tr class="btn-info btn-small btn-inverse">
                                    <th width="80">Exportar</th>
                                    <th width="200"><i class="icon-chevron-up icon-white"></i>Fecha Recepci&oacute;n</th>
                                    <th width="200">Cod. Donaci&oacute;n</th>									
                                    <th width="200">Perfil asociado</th>
                                    <th width="300">Observaciones</th>
                                    <th width="200">Ingreso manual</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($this->resultados as $i => $v): ?>
                                    <tr>
                                        <td>
                                            <label class="pull-left">
                                                <input id="sel_exportar" type="checkbox"> 
                                            </label>
                                        </td>
                                        <td><?= $v['fecha_envio']; ?></td>
                                        <td><?= $v['don_nro']; ?></td>										
                                        <td><?php
                                            $result = explode(',', json_decode($v['ppr_id'])->perfiles_de_produccion);
                                            foreach ($result as $x)
                                                echo $this->cache_perfilesprod[$x] . " | ";
                                            ?>

                                        </td>
                                        <td><?= $this->escape($v['observaciones']); ?></td>


                                        <td>
                                            <a data-target="#dialog<?= $v['don_id'] ?>" href="#" role="button" 
                                            <?php if ($this->donacion[$i] != NULL) : ?>
                                                   class="btn" 
                                               <?php else : ?>
                                                   class="btn " 
                                               <?php endif; ?>
                                               data-toggle="modal">
                                                <i class="icon-edit"></i>
                                            </a>


                                            <!-- INICIO VENTANA MODAL -->

                                            <div class="modal fade hide" id="dialog<?= $v['don_id'] ?>" >

                                                <div class="modal-header">
                                                    <h4>Donaci&oacute;n: <?= $v['don_nro'] ?></h4>

                                                </div>
                                                <div class="modal-body modal-recepcion">
                                                    <form id="form-<?= $v['don_id'] ?>" class="form-serlogia" onsubmit="return false;">

                                                        <div class="row-fluid">
                                                            <div class="span6">
                                                                <label>Sistema ABO</label>
                                                                <select name="grupo" class="grupo">
                                                                    <option value="AB">AB</option>
                                                                    <option value="A">A</option>
                                                                    <option value="B">B</option>
                                                                    <option value="0">0</option>
                                                                </select>

                                                                <?php if ($this->donacion[$i] != NULL) : ?>
                                                                    <script type="text/javascript">
                                                                        $(function () {
                                                                            $("#form-<?= $v['don_id'] ?> select[name='grupo']")
                                                                                    .val("<?= $this->donacion[$i]['grupo'] ?>");
                                                                        });
                                                                    </script>
                                                                <?php endif; ?>

                                                                <label>Sistema RhD</label>

                                                                <select name="factor" class="factor">
                                                                    <option value="+">POSITIVO</option>
                                                                    <option value="-">NEGATIVO</option>
                                                                </select>
                                                                <?php if ($this->donacion[$i] != NULL) : ?>
                                                                    <script type="text/javascript">
                                                                        $(function () {
                                                                            $("#form-<?= $v['don_id'] ?> select[name='factor']")
                                                                                    .val("<?= $this->donacion[$i]['factor'] ?>");
                                                                        });
                                                                    </script>
                                                                <?php endif; ?>													

                                                                <label>Prueba Inversa</label>
                                                                <select name="grupo_inverso" class="grupo-inverso">
                                                                    <option value="AB">AB</option>
                                                                    <option value="A">A</option>
                                                                    <option value="B">B</option>
                                                                    <option value="0">0</option>
                                                                </select>

                                                                <?php if ($this->donacion[$i] != NULL) : ?>
                                                                    <script type="text/javascript">
                                                                        $(function () {
                                                                            $("#form-<?= $v['don_id'] ?> select[name='grupo_inverso']")
                                                                                    .val("<?= $this->donacion[$i]['grupo_inverso'] ?>");
                                                                        });
                                                                    </script>
                                                                <?php endif; ?>													
                                                                <label>Sistema Kell</label>
                                                                <select name="kell" class="kell">
                                                                    <option value="SIN ANALIZAR">SIN ANALIZAR</option>
                                                                    <option value="+">POSITIVO</option>
                                                                    <option value="-">NEGATIVO</option>
                                                                </select> 
                                                                <?php if ($this->donacion[$i] != NULL) : ?>
                                                                    <script type="text/javascript">
                                                                        $(function () {
                                                                            $("#form-<?= $v['don_id'] ?> select[name='kell']")
                                                                                    .val("<?= $this->donacion[$i]['kell'] ?>");
                                                                        });
                                                                    </script>
                                                                <?php endif; ?>													



                                                            </div>
                                                            <div class="span6">


                                                                <label>Rastreo de anticuerpos irregulares</label>
                                                                <input type="text" name="rastreo" 
                                                                <?php if ($this->donacion[$i] != NULL) : ?>
                                                                           value="<?= $this->escape($this->donacion[$i]['rastreo']) ?>"
                                                                       <?php else: ?>
                                                                           value=""
                                                                       <?php endif; ?>
                                                                       >

                                                                <label class="tit-negativo">D</label>
                                                                <select name="du" class="negativo">
                                                                    <option value="+">POSITIVO</option>
                                                                    <option value="-">NEGATIVO</option>
                                                                </select>

                                                                <label class="tit-negativo">CDE</label>
                                                                <select name="cde" class="negativo" >
                                                                    <option value="+">POSITIVO</option>
                                                                    <option value="-">NEGATIVO</option>
                                                                </select>

                                                                <label class="tit-negativo">Fenotipo</label>
                                                                <input type="text" name="fenotipo" class="negativo" 
                                                                <?php if ($this->donacion[$i] != NULL) : ?>
                                                                           value="<?= $this->escape($this->donacion[$i]['fenotipo']) ?>"
                                                                       <?php else: ?>
                                                                           value=""
                                                                       <?php endif; ?>
                                                                       >
                                                            </div>
                                                        </div>

                                                        <input type="hidden" name="don_id" value="<?= $v['don_id'] ?>"/>
                                                    </form>
                                                </div>

                                                <div class="modal-footer">

                                                    <button data-loading-text="Procesando..." 
                                                            data-id="<?= $v['don_id'] ?>" 
                                                            type="button" 
                                                            class="btn btn-success pull-left submit-inmunologia">
                                                        <i class="icon-ok icon-white"></i> Aceptar
                                                    </button>

                                                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                                                        <i class="icon-remove  icon-white"></i> Cerrar</button>
                                                </div>
                                            </div>

                                            <!-- FIN VENTANA MODAL -->        
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>

                        <?= $this->paginador($this->paginas); ?>
                    <?php elseif (sizeof($this->resultados) == 0): ?>
                        <div class="alert alert-info"><b>No se han encontrado registros para su búsqueda.</b><br /> <b><?= $this->busqueda; ?></b></div>
                        <?php endif; ?>
                </div>

            </div> 



        </div>

        <?= $this->render('inmunologia/modulo.phtml'); ?>

    </div>
</fieldset>
<script type="text/javascript">

    $(function () {

        $(".submit-inmunologia").on('click', function () {
            $(this).button('loading');
            var form = $('#form-' + $(this).data('id'));
            $.post('<?= $this->baseUrl(); ?>/banco/inmunologia/registrar', form.serialize(), function (d) {
                if (d.st == 'ok') {
                    location.reload();
                }
            }, 'json');
        });

    });
</script>
