<?php ?>
<legend class="view-title">
    <a class="btn btn-primary btn-medium" href="/efector/examenes"><i class="icon-chevron-left icon-white"></i> Regresar a Exámenes</a> 
    <h3>Proceso de Exámen Médico</h3>
</legend>  

<div class="view-panel" id="new-tratar" style="margin-bottom: 30px; ">
    <div class="modal-header">
        <div id="trata-det" class="" style="margin-bottom: 0;">
            <div class="row-fluid" style="margin-top: 10px;">
                <div class="span4"><pre><b>Código de Donación:</b>  <?= $this->donacion['don_nro']; ?></pre> </div>    
                <div class="span4"><pre><b>Cód. Autogenerado:</b> <?= $this->codigo_autogenerado; ?> </pre></div>  
                <div class="span4"><pre><b>Nombre:</b> <?= $this->persona['per_apellido'] . ", " . $this->persona['per_nombres']; ?> (<?= $this->cache_tipo_doc[$this->persona['per_tipodoc']]; ?>: <?= $this->persona['per_nrodoc']; ?>)</pre></div>    
            </div>
        </div>
    </div>
    <form id="form-examen" name="form-examen" method="post">            
        <div class="modal-body">

            <div class="">

                <div class="" id="panel-examen-medico" >

                    <input type="hidden" id="don_id" name="don_id" value="<?= $this->donacion['don_id']; ?>" >

                    <div class="row-fluid">
                        <div id="seccion_perfiles_de_producccio" class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-flag"></i> Perfil para producción de Hemocomponentes</h5>


                            <?php foreach ($this->perfiles_produccion as $clave => $valor) { ?>
                                <label class="checkbox inline">
                                    <input type="checkbox" name="perfil_de_produccion[]"
                                           value="<?php echo $clave; ?>"> <?php echo utf8_encode($valor); ?>
                                           </label>    

                            <?php } ?>
                            <p style="font-style: italic; font-size: 0.9em;">Completar estos items adecuadamente es importante para lograr hemocomponentes de calidad. Por favor coopere brindando la informacion solicitada.</p>
                            <p id="fld_multipara" style="display:none;background-color: #ff000066;padding: 10px;padding-bottom: 0px;">
                                <span> Numero de Gestas: <input type="number" min="0" max="50" step="1" id="numero_de_gestas" name="numero_de_gestas"></span>
                            </p>
                        </div>
                    </div>                                

                    <div class="row-fluid">
                        <div class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-plus"></i> Información para Exámen Médico</h5>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">        

                            <h5>Tipo de colecta</h5>

                            <h6>¿Esta donación pertenece a una colecta móvil?</h6>

                            <label class="radio inline">
                                <input type="radio" name="colecta_movil" id="chk_es_movil_si" 
                                       > SI: Es una posta de donacion móvil. <br>
                                <input type="radio" name="colecta_movil" id="chk_es_movil_no" 
                                       checked> NO: Es una posta fija de donacion.
                            </label> 
                            <br><br>
                            <select style="width:100%;" id="cbo_colectas" >
                                <?php foreach ($this->colectas as $colecta) { ?>
                                    <option value="">Seleccione una colecta..</option>
                                    <option value="<?= $colecta->codigo_colecta; ?>"><?= "(" . $colecta->codigo_colecta . ") " . $colecta->nombre; ?></option>
                                <?php } ?>
                            </select>
                            <input type="hidden" name="cod_colecta" id="cod_colecta" value="<?= $this->cod_colecta_automatico; ?>" size="20" >
                        </div>

                        <div class="span3">
                            <h5>Hemoglobina (Hb) [g/dl] </h5>
                            <input type="number" pattern="^\d{2}(\.\d{0,1})?$"  min="10" max="19" step="0.1" name="hb" id="hb" size="20" >
                            <br>
                            <p>Los valores de referencia de la hemoglobina son: <strong>Hb de 12,5 g/dl</strong></p> 
                            <hr style="border: 1px solid #ddd;">

                            <h5>Hematocritos [%]</h5>
                            <input type="number" pattern="^\d{3}?$"  min="30" max="60" step="1" name="hematocritos" id="hematocritos" size="20" >
                            <p>Los valores de referencia del hematocrito son: <strong>(Ht => 38%) o superior</strong></p>

                        </div>

                        <div class="span3">
                            <h5>Peso del donante [Kg]</h5>
                            <input type="number" pattern="^\d{3}(\.\d{0,1})?$"  min="0" max="500" step="0.1" name="peso" id="peso" size="20" value="" required="required">
                            <br>
                            <p>Peso Minimo para donar 50 Kg.</p> 
                            <hr style="border: 1px solid #ddd;">

                            <h5>Tensión arterial (PA) [mmHg]</h5>
                            <input type="text" pattern="^\d{2,3}[\/]\d{2,3}$" name="ta" id="ta" size="20" value="" required="required">
                            <p>La tensión sistólica no deberá ser mayor de 180 mmHg y no menor de 90 mmHg, la tensión diastólica no deberá ser mayor de 100 mmHg ni menor de 60 mmHg.<br>
                            El formato de ingreso de datos debe ser el siguiente: Tensión Diastolica / Tensión Sistólica.</p>
                        </div>

                        <div class="span3">
                            <h5>Frecuencia Cardiaca (Pulso)[Latidos/Minuto]</h5>
                            <input type="number" pattern="^\d{2,3}$"  min="50" max="100" step="1" name="pulso" id="pulso" size="20" value="" required="required">
                            <p>El pulso deberá presentar características normales y su frecuencia no deberá ser menor de 60 ni mayor de 100 latidos por minuto.</p> 
                            
                            <hr style="border: 1px solid #ddd;">

                            <h5>Temperatura Corporal (T) [C°]</h5>
                            <input type="number" min="36" max="40" step="0.1" name="temperatura_corporal" id="temperatura_corporal" size="20" value="">
                            <p>La temperatura corporal no deberá exceder los 37.5 ° C</p>

                        </div>
                    </div>
                    <div class="row-fluid">    
                        <div class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-comment"></i> Observaciones generales sobre el exámen medico</h5>
                            <textarea name="observacion_examen" id="observacion_examen" rows="5" style="width: 98%;"></textarea>
                        </div>
                    </div>

                </div>

                <div class="" id="panel-diferir-rechazar" style="display: none;">

                    <div class="row-fluid">
                        <div class="span12">
                            <label for="mot_id"><b>Motivos:</b></label>
                            <?= $this->formSelect('mot_id', null, array('multiple' => 'multiple', 'size' => 5, 'required' => 'required', 'style' => 'width: 100%;'), $this->cache_diferidos); ?>
                        </div>
                        <code>Para elegir más de un motivo, mantenga presionada la tecla CTRL mientras selecciona con el mouse los motivos.</code>
                    </div>    
                    <div class="row-fluid">    
                        <div class="span12">
                            <h5>Observaciones acerca del diferimiento</h5>
                            <textarea name="observacion_diferimiento" id="observacion_diferimiento" rows="5" style="width: 98%;"></textarea>
                        </div>
                    </div>

                    <input type="hidden" name="st" id="st" >
                </div>

            </div>
        </div>

        <div class="modal-footer">		

            <button data-loading-text="Procesando..." type="submit" 
                    id="btn_aceptar" name="btn_aceptar"
                    class="btn btn-success pull-right">
                <i class="icon-ok icon-white"></i> Aceptar</button>

            <button data-loading-text="Procesando..." type="button" 
                    id="btn_panel_diferir" name="btn_panel_diferir"
                    class="btn btn-warning pull-right">
                <i class="icon-ban-circle icon-white"></i> Diferir</button>        

            <button style="display: none;" data-loading-text="Procesando..." type="button" 
                    id="btn_diferimiento_permanente" name="btn_diferimiento_permanente"
                    class="btn btn-warning pull-right">
                <i class="icon-ban-circle icon-white"></i> Diferimiento Permanente</button>  

            <button style="display: none;" data-loading-text="Procesando..." type="button"
                    id="btn_diferimiento_temporal" name="btn_diferimiento_temporal"
                    class="btn btn-warning pull-right">
                <i class="icon-time icon-white"></i> Diferimiento Temporal</button>        

            <button style="display: none;" data-loading-text="Procesando..." type="button" 
                    id="btn_cancelar_diferir" name="btn_cancelar_diferir"
                    class="btn btn-danger pull-right">
                <i class="icon-ban-circle icon-white"></i> Cancelar</button>                                   

        </div>
    </form>
</div>

<script type="text/javascript">
    var base_url = '<?= $this->baseUrl(); ?>';
    var cod_colecta = '<?= $this->cod_colecta_automatico; ?>';
    $(document).ready(function () {

        //INICIO - Mecanismo de comportamiento para cuando se selecciona que la donacion proviene de una colecta movil.
        $('#chk_es_movil_si').click(function () {
            if ($(this).is(':checked')) {
                $('#cbo_colectas').show();
            }
        });

        $('#chk_es_movil_no').click(function () {
            if ($(this).is(':checked')) {
                $('#cbo_colectas').hide();
                $('#cod_colecta').val(cod_colecta);
                $('#cbo_colectas').val('');

            }
        });

        $('#chk_es_movil_no').click();
        $('#cbo_colectas').hide();

        //Control Multipara
        $('input[name = perfil_de_produccion], [value = 4]').click(function () {
            if ($(this).prop('checked') === true) {
                $('#fld_multipara').show();
                $('#numero_de_gestas').val(1);
            } else {
                $('#fld_multipara').hide();
                $('#numero_de_gestas').val("");
            }
        });

        $('perfil_de_produccion').click(function () {
            if ($(this).is(':checked')) {
                $('#cbo_colectas').show();
            }
        });

        $('#cbo_colectas').change(function (e) {
            $("#cod_colecta").val($("#cbo_colectas").val());
        });
        //FIN - Mecanismo de comportamiento para cuando se selecciona que la donacion proviene de una colecta movil.

        //INICIO - Mecanismo de visualizacion y ocultamiento de datos para diferir.
        $("#btn_panel_diferir").click(function () {
            $("#panel-examen-medico").hide("slow");
            $("#btn_aceptar, #btn_panel_diferir").hide("slow");
            $("#panel-diferir-rechazar").show("slow");
            $("#btn_diferimiento_temporal, #btn_diferimiento_permanente, #btn_cancelar_diferir").show("slow");
        });

        $("#btn_cancelar_diferir").click(function () {
            $("#panel-diferir-rechazar").hide("slow");
            $("#btn_diferimiento_temporal, #btn_diferimiento_permanente, #btn_cancelar_diferir").hide("slow");
            $("#panel-examen-medico").show("slow");
            $("#btn_aceptar, #btn_panel_diferir").show("slow");
        });
        //FIN - Mecanismo de visualizacion y ocultamiento de datos para diferir.

        //ACCION DIFERIR TEMPORALMENTE
        $("#btn_diferimiento_temporal").click(function (e) {
            e.preventDefault();
            $("#st").val(2);
            if (validarDatosDiferimiento() === true) {
                $('form#form-examen').submit();  
            } else {
                alert('Para completar el proceso, Ud. debe completar todos los campos indicados correctamente');
            }
        });

        //ACCION DIRERIR PERMANENTEMENTE
        $("#btn_diferimiento_permanente").click(function (e) {
            e.preventDefault();
            $("#st").val(3);
            if (validarDatosDiferimiento() === true) {
                $('form#form-examen').submit();  
            } else {
                alert('Para completar el proceso, Ud. debe completar todos los campos indicados correctamente');
            }
        });

        //ACCION ACEPTAR DONANTE Y PASARLO A EXTRACCION
        $("#btn_aceptar").click(function (e) {
            e.preventDefault();
            $("#st").val(4);//Valor 4
            if (validarDatosExamen() === true) {
                $('#mot_id').attr('required', false);                
                $('form#form-examen').submit();
            } else {
                alert('Para completar el proceso, Ud. debe completar todos los campos indicados correctamente');
            }
        });

        //CONTROLES Y VALIDACIONES SOBRE EL FORMULARIO
        $('#form-examen').on("keyup keypress", function (e) {
            var code = e.keyCode || e.which;
            if (code === 13) {
                e.preventDefault();
                return false;
            }
        });

        $("[type=radio]").css("display", "inline");

    });

    /** SUBMIT FORMULARIO EXAMEN MEDICO Y DIFERIMIENTO **/
    $(document).on('submit', '#form-examen', function (e) {
        e.preventDefault();
        $.post(base_url + '/efector/examenes/cambiar-estado', $(this).serialize(), function (d) {
            console.log(d);
            if (d.st === 'OK') {
                window.document.location.assign(base_url + '/efector/examenes');
            } else {
                alert(d.mensaje);
                $(':submit').button('reset');
            }
        }, 'json');
    });

    function validarDatosExamen() {
        vRet = true;

        if ($('#peso').val() === '') {
            alert('PESO: no puede quedar incompleto o vacío');
            vRet = false;
        }
        if ($('#pulso').val() === '') {
            alert('PULSO: no puede quedar incompleto o vacío');
            vRet = false;
        }
        if ($('#ta').val() === '') {
            alert('TENSION ARTERIAL: no puede quedar incompleta o vacía');
            vRet = false;
        }

        return vRet;
    }

    function validarDatosDiferimiento() {
        vRet = true;
        vRet = validarDatosExamen();
        if ($('#observacion_diferimiento').val() === '') {
            alert('OBSERVACION DIFERIMIENTO: no puede quedar incompleta o vacía ');
            vRet = false;
        }
        if ($('#mot_id').val() === null) {
            alert('MOTIVOS: debe seleccionar al menos un motivo para diferir');
            vRet = false;
        }

        return vRet;
    }

</script>
