<?php $this->datepicker(); 
?>
<fieldset>
    <legend>Proceso de Exámen Médico</legend>
    <div class="row-fluid">
        <div class="span9">
            <?php if (sizeof($this->resultados) > 0) : ?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="300"><i class="icon-chevron-up icon-white"></i> Fecha y Hora de Llegada</th>
                            <th width="120">Cod. Donación</th>
                            <!--th width="110"><i class="icon-file icon-white"></i> </th-->
                            <th title="Nro. de identificacion del donante + Nombre y Apellido del Donante">
                                <i class="icon-user icon-white"></i> Persona (Documento)</th>
                            <th title="Proceso de Donación">Estado</th>
                            <th width="140">Acción</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <?php foreach ($this->resultados as $i => $v): ?>
                            <tr>
                                <td><i class="icon-calendar"></i> <?= $v['hora_llegada']; ?>hs <span class="time"><i class="icon-time"></i> </span></td>
                                <td><span class="label label-inverse"><?= $v['don_nro']; ?></span></td>
                                <td><?= ucwords(strtolower($this->escape($v['per_apellido']))); ?>, <?= ucwords(strtolower($this->escape($v['per_nombres']))); ?> <small>(<?= $this->cache_tipo_doc[$v['per_tipodoc']] . " " . $this->escape($v['per_nrodoc']); ?>)</small></td>
                                
                                <td>
                                    <?php if ($v['don_estado'] == 104) {  ?>
                                        <span class="label label-info">Pendiente</span>
                                    <?php }elseif ($v['don_estado'] == 2) { ?>
                                        <span class="label label-default">Realizado</span>
                                    <?php } ?>
                                </td>
                                <td>
                                    <?php if ($v['don_estado'] == 104) {  ?>
                                    <a data-id="<?= $v['don_id']; ?>" 
                                       data-info="Cód. de Donación: <?= $v['don_nro']; ?> <br/>
                                       Nombre Completo: <?= $this->escape($v['per_apellido']); ?>, 
                                       <?= $this->escape($v['per_nombres']); ?> <br/>
                                       Tipo y Nro. de Doc. : <?= $this->cache_tipo_doc[$v['per_tipodoc']]; ?> - <?= $this->escape($v['per_nrodoc']); ?>" 
                                       href="<?= $this->baseUrl(); ?>/efector/examenes/formulario-examen/don_id/<?= $v['don_id']; ?>" class="btn btn-success btn-mini btn-modal"  data-toggle="modal">
                                        <i class="icon-info-sign icon-white"></i> 
                                        Acceder al&nbsp;&nbsp;Exámen
                                    </a>
                                    <?php } ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                <?= $this->paginador($this->paginas); ?>
            <?php else: ?>
                <div class="alert alert-info">
                    <b>No se registran Exámenes Pendientes.</b>
                    <br /> <b><?= $this->busqueda; ?></b>
                    <p><b>Actualizando en <em id="ss_timer">30</em> segundos</b>
                        <button type="button" onclick="location.reload();" class="btn btn-primary btn-medium"><i class="icon-refresh icon-white"></i> Actualizar Ahora</button></p>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var tt = $('#ss_timer').text();
                        setInterval(function () {
                            if (tt === 1) {
                                location.reload();
                            }
                            tt--;
                            $('#ss_timer').text(tt);
                        }, 1000);
                    });
                </script>
            <?php endif; ?>
        </div>
        <div class="span3">			
            <div class="row-fluid">
                <h5><i class="icon-search"></i> Filtros</h5>
                <form method="post" action="<?= $this->baseUrl(); ?>/efector/examenes">
                    <div class="input-prepend input-append">
                        <span class="add-on"><i class="icon-barcode"></i></span>
                        <input name="nro" class="input-medium" type="text" 
                               placeholder="Cod. Donación"
                               autocomplete="off" value="<?= $this->nro ?>"/>
                    </div>
                    
                    <br/><br />
                   
                    <h5>Fecha Desde</h5>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i> </span>
                    <input type="text" class="input-medium" id="from" 
                           placeholder="Fecha de Llegada"
                           name="from" value="<?= (new DateTime($this->fechaDesde))->format('d-m-Y'); ?>">
                </div>
                <h5>Fecha Hasta</h5>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i> </span>
                    <input type="text" class="input-medium" id="to" 
                           placeholder="Fecha de Llegada"
                           name="to" value="<?= (new DateTime($this->fechaHasta))->format('d-m-Y'); ?>">
                </div>

                <br/><br />
                    
                    <button class="btn btn-primary btn-small btn-inverse" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
                </form>
            </div>
        </div>
        
        
        
        
    </div>
    
</fieldset>

<div class="row">
    <!-- INICIO - Documentos relacionados -->
                            <div class="span12">
                                <table class="table" style="background-color: #fff;">
                                    <thead>
                                        <tr>
                                            <th colspan="3" style="background-color:#000;color:white;">Documentos Relacionados</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width:32px;"><i class="icon-file"></i></td>
                                            <td><a href="<?= $this->baseUrl(); ?>/recursos/criterios-seleccion-donantes.PNS_.2015.pdf" target="_blank">Criterios de Selección</a></td>
                                            <td>Criterios para la selección de donantes de sangre | RM 797/13 - 1507 / 15 </td>
                                        </tr>                                                                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- FIN - Documentos relacionados -->
</div>




<?php if (sizeof($this->resultados) > 0) : ?>


    <input type="hidden" name="isNotValidTubuladuraCode" id="isNotValidTubuladuraCode" value=""/>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btn_diferimiento_temporal").click(function () {
                $("#st").val(2);
                // llamada a la funcion para POST
                $(this).closest('form.trata-sol').submit();
            });
            $("#btn_diferimiento_permanente").click(function () {
                $("#st").val(3);
                // llamada a la funcion para POST
                $(this).closest('form.trata-sol').submit();
            });
        });

        $(document)
                .on('click', '.btn-modal', function () {
                    $('#trata-det').html($(this).attr('data-info'));
                    $('.don_id').val($(this).attr('data-id'));
                })



                .on('submit', '.trata-sol', function () {
                    //var Respuesta = validaTubuladura();       
                    if (1) {
                        $(this).find('button[type=submit]').button('loading');
                        $.post('<?= $this->baseUrl(); ?>/efector/examenes/cambiar-estado', $(this).serialize(), function (d) {
                            if (d.st === 'ok') {
                                window.location.href = '<?= $this->baseUrl(); ?>/efector/examenes';
                            } else if (d.st === 'notok') {
                                alert("El código de contingencia o código de barras de la donación ya ha sido ingresado");
                                $(':submit').button('reset');
                            } else if (d.st === 'nok_generacion_codigo') {
                                alert("Se debe ingresar un código de barras de la donación válido antes de continuar");
                                $(':submit').button('reset');
                            } else {
                                alert("El código de contingencia o código de barras de la donación ingresado no existe");
                                $(':submit').button('reset');
                            }
                        }, 'json');
                    } else {
                        alert('Revisar el Código de tubuladura, este ya fue utilizado.');
                    }
                });

     

    </script>
<?php endif; ?>

<script>
    $('.trata-sol').on("keyup keypress", function (e) {
        var code = e.keyCode || e.which;
        if (code === 13) {
            e.preventDefault();
            return false;
        }
    });

    $(function () {
         $("#from").datepicker({
            defaultDate: "",
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#to").datepicker({
            defaultDate: "",
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });
    });



    $("[type=radio]").css("display", "inline");

    function validaTubuladura() {
        vRet = true;
        nroTubuladura = $('#nroTubuladura').val();
        if (nroTubuladura !== '') {
            $.ajax({
                data: {
                    'st': '0',
                    'nroTubuladura': nroTubuladura
                },
                url: '/banco/efector/examenes/cod-Tubuladura-Fue-Utilizado',
                type: 'post',
                async: false,
                beforeSend: function () {
                    console.log('Procesando...')
                },
                success: function (response) {
                    if (response.st === 'ok') {
                        vRet = false;
                    }
                }
            });

        } else {
            alert('Debe ingresar un nro de tubuladura válido.');
        }
        console.log(vRet);
        return vRet;

    }
</script>
