<?php
	$this->datepicker();
	$this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
	$this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
	->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>
<fieldset>
	<legend> Historial env&iacute;os</legend>

	<div class="row-fluid">
		<div class="span9">
			<?php if(sizeof($this->enviados) > 0) :?>
			 
			<table class="table table-striped table-bordered table-hover" id="tabla_enviados">
				<thead>
					<tr class="btn-info btn-small btn-inverse">
						<th>ID</th>
						<th>Efector or&iacute;gen</th>
						<th>Efector destino</th>
						<th>Otro destino</th>
						<th>Fecha env&iacute;o</th>
						<th>Fecha recepci&oacute;n</th>
						<th>Usuario env&iacute;o</th>
						<th>Usuario recepci&oacute;n</th>
						<th>Observaciones</th>
						<th>PDF</th>
					</tr>
				</thead>
				<tbody>
				<?php foreach($this->enviados as $i => $v): ?>	
					<tr>
						<td><?=$v->env_prod_id ?></td>
						<td><?=sprintf("%10.30s",$this->cache_efectores[$v->efe_origen]) ?></td>
						<td><?=sprintf("%10.30s",$this->cache_efectores[$v->efe_destino]) ?></td>
						<td><?=$v->otro_destino ?></td>
						<td><?=date('d-m-Y',strtotime($v->fecha_env)) ?></td>
						<td><?php if ($v->fecha_rec == '0000-00-00 00:00:00' ) : ?>
						
							<?php else : ?> 
							<?=date('d-m-Y',strtotime($v->fecha_rec)) ?> 
							<?php endif; ?>
						</td>
						<td><?=$v->usu_env ?></td>
						<td><?=$v->usu_rec ?></td>
						<td><?=$v->observaciones ?></td>
						<td><a class="btn btn-small" target="_blank" href="<?= $this->baseUrl(); ?>/banco/produccion/pdf-envio/id/<?php echo $v->env_prod_id ?>"><i class="icon-print"></i></a></i></td>
					</tr>
				<?php endforeach; ?>	
				</tbody>
			 </table>
			<?=$this->paginador($this->paginas);?>
			<?php elseif(sizeof($this->enviados) == 0): ?>
			<div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
			<?php endif ;?>	
		</div>
		<div class="span3">
			<div>
				<h5><i class="icon-search"></i> Filtros</h5>
				<form method="post" action="<?=$this->baseUrl();?>/banco/produccion/historial">
	    			<div class="input-prepend input-append">
		    			<span class="add-on"><i class="icon-calendar"></i></span>
			    		<input id="datepicker" class="input-medium" name="fecha" type="text" value="<?=$this->fecha;?>" autocomplete="off" placeholder="Fecha"/>
	    			</div>
					<div class="input-prepend input-append">
						<span class="add-on"><i class="icon-barcode"></i></span>
						<input name="nro" class="input-medium" type="text" autocomplete="off" placeholder="N&uacute;mero env&iacute;o" value="<?= $this->nro?>"/>
					</div>
	
					<br />
					<div> 
						<label for="estado">Estado</label>
						<select name="estado" id="estado">
							<option value="4">Enviados</option>
							<option value="0">Todos</option>
							<option value="5" selected>Recibidos</option>
						</select>
					</div>
                    <div id="efe">
                        <h5>Efector destino</h5>
                        <select name="efe_id" id="efectores" class="input-large">
                                <option value="" selected>Todos</option>
                            <?php foreach($this->cache_efectores as $i => $v): ?>
                                <option value="<?=$i;?>"><?=$v?></option>
                            <?php endforeach;?>
                        </select>               
                    </div>
                    <br />
					<button class="btn btn-primary btn-inverse" type="submit" id="aceptar"><i class="icon-search icon-white"></i> Buscar</button>
				</form>
			</div>
		</div>
	</div>
</fieldset>

<script type="text/javascript">
	$(".usuario_id").hide();
	$(".counter").hide();
	$("#efectores").select2();
	
    $(function () {
        $("#datepicker").datepicker({
		    maxDate : 0,
			dateFormat : 'yy-mm-dd',
        });

        $("#estado").val("2");

        $(".informe").click(function () {
            var id = $(this).attr('id');
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/banco/produccion/verpdf',{id : id},function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
            },'json');
        }); 
        
        
    });
</script>
