<?php $this->datepicker(); ?>

<fieldset>
	<legend> Resultado de Producci&oacute;n</legend>

	<div class="row-fluid">
		<div class="span9">
			<?php if(sizeof($this->resultados) > 0) :?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
							<th width="120">Cod. Donaci&oacute;n</th>
							<th>Cod. Preimpreso</th>
							<th>Hemocomponente</th>
							<th>Resultado</th>
							<th>Peso</th>
							<th>Observaciones</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v): ?>
                            <form id="form-<?=$v['id']?>" data-id="<?=$v['id']?>" 
                                  class="form-submit"
                                  action="<?=$this->baseUrl();?>/banco/produccion/index" 
                                  method="post">
                            <input type="hidden" name="id" value="<?=$v['id']?>"/>
							<tr>
								<td><?=$v['don_nro']?></td>
								<td><?=$this->escape($v['cod_muni'])?></td>
								<td><?=$v['hem_descripcion']?></td>
								<td>
                                    <?php if ($v['estado'] == 2) : ?>
                                        <span class="label label-success">Producido</span>
                                    <?php elseif ($v['estado'] == 3) : ?>
                                        <span class="label label-important">Descartado</span>
                                    <?php else : ?>
									<select name="estado" style="width: 110px">
										<option value="2">Producido</option>
										<option value="3">Descartado</option>
									</select>
                                    <?php endif; ?>
								</td>
								<td>
									<input type="number" name="peso" min="0" style="width: 40px" 
                                    <?php if ($v['estado'] != 1) : ?>
                                    disabled="disabled"
                                    <?php endif; ?>
										value="<?=$v['peso']?>">
								</td>								
								<td>
									<input type="text" name="detalle" maxlength="30" style="width: 200px" 
                                    <?php if ($v['estado'] != 1) : ?>
                                    disabled="disabled"
                                    <?php endif; ?>
									value="<?=$this->escape($v['detalle']);?>" id="detalle">
								</td>
								<td>
                                    <?php if ($v['estado'] == 1) : ?>
									<button type="button" class="btn submit" data-loading-text="Procesando..." data-id="<?=$v['id']?>">
										<i class="icon-ok"></i>
                                    </button>
                                    <?php endif; ?>
									
									
								</td>
							</tr>
                            </form>
							<?php endforeach; ?>
							
					</tbody>
				</table>

				<?=$this->paginador($this->paginas);?>
				<?php elseif(sizeof($resultados) == 0): ?>
				<div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
				<?php endif ;?>
		</div>

		<div class="span3">
			<form class="agregar" onsubmit="return false;">
                <input type="text" name="cod" id="cod" size="32" class="filter" placeholder="Cod. Donacion">
				<select name="hemo" id="hemo">
				<?php foreach ($this->cache_hemo as $h => $desc): ?>
					<option value="<?=$h?>"><?=$desc ?></option>
				<?php endforeach; ?>
				</select>
				<button class="btn btn-primary btn-inverse" type="submit"><i class="icon-search icon-white"></i> Agregar hemocomponente</button>
			</form>
			
			<h5><i class="icon-search"></i> Filtros</h5>
			<form method="post" action="<?=$this->baseUrl();?>/banco/produccion/index">
    			<div class="input-prepend input-append">
	    			<span class="add-on"><i class="icon-calendar"></i></span>
		    		<input id="datepicker" class="input-medium filter" name="fecha" type="text" value="<?=$this->fecha;?>" autocomplete="off" placeholder="Fecha"/>
    			</div>
				<div class="input-prepend input-append">
					<span class="add-on"><i class="icon-barcode"></i></span>
					<input name="nro" class="input-medium filter" type="text" autocomplete="off" placeholder="Cod. Donaci&oacute;n" value="<?= $this->nro?>"/>
				</div>

				<br />
				<label for="estado">Estado</label>
				<select name="estado" id="estado">
					<option value="1">Pendientes</option>
					<option value="0">Todos</option>
					<option value="3">Descartados</option>
					<option value="2">Producidos</option>
				</select>

                <br />
                <label for="hem_id">Hemocomponente</label>
                <select name="hem_id" id="hem_id">
                    <option value="">Todos</option>
                    <?php foreach ($this->cache_hemo as $h => $desc): ?>
                    <?php if ($h == $this->hem_id) : ?>
                    <option value="<?=$h?>" selected><?=$desc ?></option>
                    <?php else : ?>
                    <option value="<?=$h?>" ><?=$desc ?></option>
                    <?php endif; ?>
                    <?php endforeach; ?>
                </select>
                <br />
				<button class="btn btn-primary btn-inverse" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
			</form>
		</div>
	</div>
</fieldset>

<script type="text/javascript">
    $("#estado").val('<?=$this->estado?>');
    $("#hem_id").val('<?=$this->hem?>');
    
	$(".agregar").submit(function(){
		$(this).find('button[type=submit]').button('loading');
		$.post('<?=$this->baseUrl();?>/banco/produccion/agregar-hemo',$(this).serialize(),function(d) {
			if (d.st == 'ok') {
				alert('Hemocomponente agregado correctamente');
				location.reload();
			}
			else if (d.st == 'noesta') {
				alert('Hemocomponente no disponible');
				location.reload();
			}
			else if (d.st == 'nodon') {
				alert('Donacion inexistente');
				location.reload();
			}
			else if (d.st == 'nohay') {
				alert('No existen hemocomponentes disponibles para esa donacion');
				location.reload();
			}
			else {
				alert('Ha ocurrido un error inesperado');
				location.reload();
			}
		},'json');
	});    
    
    $(function () {
        $(':input:visible:not(input[class*=filter]):eq(1)').focus();
        
        $("#datepicker").datepicker({
		    maxDate : 0,
			dateFormat : 'yy-mm-dd',
        });
        $("#estado").val('<?= $this->estado?>');
        $(".submit").click(function () {
            var id = $(this).data('id')
            var data = $('#form-' + id).serialize();
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/banco/produccion/confirmar',data,function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'tempnok') {
					alert('Temperatura fuera del rango permitido');
					location.reload();
				}
				else if (d.st == 'pesonok'){
					alert('Peso fuera del rango permitido');
					location.reload();
				}
            },'json');
        });
    });
</script>
