<?php $this->datepicker(); ?>

	<legend> Informe de Producci&oacute;n</legend>

	<div class="row-fluid">
		<div class="span10">
			<?php if(sizeof($this->resultados) > 0) :?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
							<th>Cod. donaci&oacute;n</th>
							<th>Hemocomponente</th>
							<th>Peso</th>
							<th>Serolog&iacute;a</th>
							<th>Inmunolog&iacute;a</th>
							<th>Observaciones</th>
							<th>Extracci&oacute;n</th>
							<th>Vencimiento</th>
							<th>Detalle</th>
							<th>Habilitar</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v): ?>
                            <form id="form-<?=$v['id']?>" data-id="<?=$v['id']?>" 
                                  class="form-submit"
                                  action="<?=$this->baseUrl();?>/banco/produccion/informe" 
                                  method="post">
                            <input type="hidden" name="id" value="<?=$v['id']?>"/>
							<tr>
								<td><?=$v['don_nro'];?></td>
								<td><?=$v['hem_descripcion'];?></td>
								<td>
									<input type="number" name="peso"  style="width: 40px" disabled="disabled" value="<?=$v['peso'];?>">
								</td>	
								<td>
									<?php if ((!is_null($this->serologia[$v['don_id']]))) : ?>
										<?php if (in_array("Reactivo", $this->serologia[$v['don_id']]->toArray())) : ?>
											<span class="label label-important">Reactiva</span>
                                        <?php elseif (in_array("Sin Determinar", $this->serologia[$v['don_id']]->toArray())) : ?>
											<span class="label label-warning">Sin Determinar</span>
										<?php elseif ($this->serologia[$v['don_id']]['validado'] == 0) : ?>
                                            <span class="label label-info">No validada</span>
                                        <?php else : ?>
											<span class="label label-success">No reactiva</span>
										<?php endif; ?>
									<?php else : ?>
										<span class="label label-warning">No analizada</span>
									<?php endif; ?>
								</td>
								<td>
									<?php if (!is_null($this->inmuno[$v['don_id']])) : ?> 
										<span class="label label-success"><?=$this->inmuno[$v['don_id']]->grupo.' '.$this->inmuno[$v['don_id']]->factor?></span>
									<?php else : ?>
										<span class="label label-warning">No analizada</span>
									<?php endif ; ?>
								</td>							
								<td>
									<input type="text" name="detalle"  style="width: 200px" disabled="disabled" value="<?=$v['detalle']?>" id="detalle">
								</td>
								<td>
									<?php echo date('d-m-Y',strtotime($v['fh_extraccion'])) ?>
								</td>
								<td>
									<?php 
										echo date('d-m-Y', strtotime($v['ffin_prod'] . ' + '.$v['hem_dias_aptitud'].' days'));
									?>
								</td>
								<td>
						            <a data-target="#dialog<?php echo $v['id'] ?>" href="#" role="button" class="btn" data-toggle="modal">
										<i class="icon-edit"></i>
									</a>
								</td>
								<td>
									<?php if ($v['validado']) : ?>
										<i class="icon-ok"></i>
									<?php elseif ((!is_null($this->serologia[$v['don_id']]) && !in_array("Reactivo", $this->serologia[$v['don_id']]->toArray()) && !in_array("Sin Determinar", $this->serologia[$v['don_id']]->toArray()) && !is_null($this->inmuno[$v['don_id']])) && ($this->serologia[$v['don_id']]['validado'])) : ?>
										<label class="pull-left"><input class="checkbox" id="<?php echo $v['id']?>" type="checkbox"> </label>	
									<?php else : ?>
										<i class="icon-remove"></i>
									<?php endif; ?>
								</td>
							</tr>
                            </form>
							<div class="modal fade hide" aria-hidden="true" id="dialog<?=$v['id'] ?>" >
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header alert-info">
											<h4 style="color:white">Donaci&oacute;n: <?=$v['don_nro'] ?></h4>
										</div>
										<div class="modal-body" id="modaldetail">
											<h5>ID Producci&oacute;n: <?=$v['id'] ?></h5>
											<p>Hemocomponente: <?=$v['hem_descripcion'];?></p>
											<p>Fecha de extracci&oacute;n: <?=date('d-m-Y',strtotime($v['fh_extraccion'])).'  -  '.$this->nicetime($v['fh_extraccion']) ?></p>
											<p>Grupo: <strong><?=$this->inmuno[$v['don_id']]->grupo ?></strong></p>
											<p>Factor: <strong><?=$this->inmuno[$v['don_id']]->factor ?></strong></p>
											<p>Peso: <?php echo $v['peso']?> gramos</p>
											<p>Temperatura: <?php echo $v['hem_temp']?> &deg;C</p>
											<p>Detalle : <?php echo $v['detalle']?></p>
											<p>Fecha de vencimiento: 
												<?=date('d-m-Y H:m:s', strtotime($v['ffin_prod'] .' + '.$v['hem_dias_aptitud'].' days')); ?>
											</p>
											
											<?php if (!is_null($this->serologia[$v['don_id']])) : ?>
											<h5>Serolog&iacute;a</h5>
											<ul>
												<?php foreach (($this->serologia[$v['don_id']]) as $i => $j ): ?>
														<li class="<?=$i ?>"><?=$this->cache_serologia[$i].' : '.$j ;?></li>
												<?php endforeach; ?>
											</ul>
											<?php endif ; ?>
										</div>
										<div class="modal-footer">
											<?php if (!is_null($this->serologia[$v['don_id']]) && !in_array("Reactivo", $this->serologia[$v['don_id']]->toArray()) && !is_null($this->inmuno[$v['don_id']])) : ?>
											<a class="btn pull-left" target="_blank" href="<?=$this->baseUrl();?>/banco/produccion/verpdf/id/<?=$v['id'];?>"><i class="icon-print"></i> Imprimir</a>
											<?php endif; ?>
											<button type="button" class="btn pull-rigth" data-dismiss="modal" >
												<i class="icon-remove"></i> Cerrar</button>
										</div>
									</div>
								</div>
							</div>
							<?php endforeach; ?>
							
					</tbody>
				</table>

				<?=$this->paginador($this->paginas);?>
				<?php elseif(sizeof($resultados) == 0): ?>
				<div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
				<?php endif ;?>
		</div>

		<div class="span2">
			<div class="row-fluid">
				<h5><i class="icon-search"></i> Filtros</h5>
				<form method="post" action="<?=$this->baseUrl();?>/banco/produccion/informe">
	    			<div class="input-prepend input-append">
		    			<span class="add-on"><i class="icon-calendar"></i></span>
			    		<input id="datepicker" class="input-medium" name="fecha" type="text" value="<?=$this->fecha;?>" autocomplete="off" placeholder="Fecha"/>
	    			</div>
					<div class="input-prepend input-append">
						<span class="add-on"><i class="icon-barcode"></i></span>
						<input name="nro" class="input-medium" type="text" autocomplete="off" placeholder="Cod. Donaci&oacute;n" value="<?= $this->nro?>"/>
					</div>
	
					<br />
					<div style="display: none;"> 
						<label for="estado">Estado</label>
						<select name="estado" id="estado">
							<option value="1">Pendientes</option>
							<option value="0">Todos</option>
							<option value="3">Descartados</option>
							<option value="2" selected>Producidos</option>
						</select>
					</div>
                      <br />
                        <label for="hem_id">Hemocomponente</label>
                         <select name="hem_id" id="hem_id" class="input-medium">
                                <option value="">Todos</option>
                        <?php foreach ($this->cache_hemo as $h => $desc): ?>
                            <?php if ($h == $this->hem_id) : ?>
                                <option value="<?=$h?>" selected><?=$desc ?></option>
                            <?php else : ?>
                                <option value="<?=$h?>" ><?=$desc ?></option>
                            <?php endif; ?>
                        <?php endforeach; ?>
                        </select>
                      <br />
					<button class="btn btn-primary btn-inverse" type="submit" id="aceptar"><i class="icon-search icon-white"></i> Buscar</button>
				</form>
			</div>
			<div class="row-fluid">
				<h5><i class="icon-check"></i> Seleccionados:</h5>
				<span class="badge badge-info btn-inverse" id="multiple">0</span>
			</div>
			<div class="row-fluid">
				<br />
				<button class="btn btn-inverse" id="multiple-button"> Habilitar</button>
			</div>
		</div>
	</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(this).closest('.span10').find('input[type=number]').focus();
    });

	$(".usuario_id").hide();
	$("#multiple-button").hide();
    $(".validado").hide();
    $(".usu_id_valida").hide();
    $("#hem_id").val('<?=$this->hem?>');
    
    $(function () {
        $("#datepicker").datepicker({
		    maxDate : 0,
			dateFormat : 'yy-mm-dd',
        });

        $("#estado").val("2");
        $(".submit").click(function () {
            var id = $(this).data('id')
            var data = $('#form-' + id).serialize();
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/banco/produccion/confirmar',data,function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'tempnok') {
					alert('Temperatura fuera del rango permitido');
					location.reload();
				}
				else if (d.st == 'pesonok'){
					alert('Peso fuera del rango permitido');
					location.reload();
				}
            },'json');
        });
        $(".informe").click(function () {
            var id = $(this).attr('id');
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/banco/produccion/verpdf',{id : id},function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
            },'json');
        }); 
        
		/* Script para los checkboxs */
		var j = 0;		
		var hemo = [];
		$(":checkbox").click(function() {
			var id;
			id = $(this).attr('id');
			
			if($(this).is(':checked')){
				$("#multiple").text(function(i,val){
					hemo[j]= id;
					console.debug(hemo);
					j=j+1;
					return val-(-1);
				});
			}
			else {
				$("#multiple").text(function(i,val){
					var remove = id;
					hemo.splice($.inArray(remove, hemo),1);
					j=j-1;
					console.debug(hemo);
					return val - 1;					
				});
			};
			if ($("#multiple").text() != "0") {
				$("#multiple-button").show();
			}
			else {
				$("#multiple-button").hide();
			}
		});  
		/* fin script checkbox */               
        $("#multiple-button").click(function () {
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/banco/produccion/validar',{hemo : hemo},function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else {
					alert("Ha ocurrido un error inesperado");
					location.reload();
				}
            },'json');
        });
        
    });
</script>
