<?= $this->doctype() . PHP_EOL; ?>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <?= $this->headTitle() . PHP_EOL; ?>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='shortcut icon' href='<?= $this->baseUrl(); ?>/images/favicon.ico' />
        <?php
        echo $this->headLink()
                ->prependStylesheet($this->baseUrl() . '/themes/v1/css/v1.css')
                ->prependStylesheet($this->baseUrl() . '/themes/bootstrap/css/bootstrap-responsive.min.css')
                ->prependStylesheet($this->baseUrl() . '/themes/bootstrap/css/bootstrap.min.css')
                ->prependStylesheet($this->baseUrl() . '/themes/ionicons-2.0.1/css/ionicons.min.css')
                ->prependStylesheet($this->baseUrl() . '/themes/font-awesome-4.7.0/css/font-awesome.min.css')
                ->prependStylesheet($this->baseUrl() . '/themes/select2/css/select2.css') . PHP_EOL;

        echo $this->headScript()
                ->prependFile($this->baseUrl() . '/themes/select2/js/i18n/es.js')
                ->prependFile($this->baseUrl() . '/themes/select2/js/select2.full.js')
                ->prependFile($this->baseUrl() . '/themes/bootstrap/js/bootstrap.min.js')
                ->prependFile($this->baseUrl() . '/themes/v1/js/jquery-1.11.2.min.js') . PHP_EOL;
        ?>
    </head>
    <body>
        <?php
        $config = Zend_Registry::get('config');
        ?>


        <?php if ($this->usuario): ?>
            <div class="navbar navbar-inverse" style="margin-bottom: 10px;padding-bottom: 2.2px;    background-image: url(<?= $this->baseUrl(); ?>/themes/v1/images/barra-header.png);    background-position: left bottom;    background-repeat: repeat-x;">
                <div class="navbar-inner" style="background-color: #d8dbdd !important; border-color:#d8dbdd; background-image: -webkit-linear-gradient(top,#d8dbdd,#c8cbcd);color:black;">
                    <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a tabindex="-1" class="brand" href="<?= $this->baseUrl(); ?>/" style="padding:0px; ">
                        <img src="<?= $this->baseUrl(); ?>/images/gob-santafe.png" style="padding:3px; padding-right: 15px; padding-left: 4px; padding-right: 10px;">
                    </a>
                    <div class="nav-collapse collapse">
                        <?= $this->navigation()->menu()->setMaxDepth(1); ?>
                        <ul class="nav pull-right">
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <?= $this->usuario->usu_nombre; ?></a>
                                <ul class="dropdown-menu">
                                    <li><a><b><i><?= $this->usuario->usu_nombre; ?></i></b></a></li>
                                    <li class="divider"></li>									
                                    <?php foreach ($this->efectores_activos as $i => $v): ?>
                                        <li data-id="<?= $v['id_efector']; ?>" 
                                            class="efector_asociado <?= ($v['efe_defecto'] == 1) ? 'active' : ''; ?>">
                                            <a href="#"><i class="icon-map-marker"></i> <?= $v['nomest']; ?></a>
                                        </li>
                                    <?php endforeach; ?>
                                    <li class="divider"></li>									
                                    <li><a id="mnu_cambiar_password" href="<?= $this->baseUrl() . '/acceso/usuarios/cambiarpassword/usu_id/' . $this->usuario->usu_id; ?>"> Cambiar Contraseña</a></li>
                                    <li class="divider"></li>									
                                    <li><a id="logout" tabindex="-1" href="<?= $this->baseUrl(); ?>/index/logout"><i class="icon-off"></i> Cerrar Sesión</a></li>
                                </ul>
                            </li>
                            <!--li><a id="logout" data-toggle="popover" data-content="Cerrar Sesión" tabindex="-1" href="<?= $this->baseUrl(); ?>/index/logout"><i class="icon-off"></i></a></li-->
                        </ul>
                    </div>
                </div>
            </div>
        <?php else : ?>
            <div style="background-color: #d8dbdd;">
                <img src="<?= $this->baseUrl(); ?>/images/gob-santafe.png" style="margin-left: 5px; padding: 5px;"/>
            </div>  
        <?php endif; ?>
        <div class="container-fluid">
            <?= $this->layout()->content; ?>                
        </div> 
        <footer style="            
                width:100%; 
                background:rgba(50,50,50,0.9); ; 
                height: 20px; 
                position: fixed; 
                bottom: 0px; 
                color:#ccc; 
                text-align: right;">
            <div style="text-align:left;padding-left:3%;float:left;">
                <span style="font-size:0.8em; font-weight:600px;">
                    <?php foreach ($this->efectores_activos as $i => $v): ?>
                        <?php
                        if ($v['efe_defecto'] == 1) {
                            echo 'Efector activo: ' . $v['nomest'];
                        }
                        ?>
                    <?php endforeach; ?>
                </span>
            </div>
            <div style="font-size: .8em; font-weight: 300;padding-right:3%;"><?= $config->get('pry_nombre'); ?>. Version <?= $config->get('pry_version'); ?></div>
        </footer>

        <script>
            $(function () {
                $('.radio-group label').addClass('radio inline');
                $('.nav > li.dropdown').children('a').append(' <b class="caret"></b>').end().children('ul').addClass('dropdown-menu');
                $('.nav a[data-icon]').each(function () {
                    $(this).prepend('<i class="' + $(this).attr('data-icon') + '"></i> ');
                });
                $('#logout').popover({placement: 'bottom', trigger: 'hover'});
                $('.dropdown-toggle').click(function (e) {
                    e.preventDefault();
                    setTimeout($.proxy(function () {
                        if ('ontouchstart' in document.documentElement) {
                            $(this).siblings('.dropdown-backdrop').off().remove();
                        }
                    }, this), 0);
                });
                if (navigator.userAgent.match(/Android/i)) {
                    window.scrollTo(0, 0); // reset in case prev not scrolled
                    var nPageH = $(document).height();
                    var nViewH = window.outerHeight;
                    if (nViewH > nPageH) {
                        nViewH -= 250;
                        $('BODY').css('height', nViewH + 'px');
                    }
                    window.scrollTo(0, 1);
                }

            });
            $(document).ready(function () {
                cortina(false, "Cargando...");
            });

            $(document).on('click', '.efector_asociado', function () {
                cortina(true, "");
                //Cuando se selecciona un efector_asociado
                //1.Tomar el ID efector asociado.
                var id_efector = $(this).attr('data-id');
                var id_usuario = "<?= $this->usuario->usu_id; ?>";
                //2.Ejecutar el Metodo para el cambio de efector preferido.                
                //3.Recargar variables de sesion para que el efector activo sea el correcto.
                $.when($.ajax(CambiarEfectorActual(id_usuario, id_efector))).then(function () {
                    //4.Actualizar la pagina.
                    window.location.reload();
                });
            });
            function CambiarEfectorActual(id_usuario, id_efector) {
                $.get("/acceso/efector/defecto-ajax", {usu_id: id_usuario, efe_id: id_efector});
                $.get("/default/index/cambiar-efector-activo", {usu_id: id_usuario});
            }
            function cortina(bool_encendido, mensaje) {
                if (bool_encendido === true) {
                    $("#cortina").show('swing');
                } else {
                    $("#cortina").hide('swing');
                }
                if (mensaje !== "") {
                    $("#cortina h4").text(mensaje);
                }
            }
        </script>
        <div id="cortina" style="width: 100%;height: 100%;background-color: white;position: absolute;left: 0;
             top: 0;text-align: center;">
            <img src="<?= $this->baseUrl(); ?>/images/cargando.gif" style="padding-top:10%" />
            <h4 style="color:black;" id="cortina_mensaje">Cargando...</h4>
        </div>        

        <div class="modal fade hide" id="modal_mensaje" >
            <div class="modal-header"><h4 class="titulo"></h4></div>
            <div class="modal_cuerpo" style="padding:20px;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                    <i class="icon-remove icon-white"></i> Cerrar
                </button>										
            </div>									
        </div>
        <script>
            function mensaje_modal(titulo, cuerpo) {
                $('#modal_mensaje').modal();
                $('#modal_mensaje .modal-header .titulo').html(titulo);
                $('#modal_mensaje .modal_cuerpo').html(cuerpo);
            }
        </script>
    </body>
</html>
