<style>
    #btn_imprimir, #btn_refrescar{
        visibility: hidden;
    }
    table tr td{
        text-align: left;
    }
    #nro_copias{
        width:  70px;
    }
</style>


<legend>
    <a class="btn btn-primary btn-medium" href="<?= $this->baseUrl(); ?>/gestion/centralizado/generacion">
        <i class="icon-chevron-left icon-white"></i> Volver</a>
    Alta de un nuevo lote de códigos de donación</legend>

<div id="caja_msg" class="alert alert-warning" style="margin-bottom: 0;color:black;">
    <i class="icon-info-sign"></i><span id="msg"> Este proceso genera un lote de códigos de barra, para ser enviados al efector para su respectivo uso.</span>
    
</div>
<?php if ($this->form->getMessages()): ?>
<div class="alert alert-error" style="margin-bottom: 0;color:black;">
    <i class="icon-exclamation-sign"></i><b>Se han detectado los siguientes errores:</b>
                        <br>
                        <?php foreach ($this->form->getMessages() as $i => $error): ?>
                            <ul>
                                <?php
                                
                                $error = array_filter($error);
                                foreach ($error as $b => $v):
                                ?>
                                <li><b><?= $this->campo_forms[$i]; ?></b> :<?= $v; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endforeach; ?>
</div>
<?php endif; ?>
<br>
<div class="content"> 
    <div class="row-fluid">        
        <div class="span7" style="border-radius: 5px; background-color: rgba(255,255,255,0.5);padding:20px;">
            <form id="formulario" method="post" action="<?= $this->url(); ?>">

                <div class="control-group">
                    <label class="control-label" for="nroLote"><?= $this->form->nroLote->getLabel(); ?></label>
                    <div class="controls">
                        <?= $this->form->nroLote->renderViewHelper(); ?>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="cnt_codigos"><?= $this->form->cnt_codigos->getLabel(); ?></label>
                    <div class="controls">
                        <?= $this->form->cnt_codigos->renderViewHelper(); ?>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="cbo_efector"><?= $this->form->cbo_efector->getLabel(); ?></label>
                    <div class="controls">
                        <?= $this->form->cbo_efector->renderViewHelper(); ?>
                    </div>
                </div>

                <div class="panel-footer">
                    <button id="btn_generar" type="submit" class="btn btn-primary pull-right"><i class="icon-barcode"></i> Generar Lote</button>
                </div>
            </form>
        </div>

    </div>
</div>    
<script>
$(document).ready(function(){       
     
    $('#formulario').submit(function(e){
        e.preventDefault()
        $('input[name="nroLote"]').attr('disabled',false);
        $(this)[0].submit();
    })  
    
 });
 
 $(document).keypress(function(e) {
    if(e.which == 13) {
        e.preventDefault();
        return false;
    }
});
</script>
    