<?php
$registry = Zend_Registry::getInstance();
$base_url = ""; //;$registry->config->baseurl;
?>
<legend>Listado de códigos de donación generados</legend>

<?php if ($this->mensaje !== null): ?>
    <div class="alert alert-success" style="margin-bottom: 0;color:black;">
        <i class="icon-info-sign"></i> <?= $this->mensaje; ?>    
    </div><br>
<?php endif; ?>

<div class="row-flud">
    <div class="span9">
        <table class="table table-striped table-bordered table-hover table-condense">
            <thead>
                <tr data-id="" class="btn-info btn-small btn-inverse">                    
                    <th># Lote</th>                    
                    <th>Destino</th>                    
                    <th>Código Desde</th>
                    <th>Código Hasta</th>
                    <th>Estado del Lote</th>                    
                    <th>Tama&ntilde;o</th>
                    <th>Generado por</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <?php
                if (is_array($this->lotes)) {
                    foreach ($this->lotes as $item) {
                        ?>
                        <tr data-id="<?= $item['nroLote']; ?>">                            
                            <td><?= $item['nroLote']; ?></td>
                            <td><?= $this->cache_efectores[$item['efe_id']]; ?></td>

                            <td><?= $item['NroDesde']; ?></td>
                            <td><?= $item['NroHasta']; ?></td>                            
                            <td class="campo_estado"><?php
                                switch ($item['lote_estado']) {
                                    case 0:
                                        echo '<span class="label label-info">Generado</span>';
                                        break;
                                    case 1:
                                        echo '<span class="label label-info">Impreso</span>';
                                        break;
                                    case 2:
                                        echo '<span class="label label-info">Enviado</span>';
                                        break;
                                    case 3:
                                        echo '<span class="label label-success">Recibido</span>';
                                        break;
                                }
                                ?></td>
                            <td><?= $item['tam_lote']; ?></td>
                            <td><?= $item['usuario_genero']; ?></td>
                            <td><?php
                                switch ($item['lote_estado']) {
                                    case 0:
                                        ?>
                                        <button class="btn_imprimir btn btn-warning btn-mini">Informar Impresión</button>
                                        <button class="btn_eliminar btn btn-danger btn-mini">Eliminar</button>
                                        <?php
                                        break;
                                    case 1:
                                        ?><button class="btn_enviar btn btn-success btn-mini">Enviar</button><?php
                                        break;
                                    case 2:
                                        break;
                                    case 3:
                                        break;
                                }
                                ?>
                            </td>                            
                        </tr>

                    <?php } ?>

                <?php } else { ?>
                    <tr>
                        <td colspan="8">No existen pendientes de impresión.</td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
        <?php
        if (is_array($this->lotes)) {
            echo $this->paginador($this->paginas);
        }
        ?><br>
    </div>        
    <div class="span3">
        <a id="btn_crear_lote" href="<?= $this->baseUrl(); ?>/gestion/centralizado/create-lote" 
           class="btn btn-success" style="width:82%;">Crear nuevo lote</a>
        <br><br>
        <form method="post" action="<?= $this->baseUrl(); ?>/gestion/centralizado/generacion">
            <label>Buscar lote por coligo de donación</label>
            <input type="text" name="fld_nroLote" value="<?= ($this->nroLote_selected !== null && $this->nroLote_selected !== '') ? $this->nroLote_selected : ''; ?>"/>
            <br>
            <label>Filtrar por efector</label>
            <select name="cbo_efectores">
                <option value="">Todos los efectores</option>
                <?php foreach ($this->efectores as $efector) { ?>
                    <option value="<?= $efector['id_efector']; ?>" <?= ($this->efe_selected == $efector['id_efector']) ? 'selected' : ''; ?>><?= $efector['nomest']; ?></option>
                <?php } ?>            
            </select>
            <br>
            <label>Filtrar por estado</label>
            <select name="cbo_estados">
                <option value="" <?= ($this->estado_selected == null || $this->estado_selected == '') ? 'selected' : '' ?>>Todos</option>
                <option value="0"<?= ($this->estado_selected === '0') ? 'selected' : '' ?>>Generado</option>
                <option value="1"<?= ($this->estado_selected === '1') ? 'selected' : '' ?>>Impreso</option>
                <option value="2"<?= ($this->estado_selected === '2') ? 'selected' : '' ?>>Enviado</option>
                <option value="3"<?= ($this->estado_selected === '3') ? 'selected' : '' ?>>Recibido</option>
            </select>
            <input type="submit" name="btn_buscar" value="Buscar" class="btn btn-primary"/>
        </form>
    </div>

</div>

<script>

    function validarDatos() {
        if ($("#cnt_codigos").val() > 0) {
            return true;
        } else {
            return false;
        }
    }

    $(document).ready(function () {//Estado 1: Impreso
        $(".btn_imprimir").on('click', function () {
            var lote = $(this).closest('tr').attr('data-id');
            cortina(true, 'Actualizando el lote a estado impreso. Recuerde que debe imprimir el lote.')
            $.post("<?= $this->baseUrl(); ?>/gestion/centralizado/cambiar-estado", {'nro_lote': lote, 'estado': '1'}, function (data) {
                console.log(data);
                if (data.st == 'ok') {
                    window.location.reload();
                } else {
                    cortina(false, '')
                    alert("Ocurrio un error al registrar la impresion del lote.")
                }


            });
        });

        $(".btn_enviar").on('click', function () {
            var lote = $(this).closest('tr').attr('data-id');
            $.post("<?= $this->baseUrl(); ?>/gestion/centralizado/cambiar-estado", {'nro_lote': lote, 'estado': '2'}, function (data) {
                window.location.reload();
                cortina(true, 'Actualizando el lote a estado a enviado.')
            });
        });

        $(".btn_eliminar").on('click', function () {
            var lote = $(this).closest('tr').attr('data-id');
            $.post("<?= $this->baseUrl(); ?>/gestion/centralizado/eliminar-lote", {'nro_lote': lote}, function (data) {
                window.location.reload();
                cortina(true, 'Se esta eliminando el lote.')
            });
        });


    });



</script>
