<style>
    .AjusteBotonMenu
    {
        margin: 10px; width:95%;text-align: left;  padding-left: 15%;
    }
    .AjusteBotonMenu i
    {
        padding-right: 10px;
    }
</style>

<script>
</script>


<?php $this->datepicker(); ?>

<legend>Administracion de Codigos de Donacion</legend>


<div class="row-flud">
    <div class="span2">&nbsp;</div>
    <div class="span7">
        <div class="panel panel-default">
            <div class="panel-header">

                <div class="alert  alert-warning" style="margin-bottom: 0;">
                    <i class="icon-info-sign"></i>
                    <span>Seleccionar el proceso que desea realizar.</span>
                </div>
                <br>

            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active">

                        <p>
                            <a href="#" id="btn_solicitud" class="btn btn-sq-lg btn-success" disabled>
                                <i class="fa fa-bell-o fa-5x"></i><br/>
                                Solicitud de <br>códigos de Barra
                            </a>
                            <a href="#" id="btn_generacion" class="btn btn-sq-lg btn-warning">
                                <i class="fa fa-barcode fa-5x"></i><br/>
                                Generación <br>códigos de Barra
                            </a>
                            <a href="#" id="btn_envio" class="btn btn-sq-lg btn-warning">
                                <i class="fa fa-envelope-o fa-5x"></i><br/>
                                Enviar lote de <br>códigos de Barra
                            </a>
                            <a href="#" id="btn_recepcion" class="btn btn-sq-lg btn-success">
                                <i class="fa fa-envelope-open-o fa-5x"></i><br/>
                                Notificar recepción de <br>códigos de Barra
                            </a>            
                        </p>

                        <!--button type="button" class="btn btn-primary btn-large AjusteBotonMenu" >
                            <i class="icon-bell"></i> Solicitud de Codigos Centralizados</button-->


                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="span4">&nbsp;</div>
</div>

<script>
    $(function () {
        //jQuery code here 

    });

    $("#btn_generacion").on("click", function () {
        window.location = encodeURI("<?= $this->baseUrl(); ?>/gestion/centralizado/generacion");
    })
    $("#btn_envio").on("click", function () {
        window.location = encodeURI("<?= $this->baseUrl(); ?>/gestion/centralizado/envio");
    })
    $("#btn_recepcion").on("click", function () {
        window.location = encodeURI("<?= $this->baseUrl(); ?>/gestion/centralizado/recepcion");
    })
</script>

