<style>
            .colNroLote{width:100px;}
            .colDonacion{width:180px;}
            .colAccion{
                width:160px;
            }
                
            .debug{
                border:3px red; 
                background-color: tan;
            }
            .accion{
                margin-left: 10px;            
            }
            #tbl_envios tbody tr td{
                text-align: center;
            }
            tfoot{
                margin-top: 20px;
            }
            #resumenTabla{
                margin-top: 20px;
                border-top: 1px solid lightgrey;
                PADDING-TOP: 5px;
            }
            
</style>

	<legend>Codigos Centralizados</legend>
<div class="row-flud">
    <div class="span2">&nbsp;</div>
    <div class="span8">
        <div class="panel panel-default">
            <div class="panel-header">
                <h4>Informar recepcion del Lote</h4>
                <br>
                <div class="alert  alert-warning" style="margin-bottom: 0;">
                    <i class="icon-info-sign"></i>
                    <span>Listado de los lotes recibidos no informados.</span>                    
                </div>
                <br>
                
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-panel active">
                        <table class="table table-striped table-bordered table-hover table-condense" id="tbl_envios">
                            <thead>
                                <tr>
                                    <th class="colNroLote">Nro de lote</th>
                                    <th class="colDonacion">Nro Desde</th>
                                    <th class="colDonacion">Nro Hasta</th>                                    
                                    <th class="colAccion">Accion</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <?php 
                                $i=0;
                                foreach ($this->Pendientes as $row){
                                    if($row['lote_estado'] === 2){
                                        $i++;                                        
                                    }                                
                                    ?>
                                <tr>
                                    <td ><?= $row['nroLote'];?></td>
                                    <td ><?= $row['NroDesde'];?></td>
                                    <td ><?= $row['NroHasta'];?></td>
                                    <td>
                                        <?php
                                        if ($row['lote_estado'] === 2){?>
                                            <button id="nroLote<?= $row['nroLote'];?>" class="btn btn-primary btn-small accion">
                                                <span class="icon-envelope"></span>&nbsp;
                                                <span>Informar Recepcion</span>
                                            </button>
                                        <?php }else{ ?>
                                                <span class="label label-success">Recibido</span>
                                        <?php } ?>
                                        
                                        
                                    </td>
                                </tr> 
                                <?php }?>
                            </tbody>
                       </table> 
                           
                        <div id="resumenTabla">
                            <div>Lotes pendiente de informar su recepcion: <span><?=$i;?></span></div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="panel-footer">					
                
                          
                <button id="btn_refrescar" type="button" class="btn btn-success pull-right" data-dismiss="modal">
                    <i class="icon-refresh"></i> Refrescar
                </button>
            </div>
        </div>
    </div>
    <div class="span3">&nbsp;</div>
</div>
<script>   
    
    $(document).ready(function(){
        
        $(".accion").on('click',function(){           
           var nroLote = $(this).attr("ID").substring(7);//Elimina la paralabra NroLote
        $.ajax({
                    data:  {
                        'st':'0',
                        'nroLote':nroLote
                    },
                    url:   '<?= $this->baseUrl();?>/gestion/centralizado/registrar-Recepcion-De-Lote',
                    type:  'post',
                    beforeSend: function () {
                            $("#msg").html("Procesando, espere por favor...");
                    },
                    success:  function (response) {                        
                        
                        switch(response.st) {
                            case 'ok':
                                $("#msg").html("La recepcion fue registrada correctamente.");                                 
                                location.reload();
                                break;
                            case 'nok':
                                $("#msg").html("La recepcion no pudo ser registrada correctamente.");  
                                location.reload();
                                break;
                            default:
                                $("#msg").html("Error al registrar el Lote recibido.");
                                alert('Respuesta Inesperada del Servidor. Su peticion pudo no ser procesada.');                                
                        }
                    }
                    });
                    
            });
            
            
        $("#btn_refrescar").on('click',function(){         
                window.location.reload();
            });
        
    });
    
</script>
          
