<?=$this->render('reusable.phtml');?>

<ul class="breadcrumb">
	<li><a href="<?=$this->baseUrl();?>/acceso/roles">Roles</a> <span class="divider">/</span></li>
	<li><a href="<?=$this->baseUrl();?>/acceso/roles/manage/rol_id/<?=$this->rol['rol_id'];?>">Administrar Rol</a> <span class="divider">/</span></li>
	<li class="active">Asignar Recursos a <b><?=$this->rol['rol_nombre'];?></b></li>
</ul>

<div class="row-fluid">
	<div class="span6">
		<?php if(!empty($this->resultados)): ?>
			<form action="<?=$this->baseUrl();?>/acceso/recursos/remover/rol_id/<?=$this->rol['rol_id'];?>" method="post">
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small">
							<th>Recursos Asignados</th>
							<th><button class="btn btn-mini btn-inverse" type="submit"><i class="icon-remove icon-white"></i> Remover</button></th>
						</tr>
						<tr class="btn-info btn-small">
							<th>Controlador</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $r): ?>
							<tr class="info">
								<td colspan="2"><label class="checkbox inline" style="font-size:12px"><input name="modulo[]" type="checkbox" value="<?=strtolower($i);?>" /> <b><?=ucwords($i);?></b></label> <span class="label pull-right">Modulo</span></td>
							</tr>
							<?php foreach($r as $ii => $v): ?>
								<tr class="<?=$i;?>">
									<td><label class="checkbox" style="font-size:12px"><input class="hereda2" type="checkbox" name="controlador[<?=strtolower($i);?>][]" value="<?=$ii;?>" /> <?=$ii;?></label></td><td>
										<?php foreach($v as $d): ?>
											<label class="checkbox" style="font-size:11px"><input name="accion[<?=strtolower($i);?>][<?=$ii;?>][]" value="<?=$d;?>" type="checkbox" /> <?=$d;?></label>
											<?php endforeach; ?>
									</td>
								</tr>
								<?php endforeach; ?>

							<?php endforeach; ?>
					</tbody>
				</table>
			</form>

			<?php else: ?>
			<div class="alert alert-warning">No se encuentran Recursos Asociados.</div>
			<?php endif; ?>
	</div>

	<div class="span6">
		<form action="<?=$this->baseUrl();?>/acceso/recursos/agregar/rol_id/<?=$this->rol['rol_id'];?>" method="post">
			<table class="table table-striped table-bordered table-hover table-condense">
				<thead>
					<tr class="btn-info btn-small">
						<th>Recursos Disponibles</th>
						<th><button class="btn btn-mini btn-inverse" type="submit"><i class="icon-plus icon-white"></i> Agregar</button></th>
					</tr>
					<tr class="btn-info btn-small">
						<th>Controlador</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($this->recursos as $i => $r): ?>
						<tr class="info">
							<td colspan="2"><label class="checkbox inline" style="font-size:12px"><input name="modulo[]" type="checkbox" value="<?=strtolower($i);?>" /><b><?=ucwords($i);?></b></label><span class="label pull-right">Modulo</span></td>
						</tr>
						<?php foreach($r as $ii => $v): ?>
							<tr class="<?=$i;?>">
								<td><label class="checkbox inline" style="font-size:12px"><input class="hereda2" type="checkbox" name="controlador[<?=strtolower($i);?>][]" value="<?=$ii;?>" /> <?=$ii;?></label></td><td>
									<?php foreach($v as $d): ?>
										<label class="checkbox" style="font-size:11px"><input name="accion[<?=strtolower($i);?>][<?=$ii;?>][]" value="<?=$d;?>" type="checkbox" /> <?=$d;?></label>
										<?php endforeach; ?>
								</td></tr>
							<?php endforeach; ?>

						<?php endforeach; ?>
				</tbody>
			</table>
		</form>

	</div>
</div>

<script type="text/javascript">
	$(document).on('click','.hereda2',function(){
		$(this).parents('td').next().find('input').prop('disabled',$(this).is(':checked'));
	});

</script>
