<style>
    a {
        color:white;
    }
    #resource_list > p > ul > li span {
        display:none;
    }
</style>

<?= $this->render('reusable.phtml'); ?>

<div class="alert alert-info">
    <span>Recursos Disponibles en tiempo real. </span>
    <div class="pull-right">
        <button type="button" class="btn btn-small" id="btn-loader" data-loading-text="Cargando..."><i class="icon-refresh "></i> Renovar Indice</button>
    </div>
</div>

<div id="resource_list" style="margin:20px;">
    <?php foreach ($this->recursos as $i => $r) { ?>
        <div style="margin:5px;background: #dddddd33;padding: 10px;">
            <a style="color:black;" class="hieracly" href="javascript:;"><i class="icon-folder-close"></i> <b><?= $i; ?></b></a>
            <ul style="display: none;">
                <?php foreach ($r as $ii => $v) { ?>
                    <li><a class="hieracly" href="javascript:;"><i class="icon-file"></i> <u><?= $ii; ?></u></a>
                        <ul style="display:none;">
                            <?php foreach ($v as $d) { ?>
                                <li class="docblock"><?= $d; ?>
                                    <span style="display:none;"><?= nl2br($this->doc[$i][$ii][$d]); ?></span>
                                </li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php } ?>

            </ul>
        </div>
    <?php } ?>
</div>

<script type="text/javascript">
    $.ajaxSetup({async: false});
    $(document)
            .on('click', '#btn-loader', function () {
                $("#btn-loader").button('loading');
                $.getJSON('<?= $this->baseUrl(); ?>/acceso/recursos/build-modules', function (d) {
                    if (d.st == 1) {
                        $.each(d.modulos, function (i, v) {
                            $.getJSON('<?= $this->baseUrl(); ?>/acceso/recursos/build-controller', {modulo: v}, function (e) {
                                if (e.st == 1) {
                                    $.post('<?= $this->baseUrl(); ?>/acceso/recursos/build-actions', {
                                        modulo: v,
                                        controllers: e.controladores
                                    }, 'json');
                                }
                            });
                        });
                        location.reload();
                    }
                });

                //http://localhost:8080/acceso/recursos/build-controller/module/acceso
                //http://localhost:8080/acceso/recursos/build-actions/module/acceso/controllers/efector
            })
            .on('click', '.hieracly', function () {
                if ($(this).parent().has('ul')) {
                    $(this).next().slideToggle();
                }
            }).on('mouseover', '.docblock', function () {
        return;
        $(this).children().popover({
            placement: 'right',
            content: $(this).find('span').html(),
            html: true,
            trigger: 'hover',
            //container : $(this).children().attr('data-id')
        }).popover('show');

        //$('.docblock span').hide();
        //$(this).find('span').show();

    }).on('mouseout', '.docblock', function () {

        //$(this).children().popover('destroy');
    });
</script>
