<fieldset>
	<legend>Cuestionario - Categorías de la Pregunta</legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->baseUrl();?>/gestion/cuestionariopreguntascategorias">Categorías de Productos</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">
		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->baseUrl();?>/gestion/cuestionariopreguntascategorias"><i class="icon-remove icon-white"></i> Cancelar</a></div>

		<p></p>
                
		<div class="well">
			<?=$this->form->estado->renderLabel();?>
			<?=$this->form->estado->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->estado->renderErrors();?></span>
		</div>                
   
		<div class="well">
			<?=$this->form->orden->renderLabel();?>
			<?=$this->form->orden->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->orden->renderErrors();?></span>
		</div>                      
                
		<div class="well">
			<?=$this->form->nombre->renderLabel();?>
			<?=$this->form->nombre->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->nombre->renderErrors();?></span>
		</div>
	</form>
</fieldset>


