<fieldset>
    <legend>Cuestionario - Preguntas Categorías</legend>

    <p><a class="btn btn-primary btn-small" href="<?= $this->url(array('action' => 'agregar')); ?>">
            <i class="icon-plus icon-white"></i> Nueva</a></p>

    <div class="row-fluid">
        <div class="span10">
            <?php if (sizeof($this->resultados) > 0): ?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th>Id</th>	
                            <th>Orden Nro. <i class="icon icon-chevron-down icon-white"></i></th>
                            <th>Estado</th>
                            <th>Nombre</th>
                            <th width="240">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->resultados as $i => $v): ?>
                            <tr <?php echo ($v['estado'] == 0) ? 'class="warning"' : ''; ?>>
                                <td><?= $v['id']; ?></td>
                                <td><?= $v['orden']; ?></td>
                                <td><?= $v['estado'] == 0 ? '<span class="label label-warning">Inactiva</span>' : '<span class="label label-success">Activa</span>'; ?></td>
                                <td><?= $v['nombre']; ?></td>
                                <td><a class="btn btn-mini btn-primary" href="<?= $this->baseUrl(); ?>/gestion/cuestionariopreguntascategorias/modificar/id/<?= $v['id']; ?>"><i class="icon-edit icon-white"></i> Editar</a> 
                                    <a class="btn btn-mini btn-danger" href="<?= $this->baseUrl(); ?>/gestion/cuestionariopreguntascategorias/eliminar/id/<?= $v['id']; ?>"><i class="icon-remove icon-white"></i> Eliminar</a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php else: ?>
                <div class="alert alert-warning">No hay Categorías Cargadas</div>
            <?php endif; ?>
        </div>
    </div>
</fieldset>
