<?php
$this->datepicker();
$this->headLink()->appendStylesheet($this->baseUrl() . '/themes/select2/select2.css');
$this->headScript()->appendFile($this->baseUrl() . '/themes/select2/select2.min.js')
        ->appendFile($this->baseUrl() . '/themes/select2/select2_locale_es.js');
?>



<style>
    table#tabla-detalle tbody tr td span.id{
        visibility: hidden;
    }
</style>

<fieldset>
    <legend><a class="btn btn-primary btn-medium" href="/stock/solicitudes">
            <i class="icon-chevron-left icon-white"></i> Regresar al Listado de Solicitudes</a> 
        Generar Nueva Solicitud de Hemocomponentes
    </legend>        

    <div class="row-fluid"> 
        <div class="span10">
            <div class="span7">
                Fecha de la Solicitud: 
                <input name="fecha" id="datepicker" class="input-medium" 
                       placeholder="Fecha de Solicitud"
                       type="text" value="<?= $this->fecha; ?>" />
            </div>
        </div>
    </div>

    <div class="row-fluid"> 
        <div class="span10">
             <form id="frm_agregar_hemocomponente" name="frm_agregar_hemocomponente" onsubmit="return false;">
                <table class="table table-striped table-bordered table-hover table-condense">
                <thead>
                    <tr class="btn-info btn-small btn-inverse">
                        <th width="150"> Hemocomponente </th>
                        <th width="10"> ABO </th>                                    
                        <th width="10"> RH </th>       
                        <th width="10"> Irradiado </th>    
                        <th width="20"> Cantidad </th>                            
                        <th width="20"> Prioridad </th>                            
                        <th width="200"> Observaciones </th>
                        <th width="60">Acciones</th>                                    
                    </tr>
                </thead>              

                <tbody>
                    <tr>
                        <td>
                            <select name="hemocomponente-list" id="hemocomponente-list" class="input-large"
                                    required="required">
                                        <?php
                                        $hemocomponente = new Gestion_models_Hemocomponentes;
                                        $hemocomponente_list = $hemocomponente->getPairs();
                                        foreach ($hemocomponente_list as $i => $v):
                                            ?>
                                    <option value="<?= $i; ?>"><?= $v ?></option>
                                <?php endforeach; ?>
                            </select>                                    
                        </td>
                        <td>
                            <select name="hemocomponente-grupo" id="hemocomponente-grupo" value="0" style="width: 45px">                 
                                <option value="0">0</option>                          
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="AB">AB</option>   
                            </select>                                   
                        </td>
                        <td>
                            <select name="hemocomponente-factor" id="hemocomponente-factor" value="+" style="width: 45px">                 
                                <option value="+">+</option>                          
                                <option value="-">-</option>
                            </select>                                   
                        </td>    
                        <td>
                            <select name="hemocomponente-irradiado" id="hemocomponente-irradiado" value="0" style="width: 45px">                 
                                <option value="0">NO</option>                          
                                <option value="1">SI</option>
                            </select>                                   
                        </td>                                 

                        <td><input type="number" name="hemocomponente-canitdad" id="hemocomponente-cantidad" 
                                   min="0" style="width: 40px" required="required"></td>
                        <td>
                            <select name="hemocomponente-prioridad" id="hemocomponente-prioridad" value="1">
                                <option value="1">Baja</option>
                                <option value="2">Media</option>
                                <option value="3">Alta</option>
                                <option value="4">Urgente</option>
                            </select>
                        </td>
                        <td><input type="text" name="hemocomponente-notas" id="hemocomponente-notas" size="70px"  maxlength="255"></td>
                        <td>
                            <button class="btn btn-info" 
                                    id="btn_agregar_row" name="btn_agregar_row"
                                    type="submit"
                                    title="Agrega un Hemocomponente en la lista"                                            
                                    data-loading-text="Procesando..." data-id="<?= $i; ?>">
                                Agregar
                            </button>     
                        </td>
                    </tr>
                </tbody>        
            </table>
            </form>
        </div>
    </div>    


<form id="form-detalle" name="form-detalle" onsubmit="return false;">  
    <div class="row-fluid">
        <div class="span10"> 
                <table class="table table-striped table-bordered table-hover 
                       table-condense"  id="tabla-detalle">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="150"> Hemocomponente </th>
                            <th width="10"> ABO </th>   
                            <th width="10"> RH </th>     
                            <th width="10"> Irradiado </th>  
                            <th width="10"> Cantidad </th>                            
                            <th width="20"> Prioridad </th>                            
                            <th width="150"> Observaciones </th>
                            <th width="60">Acciones</th>      
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row-">    
                            <td></td>
                            <td id="item-descripcion"></td>
                            <td id="item-grupo"></td>
                            <td id="item-factor"></td>
                            <td id="item-irradiado"></td>
                            <td id="item-cantidad"></td>
                            <td id="item-prioridad"></td>
                            <td id="item-notas"></td>				
                        </tr>
                    </tbody>                                        
                </table>
      
        </div>
    </div>
    
        <div class="row-fluid"> 
            <div class="span10" style="background-color: RGBA(0,0,0,0.2); padding: 10px;">
                <button class="btn btn-medium btn-success" 
                        id="btn_grabar" name="btn_grabar"
                        type="submit"
                        title="Grabar la Solicitud de Hemocomponente"                                            
                        data-loading-text="Procesando...">
                    <i class="icon-check icon-white"></i> Grabar y Generar <b>Solicitud</b>
                </button>  
            </div>      
        </div>    
      </form>   
    
    
    
 <!-- Modal Verificar -->
<div id="myModal-verificar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Verificar los siguientes datos</h3>
    </div>
    <div class="modal-body">
        <p>Debe ingresar una <strong>fecha</strong> válida</p>
        <p>Debe ingresar al menos <strong>un hemocomponente</strong> en la solicitud</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>       
    
    
    
    
</fieldset>



<script type="text/javascript">

    $(function () {
        $("#hemocomponente-list").val('<?= $this->hem_id ?>');
        $("#hemocomponente-list").select2();
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });
    });


//    $("#estado").val('<?= $this->estado ?>');
//    $("#hem_id").val('<?= $this->hem ?>');

    
  $(document).on('click', '#btn_agregar_row', function (e) {

        if ($("#datepicker").datepicker("getDate") === null) {
            alert("Debe seleccionar una fecha para realizar la solicitud");
        } else {
            

            if( $("#hemocomponente-irradiado").val() == 0){
                var irradiado ='NO';
            } else {
                 var irradiado ='SI';
            }
            if( $("#hemocomponente-prioridad").val() == 1){
                var prioridad ='Baja';
            } else if ( $("#hemocomponente-prioridad").val() == 2) {
                 var prioridad ='Media';
            } else if ( $("#hemocomponente-prioridad").val() == 3) {
                 var prioridad ='Alta';
            } else if ( $("#hemocomponente-prioridad").val() == 4) {
                 var prioridad ='Urgente';
            }               
            
            
            if ($("#frm_agregar_hemocomponente")[0].checkValidity() === true) {
                $('#tabla-detalle tbody tr:last')
                        .after(
                                '<tr class="linea">' +
                                '<td class="campo-hemocomponente-id" ><span class="id">' + $("#hemocomponente-list option:selected").val() +
                                '</span><span class="value">' + $("#hemocomponente-list option:selected").text() + '</span></td>' +
                                '<td class="campo-hemocomponente-grupo">' + $("#hemocomponente-grupo").val() + '</td>' +
                                '<td class="campo-hemocomponente-factor">' + $("#hemocomponente-factor").val() + '</td>' +
                                '<td class="campo-hemocomponente-irradiado">' + irradiado + '</td>' +
                                '<td class="campo-hemocomponente-cantidad">' + $("#hemocomponente-cantidad").val() + '</td>' +
                                '<td class="campo-hemocomponente-prioridad">' + prioridad + '</td>' +
                                '<td class="campo-hemocomponente-notas">' + $("#hemocomponente-notas").val() + '</td>' +
                                '<td><button class="btn btn-danger btn-mini btn_eliminar_row" title="Eliminar este registro">' +
                                '<i class="icon-remove icon-white"></i> Remover</button></td>' +
                                '</tr>');
            }
            
            $("#hemocomponente-cantidad").val('');
            $("#hemocomponente-notas").val('');
        }
    });  
    
    
      /**
     * Eliminacion del registro visualmente
     */
    $(document).on('click', '.btn_eliminar_row', function () {
        $(this).closest('tr').remove();
    });
  
    
    
     /**
     * Grabar el formulario de pedidos
     */

    $(document).on('submit', '#form-detalle', function (e) {
        e.preventDefault();
        return false;
    });


    $("#btn_grabar").click(function () {

        var control_fecha = 0;
        var control_items = 0;

        // VALIDACIONES
        if ($("#datepicker").datepicker("getDate") === null) {
           $('#myModal-verificar').modal('show'); 
            control_fecha = 1;
        } 

        var control_items = $("#tabla-detalle tbody tr").children().length;
        var lineas = new Array();
        var header;
        $("#form-detalle tbody tr.linea").each(function (i, tr) {
            lineas.push({
                'hemocomponente_id': $(tr).children("td.campo-hemocomponente-id").children('span.id').html(),
                'descripcion': $(tr).children("td.campo-hemocomponente-descripcion").children('span.value').html(),
                'grupo': $(tr).children("td.campo-hemocomponente-grupo").html(),
                'factor': $(tr).children("td.campo-hemocomponente-factor").html(),
                'irradiado': $(tr).children("td.campo-hemocomponente-irradiado").html(),
                'cantidad': $(tr).children("td.campo-hemocomponente-cantidad").html(),
                'prioridad': $(tr).children("td.campo-hemocomponente-prioridad").html(),
                'notas': $(tr).children("td.campo-hemocomponente-notas").html()
            });
        });
        header = {fecha: $('#datepicker').val()};

                    $.post("<?= $this->baseUrl(); ?>/stock/solicitudes/grabar", {'datos': {'header':header, 'lineas': lineas}}, function (data) {
                    response = JSON.parse(data);
                    if (response.st === 'ok') {
                        $("#btn_grabar").attr('disabled', true);
                         window.location.href = '<?= $this->baseUrl(); ?>/stock/solicitudes';
                        return true;
                    } else {
                        alert(response.mensaje);
                        return false;
                    }
                });
        //    }
       // }

    });


    function limpiar() {
        $("#datepicker").val("");
        $("#producto-cantidad").val("");
        $("#producto-notas").val("");
        $("#observaciones").val("");
        $("#nroAfiliado").attr('disabled', false);
        $("#codigo").attr('disabled', false);
        $("#btn_grabar").attr('disabled', true);
    }

    
</script>
