<?php
$this->datepicker();
$this->headLink()->appendStylesheet($this->baseUrl() . '/themes/select2/select2.css');
$this->headScript()->appendFile($this->baseUrl() . '/themes/select2/select2.min.js')
        ->appendFile($this->baseUrl() . '/themes/select2/select2_locale_es.js');
?>

<fieldset>
    <legend>
        Gesti&oacute;n de Solicitudes de Hemocomponentes  ( <span style="font-weight: 700;"><?php echo $this->efector_nombre; ?></span> )
    </legend>

    <div class="row-fluid">
        <div class="span9">
            <?php if (sizeof($this->resultados) >= 0) : ?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th> Solicitud</th>
                            <th width="120">Fecha 
                                <i class="icon-chevron-up icon-white pull-right"></i>
                            </th>
                            <th> Estado</th>
                            <th> Hemocomponente</th>
                            <th> ABO</th>
                            <th> RH</th>
                            <th> Irrad.</th>
                            <th> Solicita</th>
                            <th> Respondió</th>
                            <th> Cant.</th>                           
                            <th width="120">Acciones</th>
                        </tr>
                    </thead>

                    <!--////////////////////////////////////////////////////////////////
                    1 = Pendiente (pedido/solicitud abierta)        
                    2 = Comprometida por un envio (respuesta a una solicitud)
                    3 = Pendiente Recepción  (respondida con un cantidad y pendiente de ingreso)   
                    4 = Cerrada   (cerrada / finalizada)
                    5 = Descartada
                    ////////////////////////////////////////////////////////////////-->
                    <tbody>
                        <?php foreach ($this->resultados as $i => $v): ?>
                            <tr>
                                <td><?= $v['id']; ?></td>                                
                                <td>
                                    <i class="icon-calendar"></i> 
                                    <?= $v['fecha']; ?>
                                </td>
                                <td>
                                    <?php if ($v['estado'] == 1): ?>
                                        <span class="badge btn-warning">Pendiente</span>
                                    <?php elseif ($v['estado'] == 2): ?>
                                        <span class="badge btn-info">Comprometida</span>
                                    <?php elseif ($v['estado'] == 3): ?>
                                        <span class="badge btn-info btn-inverse">Pendiente</span>
                                     <?php elseif ($v['estado'] == 4): ?>
                                        <span class="badge btn-info btn-inverse">Cerrada</span>
                                    <?php elseif ($v['estado'] == 5): ?>
                                        <span class="badge btn-info btn-inverse">Descartada</span>                                        
                                    <?php endif; ?> 
                                </td>
                                <td><?= $v['hem_descripcion']; ?></td>
                                <td><?= $v['grupo']; ?></td>
                                <td>
                                    <?php if ($v['factor'] == "+"): ?>
                                        POS
                                    <?php elseif ($v['estado'] == "-"): ?>
                                        NEG
                                    <?php endif; ?>                                 
                                </td>
                                <td>
                                    <?php if ($v['irradiado'] == 0): ?>
                                        NO
                                    <?php elseif ($v['irradiado'] == 1): ?>
                                        <span class="badge btn-warning">SI</span>
                                    <?php endif; ?> 
                                </td> 

                                <td>
                                    <?php foreach ($this->efector_solicita as $i => $s): ?>
                                         <?= $v['efector_id']; ?> 
                                         <?= $s['nomest']; ?> 
                                     <?php endforeach; ?>
                                </td>
                                <td>
                                    RESPONDE...
                                </td>
                                <td><?= $v['cantidad_solicitada']; ?></td> 
                                <td>
                                    <?php if ($v['estado'] == 1): ?> 

                                        <a data-id="<?= $v['id']; ?>" 
                                           title="Enviar un Hemocomponente para esa Solicitud"
                                           href="<?= $this->baseUrl(); ?>/stock/solicitudes/respuesta/id/<?= $v['id']; ?>" class="btn btn-info btn-mini btn-modal">
                                            Responder
                                        </a>
                                    
                                    

                                        <a data-target="#dialog-cerrar"
                                           data-id="<?= $v['id']; ?>" 
                                           data-feha="<?= $v['fecha']; ?>"
                                           data-prioridad="<?= $v['prioridad']; ?>"
                                           data-cantidad="<?= $v['cantidad_solicitada']; ?>"
                                           data-hemo-id="<?= $v['hemocomponente_id']; ?>"
                                           data-hemo-grupo="<?= $v['grupo']; ?>"
                                           data-hemo-rh="<?= $v['factor']; ?>"
                                           data-hemo-irradiado="<?= $v['irradiado']; ?>"
                                           data-hemo-fenotipo="<?= $v['fenotipo']; ?>"
                                           data-efector-id="<?= $v['efector_id']; ?>"
                                           data-info="Nro. de Solicitud: <?= $v['id']; ?> <br/>
                                           Fecha: <?= $v['fecha']; ?> hs.<br/>
                                           Hecomocomponente: <?= utf8_encode($v['hem_descripcion']) . " (" . $v['grupo'] . " " . $v['factor'] . ")"; ?> <br/>
                                           Irradiado: 
                                           <?php if ($v['irradiado'] == 0): ?>NO
                                           <?php elseif ($v['irradiado'] == 1): ?>SI
                                           <?php endif; ?> <br/>
                                           Cantidad Solicitada: <?= $v['cantidad_solicitada']; ?>" 
                                           title="Finaliza y Cierra la Solicitud del Hemocomponente"
                                           href="#cerrar-solicitud-hemocomponente" class="btn btn-danger btn-mini btn-modal"  data-toggle="modal">
                                            Cerrar
                                        </a> 
                                
                                    
                                        <!-- ////// MODAL CERRAR //// -->
                                        <div class="modal fade hide" id="dialog-cerrar" name="dialog-cerrar" >
                                            <div class="modal-header">
                                                <h4>Cerrar Solicitud de Hemocomponente</h4>                                             
                                            </div>
                                            <div class="modal-body modal-cerrar-solicitud modal-body-small">
                                                <div class="row-fluid">
                                                    <div class="span6">
                                                        <strong>Nro. Solicitud:</strong> <?= $v['id']; ?>
                                                    </div>
                                                </div>                                                
                                                <div class="row-fluid">
                                                    <div class="span6">
                                                        <strong>Fecha Solicitud:</strong> <?= $v['fecha']; ?>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span9">
                                                        <strong>Hemocomponente:</strong> <?= utf8_encode($v['hem_descripcion']) . " (" . $v['grupo'] . " " . $v['factor'] . ")"; ?> 
                                                    </div>                                                
                                                </div>     
                                                <div class="row-fluid">
                                                    <div class="span3">
                                                        <strong>Observaciones</strong>
                                                    </div>                                                
                                                </div>     
                                                <div class="row-fluid">
                                                    <div class="span9">
                                                        <textarea id="cierre_observaciones" name="cierre_observaciones" 
                                                                  placeholder="Ingrese una observación para el cierre de la solicitud." 
                                                                  class="span12" ></textarea>
                                                    </div>                                                
                                                </div>                                               
                                            </div>
                                            <div class="modal-footer">
                                                <button data-loading-text="Procesando..." 
                                                        data-id="<?= $v['id'] ?>" 
                                                        type="button"
                                                        class="btn btn-success pull-left submit-cierre">
                                                    <i class="icon-ok icon-white"></i> Confirmar Cierre de Solicitud
                                                </button>
                                                
                                                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                                                    <i class="icon-remove  icon-white"></i> Cerrar</button>
                                            </div>
                                        </div>                               
                                        <!-- ////// ./MODAL CERRAR //// -->







                                    <?php elseif ($v['estado'] == 2): ?>
                                        <a data-target="#dialog-recepcion" href="#" role="button" 
                                           class="btn btn-inverse btn-mini" 
                                           data-toggle="modal"
                                           title="Confirmar Recepción del Hemocomponente" >
                                            Recepcionar Envío
                                        </a>                                 

                                        <!-- ////// MODAL RECEPCIONAR //// -->
                                        <div class="modal fade hide" id="dialog-recepcion" >
                                            <div class="modal-header">
                                                <h4>Recpeción del Hemocomponente</h4>
                                            </div>
                                            <form class="form-recepcion-hemocomponente" 
                                                  id="form_recepcion_hemocomponentes" onsubmit="return false;">

                                                <div class="modal-body modal-recepcion-hemocomponente modal-body-small">

                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <strong>Nro. Solicitud:</strong> <span id="modal_id_recepcion"><?= $v['id']; ?></span>
                                                        </div>
                                                    </div>                                            
                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <strong>Fecha Solicitud:</strong> <?= $v['fecha']; ?>
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="span9">
                                                            <strong>Hemocomponente:</strong> <?= utf8_encode($v['hem_descripcion']) . " (" . $v['grupo'] . " " . $v['factor'] . ")"; ?> 
                                                        </div>                                                
                                                    </div>      
                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <strong>Cantidad Entregada:</strong> <?= $v['cantidad_entregada']; ?>
                                                        </div>
                                                    </div>                                            
                                                    <div class="row-fluid">
                                                        <div class="span9">
                                                            <strong>Observaciones:</strong> <?= $v['observaciones']; ?> 
                                                        </div>                                                
                                                    </div>                                               
                                                </div>
                                                <div class="modal-footer">
                                                    <button data-loading-text="Procesando..." type="submit" 
                                                            id="grabar-recepcion"
                                                            class="btn btn-success  pull-left">
                                                        <i class="icon-ok icon-white"></i> Confirmar Recepción del Hemocomponente Enviado</button>                                              


                                                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                                                        <i class="icon-remove  icon-white"></i> Cerrar</button>
                                                </div>

                                            </form>
                                        </div>                               
                                        <!-- ////// ./MODAL RECEPCIONAR //// -->     

                                    <?php elseif ($v['estado'] == 3): ?>
                                    <?php endif; ?> 
                                </td>
                            </tr>


                        <?php endforeach; ?>
                    </tbody>
                </table>

                <?= $this->paginador($this->paginas); ?>


            <?php elseif (sizeof($resultados) == 0): ?>

                <div class="alert alert-info"><b>No se han encontrado Hemocomoponentes para su b&uacute;squeda.</b>
                    <br /> 
                    <b><?= $this->busqueda; ?></b>
                </div>


            <?php endif; ?>
        </div>


        <div class="span3">
            <a class="btn btn-medium btn-success" 
               href="<?= $this->baseUrl(); ?>/stock/solicitudes/alta" >
                <i class="icon-plus icon-white"></i> Crear nueva <b>Solicitud</b>
            </a>          

            <br/>
            <br/>            

            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="get" action="<?= $this->baseUrl(); ?>/stock/solicitudes">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input name="fecha" id="datepicker" class="input-medium" 
                           placeholder="Fecha de Generación"
                           type="text" 
                           value="<?= $this->fecha; ?>" />
                </div>

                <br/>
                <br/> 

                <label for="efe_id">Efector</label>
                <select name="efe_id" id="efectores" class="input-large">
                    <option value="">Todos</option>
                    <?php foreach ($this->cache_efectores as $i => $v): ?>
                        <option value="<?= $i; ?>"><?= $v ?></option>
                    <?php endforeach; ?>
                </select>

                <br/> 
                <br/> 

                <label for="estado">Estado</label>
                <select name="estado" id="estado" value="1">                                    
                    <option value="1">Pendientes</option>
                    <option value="2">Pendientes de Recepción</option>
                    <option value="3">Cerradas</option>
                </select>

                <button class="btn btn-primary btn-inverse" type="submit">
                    <i class="icon-search icon-white"></i> Buscar
                </button>

                <br/>
                <br/>

                <button class="btn btn-primary btn-inverse" id="imprimir">
                    <i class="icon-print icon-white"></i> Imprimir 
                </button>

            </form>

        </div>
    </div>
</fieldset>



<!-- ==================================================================================
            VENTANA MODAL RESPONDER
===================================================================================== -->
<?php if (sizeof($this->resultados) > 0) : ?>
    <div id="responder-solicitud" class="modal hide fade" tabindex="-1" 
         role="dialog" aria-hidden="true" data-backdrop="" data-keyboard="false">
        <div class="modal-header">

            <h4>Responder Solicitud Transferencia de Hemocomponente</h4>

            <div class="alert alert-info" style="margin-bottom: 0;">
                <h5 id="detalle-modal">Nro. <input type="text" name="solicitud-id" id="solicitud-id"/></h5>
            </div>
        </div>
        <div class="modal-body">
            <form class="form-responder-solicitud" onsubmit="return false;">
                <input type="hidden" name="registro-id" id="registro-id"/>
                <input type="hidden" name="registro-fecha" id="registro-fecha"/>
                <input type="hidden" name="registro-prioridad" id="registro-prioridad"/>
                <input type="hidden" name="registro-cantidad-solicitada" 
                       id="registro-cantidad-solicitada"/>
                <input type="hidden" name="registro-hemocomponente-id" 
                       id="registro-hemocomponente-id"/> 
                <input type="hidden" name="registro-hemocomponente-grupo" 
                       id="registro-hemocomponente-grupo"/>                        
                <input type="hidden" name="registro-hemocomponente-factor" 
                       id="registro-hemocomponente-factor"/>           
                <input type="hidden" name="registro-hemocomponente-irradiado" 
                       id="registro-hemocomponente-irradiado"/>    
                <input type="hidden" name="registro-hemocomponente-fenotipo" 
                       id="registro-hemocomponente-fenotipo"/>                            
                <input type="hidden" name="registro-solicita-efector-id" 
                       id="registro-solicita-efector-id"/> 


                <div class="row-fluid">
                    <div class="span3">									
                        <label><strong>Efector</strong></label>
                    </div>    
                     <div class="span6">	     
                        <select name="responde_efector_id" id="responde_efector_id" class="input-large" style="width: 80%;">
                            <?php foreach ($this->cache_efectores as $i => $v): ?>
                                <option value="<?= $i; ?>"><?= $v ?></option>
                            <?php endforeach; ?>
                        </select>    
                    </div>                            
                </div>                       

                <div class="row-fluid">
                    <div class="span3">									
                        <label><strong>Cantidad a Transferir</strong></label>
                    </div>     
                    <div class="span3">	
                        <input name="cantidad_entregada" id="cantidad_entregada"
                               class="input-small text-right"
                               maxlength="3" 
                               type="number" 
                               min="1" max="900" 
                               value="" 
                               required="required"
                               style="width: 40%;"/>
                        
                    </div> 
                    <div class="span6">	
                        <span id="cantidadentregarspan" value="0"></span> 
                    </div> 
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <strong>Observaciones / Notas</strong>
                    </div>  
                     <div class="span9">
                        <textarea id="observaciones" name="observaciones" 
                                  placeholder="Ingrese una observación" 
                                  class="span12" ></textarea>
                    </div>                    
                </div>     

            </form>

        </div>

        <div class="modal-footer">	
            <button data-loading-text="Procesando..." 
                type="submit" 
                id="grabar-respuesta-solicitud"
                name="grabar-respuesta-solicitud"
                class="btn btn-success pull-left">
            <i class="icon-ok icon-white"></i> Aceptar</button>            
            
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                <i class="icon-remove icon-white"></i> Cerrar</button>   
        </div>


    </div>


<?php endif; ?>   
<!-- ==================================================================================
            ./ VENTANA MODAL RESPONDER
===================================================================================== -->       

<script>
    $(function () {
        $("#efectores").val('<?= $this->efe_id ?>');
        $("#efectores").select2();
        $("#estado").val('<?= $this->estado ?>');
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });
    });



    // DATOS SOLICITUD




     // IMPRIMIR LISTADO DE SOLICITUDES
    $("#imprimir").click(function () {
        var url = document.URL;
        var estado = $("#estado").val();
        if ($("#datepicker").val() == '<?= $this->fecha ?>') {
            var fecha = $("#datepicker").val();
        } else {
            var fecha = url.substr(url.length - 10);
        }
        if (confirm("Imprimir Listado de Solicitudes?")) {
            var winCod = window.open('<?= $this->baseUrl(); ?>/stock/solicitudes/verpdf/fecha/' + fecha + '/estado/' + estado);
            winCod.focus();
        } else {
            location.reload();
        }
    });





    // CERRAR SOLICITUD HEMOCOMPONENTE
    $(document)
     .on('click', '.btn-modal', function () {
         $('#detalle-modal').html($(this).attr('data-info'))
         $('.id').val($(this).attr('data-id'));
         $("#registro-id").val($(this).attr('data-id'));
         $("#registro-fecha").val($(this).attr('data-fecha'));
         $("#registro-cantidad").val($(this).attr('data-cantidad'));
         $("#registro-hemocomponente-id").val($(this).attr('data-hemo-id'));
         $("#registro-hemocomponente-grupo").val($(this).attr('data-hemo-grupo'));   
         $("#registro-hemocomponente-factor").val($(this).attr('data-hemo-factor'));    
         $("#registro-hemocomponente-irradiado").val($(this).attr('data-hemo-irradiado'));         
         $("#registro-nro-donacion").val($(this).attr('data-nro-donacion'));                
         $("#registro-solicita-efector-id").val($(this).attr('data-efector-id'));
     })
     .on('submit', '.cerrar-solicitud-hemocomponente', function () {    
         if (1) {
             $(this).find('button[type=submit]').button('loading');
             $.post('<?= $this->baseUrl(); ?>/stock/solicitudes/cerrar', $(this).serialize(), function (d) {
                 if (d.st == 'ok') {
                     location.reload();
                 } else if (d.st == 'notok') {
                     alert("Error en la grabación del registro ");
                     $(':submit').button('reset');
                 } else {
                     alert("Ha ocurrido un error inesperado.")
                     $(':submit').button('reset');
                 }
             }, 'json');
         } else {
             alert('Revisar, existe un problema con el proceso.');
         }
     });

//     .on('submit', '.grabar-respuesta-solicitud', function () {    
//           $(this).find('button[type=submit]').button('loading');
//             $.post('<?= $this->baseUrl(); ?>/stock/solicitudes/respondersolicitud', $(this).serialize(), function (d) {
//                 if (d.st == 'ok') {
//                     location.reload();
//                 } else if (d.st == 'notok') {
//                     alert("Error en la grabación de la respuesta ");
//                     $(':submit').button('reset');
//                 } else {
//                     alert("Ha ocurrido un error inesperado.")
//                     $(':submit').button('reset');
//                 }
//             }, 'json');
//
//     });


    </script>











<script type="text/javascript">

    $("#cantidad_entregada").blur(function() {

     var valor = $("#cantidad_entregada").val();
     var cantidad_pedida = $("#registro-cantidad-solicitada").val()

       if(valor > cantidad_pedida) 
            $("#cantidadentregarspan").html('<font color="#cc0000">La cantidad a entregar no puede ser superior</font>');    
       else
            $("#cantidadentregarspan").html('<font color="#cc0000"></font>');    
    });  


    $("#grabar-recepcion").click(function () {
        $.post('<?= $this->baseUrl(); ?>/stock/solicitudes/recepcionar',{'id': $("#modal_id_recepcion").text()},
                function (d) {
                    if (d.st === 'ok') {
                        location.reload();
                    } else if (d.st === 'nok') {
                        alert('No se ha podido registrar la recepción del envío.');
                        location.reload();
                    } else {
                        alert('Ha ocurrido un error inesperado');
                        location.reload();
                    }
                }, 'json');
            });
            
            
            
//        $("#form-responder-solicitud").submit(function () {
//            
//           alert('presione el boton para responder');
//           $(this).find('button[type=submit]').button('loading');
//           $.post('<?= $this->baseUrl(); ?>/stock/solicitudes/respondersolicitud', $(this).serialize(), function (d) {
//               if (d.st == 'ok') {
//                   location.reload();
//               } else {
//                   alert('Ha ocurrido un error inesperado');
//                   location.reload();
//               }
//           }, 'json');
//       });        


</script>