<?php
$this->datepicker();
?>

<style>
    table#tabla-detalle tbody tr td span.id{
        visibility: hidden;
    }
</style>

<fieldset>
    <legend><a class="btn btn-primary btn-medium" href="/stock/solicitudes">
            <i class="icon-chevron-left icon-white"></i> Regresar al Listado de Solicitudes</a> 
        Responder Solicitud de Hemocomponente - Nro. <span style="font-weight: 700;"><?= $this->solicitud['id']; ?></span>

    </legend>    


    <div class="row-fluid">
		<div class="span9">

                    <table class="table table-bordered">
                    <tr>
                        <td><strong>Fecha Solicitud: </strong><span class="label label-primary"><?= $this->solicitud['fecha']; ?></span></td>
                        <td><strong>Solicitado por: </strong> <span class="label label-primary"><?= $this->efector_origen['nomest']; ?></span></td>
                        <td><strong>Responde: </strong> <span class="label label-info"><?= $this->efector_destino['nomest']; ?></span></td>
                    </tr>
                    </table>
                </div>        
		<div class="span3">
                </div>        
        
    </div>
    
    
     <div class="row-fluid"> 
        <div class="span12">
            <div class="span2"> Fecha:</div>
            <div class="span2">
               <input name="fecha" id="datepicker" class="input-medium" 
                       type="text" 
                       value="<?= $fecha_actual; ?>" 
                       disabled />
            </div>
         </div>
    </div>     

    
    
     <div class="row-fluid"> 
        <div class="span12">
            <div class="span2"> Cantidad Solicitada:</div>
            <div class="span1">
            <input type="text" name="cantidad_solicitada" id="cantidad_solicitada" 
                   value="<?= $this->solicitud['cantidad_solicitada']; ?>"
                   readonly> 
            </div>
            <div class="span1"></div>
            <div class="span6"> 
            <input type="text" name="hem_descripcion" id="hem_descripcion" 
                   value="<?= $this->hemocomponente['hem_descripcion']; ?>"
                   readonly> 
            </div>
         </div>
    </div>     
    

         
         
         
     <div class="row-fluid"> 
        <div class="span12">
            <div class="span2"> Cantidad a Transferir:</div>
            <div class="span2">
            <input type="text" name="cantidad_entregada" id="cantidad_entregada" placeholder="<?= $this->solicitud['cantidad_entregada']; ?>"> 
            </div>
         </div>
    </div>   
         
         



     <div class="row-fluid"> 
        <div class="span12">
            <div class="span2">
            </div>
            <div class="span3">
              <a class="btn btn-medium btn-success" href="<?= $this->baseUrl(); ?>/stock/solicitudes/guardar" >
                         <i class="icon-check icon-white"></i> Grabar Transferencia Hemocomponente</a>
            </div>     
         </div>
    </div>   

    

</fieldset>

<script type="text/javascript">
    $("#estado").val('<?=$this->estado?>');
    $("#hem_id").val('<?=$this->hem?>');
    
	$(".agregar").submit(function(){
		$(this).find('button[type=submit]').button('loading');
		$.post('<?=$this->baseUrl();?>/stock/solicitudes/agregar-hemo',$(this).serialize(),function(d) {
			if (d.st == 'ok') {
				alert('Hemocomponente agregado correctamente');
				location.reload();
			}
			else if (d.st == 'noesta') {
				alert('Hemocomponente no disponible');
				location.reload();
			}
			else if (d.st == 'nodon') {
				alert('Donacion inexistente');
				location.reload();
			}
			else if (d.st == 'nohay') {
				alert('No existen hemocomponentes disponibles para esa transferencia');
				location.reload();
			}
			else {
				alert('Ha ocurrido un error inesperado');
				location.reload();
			}
		},'json');
	});    
    
    $(function () {
        $(':input:visible:not(input[class*=filter]):eq(1)').focus();
        
        $("#datepicker").datepicker({
		    maxDate : 0,
			dateFormat : 'yy-mm-dd',
        });
        $("#estado").val('<?= $this->estado?>');
        $(".submit").click(function () {
            var id = $(this).data('id') 
            var data = $('#form-' + id).serialize();
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/stock/solicitudes/confirmar',data,function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'tempnok') {
					alert('Temperatura fuera del rango permitido');
					location.reload();
				}
				else if (d.st == 'pesonok'){
					alert('Peso fuera del rango permitido');
					location.reload();
				}
            },'json');
        });
        $(".remove-row").click(function () {
            var id = $(this).data('id')
            var data = $('#form-' + id).serialize();
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/stock/solicitudes/eliminar_row',data,function(d){
                if(d.st == 'ok'){
                    //location.reload();
                }else if (d.st == 'nok') {					
                    alert('No se puedo eliminar el registro.\nMensaje:' + d.mensaje);
					//location.reload();
				}
            },'json');
        });
    });
</script>
