<?php
$this->datepicker();
$this->headLink()->appendStylesheet($this->baseUrl() . '/themes/select2/select2.css');
$this->headScript()->appendFile($this->baseUrl() . '/themes/select2/select2.min.js')
        ->appendFile($this->baseUrl() . '/themes/select2/select2_locale_es.js');
?>

<fieldset>
    <legend>
        Gesti&oacute;n de Pedidos de Insumos 
    </legend>

    <legend><a class="btn btn-primary btn-medium" href="/stock/pedidosinsumos">
            <i class="icon-chevron-left icon-white"></i> Regresar a Gesti&oacute;n Stock de Insumos</a> 
        Ajuste Manual de Insumos ( <span style="font-weight: 500;"><?php echo $this->efector_nombre; ?></span> )</span>
    </legend>   
    
    

    <div class="row-fluid"> 
        <div class="span12" style="padding: 10px;">
        </div>
    </div>





    <div class="row-fluid">
        <div class="span10">

            <?php if (sizeof($this->resultados) >= 0) : ?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                            <th width="250"> Descripcion del Insumo </th>
                            <th width="80"> Stock Existente </th>  
                            <th width="70"> Cantidad Ajuste </th>  
                            <th width="150"> Motivo </th>     
                            <th width="160"> Observaciones </th>                           
                            <th width="60">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->resultados as $i => $v): ?> 
                          
                                                  
                            <tr> 
                                <td><?= $v['nombre_producto']; ?>
                                    <input type="hidden" name="item-producto-descripcion" id="item-producto-descripcion"
                                           value="<?= $v['nombre_producto']; ?>" />                                    
                                </td>

                                <td><?= $v['cantidad_existente']; ?>
                                    <input type="hidden" name="item-producto-cantidad-existente" id="item-producto-cantidad-existente"
                                           value="<?= $v['cantidad_existente']; ?>" /> 
                                </td>                                  
                                
                                <td>
                                    <input name="ajuste_cantidad" id="ajuste_cantidad_<?=$v['id']?>"
                                           class="input-small text-right"
                                           maxlength="10" 
                                           type="number" 
                                           value="" 
                                           style="width: 90%;"/>
                                </td>
                                
                                <td>
                                    <select name="ajuste_tipos" id="ajuste_tipos">
                                        <?php foreach ($this->resultadosTipos as $m => $t): ?>
                                            <option value="<?= $m; ?>"><?= $t ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td class="item-notas">
                                    <input name="ajuste_notas" id="ajuste_notas_<?=$v['id']?>"
                                           class="input-small text-left"
                                           type="text" 
                                           value="<?= $v['notas']; ?>" 
                                           style="width: 90%;"/>
                                </td>				
                                <td>
                                    <button type="button" class="btn btn-success submit" 
                                            name="boton-enviar" id="boton-enviar"
                                            title="Grabar"
                                            data-loading-text="Procesando..." data-id="<?=$v['id']?>">
                                            <i class="icon-ok icon-white"></i>
                                    </button>
                                </td>

                            </tr>

                            
                        <?php endforeach; ?>
                    </tbody>
                </table><

                <?= $this->paginador($this->paginas); ?>

            <?php endif; ?>
        </div>

        
       
       <div class="span3">
       </div>
        
        
    </div>

</fieldset>

<script type="text/javascript">

        $(".submit").click(function () {
            // TODO: el boton del submit de la linea tiene el producto_id (data-id)
            var producto_id =  $(this).attr('data-id');
            var producto_nombre = $(this).parents("tr").find('#item-producto-descripcion').val();
            var producto_cantidad_existente = $(this).parents("tr").find('#item-producto-cantidad-existente').val();
            var producto_cantidad_ajuste = $(this).parents("tr").find('#ajuste_cantidad_'+producto_id).val();
            var producto_ajuste_tipo = $(this).parents("tr").find('#ajuste_tipos').val();
            var producto_ajuste_notas = $(this).parents("tr").find('#ajuste_notas_'+producto_id).val();
  
           if( producto_cantidad_ajuste == ''){
		 alert('VERIFIQUE: debe completar un valor para la cantidad ');       
             } else {              
                $.post('<?php echo $this->baseUrl(); ?>/stock/pedidosinsumosmovimientos/procesoajuste', {producto_id: producto_id, nombre_producto: producto_nombre, cantidad_existente: producto_cantidad_existente,  cantidad_ajuste: producto_cantidad_ajuste, tipo: producto_ajuste_tipo, notas: producto_ajuste_notas  }, function (d) {
                   if (d.st == 'ok') {
                       alert('El Ajuste se ha agregado correctamente.');
                        // LIMPIAR CAMPOS (ajuste_cantidad y ajuste_notas)
                        $('#ajuste_cantidad_' + producto_id).val("");                   
                        $('#ajuste_notas_' + producto_id).val("");                   
                   } else if (d.st == 'nok') {
                       alert('Error al intentar grabar un ajuste');
                   }
               }, 'json');                
               
            }
           
  

  
       });

</script>