<?php

?>


<fieldset>
    
    <legend>
        Consolidar Stock de Insumos 
    </legend>

    <legend><a class="btn btn-primary btn-medium" href="/stock/pedidosinsumos">
            <i class="icon-chevron-left icon-white"></i> Regresar a Gesti&oacute;n Stock de Insumos</a> 
        Consolidar Stock de Insumos ( <span style="font-weight: 500;"><?php echo $this->efector_nombre; ?></span> )</span>
    </legend>          
    
    
    <div class="row-fluid"> 
        <div class="span9">
         Este proceso regenera la existencia del stock de insumos a la fecha de procesamiento y para el Efector activo. 
        </div>
    </div>    
    
    <div class="row-fluid">     
        <div class="span9">
            <form id="form-proceso" name="form-proceso" onsubmit="return false;">              
                    <div class="span3">
                        <button class="btn btn-medium btn-warning" 
                                id="btn_grabar" name="btn_grabar"
                                type="submit"
                                title="Consolidar Stock de Insumos"                                            
                                data-loading-text="Procesando..." data-id="">
                            <i class="icon-check icon-white"></i> Consolidar <br />  <b>Stock de Insumos</b>
                        </button>                 
                    </div>     
            </form>    
        </div>                
   </div>
      

</fieldset>


<script type="text/javascript">

    /**
     * SUBMIT formulario proceso
     */
    $(document).on('submit', '#form-proceso', function (e) {
        e.preventDefault();
        return false;
    });
    
    
 
    /**
     * RALIZAR PROCESO DE CONSOLIDACION
     */
    $("#btn_grabar").click(function () {

        if (confirm("Desea realizar el Proceso de Consolidación a la fecha ?")) {
            
            $.post('<?php echo $this->baseUrl();?>/stock/pedidosinsumosmovimientos/procesoconsolidar', function(d){
                if(d.st == 'ok'){
                    alert('Proceso realizado correctamente');
                    //location.reload();
                }
                else if (d.st == 'nok'){
                    alert('El proceso NO encontró registros pendientes de consolidar.');
                    location.reload();
                }
                else {
                    alert('Ha ocurrido un error inesperado');
                    location.reload();
                }
            },'json');                              
        }
        else {
            location.reload();
        }        
        
    });
  
</script>