<?php
    $this->datepicker();
    $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
    $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
    ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>

<fieldset>
    <legend>
        Recepci&oacute;n de Envios
    </legend>

    <div class="row-fluid">
        <div class="span9">

            <?php if(sizeof($this->resultados) > 0) :?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
			    <th width="20"></th>
                            <th width="240">Fecha Generaci&oacute;n <i class="icon-chevron-up icon-white pull-right"></i></th>
                            <th> Efector Origen </th>
                            <th>C&oacute;digo</th>
                            <th>Observaciones</th>
                            <th width="100"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->resultados as $i => $v): ?>
                        <tr>
			    <td><label class="pull-left"><input class="checkbox" id="<?=$v['env_id'];?>" type="checkbox"></label></td>
                            <td>
                                <i class="icon-calendar"></i> 
                                <?=$v['fecha_envio'];?>hs 
                                <span class="time">
                                    <i class="icon-time"></i> <?=$this->nicetime($v['env_fh']);?>
                                </span>
                            </td>
                            <td><?=$v['efe_nombre_origen'];?></td>
                            <td>
                                <i class="icon-barcode"></i> <?=$v['env_nro'];?>
                            </td>
                            <td>
                                <?=$this->escape($v['observaciones']);?>
                            </td>
                            <td>
                                <a class="btn btn-info btn-mini" href="<?=$this->baseUrl();?>/banco/recepcion/ver/env_id/<?=$v['env_id'];?>/env_nro/<?=$v['env_nro'];?>">
                                    <i class="icon-info-sign icon-white"></i> Acceder
                                </a> 
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>

                <?=$this->paginador($this->paginas);?>


                <?php elseif(sizeof($resultados) == 0): ?>

                    <div class="alert alert-info"><b>No se han encontrado Envios para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>

                <?php endif ;?>
        </div>

        <div class="span3">
            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="get" action="<?=$this->baseUrl();?>/banco/recepcion">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input name="fecha" id="datepicker" class="input-medium" type="text" value="<?=$this->fecha;?>" />
                </div>
    
                <br/>
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-barcode"></i></span>
                    <input name="nro" class="input-medium" type="text" autocomplete="off" value="<?=$this->nro?>"/>
                </div>
                <a href="../../../../Efector/views/scripts/entrevistas/index.phtml"></a>

                <br />

                <label for="efe_id">Efector</label>
                <select name="efe_id" id="efectores" class="input-large">
                    <option value="">Todos</option>
                    <?php foreach($this->cache_efectores as $i => $v): ?>
                        <option value="<?=$i;?>"><?=$v?></option>
                    <?php endforeach;?>
                </select>

                <br/> 
                <label for="estado">Estado</label>
                <select name="estado" id="estado">
                    <option value="1">Pendientes</option>
                    <option value="0">Todos</option>
                    <option value="3">Recepcionados</option>
                </select>
                
               <br/><br />
                <button class="btn btn-primary btn-inverse" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
                
                
            </form>

            <div class="row-fluid" id="multiple-buttons">
	        <div class="span3">
                <div class="row-fluid">
                    <input type="number" placeholder="Peso" id="peso"/>
                </div>
                <div class="row-fluid">
                    <input type="number" placeholder="Temperatura" id="temp"/>
                </div>
                <div class="row-fluid">
                    <h5>Seleccionados:</h5>
                    <span class="badge" id="multiple">0</span>
                </div>
		    <br />
                    <button class="btn btn-success btn-primary" id="enviar"> Recibir</button>
	        </div>
            </div>



        </div>
    </div>
</fieldset>

<script>
    $(function(){
        $("#efectores").val('<?= $this->efe_id?>');
        $("#efectores").select2();
        $("#estado").val('<?=$this->estado?>');
        $("#datepicker").datepicker({
            maxDate : 0,
            dateFormat : 'yy-mm-dd',
        });
    });
    
    $("#multiple-buttons").hide();
    /* Script para los checkboxs */
    var j = 0;              
    var envios = []; 
    $(":checkbox").click(function() {
    	var id;
        id = $(this).attr('id');
                      
        if($(this).is(':checked')){
            $("#multiple").text(function(i,val){
                envios[j]= id;
                j=j+1;
                return val-(-1);
            });
        }
        else {
            $("#multiple").text(function(i,val){
                var remove = id;
                envios.splice($.inArray(remove, envios),1);
                j=j-1;
                return val - 1;                                 
            });
        };
        if ($("#multiple").text() != "0") {
       	    $("#multiple-buttons").show();
        }
        else {
            $("#multiple-buttons").hide();
        }
    });  
    /* fin script checkbox */

    $("#enviar").click(function() {
        var peso = $("#peso").val();
        var temp = $("#temp").val();
        if (confirm("¿Desea recibir "+(envios.length)+" envios?")) {
            $.post('<?php echo $this->baseUrl();?>/banco/recepcion/recepcion-multiple', {envios: envios, peso : peso, temp : temp}, function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'nok'){
                    alert('Peso no permitido');
                    location.reload();
                }
                else {
                    alert('Ha ocurrido un error inesperado');
                    location.reload();
                }
            },'json');                              
        }
        else {
            location.reload();
        }
    });
    
</script>
