<?php $this->datepicker(); ?>

<fieldset>
    <legend> 
    <a class="btn btn-info btn-medium" href="<?=$this->baseUrl();?>/banco/recepcion">
        <i class="icon-chevron-left"></i> Listado</a>

        Detalle de envio N&ordm; <?=$this->nro;?></legend>

    <div class="row-fluid">
        <div class="span9">
            <?php if(sizeof($this->resultados) > 0) :?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="150"><i class="icon-chevron-up icon-white"></i>Fecha Envio</th>
                            <th width="120">Cod. Donaci&oacute;n</th>
                            <!--th>Cod. Preimpreso</th-->
                            <th>Tiempo Extracci&oacute;n</th>
                            <th>Tiempo Envio</th>
                            <th>Estado</th>
                            <th>Observaciones</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->resultados as $i => $v): ?>
                            <tr>
                                <td><?=$v['fecha_envio'];?></td>
                                <td><?=$v['don_nro'];?></td>
                                <!--td><?=$this->escape($v['cod_muni']);?></td-->
                                <td><?=$v['don_tiempo_extraccion'];?> Mins</td>
                                <td><?=$v['tiempo_envio'];?> Hs.</td>
                                <td><?=$this->estados_produccion[$v['pro_estado']];?></td>
                                <td><?=$this->escape($v['observaciones']);?></td>
                                <td>
                                    <?php if ($v['pro_estado'] == 0 || $v['pro_estado'] == 2) :?>
                                    <a data-target="#dialog<?=$v['don_id'] ?>" href="#" role="button" class="btn" data-toggle="modal">
                                        <i class="icon-edit"></i>
                                    </a>
                                    <?php endif; ?>
                                    
                                    <div class="modal fade hide" id="dialog<?=$v['don_id'] ?>" >
                                        <div class="modal-header">
                                            <h4>Donaci&oacute;n: <?=$v['don_nro'] ?></h4>
                                            <div class="alert alert-info" style="margin-bottom: 0;">
                                                <div>
                                                    <strong>Paciente:</strong> <?=$this->escape($v['per_apellido'])?>, <?=$this->escape($v['per_nombres'])?>
                                                </div>
                                                <div>
                                                    <strong>Edad:</strong> <?=$v['edad']?>
                                                </div>
                                                <div>
                                                    <strong>Sexo:</strong> <?=$v['per_sexo']?>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <form onsubmit="return false;" id="frm-rec<?=$v['don_id'] ?>">
                                            <div class="modal-body modal-recepcion">
                                                <div class="controls checkbox">
                                                    <div class="recepcion-checkbox">
                                                        <label>Recepcion Bolsa <input type="checkbox" name="recepcion_bolsa" value="1" id="recepcion_bolsa<?=$v['don_id'] ?>"></label>
                                                        <label>Recepcion Muestra <input type="checkbox" name="recepcion_muestra" value="1" id="recepcion_muestra<?=$v['don_id'] ?>"></label>
                                                    </div>
                                                    <div class="row-fluid">
														<div class="span6">
		                                                    <label>Pesaje</label>
		                                                    <input type="number" name="pesaje" value="" id="pesaje<?=$v['don_id'] ?>" >
		                                                </div>
														<div class="span6">
		                                                    <label>Temperatura</label>
		                                                    <input type=number name="temp" value="" id="temperatura<?=$v['don_id'] ?>" >
		                                                </div>
	                                                    
                                                    </div>
                                                    <label>Accion</label>
                                                    <select name="pro_estado" id="pro_estado<?=$v['don_id'] ?>" 
                                                        onchange="mostrarMotDescartes('<?=$v['don_id'] ?>');">
                                                        <option value="1">Aceptar </option>
                                                        <option value="2">Descartar parcial</option>
                                                        <option value="3">Descarte definitivo </option>

                                                    </select>                                                    
                                                    
                                                    <label id="lbl_mot_id<?=$v['don_id'] ?>" style="display:none;">Motivo de Descarte</label>
                                                    <select name="mot_id" id="mot_id<?=$v['don_id'] ?>" style="display: none;">
                                                        <option value="0">Seleccionar</option>
                                                        <?php foreach($this->mot_descartes as $mot): ?>
                                                            <option value="<?=$mot->mot_id ?>"><?=$mot->mot_descripcion?></option>
                                                        <?php endforeach; ?>
                                                    </select>                                                                                                                                             <input type="hidden" name="don_id" value="<?=$v['don_id']?>">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn pull-left" data-dismiss="modal">
                                                    <i class="icon-remove"></i> Cerrar
                                                </button>
                                                
                                                <button data-loading-text="Procesando..." type="submit" onclick="procesarDonacion('<?php echo $v['don_id'] ?>');" class="btn btn-primary btn-inverse pull-right">
                                                    <i class="icon-ok icon-white"></i> Aceptar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </td>
                            </tr>
                            <?php endforeach; ?>
                            
                    </tbody>
                </table>

                <?=$this->paginador($this->paginas);?>
                <?php elseif(sizeof($resultados) == 0): ?>
                <div class="alert alert-info"><b>No se han encontrado Envios para su busqueda.</b><br /> <b><?=$this->busqueda;?></b></div>
                <?php endif ;?>
        </div>

        
        <div class="span3 label label-info" style="padding: 15px;">
                  <h4>Información</h4>
                  <label><i class="icon-barcode"></i> Cantidad <b> ( )</b></label>
          </div>      
        
    </div>
</fieldset>


<script type="text/javascript">

    function procesarDonacion(id) {
        $.post('<?=$this->baseUrl();?>/banco/recepcion/recepcion',$('#frm-rec'+id).serialize(),function(d){
            if(d.st == 'ok'){
                location.reload();
            }
            else if (d.st == 'pesonok') {
				alert("Peso no permitido");
			}
        },'json');

    }
    
    function mostrarMotDescartes(id) {
        
        if(($('#pro_estado'+id).val() == 2) || ($('#pro_estado'+id).val() == 3)) {
            $('#mot_id' + id).show();
            $('#lbl_mot_id' + id).show();
        } else {
            $('#mot_id' + id).hide();
            $('#lbl_mot_id' + id).hide();
        }
        
    }
   
    $("[name='recepcion_bolsa']").change(function(){
        var estado = this.checked ? true : false;
        if (estado) {
            $("[name='pesaje']").prop('required', true);    
        } 
        else {
            $("[name='pesaje']").removeProp('required');
        }
    }); 
    
</script>
