<?php
    $this->datepicker();
    $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
    $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
    ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>

<fieldset>
    
    <legend>
        Gesti&oacute;n Stock de Insumos ( <span style="font-weight: 500;"><?php echo $this->efector_nombre; ?></span> )</span>
    </legend>
       
    <div class="row-fluid"> 
        <div class="span12" style="background-color: RGBA(0,0,0,0.2); padding: 10px;">

            <div class="span10"> 
                <a class="btn btn-default" href="<?=$this->baseUrl();?>/stock/pedidosinsumos/listar/">
                    Gestión de Pedidos
                </a>
                <a class="btn btn-default" href="<?=$this->baseUrl();?>/stock/pedidosinsumosmovimientos/consolidar/">
                    Consolidar Stock
                </a>                     
                <a class="btn btn-default" href="<?=$this->baseUrl();?>/stock/pedidosinsumosmovimientos/ajuste/">
                    Ajuste Manual de Stock
                </a>                
                 <a class="btn btn-default" href="<?=$this->baseUrl();?>/stock/pedidosinsumosmovimientos/reportes/">
                    Reportes
                 </a>               
            
           </div>    
            
        </div>
    </div>
        
    <br/>
    
    <div class="row-fluid">
        <div class="span9">
            
            

            <?php if (sizeof($this->resultados) > 0) : ?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="250">Insumo</th>
                            <th width="80"> Stock Actual</th>
                            <th width="80"> Ultimo Costo</th>
                            <th> Gráfico</th>                           
                            <th width="100">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->resultados as $i => $v): ?> 
                            <tr>
                                <td><?= $v['nombre_producto']; ?></td>
                                <td><?= $v['cantidad']; ?></td>     
                                <td><?= $v['ultimo_costo']; ?></td> 
                                <td>GRAFICO</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                            Acciones
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a tabindex="-1"
                                                   data-id="<?= $v['id']; ?>" 
                                                   class="btn-menu-dialog"
                                                   href="#modal-accion-A" 
                                                   title="Esta es una accion A"
                                                   data-toggle="modal">
                                                    Accion A
                                                </a>                                                       
                                            </li>                                         
                                            <li>
                                                <a tabindex="-1"
                                                   data-id="<?= $v['id']; ?>" 
                                                   class="btn-menu-dialog"  
                                                   href="#modal-accion-B" 
                                                   title="Esta es una accion A"
                                                   data-toggle="modal">
                                                     Accion B
                                                </a>  
                                            </li>
                                        </ul>
                                    </div>                                
                                </td>
                            </tr>

                        <?php endforeach; ?>
                    </tbody>
                </table>

                <?= $this->paginador($this->paginas); ?>


            <?php elseif (sizeof($this->resultados) == ''): ?>

                <div class="alert alert-info"><b>No se ha encontrado Stock Actual para su b&uacute;squeda.</b>
                    <br /> 
                    <b><?= $this->busqueda; ?></b>
                </div>


            <?php endif; ?>
        </div>

        <div class="span3">
            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="post" action="<?= $this->baseUrl(); ?>/stock/pedidosinsumos">

                <label for="efe_id">Efector</label>
                <select name="efector_id" id="efector_id" class="input-large">
                    <!--<option value="">CRH</option>-->
                    <?php foreach ($this->cache_efectores as $i => $v): ?>
                        <option value="<?= $i; ?>"><?= $v ?></option>
                    <?php endforeach; ?>
                </select>   
                
                <br /><br />
                
                <button class="btn btn-primary btn-inverse" type="submit">
                    <i class="icon-search icon-white"></i> Buscar</button>
                <br /><br />


                <button class="btn btn-primary btn-inverse" id="imprimir">
                    <i class="icon-print icon-white"></i> Imprimir 
                </button>                
 
                <br /><br />

            </form>





       </div>
    </div>

    

    <div class="row-fluid">
        <div class="span9">
        </div>
    </div>
    

            
    
</fieldset>



<script>
    $(function(){
        $("#efectores").val('<?= $this->efe_id?>');
        $("#efectores").select2();
        $("#datepicker").datepicker({
            maxDate : 0,
            dateFormat : 'yy-mm-dd',
        });
    });
    
</script>