<?php
$this->datepicker();
$this->headLink()->appendStylesheet($this->baseUrl() . '/themes/select2/select2.css');
$this->headScript()->appendFile($this->baseUrl() . '/themes/select2/select2.min.js')
        ->appendFile($this->baseUrl() . '/themes/select2/select2_locale_es.js');
?>

<fieldset>
    <legend>
        Gesti&oacute;n de Pedidos de Insumos 
    </legend>

    <legend><a class="btn btn-primary btn-medium" href="/stock/pedidosinsumos">
            <i class="icon-chevron-left icon-white"></i> Regresar a Gesti&oacute;n Stock de Insumos</a> 
        Listado Pedidos de Insumos ( <span style="font-weight: 500;"><?php echo $this->efector_activo['nomest']; ?></span> )</span>
    </legend>            




    <div class="row-fluid"> 
        <div class="span12" style="padding: 10px;">
            <!--            <div class="span3">
                            Efector: 
                            <select name="efe_id" id="efectores" class="input-large">
                                <option value="">Todos</option>
            <?php //foreach ($this->cache_efectores as $i => $v): ?>
                                    <option value="<?= $i; ?>"><?= $v ?></option>
            <?php //endforeach; ?>
                            </select>  
                        </div>            -->


        </div>
    </div>


    <?php
    // TODO: verificar detalle del pedido (insumos) en la ventana modal
    // no se estan visualizando los insumos correspondientes al pedido en cuestion, siempre
    // se muestran los mismos.
    // NO FUNCIONA CORRECTAMENTE CUANDO SE APLICA UN FITLRO (ej: todos) si se ve por defecto sale correcto.
    ?>


    <div class="row-fluid">
        <div class="span9">

            <?php if (sizeof($this->resultados) >= 0) : ?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="50">Nro.Pedido</th>
                            <th width="100">Fecha</th>
                            <th> Estado</th>
                            <!--<th tooltip="Efector que ha generado el Pedido"> Efector </th>-->
                            <th> Observaciones </th>
                            <th tooltip="Usuario responsable que generó el Pedido"> Generado por</th>                           
                            <th width="100">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->resultados as $i => $v): ?> 
                            <tr>
                                <td><?= $v['id']; ?></td>
                                <td><?= $v['fecha']; ?></td>
                                <td>                                    
                                    <?php if ($v['estado'] == 1): ?>
                                        <span class="badge btn-info">Generado</span>
                                    <?php elseif ($v['estado'] == 2): ?>
                                        <span class="badge btn-primary">Enviado</span>
                                    <?php elseif ($v['estado'] == 3): ?>
                                        <span class="badge btn-warning">Recep. Parcial</span>
                                    <?php elseif ($v['estado'] == 4): ?>
                                        <span class="badge btn-inverse">Cerrado</span>
                                    <?php elseif ($v['estado'] == 5): ?>
                                        <span class="badge btn-danger">Cancelado</span>   
                                    <?php elseif ($v['estado'] == 6): ?>
                                        <span class="badge btn-danger">Pend. QA</span>   
                                    <?php elseif ($v['estado'] == 7): ?>
                                        <span class="badge btn-danger">Autorizar Pedido</span>                                        
                                    <?php elseif ($v['estado'] == 8): ?>
                                        <span class="badge btn-primary">Nuevo Envio</span>                                        
                                    <?php endif; ?> 
                                </td>

                                <td><?= $v['observaciones']; ?></td>                            
                                <td><?= $v['usu_nombre']; ?></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                            Acciones
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a tabindex="-1"
                                                   data-id="<?= $v['id']; ?>" 
                                                   class="btn_detalle_pedido"
                                                   href="#modal-detalle-pedido" 
                                                   title="Detalle del Pedido"
                                                   data-toggle="modal">
                                                    Ver detalle Pedido
                                                </a>                                                     
                                            </li>
                                            <li>
                                                <a tabindex="-1" 
                                                   href="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/verpedido/id/<?= $v['id']; ?>" target="_blank"> 
                                                    Imprimir PDF del Pedido
                                                </a>
                                            </li>   

                                            <!-- Generado -->
                                            <?php if ($v['estado'] == 1): ?>
                                                <li>
                                                    <a tabindex="-1" 
                                                       href="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/enviar/id/<?= $v['id']; ?>" >
                                                        Enviar Pedido
                                                    </a>                                                      
                                                </li>                                                
                                                <li>
                                                    <a tabindex="-1"
                                                       data-id="<?= $v['id']; ?>" 
                                                       class="btn-menu-dialog"  
                                                       href="#modal-cancelar-pedido" 
                                                       data-toggle="modal">
                                                        Cancelar Pedido
                                                    </a>  
                                                </li>

                                                <!-- Enviado -->          
                                            <?php elseif ($v['estado'] == 2): ?> 
                                                <li>
                                                    <a tabindex="-1" 
                                                       href="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/enviar/id/<?= $v['id']; ?>" >
                                                        Nuevo Envío del Pedido
                                                    </a>                                                      
                                                </li>                                                  
                                                <li>
                                                    <a tabindex="-1" 
                                                       href="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/recepcion/id/<?= $v['id']; ?>" >
                                                        Recepción del Pedido
                                                    </a>                                                
                                                </li>                                                        
                                                <li>
                                                    <a tabindex="-1"
                                                       data-id="<?= $v['id']; ?>" 
                                                       class="btn-menu-dialog"  
                                                       href="#modal-cerrar-pedido" 
                                                       data-toggle="modal">
                                                        Cerrar / Finalizar Pedido
                                                    </a>    
                                                </li>

                                            <!-- Nuevo Envio -->          
                                            <?php elseif ($v['estado'] == 8): ?> 
                                                <li>
                                                    <a tabindex="-1" 
                                                       href="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/enviar/id/<?= $v['id']; ?>" >
                                                        Nuevo Envío del Pedido
                                                    </a>                                                      
                                                </li>                                                 
                                                <li>
                                                    <a tabindex="-1" 
                                                       href="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/recepcion/id/<?= $v['id']; ?>" >
                                                        Recepción del Pedido
                                                    </a>                                                
                                                </li>                                                        
                                                <li>
                                                    <a tabindex="-1"
                                                       data-id="<?= $v['id']; ?>" 
                                                       class="btn-menu-dialog"  
                                                       href="#modal-cerrar-pedido" 
                                                       data-toggle="modal">
                                                        Cerrar / Finalizar Pedido
                                                    </a>    
                                                </li>     
                                                
                                                
                                                
                                                <!-- Recepcion Parcial --> 
                                            <?php elseif ($v['estado'] == 3): ?> 
                                                <li>
                                                    <a tabindex="-1" 
                                                       href="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/enviar/id/<?= $v['id']; ?>" >
                                                        Nuevo Envío del Pedido
                                                    </a>                                                      
                                                </li>                                                            
                                                <li>
                                                    <a tabindex="-1" 
                                                       href="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/recepcion/id/<?= $v['id']; ?>" >
                                                        Recepción del Pedido
                                                    </a>                                                
                                                </li>                                            
                                                <li>
                                                    <a tabindex="-1"
                                                       data-id="<?= $v['id']; ?>" 
                                                       class="btn-menu-dialog"  
                                                       href="#modal-cerrar-pedido" 
                                                       data-toggle="modal">
                                                        Cerrar / Finalizar Pedido
                                                    </a>                                                          
                                                </li>

                                                <!-- Cancelado -->        
                                            <?php elseif ($v['estado'] == 4): ?> 

                                                <!-- Cerrado -->        
                                            <?php elseif ($v['estado'] == 5): ?> 

                                                <!-- Pend. QA -->        
                                            <?php elseif ($v['estado'] == 6): ?> 

                                            <?php endif; ?>
                                        </ul>
                                    </div>                                
                                </td>
                            </tr>

                        <?php endforeach; ?>
                    </tbody>
                </table>

                <?= $this->paginador($this->paginas); ?>


            <?php elseif (sizeof($resultados) == 0): ?>

                <div class="alert alert-info"><b>No se han encontrado Insumos para su b&uacute;squeda.</b>
                    <br /> 
                    <b><?= $this->busqueda; ?></b>
                </div>


            <?php endif; ?>
        </div>

        <div class="span3">
            <a class="btn btn-medium btn-success" href="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/pedido" >
                <i class="icon-plus icon-white"></i> Crear nuevo <b>Pedido</b></a>
            <br/>
            <br/>    


            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="get" action="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/listar">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input name="fecha" id="datepicker" class="input-medium" 
                           placeholder="Fecha de Generación"
                           type="text" value="<?= $this->fecha; ?>" />
                </div>

                <br/>
                <br/>

                <label for="estado">Estado</label>
                <select name="estado" id="estado">
                    <option value="1">Seleccione un estado</option>
                    <option value="0">Todos</option>                    
                    <option value="1">Generados</option>
                    <option value="2">Enviados</option>          
                    <option value="8">Nuevos Envios</option>                          
                    <option value="3">Recepcionados</option>                    
                    <option value="4">Cerrados/Finalizados</option>  
                    <option value="5">Cancelados</option>  
                </select>

                <button class="btn btn-primary btn-inverse" type="submit">
                    <i class="icon-search icon-white"></i> Buscar</button>
                <br /><br />


                <button class="btn btn-primary btn-inverse" id="imprimir">
                    <i class="icon-print icon-white"></i> Imprimir 
                </button>                

                <br /><br />

            </form>




            <!--  /////// VENTANA MODAL VER DETALLE PEDIDO  //////// -->
            <div class="modal fade hide" id="modal-detalle-pedido" name="modal-detalle-pedido" >
                <div class="modal-header">
                    <h4>Detalle del Pedido de Insumos</h4>
                </div>
                <div class="modal-body modal-detalle-pedido modal-body-small">
                    <div class="row-fluid">
                        <div class="span2">
                            <strong>Nro. Pedido:</strong> 
                        </div>     
                        <div class="span3">     
                            <input type="text" name="registro-id-detalle" id="registro-id-detalle" disabled="disabled"/>
                        </div>
                    </div>   

                    <div class="row-fluid">
                        <div class="span9"> 
                            <table class="table table-bordered">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>Cant. Pedida</th>
                                        <th>Cant. Enviada</th>                                        
                                        <th>Insumo / Producto</th>
                                        <th>Notas</th>
                                    </tr>    
                                </thead>
                                <tbody>                                    
                                    <tr>
                                        <!--<td id="detalle-id"></td>-->
                                        <td id="detalle-cantidad"></td>
                                        <td id="detalle-enviada"></td>
                                        <td id="detalle-descripcion"></td>
                                        <!--<td id="detalle-importe"></td> -->
                                        <!--<td id="detalle-subtotal"></td> -->
                                        <td id="detalle-notas"></td>

                                    </tr>                                    
                                </tbody>    
                            </table>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                        <i class="icon-remove  icon-white"></i> Cerrar</button>
                </div>


            </div>
            <!--  ///////  ./VENTANA MODAL VER DETALLE PEDIDO  //////// -->




            <!-- ////// MODAL CANCELAR PEDIDO //// -->
            <div class="modal fade hide" id="modal-cancelar-pedido" >
                <div class="modal-header">
                    <h4>Cancelar Pedido de Insumos</h4>
                </div>
                <form class="form-cancelar-insumos"" 
                      id="form_cancelar_insumos" onsubmit="return false;">

                    <div class="modal-body modal-cancelar-pedido modal-body-small">

                        <div class="row-fluid">
                            <div class="span3">
                                <strong>Nro. Pedido:</strong> 
                            </div>     
                            <div class="span3">     
                                <input type="text" name="registro-id-cancelar" id="registro-id-cancelar" disabled="disabled"/>
                            </div>
                        </div>                                             
                    </div>
                    <div class="modal-footer">
                        <button data-loading-text="Procesando..." type="submit" 
                                id="btn_cancelar_pedido" name="btn_cancelar_pedido"
                                class="btn btn-success  pull-left">
                            <i class="icon-ok icon-white"></i> Cancelar el Pedido de Insumos</button>                                              


                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                            <i class="icon-remove  icon-white"></i> Cerrar</button>
                    </div>

                </form>
            </div>                               
            <!-- ////// ./MODAL CANCELAR PEDIDO //// -->     



            <!-- ////// MODAL CERRAR PEDIDO //// -->
            <div class="modal fade hide" id="modal-cerrar-pedido" >
                <div class="modal-header">
                    <h4>Cerrar / Finalizar Pedido de Insumos</h4>
                </div>
                <form class="form-cerrar-insumos"" 
                      id="form_cerrar_pedido" onsubmit="return false;">

                    <div class="modal-body modal-cerrar-pedido modal-body-small">

                        <div class="row-fluid">
                            <div class="span3">
                                <strong>Nro. Pedido:</strong> 
                            </div>     
                            <div class="span3">     
                                <input type="text" name="registro-id-cerrar" id="registro-id-cerrar" disabled="disabled"/>
                            </div>
                        </div>                                             
                    </div>
                    <div class="modal-footer">
                        <button data-loading-text="Procesando..." type="submit" 
                                id="btn_cerrar_pedido" name="btn_cerrar_pedido"
                                class="btn btn-success  pull-left">
                            <i class="icon-ok icon-white"></i> Cerrar / Finalizar el Pedido de Insumos</button>                                              


                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                            <i class="icon-remove  icon-white"></i> Cerrar</button>
                    </div>

                </form>
            </div>                               
            <!-- ////// ./MODAL CERRAR PEDIDO //// -->     



            <!-- ////// MODAL ENVIAR PEDIDO //// -->
            <div class="modal fade hide" id="modal-enviar-pedido" >
                <div class="modal-header">
                    <h4>Confirmar envío del pedido de Insumos</h4>
                </div>
                <form class="form-envio-insumos" 
                      id="form_envio_insumos" onsubmit="return false;">

                    <div class="modal-body modal-envio-insumos modal-body-small">

                        <div class="row-fluid">
                            <div class="span3">
                                <strong>Nro. Pedido:</strong> 
                            </div>     
                            <div class="span3">     
                                <input type="text" name="registro-id-enviar" id="registro-id-enviar" disabled="disabled"/>
                            </div>
                        </div>                                            
                        <div class="row-fluid">
                            <div class="span10">
                                <strong> Recuerde: </strong> que Ud. debe enviar lo necesario para que se le de curso.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-loading-text="Procesando..." 
                                type="submit" 
                                id="btn_enviar_pedido" name="btn_enviar_pedido"
                                class="btn btn-success  pull-left">
                            <i class="icon-ok icon-white"></i> Confirmar Envío del Pedido de Insumos</button>                                              


                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                            <i class="icon-remove  icon-white"></i> Cerrar</button>
                    </div>

                </form>
            </div>                               
            <!-- ////// ./MODAL ENVIAR PEDIDO //// -->                   



        </div>
    </div>



</fieldset>

<script>
    $(function () {
        $("#efectores").val('<?= $this->efe_id ?>');
        $("#efectores").select2();
        $("#estado").val('<?= $this->estado ?>');
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });
    });

    $(document).on('click', '.btn-menu-dialog', function () {
        // asigna a los input de cada modal el ID del registro del boton presionado (atributo data-id)
        $("#registro-id-enviar").val($(this).attr('data-id'));
        $("#registro-id-cancelar").val($(this).attr('data-id'));
        $("#registro-id-cerrar").val($(this).attr('data-id'));
        //$("#registro-id-detalle").val($(this).attr('data-id'));
    });


    // MODAL - ENVIO / NUEVO ENVIO CONFIRMACION PEDIDO (Cambia el estado)
//    $("#btn_enviar_pedido").click(function (e) {
//        $(this).find('button[type=submit]').button('loading');
//
//        var id = $("#registro-id-enviar").val();
//        console.log(id);
//
//        $.post('<?= $this->baseUrl(); ?>/stock/pedidosinsumos/enviar', {'id': id}, function (d) {
//            if (d.st == 'ok') {
//                location.reload();
//            } else if (d.st == 'notok') {
//                alert("Error en la grabación de la confirmación del envío ");
//                $(':submit').button('reset');
//            } else {
//                alert("Ha ocurrido un error inesperado.")
//                $(':submit').button('reset');
//            }
//        }, 'json');
//        ;
//    });


    // MODAL - CANCELAR EL PEDIDO 
    $("#btn_cancelar_pedido").click(function (e) {
        $(this).find('button[type=submit]').button('loading');

        var id = $("#registro-id-cancelar").val();
        console.log(id);

        $.post('<?= $this->baseUrl(); ?>/stock/pedidosinsumos/cancelar', {'id': id}, function (d) {
            if (d.st == 'ok') {
                location.reload();
            } else if (d.st == 'notok') {
                alert("Error en la cancelación del pedido ");
                $(':submit').button('reset');
            } else {
                alert("Ha ocurrido un error inesperado.")
                $(':submit').button('reset');
            }
        }, 'json');
        ;
    });


    // MODAL - CERRAR / FINALIZAR EL PEDIDO 
    $("#btn_cerrar_pedido").click(function (e) {
        $(this).find('button[type=submit]').button('loading');

        var id = $("#registro-id-cerrar").val();

        $.post('<?= $this->baseUrl(); ?>/stock/pedidosinsumos/cerrar', {'id': id}, function (d) {
            if (d.st == 'ok') {
                location.reload();
            } else if (d.st == 'notok') {
                alert("Error en el cierre/finalización del pedido ");
                $(':submit').button('reset');
            } else {
                alert("Ha ocurrido un error inesperado.")
                $(':submit').button('reset');
            }
        }, 'json');
        ;
    });


    // IMPRIME EL LOS PEDIDOS DEL LISTADO
    $("#imprimir").click(function () {
        var url = document.URL;
        var estado = $("#estado").val();
        if ($("#datepicker").val() == '<?= $this->fecha ?>') {
            var fecha = $("#datepicker").val();
        } else {
            var fecha = url.substr(url.length - 10);
        }
        if (confirm("Imprimir Listado de Pedidos de Insumos ?")) {
            var winCod = window.open('<?= $this->baseUrl(); ?>/stock/pedidosinsumos/verpdf/fecha/' + fecha + '/estado/' + estado);
            winCod.focus();
        } else {
            location.reload();
        }
    });



    // MODAL - DETALLE DEL PEDIDO
    $(".btn_detalle_pedido").click(function () {

        var id = $(this).attr('data-id');

    $("#registro-id-detalle").val($(this).attr('data-id')); 
        $.post('<?= $this->baseUrl(); ?>/stock/pedidosinsumosdetalle/get-detalle-by-id',
                {'id': id}, function (d) {            
            
            if (d.st == 'ok') {
                $.each(d.data, function (key, files) {
                    //$("#detalle-id").text(files.registro_detalle_id);
                    $("#detalle-cantidad").text(files.cantidad);
                    $("#detalle-enviada").text(files.cantidad_enviada);
                    $("#detalle-descripcion").text(files.nombre_producto);
                    $("#detalle-notas").text(files.notas);
                });
                //d= {st: 'ok', data: [id:'1', .....]}
                //each javacript d.datos (filas)                
                

            } else {
                //TODO: falta mostrar mensaje de Error                
            }
        }, 'json');
    });

</script>
