<?php
$this->datepicker();
$this->headLink()->appendStylesheet($this->baseUrl() . '/themes/select2/select2.css');
$this->headScript()->appendFile($this->baseUrl() . '/themes/select2/select2.min.js')
        ->appendFile($this->baseUrl() . '/themes/select2/select2_locale_es.js');

?>

<style>
    table#tabla-detalle tbody tr td span.id{
        visibility: hidden;
    }
</style>

<fieldset>
    <legend><a class="btn btn-primary btn-medium" href="/stock/pedidosinsumos/listar">
            <i class="icon-chevron-left icon-white"></i> Regresar al Listado de Pedidos</a> 
        Alta Pedido de Insumos ( <span style="font-weight: 500;"><?php echo $this->efector_nombre; ?></span> )</span>
    </legend>        

    <div class="row-fluid"> 
        <div class="span9">
            <div class="span7">
                Fecha del Pedido: 
                <input name="fecha" id="datepicker" class="input-medium" 
                       placeholder="Fecha del Pedido"
                       type="text" value="<?= $this->fecha; ?>"  />
            </div>
            <div class="span3">
            </div>     

        </div>
    </div>

    <div class="row-fluid"> 
        <div class="span9">
            <form id="frm_agregar_producto" name="frm_agregar_producto" action="return false;">
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="250"> Insumo </th>
                            <th width="20"> Cantidad </th>                            
                            <th width="200"> Notas </th>
                            <th width="60">Acciones</th>  
                            <th width="70">Nuevo Producto</th>
                        </tr>
                    </thead>              
                    <tbody>
                        <tr>
                            <td>
                                <select name="producto-list" id="producto-list" class="input-large"
                                        style="width: 250px"
                                        required="required">
                                            <?php
                                            $productos = new Stock_models_Productos;
                                            $productos_list = $productos->getPairs();
                                            foreach ($productos_list as $i => $v):
                                            ?>
                                        <option value="<?= $i; ?>"><?= $v; ?></option>
                                    <?php endforeach; ?>
                                </select>     
                            </td>
                            <td><input type="number" name="producto-cantidad" id="producto-cantidad" 
                                       min="0" style="width: 40px" required="required"></td>
                            <td><input type="text" name="producto-notas" id="producto-notas" size="70px"  maxlength="255"></td>
                            <td>
                                <button class="btn btn-info" 
                                        id="btn_agregar_row" name="btn_agregar_row"
                                        type="submit"
                                        title="Agrega un Insumo en el Pedido"                                            
                                        data-loading-text="Procesando...">
                                    Agregar Item</button>
                            </td>
                            <td>
                                <a data-target="#modal-producto-nuevo" href="#" role="button" 
                                   class="btn btn-medium btn-default btn-inverse" 
                                   data-toggle="modal"
                                   title="Agregar un nuevo Insumo / Producto a la nómina">
                                    <i class="icon-plus icon-white"></i>
                                </a>                               
                            </td>
                        </tr>
                    </tbody>        
                </table>
            </form>
        </div>
    </div>    



    <form id="form-detalle" name="form-detalle" onsubmit="return false;">  

        <div class="row-fluid">

            <div class="span9">
                <table class="table table-striped table-bordered table-hover table-condense"  
                       id="tabla-detalle">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="210"> Insumo </th>
                            <th width="20"> Cantidad </th>                            
                            <th width="160"> Observaciones </th>
                            <th width="40">Acciones</th>                                    
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row-">    
                            <td></td>
                            <td item-descripcion></td>
                            <td id="item-cantidad"></td>
                            <td id="item-notas"></td>				
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--            
                    <div class="span3">
                    </div>
            -->
        </div>

        <div class="row-fluid"> 
            <div class="span9" style="background-color: RGBA(0,0,0,0.2); padding: 10px;">
                <table class="table table-striped table-bordered table-hover table-condense">
                    <tbody>
                        <tr>
                            <td class="span3">Observaciones generales</td>
                            <td>
                                <textarea id="observaciones" name="observaciones" 
                                          placeholder="Ingrese una observación" 
                                          class="span12"></textarea>
                            </td>
                        </tr>
                    </tbody>        
                </table>
            </div>
        </div>

        <div class="row-fluid"> 
            <div class="span9" style="background-color: RGBA(0,0,0,0.2); padding: 10px;">
                <button class="btn btn-medium btn-success" 
                        id="btn_grabar" name="btn_grabar"
                        type="submit"
                        title="Grabar el Pedido de Insumos"                                            
                        data-loading-text="Procesando...">
                    <i class="icon-check icon-white"></i> Grabar y Generar Nuevo <b>Pedido</b>
                </button>  
            </div>      
        </div>

    </form>


    <!-- ==================================================================================
                VENTANA MODAL  AGREGAR NUEVO PRODUCTO
    ===================================================================================== -->

    <div class="modal fade hide" id="modal-producto-nuevo" >

        <div class="modal-header">
            <h4>Crear un nuevo Insumo / Producto</h4>
        </div>


        <form method="post" action="<?= $this->baseUrl(); ?>stock/productos/agregar">                                              
            <div class="modal-body modal-producto-nuevo modal-body-small">
                <div class="row-fluid">
                    <div class="span2">
                        <strong>Categoría:</strong>
                    </div>  
                    <div class="span8"> 
                        <select name="categoria-list" id="categoria-list" class="input-large">
                            <?php
                            $categorias = new Stock_models_Productoscategorias;
                            $categorias_list = $categorias->getPairs();
                            foreach ($categorias_list as $i => $v):
                                ?>
                                <option value="<?= $i; ?>"><?= $v; ?></option>
                            <?php endforeach; ?>
                        </select>       
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2">
                        <strong>Nombre:</strong> 
                    </div>  
                    <div class="span8">   
                        <input type="text" id="producto-new-descripcion" name="producto-new-descripcion" 
                               size="100px" maxlength="70"     
                               placeholder="Ingresar la descripción del insumo / producto"/>
                    </div>                                                
                </div>     

                <div class="row-fluid">
                    <div class="span2">
                        <strong>Código:</strong> 
                    </div>  
                    <div class="span8">   
                        <input type="text" id="producto-new-codigo" name="producto-new-codigo" 
                               size="100px" maxlength="30"     
                               placeholder="Ingresar el código"/>
                    </div>                                                
                </div>                     


            </div>
        </form>                            

        <div class="modal-footer">

            <button data-loading-text="Procesando..." 
                    type="button" 
                    id="btn_alta_producto" name="btn_alta_producto"
                    class="btn btn-success pull-left submit-descartes">
                <i class="icon-ok icon-white"></i> Grabar Nuevo Insumo / Producto
            </button>

            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                <i class="icon-remove  icon-white"></i> Cerrar</button>
        </div>


    </div>

    <!-- ==================================================================================
               ./ VENTANA MODAL AGREGAR NUEVO PRODUCTO
   ===================================================================================== -->         

    
    
  
<!-- Modal Verificar -->
<div id="myModal-verificar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Verificar los siguientes datos</h3>
    </div>
    <div class="modal-body">
        <p>Debe ingresar una <strong>fecha</strong> válida</p>
        <p>Debe ingresar al menos <strong>un insumo / producto</strong> en el pedido</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
</div>    
    

    
    
</fieldset>


<script type="text/javascript">

    $(function () {
        $("#producto-list").val('<?= $this->id; ?>');
        $("#producto-list").select2();
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });

    });





    /**
     * Agregar el registro visualmente
     */
    $(document).on('submit', '#frm_agregar_producto', function (e) {
        e.preventDefault();
        return false;
    });

    $(document).on('click', '#btn_agregar_row', function (e) {


        if ($("#datepicker").datepicker("getDate") === null) {
            alert("Debe seleccionar una fecha para realizar el pedido");
        } else {

            if ($("#frm_agregar_producto")[0].checkValidity() === true) {
                $('#tabla-detalle tbody tr:last')
                        .after(
                                '<tr class="linea">' +
                                '<td><span class="id">' + $("#producto-list option:selected").val() +
                                '</span><span class="value">' + $("#producto-list option:selected").text() + '</span></td>' +
                                '<td>' + $("#producto-cantidad").val() + '</td>' +
                                '<td>' + $("#producto-notas").val() + '</td>' +
                                '<td><button class="btn btn-danger btn-mini btn_eliminar_row" title="Eliminar este registro">' +
                                '<i class="icon-remove icon-white"></i> Remover</button></td>' +
                                '</tr>');
            }
            $("#producto-cantidad").val('');
            $("#producto-notas").val('');
        }
    });


    /**
     * Eliminacion del registro visualmente
     */
    $(document).on('click', '.btn_eliminar_row', function () {
        $(this).closest('tr').remove();
    });



    /**
     * Alta de un nuevo produto
     */
    $("#btn_alta_producto").click(function () {
        var producto_categoria = $("#categoria-list").val();
        var producto_codigo = $("#producto-new-codigo").val();
        var producto_nombre = $("#producto-new-descripcion").val();

        //alert($("#producto-new-descripcion").text());

        $.post('<?php echo $this->baseUrl(); ?>/stock/productos/nuevo', {cat_id: producto_categoria, pro_codigo: producto_codigo, nombre_producto: producto_nombre}, function (d) {
            if (d.st == 'ok') {
                //location.reload();
                alert('El Insumo / Producto se ha agregado correctamente.');
            } else if (d.st == 'nok') {
                alert('Error al intentar grabar un insumo / producto');
                //location.reload();
            }
        }, 'json');

    });






    /**
     * Grabar el formulario de pedidos
     */

    $(document).on('submit', '#form-detalle', function (e) {
        e.preventDefault();
        return false;
    });




    /**
     * GRABAR TODO EL PEDIDO
     */
    $("#btn_grabar").click(function () {

        var control_fecha = 0;
        var control_items = 0;

        // VALIDACIONES
        if ($("#datepicker").datepicker("getDate") === null) {
           $('#myModal-verificar').modal('show'); 
            control_fecha = 1;
        } 
        
        //Validar que exista al menos un item en la grilla.
        var control_items = $("#tabla-detalle tbody tr").children().length;
        if( control_items == 4){
            $('#myModal-verificar').modal('show'); 
            control_items = 1;
        }

        // Si existe la fecha y hay almenos un item en la grilla: GRABAR 
        if (control_fecha == 0 && control_items > 4) {

            if (confirm("¿Desea Grabar el pedido ?")) {

                var datos = {};
                $("#form-detalle tbody tr.linea").each(function (i, tr) {
                    datos['linea_' + i] = {
                        'producto_id': $(tr).children("td:nth-child(1)").children('span.id').html(),
                        'descripcion': $(tr).children("td:nth-child(1)").children('span.value').html(),
                        'cantidad': $(tr).children("td:nth-child(2)").html(),
                        'notas': $(tr).children("td:nth-child(3)").html(),
                    }
                });
                datos.header = {
                    fecha: $('#datepicker').val(),
                    observaciones: $('#observaciones').val()
                }
                
                //TODO: Enviar los datos por submit (POST) a al metodo 
                //correspondiente en la controladora.
                $.post("<?= $this->baseUrl(); ?>/stock/pedidosinsumos/alta", {datos: JSON.stringify(datos)}, function (data) {
                    window.location.href = '<?= $this->baseUrl(); ?>/stock/pedidosinsumos/listar';
                });
            }
        }

    });





        function limpiar() {
            $("#datepicker").val("");
            $("#producto-cantidad").val("");
            $("#producto-notas").val("");
            $("#observaciones").val("");
            $("#nroAfiliado").attr('disabled', false);
            $("#codigo").attr('disabled', false);
            $("#btn_grabar").attr('disabled', true);
        }



</script>