<?php
$this->datepicker();
$this->headLink()->appendStylesheet($this->baseUrl() . '/themes/select2/select2.css');
$this->headScript()->appendFile($this->baseUrl() . '/themes/select2/select2.min.js')
        ->appendFile($this->baseUrl() . '/themes/select2/select2_locale_es.js');
?>

<style>
    table#tabla-detalle tbody tr td span.id{
        visibility: hidden;
    }
</style>

<fieldset>
    <legend><a class="btn btn-primary btn-medium" href="/stock/pedidosinsumos/listar">
            <i class="icon-chevron-left icon-white"></i> Regresar al Listado de Pedidos</a> 
        Recepción del Pedido de Insumos  - Nro. <span style="font-weight: 700;"><?php echo $this->pedido_id; ?></span>

    </legend>        

    <?php
    // datos del encabezado del pedido
//    foreach ($this->resultadosEncabezado as $i => $encabezado):
//        $pedido_id = $encabezado['id'];
//        $pedido_fecha = $encabezado['fecha'];
//        $pedido_observaciones = $encabezado['observaciones'];
//        $pedidoo_observaciones_recepcion = $encabezado['ultima_recepcion_observaciones'];
//    endforeach;
    
    // datos del encabezado del pedido
    foreach ($this->resultadosEncabezado as $i => $encabezado):
        $pedido_id = $encabezado['id'];
        $pedido_fecha = $encabezado['fecha'];
        $pedido_observaciones = $encabezado['observaciones'];
        $pedidoo_observaciones_recepcion = $encabezado['ultima_recepcion_observaciones'];
    endforeach;    

    ?>


    <div class="row-fluid">  
        <div class="span9">
            <div class="span7">
                Fecha del Pedido: 
                <input name="fecha" id="datepicker" class="input-medium" 
                       type="text" 
                       value="<?= $pedido_fecha; ?>" 
                       disabled />
            </div>
            <div class="span3">
            </div>     

        </div>
    </div>

    
    
<form id="form-detalle" name="form-detalle" method="post" 
      action="<?= $this->baseUrl(); ?>/stock/pedidosinsumos/actualizarrecepcion">

        <input type="hidden" name="compronante-id" id="compronante-id" 
               value="<?php echo $this->pedido_id; ?>" />

        <div class="row-fluid">

            <div class="span9">
                <table class="table table-striped table-bordered table-hover 
                       table-condense"  id="tabla-detalle">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="100" style="display:none"> # </th>
                            <th width="100" style="display:none"> Producto </th>
                            <th width="210"> Descripcion del Insumo </th>
                            <th width="20"> Cantidad Pedida </th>  
                            <th width="20"> Cantidad Enviada </th>  
                            <th width="10" style="display:none"> Notas </th>
                            <th width="20"> Cantidad a Ingresar </th>  
                            <th width="160"> Observaciones </th>                           
                        </tr>
                    </thead>

                    <?php if (sizeof($this->resultadosDetalle) >= 0) : ?>                    
                        <tbody>
                            <?php foreach ($this->resultadosDetalle as $i => $v): ?>
                                <tr id="row-" class="linea_<?= $i; ?>">  
                                    <td class="item-id" style="display:none">
                                        <input type="hidden" name="item-id[]" id="item-id"
                                               value="<?= $v['id']; ?>" />
                                    </td>
                                    <td class="item-producto-id" style="display:none">
                                        <input type="hidden" name="item-producto-id[]" id="item-producto-id"
                                               value="<?= $v['producto_id']; ?>" />
                                    </td>
                                    <td class="item-producto-descripcion"><?= $v['nombre_producto']; ?>
                                        <input type="hidden" name="item-producto-descripcion[]" id="item-producto-descripcion"
                                               value="<?= $v['nombre_producto']; ?>" />                                    
                                    </td>
                                    <td class="item-producto-cantidad"><?= $v['cantidad']; ?>
                                        <input type="hidden" name="item-producto-cantidad[]" id="item-producto-cantidad"
                                               value="<?= $v['cantidad']; ?>" />                                      
                                    </td>
                                    <td class="item-producto-notas" style="display:none">
                                        <input type="hidden" name="item-producto-notas[]" id="item-producto-notas"
                                               value="<?= $v['notas']; ?>" />
                                    </td>   

                                     <td class="item-producto-cantidad-existente"><?= $v['cantidad_enviada']; ?>
                                        <input type="hidden" name="item-producto-cantidad-existente[]" id="item-producto-cantidad-existente"
                                               value="<?= $v['cantidad_enviada']; ?>" readonly="readonly" />                                      
                                    </td>         
                                   
                                    
                                  
                                    <td class="item-recibido">
                                        <input name="recepciona_cantidad[]" class="recepciona_cantidad"
                                               class="input-small text-right"
                                               maxlength="10" 
                                               type="number" 
                                               min="0" max="<?= $v['cantidad']; ?>"
                                               value="" 
                                               style="width: 60%;" />
                                    </td>
                                    <td class="item-notas">
                                        <input name="recepciona_notas[]" class="recepciona_notas"
                                               class="input-small text-left"
                                               type="text" 
                                               value="<?= $v['notas']; ?>" 
                                               style="width: 90%;"/>
                                    </td>				
                                </tr>
                            <?php endforeach; ?>                        
                        </tbody>

                    <?php endif; ?>                    
                </table>
            </div>

            <!--            
                    <div class="span3">
                    </div>
            -->
        </div>

        <div class="row-fluid"> 
            <div class="span9" style="background-color: RGBA(0,0,0,0.2); padding: 10px;">
                <table class="table table-striped table-bordered table-hover table-condense">
                    <tbody>
                        <tr>
                            <td class="span3">Observaciones generales</td>
                            <td>
                                <textarea id="observaciones" name="observaciones" 
                                          placeholder="Ingrese una observación" 
                                          disabled
                                          class="span12"><?= $pedido_observaciones; ?></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td class="span3">Notas Recepción</td>
                            <td>
                                <textarea id="recepcion-observaciones" name="recepcion-observaciones" 
                                          class="span12"><?= $pedido_observaciones_recepcion; ?></textarea>
                            </td>
                        </tr>                        
                    </tbody>        
                </table>
            </div>
        </div>


        <?php //endforeach;  ?>          

        <div class="row-fluid"> 
            <div class="span9" style="background-color: RGBA(0,0,0,0.2); padding: 10px;">
                <button class="btn btn-medium btn-success" 
                        id="btn_grabar" name="btn_grabar"
                        type="submit"
                        title="Grabar Recepcion del Pedido de Insumos"                                            
                    <i class="icon-check icon-white"></i> Grabar y Actualizar <b>Pedido</b>
                </button>  
            </div>      
        </div>
       
        
    </form>





    <!-- Modal Verificar -->
    <div id="myModal-verificar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Verificar los siguientes datos</h3>
        </div>
        <div class="modal-body">
            <p>Debe ingresar una <strong>fecha</strong> válida</p>
            <p>Debe ingresar al menos <strong>un insumo / producto</strong> en el pedido</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>    




</fieldset>


<script type="text/javascript">

    $(function () {
        $("#producto-list").val('<?= $this->id; ?>');
        $("#producto-list").select2();

    });


</script>