<fieldset>
	<legend>Ocupaciones Laborales</legend>

	<ul class="breadcrumb">
		<li><a href="<?=$this->url(array('module' => 'gestion','controller' => 'ocupaciones'),null,true);?>">Ocupaciones Laborales</a> <span class="divider">/</span></li>
		<li class="active"><?=$this->form_desc;?></li>
	</ul>

	<form method="post" action="<?=$this->url();?>">
		<div class="btn-group"><button type="submit" class="btn btn-success btn-small"><i class="icon-ok icon-white"></i> Guardar</button> 
                    <a class="btn btn-danger btn-small" href="<?=$this->url(array('module' => 'gestion','controller' => 'ocupaciones'),null,true);?>"><i class="icon-remove icon-white"></i> Cancelar</a></p>
		<p></p>
		<div class="well">
			<?=$this->form->ocu_descripcion->renderLabel();?>
			<?=$this->form->ocu_descripcion->renderViewHelper();?>
			<span class="help-inline"><?=$this->form->ocu_descripcion->renderErrors();?></span>
		</div>
	</form>
</fieldset>