<?php
$escaper = new Zend\Escaper\Escaper('utf-8');
?>
<fieldset>
	<legend>Ocupaciones Laborales</legend>

	<p><a class="btn btn-primary btn-small" href="<?=$this->url(array('action'=>'agregar'));?>"><i class="icon-plus icon-white"></i> Nueva</a></p>
	<div class="row-fluid">
		<div class="span6">
			<?php if(sizeof($this->resultados) > 0): ?>
				<table class="table table-striped table-bordered table-hover table-condense">
					<thead>
						<tr class="btn-info btn-small btn-inverse">
							<th>Ocupaci&oacute;n <i class="icon-chevron-up icon-white pull-right"></i></th>
							<th width="180"></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->resultados as $i => $v): ?>
							<tr>
								<td><?=$escaper->escapeHtml($v['ocu_descripcion']);?></td>
								<td><a class="btn btn-mini btn-primary" href="<?=$this->baseUrl();?>/gestion/ocupaciones/modificar/ocu_id/<?=$v['ocu_id'];?>"><i class="icon-pencil icon-white"></i> Editar</a> 
                                                                    <a class="btn btn-mini btn-danger" href="<?=$this->baseUrl();?>/gestion/ocupaciones/eliminar/ocu_id/<?=$v['ocu_id'];?>"><i class="icon-remove icon-white"></i> Eliminar</a></td>
							</tr>
							<?php endforeach; ?>
					</tbody>
				</table>
				<?php else:?>
				<div class="alert alert-warning">No hay Ocupaciones Cargadas</div>
				<?php endif;?>
		</div>
	</div>
</fieldset>
