<?php
    $this->datepicker();
    $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
    $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
    ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>

<fieldset>
    <legend>
        Gesti&oacute;n ADMIN de Descartes de Hemocomponentes ( <span style="font-weight: 700;"><?php echo $this->efector_nombre; ?></span> )
    </legend>

    <div class="row-fluid">
        <div class="span9">

            <?php if(sizeof($this->resultados) >= 0) :?>
                <table class="table table-striped table-bordered table-hover table-condense">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th width="110"> Producido</th>
                            <th width="50"> Estado</th>
                            <th width="180"> Hemocomponente </th>
                            <th width="30"> Grupo </th>   
                            <th width="30"> Factor </th>    
                            <th width="30"> Irrad. </th>                              
                            <th width="30"> Cant.</th>                           
                            <th width="60"> Fecha Vto.</th> 
                            <th width="80"> Cód.Donación</th> 
                            <th width="100">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->resultados as $i => $v): ?>
                        <tr>
                            <td><?= $v['fecha']; ?></td>
                             <td>
                                <?php if ($v['estado'] == 1): ?>
                                <span class="badge btn-warning">Vencido</span>
                                <?php elseif ($v['estado'] == 2): ?>
                                 <span class="badge btn-inverse">Descartado</span>
                                <?php endif; ?> 
                            </td>                           
                            <td><?= utf8_encode($v['hem_descripcion']); ?></td>
                            <td><?= $v['grupo']; ?></td>
                            <td><?= $v['factor']; ?></td>
                            <td>
                                <?php if ($v['irradiado'] == 0): ?>
                                  NO
                                <?php elseif ($v['irradiado'] == 1): ?>
                                 <span class="badge btn-warning">SI</span>
                                <?php endif; ?> 
                            </td>                             
                            <td><?= $v['cantidad']; ?></td> 
                            <td><?= $v['fecha_vencimiento']; ?></td>
                            <td><?= $v['nro']; ?></td>                     
                            <td>
                                <?php if ($v['estado'] == 1): ?>
                                
                                        <a  data-target="#dialog-descartar"
                                            data-id="<?= $v['id']; ?>" 
                                            data-feha="<?= $v['fecha']; ?>"
                                            data-prioridad="<?= $v['estado']; ?>"
                                            data-cantidad="<?= $v['cantidad']; ?>"
                                            data-hemo-id="<?= $v['hemocomponente_id']; ?>"
                                            data-hemo-grupo="<?= $v['grupo']; ?>"
                                            data-hemo-factor="<?= $v['factor']; ?>"
                                            data-hemo-irradiado="<?= $v['irradiado']; ?>"
                                            data-nro-donacion="<?= $v['nro']; ?>"
                                            data-efector-id="<?= $v['efector_id']; ?>"
                                            data-info="Nro. de Solicitud: <?= $v['id']; ?> <br/>
                                                Fecha: <?= $v['fecha']; ?> <br/>
                                                Hecomocomponente: <?= utf8_encode($v['hem_descripcion']) ." (". $v['grupo'] ." ". $v['factor'] .")"; ?> <br/>
                                                Irradiado: 
                                                <?php if ($v['irradiado'] == 0): ?>NO
                                                <?php elseif ($v['irradiado'] == 1): ?>SI
                                                <?php endif; ?> <br/>
                                                Cantidad: <?= $v['cantidad']; ?><br/>
                                                Cód.Donación: <?= $v['nro']; ?>" 
                                                title="Enviar un Hemocomponente para esa Solicitud"
                                                href="#descartar-hemocomponente" class="btn btn-danger btn-mini btn-modal"  data-toggle="modal">
                                                <i class="icon-remove icon-white"></i> Descartar
                                             </a>                 

                                
                                <!-- ////// MODAL DESCARTAR //// -->
                                    <div class="modal fade hide" id="dialog-descartar" >
                                        <div class="modal-header">
                                            <h4>Descartar Hemocomponente del Stock</h4>
                                        </div>
                                        <div class="modal-body modal-cerrar-solicitud modal-body-small">
                                          <div class="row-fluid">
                                                <div class="span6">
                                                    <strong>Fecha Producido:</strong> <?= $v['fecha']; ?>
                                                 </div>
                                            </div>
                                            
                                            <div class="row-fluid">    
                                                 <div class="span6">
                                                   <strong>Fecha Vencimiento:</strong> <?= $v['fecha_vencimiento']; ?>
                                                 </div>   
                                             </div>
                                            
                                            <div class="row-fluid">
                                                  <div class="span9">
                                                     <strong>Hemocomponente:</strong> <?= utf8_encode($v['hem_descripcion']) ." (" .$v['grupo'] . " ". $v['factor'] . ")"; ?> 
                                                  </div>                                                
                                            </div>     
                                            <div class="row-fluid">
                                                  <div class="span9">
                                                     <strong>Cód.Donación:</strong> <?= $v['nro']; ?>
                                                  </div>                                                
                                            </div>                                                 
                                            <div class="row-fluid">
                                                  <div class="span3">
                                                      <strong>Observaciones</strong>
                                                  </div>                                                
                                             </div>     
                                             <div class="row-fluid">
                                                  <div class="span9">
                                                      <textarea id="observaciones" name="observaciones" 
                                                          placeholder="Ingrese una observación" 
                                                          class="span12" ></textarea>
                                                  </div>                                                
                                              </div>
                                            
                                      </div>
                                      <div class="modal-footer">
                                            <button data-loading-text="Procesando..." 
                                                    data-id="<?= $v['id'] ?>" 
                                                    type="button" 
                                                    class="btn btn-success pull-left submit-descartes">
                                                <i class="icon-ok icon-white"></i> Descartar el Hemocomponente del Stock
                                            </button>

                                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                                                <i class="icon-remove  icon-white"></i> Cerrar</button>
                                      </div>
                                </div>                               
                                <!-- ////// ./MODAL DESCARTAR //// -->                               
                                
                                
                                
                                
                                <?php endif; ?> 
                            </td>
                        </tr>
             
                        
                        
                        <?php endforeach; ?>
                    </tbody>
                </table>

                <?=$this->paginador($this->paginas);?>


                <?php elseif(sizeof($resultados) == 0): ?>
                    <div class="alert alert-info"><b>No se han encontrado Hemocomoponentes para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
                <?php endif ;?>
        </div>

        

        
        <div class="span3">
            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="get" action="<?=$this->baseUrl();?>/stock/descartes">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-barcode"></i></span>
                    <input name="nro" id="nro" class="input-medium" type="text" 
                           placeholder="Cod. Donación"
                           autocomplete="off" value="<?= $this->nro ?>"/>
                </div>
    
                
                <br/>
                <br/> 
                
                <label for="efe_id">Efector</label>
                <select name="efector_id" id="efector_id" class="input-large">
                    <option value="">Todos</option>
                    <?php foreach ($this->cache_efectores as $i => $v): ?>
                        <option value="<?= $i; ?>"><?= $v ?></option>
                    <?php endforeach; ?>
                </select>

                <br/> 
                <br/> 

                
                <label for="estado">Estado</label>
                <select name="estado" id="estado" value="">
                    <option value="">Todos</option>
                    <option value="1">Vencidos</option>
                   <option value="2">Descartados</option>                        
                </select>
                
                <button class="btn btn-primary btn-inverse" type="submit">
                    <i class="icon-search icon-white"></i> Buscar</button>
                         <br /><br />
                         
                         <a target="_blank" class="btn btn-primary btn-inverse" 
                          href="<?= $this->baseUrl() . "/stock/descartes/verpdf/print/1/fecha/".$this->parametros['fecha']."/nro/".$this->parametros['nro']."/efector_id/".$this->parametros['efector_id']."/estado/".$this->parametros['estado']?>">
                                        <i class="icon-print icon-white"></i> Imprimir</a>
         
                         <br /><br />
                
            </form>
            
        </div>      
   
        <!-- Leyenda al pie de la pagina -->
        <div class="span11" style="border: 1px solid #ccc; padding: 5px;background-color: rgba(255, 239, 123, 0.4);">
            <h4 style="font-size: 0.9em;margin-left: 10px;margin-top: 0px;margin-bottom: 2px;">Estados del Hemocomponente</h4>
            <ul style="margin-bottom: 0px;">
                <li style="font-size: 0.8em;list-style: none;    margin-left: -10px;">
                    <span style="font-size: 0.8em;" class="badge badge-warning">Vencido:</span>
                    Es un hemocomponente vencido y pendiente de ser descartado.</li>
                <li style="font-size: 0.8em;list-style: none;    margin-left: -10px;">
                    <span style="font-size: 0.8em;" class="badge badge-inverse">Descartado:</span>
                    Es un hemocomponente que ya fue enviado a destruccion.</li>
                
            </ul>         
        </div>        
        <!-- FIN: Leyenda al pie de la pagina --> 
    </div>
</fieldset>

<script>
    $(function(){
        $("#efectores").val('<?= $this->efe_id?>');
        $("#efectores").select2();
        $("#estado").val('<?=$this->estado?>');
        $("#datepicker").datepicker({
            maxDate : 0,
            dateFormat : 'yy-mm-dd',
        });
    });
    
</script>



       <script type="text/javascript">
        $(document)
         .on('click', '.btn-modal', function () {
             $('#detalle-modal').html($(this).attr('data-info'))
             $('.id').val($(this).attr('data-id'));
             $("#registro-id").val($(this).attr('data-id'));
             $("#registro-fecha").val($(this).attr('data-fecha'));
             $("#registro-cantidad").val($(this).attr('data-cantidad'));
             $("#registro-hemocomponente-id").val($(this).attr('data-hemo-id'));
             $("#registro-hemocomponente-grupo").val($(this).attr('data-hemo-grupo'));   
             $("#registro-hemocomponente-factor").val($(this).attr('data-hemo-factor'));    
             $("#registro-hemocomponente-irradiado").val($(this).attr('data-hemo-irradiado'));         
             $("#registro-nro-donacion").val($(this).attr('data-nro-donacion'));                
             $("#registro-solicita-efector-id").val($(this).attr('data-efector-id'));
         })
         
         .on('submit', '.descartar-hemocomponente', function () {    
             if (1) {
                 $(this).find('button[type=submit]').button('loading');
                 $.post('<?= $this->baseUrl(); ?>/stock/descartes/descartarstock', $(this).serialize(), function (d) {
                     if (d.st == 'ok') {
                         location.reload();
                     } else if (d.st == 'notok') {
                         alert("Error en la grabación del registro ");
                         $(':submit').button('reset');
                     } else {
                         alert("Ha ocurrido un error inesperado.")
                         $(':submit').button('reset');
                     }
                 }, 'json');
             } else {
                alert('Revisar, existe un problema con el proceso.');
             }
         });

    </script>
