<?php $this->datepicker(); ?>

<legend class="view-title">
    <a class="btn btn-primary btn-medium" href="/efector/entrevistas">
        <i class="icon-chevron-left icon-white"></i> Regresar a Entrevista
    </a> 
    <h3>Proceso Entrevista del Donante</h3>
</legend>   



<div class="view-panel" id="new-entrevista" style="margin-bottom: 30px;" >

    <form id="frm_entrevista" name="frm_entrevista" action="return false;">    
        <div class="modal-header">
            <div id="trata-det" class="" style="margin-bottom: 0;">
                <div class="row-fluid" style="margin-top: 10px;">
                    <div class="span4"><pre><b>Cód. Donación:</b>  <?= $this->donacion['don_nro']; ?></pre> </div>    
                    <div class="span4"><pre><b>Cód. Autogenerado:</b> <?= $this->persona[0]['alfa']; ?> </pre></div>  
                    <div class="span4"><pre><b>Nombre:</b> <?= $this->persona[0]['per_apellido'] . ", " . $this->persona[0]['per_nombres']; ?> (<?= $this->cache_tipo_doc[$this->persona[0]['per_tipodoc']]; ?>: <?= $this->persona[0]['per_nrodoc']; ?>)</pre></div>    
                </div>
            </div>
        </div>

        <div class="modal-body">

            <div class="">
                <div class="" id="panel-entrevista">

                    <input type="hidden" id="persona_id" name="persona_id" value="<?= $this->donacion['per_id']; ?>" >
                    <input type="hidden" id="donacion_id" name="donacion_id" value="<?= $this->donacion['don_id']; ?>" >
                    <input type="hidden" id="don_nro" name="don_nro" value="<?= $this->donacion['don_nro']; ?>" >


                    <div class="row-fluid">
                        <div class="span12">
                            <h5 style="border-bottom: 1px solid black;">
                                <i class="icon-flag"></i> Tiempo de Entrevista</h5>
                            <div class="row-fluid">

                                <div class="span6">
                                    <div class="input-append">
                                        <span class="add-on">Inicio de la Entrevista:</span>
                                        <input type="datetime-local" 
                                               id="fecha_hora_inicio" name="fecha_hora_inicio" value="">
                                        <input type="button" class="btn btn-primary" id="btn_hora_inicio" value="Hora Actual">
                                    </div>
                                </div>

                                <div class="span6">

                                </div>
                            </div>

                        </div>
                    </div>                        

                    <?php foreach ($this->preguntas_por_categoria as $categoria) { ?> 
                        <div class="row-fluid" id="cat-<?= $categoria['id']; ?>">
                            <div class="span6">
                                <h5 style="border-bottom: 1px solid black;">
                                    <i class="icon-comment"></i> <?= $categoria['nombre']; ?></h5>
                            </div>   
                            <div class="span2">
                                <h5 title="Respuesta" style="border-bottom: 1px solid black;">
                                    <i class="icon-ok" ></i> Resp.</h5>
                            </div>  
                            <div class="span4">
                                <h5 style="border-bottom: 1px solid black;">
                                    <i class="icon-pencil"></i> Observaciones</h5>
                            </div>  
                        </div>       

                        <?php foreach ($categoria['preguntas'] as $pregunta) { ?> 
                            <div class="row-fluid pregunta">
                                <div class="span6" id="pregunta-<?= $pregunta['id']; ?>" >
                                    <label><?= $pregunta['orden']; ?> ) <?= $pregunta['pregunta']; ?></label>     
                                </div>                        
                                <div class="span2" id="respuesta-<?= $pregunta['id']; ?>">
                                    <input type="radio"  name="radio-<?= $pregunta['id']; ?>" value="1" required> SI
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio"  name="radio-<?= $pregunta['id']; ?>" value="0" required> NO
                                </div>
                                <div class="span4" id="observacion-<?= $pregunta['id']; ?>">
                                    <input type="text" style="width:95%;" name="observacion" value="" size="20px">
                                </div>
                            </div>     
                    <hr style="    padding: 0;    margin: 0;    border: 1px solid #00808011;    margin-bottom: 8px;">
                        <?php } ?>    

                    <?php } ?>






                    <div class="row-fluid">     
                        <div class="span12">
                            <label for="observacion"><b>Observación</b></label>
                            <textarea style="width: 98%;" required="required" 
                                      id="observaciones_generales" name="observaciones_generales" rows="5"></textarea>
                        </div>
                    </div>   


                </div>




            </div>
        </div>



        <div class="modal-footer">		


            <button data-loading-text="Procesando..." type="submit" 
                    id="btn_aceptar"
                    class="btn btn-success pull-right">
                <i class="icon-ok icon-white"></i> Aceptar</button>


            <button style="display: none;" data-loading-text="Procesando..." type="button" 
                    id="btn_cancelar_entrevista" 
                    class="btn btn-danger pull-right">
                <i class="icon-ban-circle icon-white"></i> Cancelar</button>                                   


        </div>

    </form>
</div>







<script type="text/javascript">


    $(function () {
        $("#datepicker").datepicker({
            maxDate: 0,
            dateFormat: 'yy-mm-dd',
        });

    });


    $(document).ready(function () {

        $("#btn_cancelar_entrevista").click(function () {
            $("#panel-entrevista").show("slow");
            $("#btn_aceptar").show("slow");
        });

        $("#btn_hora_inicio").click(function () {
            var boton = $(this).attr("id");
            d = new Date();
            if (boton === "btn_hora_inicio") {
                $("#fecha_hora_inicio").val(getDateFormat(d));
            }
        });



    });


    /**
     * Grabar el formulario de entrevista
     */

    $(document).on('submit', '#frm_entrevista', function (e) {
        e.preventDefault();
        return false;
    });



    /**
     * GRABAR LA ENTREVISTA
     */
    $("#btn_aceptar").click(function () {


        // recuperar ID de las preguntas
        var preguntas_IDs = new Array();
        $('.pregunta').children("div:first-child").each(function (index) {
            var tamanio = $(this).attr('id').length;
            preguntas_IDs.push($(this).attr('id').substring(9, tamanio));
        });
       
        var cantidad_preguntas = preguntas_IDs.length;
        var datos = {};

        for (i = 1; i <= cantidad_preguntas; i++) {

            datos[i] = {
                'pregunta_id': preguntas_IDs[i],
                'valor': $("#respuesta-" + preguntas_IDs[i] + " input[name='radio-" + preguntas_IDs[i] + "']:checked").val(),
                'observacion': $("#observacion-" + preguntas_IDs[i] + " input").val(),
            }
        }

        datos.header = {
            fecha: $('#fecha_hora_inicio').val(),
            persona_id: $('#persona_id').val(),
            don_nro: $('#don_nro').val(),
            donacion_id: $('#donacion_id').val(),
            observaciones: $('#observaciones_generales').val()
        }



        $(this).find('button[type=submit]').button('loading');

        $.post("<?= $this->baseUrl(); ?>/efector/entrevistas/grabar", 
        {datos: JSON.stringify(datos)}, function (data) {
            //response = JSON.parse(data);
            if (data.st === 'OK') {
                window.location = '<?= $this->baseUrl(); ?>/efector/entrevistas';
                return true;
            } else {
                //alert(response.mensaje);
                alert('Existe un error en el proceso de grabacion');
                return false;
            }
            
        });

    });


     /** Convierte tipo de fecha y hora **/
    function getDateFormat(date) {
        var d = new Date(date),
                month = ('0' + (d.getMonth() + 1)).slice(-2),
                day = ('0' + d.getDate()).slice(-2),
                year = d.getFullYear();
        hour = ('0' + d.getHours()).slice(-2);
        minute = ('0' + d.getMinutes()).slice(-2);
        second = ('0' + d.getSeconds()).slice(-2);
        return [year, month, day].join('-') + "T" + hour + ":" + minute + ":" + second;
    }


</script>