<?php
    $this->datepicker();
    $this->headLink()->appendStylesheet($this->baseUrl().'/themes/select2/select2.css');
    $this->headScript()->appendFile($this->baseUrl().'/themes/select2/select2.min.js')
    ->appendFile($this->baseUrl().'/themes/select2/select2_locale_es.js');
?>

<fieldset>
    <legend>
        Gesti&oacute;n de Entrevistas de Donantes
    </legend>
       
    <div class="row-fluid"> 
        <div class="span12" style="background-color: RGBA(0,0,0,0.2); padding: 10px;">
            <div class="span10"> 
                <a class="btn btn-default" href="<?=$this->baseUrl();?>/entrevistas/gestion/">
                    Gestión de Entrevistas
                </a>         
                 <a class="btn btn-default" href="<?=$this->baseUrl();?>/entrevistas/reportes/">
                    Reportes
                </a>             
           </div>    
            
        </div>
    </div>
        
     <div class="row-fluid"> 
        <div class="span12">
         </div>
    </div>   
    

    <div class="row-fluid">
        <div class="span9">

            <?php if(sizeof($this->resultados) >= 0) :?>
                <table class="table table-striped table-bordered table-hover table-condense" width="60%">
                    <thead>
                        <tr class="btn-info btn-small btn-inverse">
                            <th> Nro. Entrevista</th>
                            <th width="120">Fecha 
                                <i class="icon-chevron-up icon-white pull-right"></i>
                            </th>
                            <th> Origen/Posta</th>                           
                            <th> Tipo Doc.</th>
                            <th> Nro. Documento</th>
                            <th> Nombre y Apellido</th>
                            <th width="140">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php //foreach($this->resultados as $i => $v): ?>
                        <tr>
                            <td>1045</td> 
                            <td>01/01/2018</td>
                            <td>Posta Movil 1</td>  
                            <td>DNI</td>
                            <td>38990876</td>
                            <td>Nombre y Apellido Persona</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Editar</a></li>
                                    <li><a tabindex="-1" href="#">Eliminar</a></li>
                                    <li><a tabindex="-1" href="#">Imprimir Entrevista</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>
                        
                        
                        <tr>
                            <td>1049</td> 
                            <td>01/01/2018</td>
                            <td>Posta Movil 1</td>  
                            <td>DNI</td>
                            <td>45678900</td>
                            <td>Nombre y Apellido Persona</td>
                            <td>
                                <div class="btn-group">
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Acciones
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Editar</a></li>
                                    <li><a tabindex="-1" href="#">Eliminar</a></li>
                                    <li><a tabindex="-1" href="#">Imprimir Entrevista</a></li>
                                  </ul>
                                </div>                                
                            </td>
                        </tr>

                        
                        </tr>                        
                        
                        <?php //endforeach; ?>
                    </tbody>
                    
                </table>

                <?=$this->paginador($this->paginas);?>


                <?php elseif(sizeof($resultados) == 0): ?>
                    <div class="alert alert-info"><b>No se han encontrado registros para su b&uacute;squeda.</b><br /> <b><?=$this->busqueda;?></b></div>
                <?php endif ;?>
        </div>

        
   
        
        <div class="span3">
            <a class="btn btn-medium btn-success" 
               href="<?= $this->baseUrl(); ?>/efector/entrevistas/alta" >
                <i class="icon-plus icon-white"></i> Nueva <b>Entrevista</b>
            </a>          

            <br/>
            <br/>            

            <h5><i class="icon-search"></i> Filtros</h5>
            <form method="get" action="<?= $this->baseUrl(); ?>/efector/entrevistas">
                <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <input name="fecha" id="datepicker" class="input-medium" 
                           placeholder="Fecha de Generación"
                           type="text" 
                           value="<?= $this->fecha; ?>" />
                </div>

                <br/>
                <br/> 

                <label for="efe_id">Efector</label>
                <select name="efe_id" id="efectores" class="input-large">
                    <option value="">Todos</option>
                    <?php foreach ($this->cache_efectores as $i => $v): ?>
                        <option value="<?= $i; ?>"><?= $v ?></option>
                    <?php endforeach; ?>
                </select>

                <br/> 
                <br/> 

               
                <button class="btn btn-primary btn-inverse" type="submit">
                    <i class="icon-search icon-white"></i> Buscar
                </button>

                <br/>
                <br/>

                <button class="btn btn-primary btn-inverse" id="imprimir">
                    <i class="icon-print icon-white"></i> Imprimir 
                </button>

            </form>

        </div>
        
        
    </div>
    

    
</fieldset>


    


<script>
    $(function(){
        $("#efectores").val('<?= $this->efe_id?>');
        $("#efectores").select2();
        $("#estado").val('<?=$this->estado?>');
        $("#datepicker").datepicker({
            maxDate : 0,
            dateFormat : 'yy-mm-dd',
        });
    });
    
 

    $("#enviar").click(function() {
        var peso = $("#peso").val();
        var temp = $("#temp").val();
        if (confirm("¿Desea recibir "+(envios.length)+" envios?")) {
            $.post('<?php echo $this->baseUrl();?>/efector/entrevistas/grabar', {envios: envios, peso : peso, temp : temp}, function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'nok'){
                    alert('Error en el procesamiento de la informacion');
                    location.reload();
                }
                else {
                    alert('Ha ocurrido un error inesperado');
                    location.reload();
                }
            },'json');                              
        }
        else {
            location.reload();
        }
    });
    
</script>
