<div class="ui-widget-header ui-corner-all" style="padding: 5px;margin: 5px auto;text-align:left;">
	<span class="tituloModulo">:: Producci&oacute;n ::</span>
</div>
<div class="ui-widget ui-widget-header ui-corner-tl ui-corner-tr" style="height:20px;text-align:center;padding-top:6px;padding-left:5px;">
	Filtro de Datos:
</div>
<div class="ui-widget ui-widget-content ui-corner-bl ui-corner-br" style="margin-bottom:10px;padding:5px;">
	<div>
		<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
		<tr>
		<td align="left">
		<table cellpadding="0" cellspacing="8" border="0" align="left">
			<tr>
				<td>
					<span class="textoCampoIng">Bolsa:</span>
					<input type="text" id="bolsa" class="campoTextoIng ui-widget-content ui-corner-all"></td>
			</tr>
		</table>
	</div>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="tablaVisorPreProduccion" align="center">
	<thead><tr>
			<!-- Aca se debe editar segun los campos que se quieran mostrar -->
			<th>Donaci&oacute;n</th>
			<th>Nro. de Bolsa</th>
			<th>Hemocomponente</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<div style="padding:4px;text-align:center;" class="ui-widget-header ui-corner-all ui-helper-clearfix">
	<button id="btnTratarProduccion">Trata Bolsa</button>
</div>
<script type="text/javascript" src="js/modelo/localidades/filtrolocalidades.js"></script>
<script type="text/javascript">


	$("#btnTratarProduccion").button({});

	$("#btnTratarProduccion").click( function() {
		var anSelected = obtenerSeleccionados( laTabla );
		if (anSelected.length>0) {
			var campos= laTabla.fnGetData(anSelected[0]);
			auxbolsa = campos[1];
			partes = auxbolsa.split('-');
			opciones = "donacion/" + partes[0] + "/";
			opciones = opciones + "nrobolsa/" + partes[1];
			var auxlink = $("<a id=\"iframe\" href=\"ctrproduccion/mostrarTratarBolsa/" + opciones +"\">");
			auxlink.fancybox({
				"autoDimensions":true,
				"scrolling":"no"
			});
			auxlink.trigger("click");
		} else {
			alert("Se debe seleccionar una bolsa!");
		}

	} );


	var laTabla=$("#tablaVisorPreProduccion").dataTable({
		"bJQueryUI": true,
		"bProcessing": true,
		"bServerSide": true,
		"bFilter": false,
		"sAjaxSource": "ctrproduccion/buscar",
		"sPaginationType": "full_numbers",
		"oLanguage": {
			"sLengthMenu": "Mostrando _MENU_ filas por página",
			"sZeroRecords": "No se encontraron registros",
			"sInfo": "Mostrando _START_ hasta _END_ de _TOTAL_ filas",
			"sInfoEmpty": "Mostrando 0 de 0 de 0 registros",
			"sInfoFiltered": "(filtrados de _MAX_ registros)",
		},
		"fnServerData": function ( sSource, aoData, fnCallback ) {
			$.ajax( {
				"dataType": "json",
				"type": "POST",
				"url": sSource,
				"data": aoData,
				"success": fnCallback
			} );
		},
		"fnDrawCallback": function() {
			filas=laTabla.fnGetNodes();
			if (filas.length>0) {
				$(filas[0]).addClass("row_selected");
			}
		},
		"sScrollY": "200px"
	});

	$("#bolsa").keydown(function (e) {
		if (e.which == 13) {
			if ($("#donacion").val()!="") {
				var auxlink = $("<a id=\"iframe\" href=\"ctrproduccion/tratarBolsa/\">");
				refAuxlink = auxlink;
				auxlink.fancybox({
					"autoDimensions":true,
					"scrolling":"no",
					onComplete: function() {
						$("#fancybox-wrap").css("top","5px");
					}
				});
				auxlink.trigger("click");
			}
		}
	});

	$("#tablaVisorPreProduccion tbody").click(function(event) {
		$(laTabla.fnSettings().aoData).each(function (){
			$(this.nTr).removeClass("row_selected");
		});
		$(event.target.parentNode).addClass("row_selected");
	});


	function obtenerSeleccionados( tabla ) {
		var aReturn = new Array();
		var aTrs = tabla.fnGetNodes();
		for ( var i=0 ; i<aTrs.length ; i++ ) {
			if ( $(aTrs[i]).hasClass("row_selected") ) {
				aReturn.push( aTrs[i] );
			}
		}
		return aReturn;
	}


</script>
