<?php $this->datepicker(); ?>
<script>
    
    var donacionesMenores = [
        <?php 
        foreach ($this->donacionesMenores as $don)
            echo $don . ',';
        ?>];
    var donacionesMayores = [
		<?php
		foreach ($this->donacionesMayores as $don)
			echo $don . ',';
		?>];
		
	var simulacion = [];
	
</script>
<fieldset>
	<legend> Pre-Producci&oacute;n de Donaciones</legend>
	<!-- Inicio nueva división (por tiempo desde generación de envío -->
	<div class="row-fluid">
		<div class="span9">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-menor8" data-toggle="tab"><i class="icon-time"></i> Menor a <?=$this->caducidades;?> hs</a></li>
					<li><a href="#tab-mayor8" data-toggle="tab"><i class="icon-time"></i> Mayor a <?=$this->caducidades;?> hs</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-menor8">
						<div class="alert alert-info">
							<b>Ajustes de producci&oacute;n de <?=sizeof($this->donacionesMenores)?> donaciones con tiempo menor a <?=$this->caducidades;?> horas</b><br /> 
							Se produciran los siguientes hemocomponentes
							<br />
						</div>
						<!-- Inicio tabla de hemocomponentes -->
				        <table class="table table-striped table-bordered table-hover table-condense">
				          <thead>
				            <tr class="btn-info btn-small btn-inverse">
				              <th>Hemocomponente</th>
				              <th width="120px;">Stock Actual</th>
				              <th width="100px;">Cant. Sugerida</th>
				            </tr>
				          </thead>
				          <tbody>
				            <?php foreach($this->hemocomponentes as $i => $v): ?>
				              <tr>
				                    <td><?php echo $v; ?></td>
				                    <td align='center'>
				                        <span class="badge pull-right">
				                            <?php if ($this->stock[$i] != null) :?>
				                                <?=$this->stock[$i] ?>
				                            <?php else : ?>
				                                0
				                            <?php endif; ?>
				                        </span>
				                    </td>
				                    <td align='center'>
				                        <span class="badge badge-info pull-right btn-inverse"><?=($this->resultadosMenores[$i] + 0)?></span>
				                    </td>
				              </tr>
				            <?php endforeach; ?>
				          </tbody>
				        </table>
						<div class="row-fluid">
							<div class="span12">
								<legend>Simulaci&oacute;n Plaquetas  <i class="icon-arrow-right"></i>  Crioprecipitado</legend>
							</div>
						</div>
						
						<div class="row-fluid">
							<div class="span6">
								<table class="table table-striped table-bordered table-hover table-condense">
									<thead>
										<tr class="btn-info btn-small btn-inverse">
											<th width="20">Seleccionar</th>
											<th>C&oacute;digo de donaci&oacute;n</th>
											<th>Detalles</th>
										</tr>
									</thead>
									<tbody>
									<?php if (sizeof($this->hemoNro)<>0) foreach ($this->hemoNro as $i => $d) : ?>
										<tr>
											<th>
												<label class="pull-left"><input class="checkbox" id="<?=$d['don_nro']?>" type="checkbox"> </label>
											</th>
											<th>
												<?=$d['don_nro']?>
											</th>
											<th>
			                                    <a data-target="#dialog<?=$d['don_nro']?>" href="#" role="button" class="btn" data-toggle="modal">
			                                        <i class="icon-edit"></i>
			                                    </a>
												<div class="modal fade hide" id="dialog<?=$d['don_nro']?>">
													<div class="modal-header">
														<h4>Donaci&oacute;n n&uacute;mero <?=$d['don_nro']?></h4>
													</div>
												</div>
												
											</th>
										</tr>
									<?php endforeach; ?>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span3">
								<button id="simular" type="submit" class="btn btn-info btn-inverse" data-loading-text="Simulando...">
									<i class="icon-refresh icon-white"></i> Simular									
								</button>
                                <span class="badge badge-info" id="hemo_2">0</span>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
								<button id="pasarProduccionMen" type="submit" class="btn btn-primary pull-right btn-inverse" data-loading-text="Procesando...">
				                    <i class="icon-ok icon-white"></i> Pasar a Producci&oacute;n
				                </button>
				            </div>
		                </div>	
					</div>
					<div class="tab-pane" id="tab-mayor8">
						<div class="alert alert-info">
							<b>Ajustes de producci&oacute;n de <?=sizeof($this->donacionesMayores)?> donaciones con tiempo mayor a <?=$this->caducidades?> horas</b><br /> 
							Se produciran los siguientes hemocomponentes
						</div>
						<!-- Inicio tabla de hemocomponentes -->
				        <table class="table table-striped table-bordered table-hover table-condense">
				          <thead>
				            <tr class="btn-info btn-small btn-inverse">
				              <th>Hemocomponente</th>
				              <th width="80px;">Stock Actual</th>
				              <th width="100px;">Cant. Sugerida</th>
				            </tr>
				          </thead>
				          <tbody>
				            <?php foreach($this->hem_sincaducidad as $i => $v): ?>
				              <tr>
				                    <td><?=$v?></td>
				                    <td align='center'>
				                        <span class="badge pull-right ">
				                            <?php if ($this->stock[$i] != null) :?>
				                                <?=$this->stock[$i] ?>
				                            <?php else : ?>
				                                0
				                            <?php endif; ?>
				                        </span>
				                    </td>
				                    <td align='center'>
				                        <span class="badge badge-info pull-right btn-inverse"><?=($this->resultadosMayores[$i] + 0)?></span>
				                    </td>
				              </tr>
				            <?php endforeach; ?>
				          </tbody>
				        </table>
						<div class="row-fluid">
							<div class="span12">
								<button id="pasarProduccionMay" type="submit" class="btn btn-primary pull-right btn-inverse" data-loading-text="Procesando...">
				                    <i class="icon-ok icon-white"></i> Pasar a Producci&oacute;n
				                </button>
				            </div>
		                </div>	
					</div>
				</div>
			</div>
		</div>
		<!-- Inicio sidebar -->
		<div class="span3">
			<h5><i class="icon-chevron-left"></i> Visualizando</h5>
			<div class="input-prepend input-append">
				<span class="add-on"><i class="icon-<?=($this->dni > 0) ? 'search': 'calendar';?>"></i></span>
				<input class="input-medium" type="text" disabled="disabled" value="<?=$this->busqueda;?>" />
			</div>

			<h5><i class="icon-search"></i> Filtros</h5>
			<form method="post" action="<?=$this->baseUrl();?>/banco/pre-produccion/index">
				<div class="input-prepend input-append">
					<span class="add-on">Nro</span>
					<input name="nro" class="input-small" type="text" autocomplete="off" />
					<button class="btn btn-primary btn-inverse" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
				</div>

				<div id="datepicker" class="btn-small"></div>
				<script>
					$(function(){
						$("#datepicker").datepicker({
							maxDate : 0,
							dateFormat : 'yy-mm-dd',
							onSelect: function(dateText, inst){ location.href = '<?=$this->baseUrl();?>/banco/pre-produccion/index/fecha/'+dateText; }});
					});
				</script>
				<br />
			</form>
		</div>
		<!-- Fin sidebar -->
	</div>
	<!-- Fin nueva división (por tiempo desde generación de envío -->


</fieldset>


<script type="text/javascript">
    $(function () {
        $("#pasarProduccionMen").on('click',function(){
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/banco/pre-produccion/producir-menores',{donacionesMenores: donacionesMenores},function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'nok') {
					alert("No hay donaciones disponibles");
					location.reload();
				}
				else {
					alert("Ha ocurrido un error inesperado");
				}
            },'json');
        });
        
        $("#pasarProduccionMay").on('click',function(){
            $(this).button('loading');
            $.post('<?=$this->baseUrl();?>/banco/pre-produccion/producir-mayores',{donacionesMayores: donacionesMayores},function(d){
                if(d.st == 'ok'){
                    location.reload();
                }
                else if (d.st == 'nok') {
					alert("No hay donaciones disponibles");
					location.reload();
				}
				else {
					alert("Ha ocurrido un error inesperado");
				}                
            },'json');
        });
        
        $("#simular").on('click', function(){
			$(this).button('loading');
			if(confirm('Desea pasar a simulacion las donaciones seleccionadas?')) {
				$.post('<?php echo $this->baseUrl();?>/banco/pre-produccion/producir-simulacion', {simulacion: simulacion}, function(d){
					if(d.st == 'ok'){
						location.reload();
					}
	                else if (d.st == 'nok') {
						alert("No hay donaciones disponibles");
						location.reload();
					}
					else {
						alert("Ha ocurrido un error inesperado");
					}   					
				},'json');
			};
		});
		

		/* Script para los checkboxs */
		var j = 0;		
		
		$(":checkbox").click(function() {
			var id;
			id = $(this).attr('id');
			if($(this).is(':checked')){
				$("#hemo_2").text(function(i,val){
					simulacion[j]= id;
					j=j+1;
					return val-(-1);
				});
			}
			else {
				$("#hemo_2").text(function(i,val){
					var remove = id;
					simulacion.splice($.inArray(remove, simulacion),1);
					j=j-1;
					return val - 1;					
				});
			};
		});
		
		if (donacionesMenores.length == 0) {
			$("#pasarProduccionMen").hide();
		} ;
		if (donacionesMayores.length == 0) {
			$("#pasarProduccionMay").hide();
		} ;

    });
</script>

